<div id="active-orders-list" style="display:inline-block;margin-top:14px;">

  <header class="table-head">
    <h4 class="uppercase">Active orders</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table orders-table">
    <table style="position:relative;top:-2px">
      <thead>
        <tr id="active-orders-labels" style="vertical-align:top;height:20px">
          <th>&nbsp;</th>
          <th style="text-align:left;" colspan="2">Market</th>
          <th id="edit-title"><span style="margin-right:10px">Edit</span></th>
          <th style="text-align:left;">Quantity<span style="display:none">uantity</span></th>
          <th style="text-align:left;">Trade @ Price</th>
          <th style="text-align:left;">Distance</th>
          <!--<th style="text-align:left;">Current</th>-->
          <!--<th style="text-align:left;">Type</th>-->
          <th id="delete-title" colspan="2" style="text-align:right;"><span style="display:none">Delete</span></th>
        </tr>
        <tr class="table-second-headrow">
          <th style="background:none">&nbsp;</th>
          <th colspan="7">&nbsp;</th>
          <th style="background:none">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('order-info-row1');">
            <svg id="arrow-order-info-row1" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-ordername" colspan="2">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon order-edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon order-trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17550.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">218.9</span>
            </div>
          </td>

          

          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>


<!-- The hidden row contains all the details of the open order -->
        <tr style="display:none;position:relative;top:7px" class="order-info-row1">
          <!-- details label row -->
          <td class="detail-heading">&nbsp;</td>
          <td class="detail-heading" style="text-align:left">Order type</td>
          <td class="detail-heading">Current</td>
          <td class="detail-heading" colspan="2">Margin</td>

          <td class="detail-heading">Stop</td>
          <td class="detail-heading" colspan="2">Limit</td>

          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>


        <tr style="display:none;background-color:white;" class="detail-row order-info-row1">
          <td class="">&nbsp;</td>
          <td class="detail-type"><span>Good til <a href="#">cancelled</a></span></td>
          <td class="detail-price">17768.9</td>
          <td class="detail-price" colspan="2">&pound;943</td>

          <td class="detail-price">17752.2</td>
          <td class="detail-price" colspan="2">17778.8</td>

          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr><!-- END detail row for ORDER -->



        <tr class="toprow">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row1');">
            <svg id="arrow-positions-info-row1" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-ordername" colspan="2">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon order-edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon order-trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17650.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">118.9</span>
            </div>
          </td>

          
          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>



        <tr class="toprow">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row1');">
            <svg id="arrow-positions-info-row1" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-ordername" colspan="2">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon order-edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon order-trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17400.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">368.9</span>
            </div>
          </td>

          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        

      </tbody>
    </table>
  </div>
</div><!-- Ends the Open Positions List block -->


<br clear="all">