
<!-- Start the HEADER -->
<!-- - - - - - - - -  -->
<header class="tophead">



  <div class="header-item" style="width:100px">
    <svg class="service-logo" viewBox="0 0 192 200">
      <use xlink:href="#ci-circle-logo"></use>
    </svg>
  </div>


  <div class="header-item" style="margin-right:190px">
    <form action="search" method="get" class="form">

    <input type="" class="search-input" name="search" id="search" placeholder="Search" required >


    </form>
  </div>

  <div class="header-item">
    
    <ul class="header-nav">
      <li>
        <a href="concept-news">
        <svg class="icon header-nav-icon" viewBox="0 0 20 11">
          <use xlink:href="#down-white-menu"></use>
        </svg>

        News</a>
      </li>

      <li>
      <a href="concept-mix1">
        <svg class="icon header-nav-icon" viewBox="0 0 20 11">
          <use xlink:href="#down-white-menu"></use>
        </svg>
        
        Charts</a>
      </li>

      <li>
      <a href="concept-ideas">
        <svg class="icon header-nav-icon" viewBox="0 0 20 11">
          <use xlink:href="#down-white-menu"></use>
        </svg>
        
        Ideas</a>
      </li>

      <!--<li>
      <a href="concept-">
        <svg class="icon header-nav-icon" viewBox="0 0 20 11">
          <use xlink:href="#down-white-menu"></use>
        </svg>
        
        Auto</a>
      </li>-->

    </ul>

  </div>


  <div class="header-item head-2col head-right">
    
    <h3>Available to trade</h3>

    <div class="header-number">1,234<span>.56</span></div>

  </div>

  <div class="header-item head-2col head-right">
    
    <h3>Net equity</h3>

    <div class="header-number">1,234<span>.56</span></div>

  </div>

  <div class="header-item head-2col head-right">
    
    <h3>P &amp; L Unrealised</h3>

    <div class="header-number">1,234<span>.56</span></div>

  </div>

  <div class="header-item head-2col head-right">
    
    <h3>Total margin</h3>

    <div class="header-number">1,234<span>.56</span></div>

  </div>

  <div class="header-item" style="width:100px;">
    
    <svg class="user-menu" viewBox="0 0 280 210">
      <use xlink:href="#circle-user-menu"></use>
    </svg>

  </div>


</header>

<br clear="all">