<script type="text/javascript">

// THIS IS FOR THE TABS from http://alistapart.com/article/radio-controlled-web-design 

$('.tab').on('click', function (e) {
    e.preventDefault();
    $('.tab, .panel').removeClass('active');
    $(this).add('#' + $(this).attr('id').replace(/\s*tab\s*/, 'panel')).addClass('active');
    $(this).focus();
});

$(function() {
    $('.hide').click(function(){
        $('.toggle').hide();
        setDisplayValue();
    });
    $('.show').click(function(){
        $('.toggle').show();
        setDisplayValue();
    });
});

function setDisplayValue() {
    var display = $('.toggle')[0].style.display;
    $('.displayvalue').text(display);
}



function refreshNumbers() {
  // Get its current value
  var currentMid = parseFloat($('input[name='+"price"+']').val());
  var currentSpread = parseFloat($('input[name='+"spread"+']').val());
  var currentMargin = parseFloat($('input[name='+"margin"+']').val());
  // If is not undefined
  if (!isNaN(currentMid)) {
    var number = (currentMid + Math.floor(Math.random() * 1000) / 1700077);
    currentSpread = currentSpread / 20000;

    sellnumber = (parseFloat(number) - parseFloat(currentSpread)).toFixed(5);
    buynumber = (parseFloat(number) + parseFloat(currentSpread)).toFixed(5);
    $("#sellprice").val(sellnumber);
    $("#buyprice").val(buynumber);

    //do the number wang quantity x price = total value of trade
    var v_pound = $("#quantity").val();
    var price = buynumber;
    var value = (v_pound * price * 10000).toFixed(0);
    v_pound = numberWithCommas(value);

    $("#value").val('£' + v_pound);

    // Do the numberwang for STOPS
    var newquant = $("#quantity").val();
    var v_pound = $("#stopprice").val();
    v_pound = (v_pound * price * newquant).toFixed(0);
    v_stoppound = numberWithCommas(v_pound);

    $("#stopvalue").val('-£' + v_stoppound);

    // Do the numberwang for LIMITS

    var v_pound = $("#limitprice").val();
    v_pound = (v_pound * price * newquant).toFixed(0);
    v_limitpound = numberWithCommas(v_pound);


    $("#limitvalue").val('£' + v_limitpound);

    // Do the numberwang for MARGIN REQUIRED

    // Margin required is Value (Quantity x Price) * Margin rate (0.5% or similar) ...
    // then * any currency conversions to base (eg. to USD, yesterday's close + 0.0125) 
    var exchangerate = 1.4453 + 0.0125;
    var marginrate = 0.0005;
    var acc_marginav = 200;//account margin (trading resources)
    
    v_pound = (value * marginrate / exchangerate).toFixed(2);
    marginreqraw = v_pound;
    v_marginpound = numberWithCommas(v_pound);

    $("#marginreq").val('£' + v_marginpound);

    // Do the numberwang for MARGIN AVAILABLE
    marginav = (parseFloat(currentMargin) - parseFloat(v_marginpound)).toFixed(0);

    margindonut = (marginreqraw + ',' + marginav);
    $("#margindonut").text(margindonut);
    $(".data-attributes span").peity("donut")

    marginav = numberWithCommas(marginav);
    $("#marginall").text('£' + currentMargin);
    $("#marginav").text('£' + marginav);

    
    //available quantity = ((marginav / marginrate) × exchangerate) / price
    var quantav = ((((acc_marginav / marginrate) * exchangerate) / price) / 10000).toFixed(0);
    $("#quantav_f").val(quantav);
    $("#quantav").text(quantav);

    // Do the numberwang for the ORDER price field
    var orderprice_spread = 0.00014
    var currentOrderprice = parseFloat($('input[name='+"order_price"+']').val());
    //var order_price = currentOrderprice;
    //$("#order_price").val(order_price);
    pricediff = (currentOrderprice - currentMid).toFixed(4);
    $("#pricediff").val(pricediff + '%');

    // Do the numberwang for the ORDER price hints
    var order_lower = currentMid - orderprice_spread;
    var order_higher = currentMid + orderprice_spread;
    $("#order_lower").text(order_lower);
    $("#order_higher").text(order_higher);

    // Do the numberwang for the ORDER price x quantity = value indicator
    var ov_pound = $("#order_quantity").val();
    var orderprice = $("#order_price").val();
    var order_value = (ov_pound * orderprice * 10000).toFixed(0);
    ov_pound = numberWithCommas(order_value);
    $("#order_value").val('£' + ov_pound);

    // Do the numberwang for Order STOPS
    var order_price = $("#order_price").val();
    var ordernewquant = $("#order_quantity").val();
    var order_stopprice = $("#order_stopprice").val();
    var ov_stoppound = (order_price * order_stopprice * ordernewquant).toFixed(0);
    ov_stoppound = numberWithCommas(ov_stoppound);
    $("#order_stopvalue").val('-£' + ov_stoppound);


    // Do the numberwang for Order LIMIT
    var order_price = $("#order_price").val();
    var ordernewquant = $("#order_quantity").val();
    var order_limitprice = $("#order_limitprice").val();
    var ov_limitpound = (order_price * order_limitprice * ordernewquant).toFixed(0);
    ov_limitpound = numberWithCommas(ov_limitpound);
    $("#order_limitvalue").val('£' + ov_limitpound);



  }
}

refreshNumbers(); // for initial display

setInterval(function() {
 refreshNumbers(); // it excutes every 2sec
},500);



$(document).ready(function(){
  $("#quantity").change(function(){
    var v_pound = $(this).val();
    var price = 1.13488;
    v_pound = (v_pound * price * 10000).toFixed(2);
    v_pound = numberWithCommas(v_pound);

    $("#value").val('£' + v_pound);
  });
});


function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
}


$(".sparkline").peity("line", {
  width: 100,
  height: 40,
  fill: "#cbe0ed",
  stroke: "#0378ba",
  strokeWidth: 1.2
})



// £POINT quantity buttons + calculator

$(document).ready(function(){
    // This button will increment the TRANSACTION value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        var quantav = parseInt($('input[name='+'quantav_f'+']').val());

        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment


            if (currentVal < quantav) {
                $('input[name='+fieldName+']').val(currentVal + 1);
                var newquant = currentVal + 1;
            }

            //do the number wang too
            var v_pound = $("#quantity").val();
            var price = 1.13488;
            var value = (v_pound * price * 10000).toFixed(0);
            v_pound = numberWithCommas(value);

            $("#value").val('£' + v_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS

            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);

            // Do the numberwang for MARGIN

            // Margin required is Value (Quantity x Price) * Margin rate (0.5% or similar) ...
            // then * any currency conversions to base (eg. to USD, yesterday's close + 0.0125) 
            var exchangerate = 1.4453 + 0.0125;
            var marginrate = 0.0005;
            
            v_pound = (value * marginrate / exchangerate).toFixed(2);
            v_marginpound = numberWithCommas(v_pound);

            $("#marginreq").val('£' + v_marginpound);

            $(".data-attributes span").peity("donut", {
              fill: function(_, i, all) {
                var g = parseInt((i / all.length) * 255)
                return "rgb( " + g + "," + (g * 5) + "," + g + ")"
              }
            })
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the TRANSACTION value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var v_pound = $("#quantity").val();
            var price = 1.13488;
            v_pound = (v_pound * price * 10000).toFixed(0);
            v_pound = numberWithCommas(v_pound);

            $("#value").val('£' + v_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS
            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});



// STOPS buttons + calculator

$(document).ready(function(){
    // This button will increment the STOP value
    $('.stopqtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);


            $("#stopvalue").val('-£' + v_stoppound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the STOP value till 0
    $(".stopqtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});




// LIMITS buttons + calculator

$(document).ready(function(){
    // This button will increment the LIMIT value
    $('.limitqtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#limitprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the LIMIT value till 0
    $(".limitqtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#limitprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);

            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});


// ORDER - Price buttons + calculator

$(document).ready(function(){
    // This button will increment the ORDER PRICE value
    $('.orderpriceplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseFloat($('input[name='+"order_price"+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            newOrderprice = (currentVal + 0.0001).toFixed(4);
            $('input[name='+fieldName+']').val(newOrderprice);
            //do the number wang too
            

            $("#order_price").val();
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the LIMIT value till 0
    $(".orderpriceminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseFloat($('input[name='+"order_price"+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            newOrderprice = (currentVal - 0.0001).toFixed(4);
            $('input[name='+fieldName+']').val(newOrderprice);
            //do the number wang too
           
            $("#order_price").val();
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});



// £POINT quantity buttons + calculator

$(document).ready(function(){
    // This button will increment the TRANSACTION value
    $('.orderqtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        var quantav = parseInt($('input[name='+'quantav_f'+']').val());

        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment


            if (currentVal < quantav) {
                $('input[name='+fieldName+']').val(currentVal + 1);
                var newquant = currentVal + 1;
            }

            //do the number wang too
            var ov_pound = $("#order_quantity").val();
            var order_price = $("#order_price").val();
            var order_value = (ov_pound * order_price * 10000).toFixed(0);
            ov_pound = numberWithCommas(order_value);

            $("#order_value").val('£' + ov_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS

            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);

            // Do the numberwang for MARGIN

            // Margin required is Value (Quantity x Price) * Margin rate (0.5% or similar) ...
            // then * any currency conversions to base (eg. to USD, yesterday's close + 0.0125) 
            var exchangerate = 1.4453 + 0.0125;
            var marginrate = 0.0005;
            
            v_pound = (value * marginrate / exchangerate).toFixed(2);
            v_marginpound = numberWithCommas(v_pound);

            $("#marginreq").val('£' + v_marginpound);

            $(".data-attributes span").peity("donut", {
              fill: function(_, i, all) {
                var g = parseInt((i / all.length) * 255)
                return "rgb( " + g + "," + (g * 5) + "," + g + ")"
              }
            })
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the TRANSACTION value till 0
    $(".orderqtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var v_pound = $("#quantity").val();
            var price = 1.13488;
            v_pound = (v_pound * price * 10000).toFixed(0);
            v_pound = numberWithCommas(v_pound);

            $("#value").val('£' + v_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS
            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});




$(".data-attributes span").peity("donut", {
  fill: function(_, i, all) {
    var g = parseInt((i / all.length) * 255)
    return "rgb( " + g + "," + (g * 5) + "," + g + ")"
  }
})

</script>