<div style="background-color: #404040;">

<ul class="languagemenu">
	<li><a href="#">English</a></li>
	<li><a href="#">Simplified Chinese</a></li>
	<li><a href="#">Deutsch</a></li>

	<li><a href="#">Privacy and cookies</a></li>
	<li><a href="#">Terms and conditions</a></li>
</ul>


<p><img src="/public/images/hmg-logo.png" id="header-hmglogo"></p>

<p><img src="/public/images/iigb-logo-big-white.png" id="header-iigblogo"></p>

<p style="color:white;margin-bottom:2em">&copy; Crown copyright</p>

