<div class="news" id="news-headline-list" style="margin-top:6px;float:left">

  <ol class="news-list">
    <li class="lead-story">
      <h2>New U.S. home sales drop on sharp decline in the West</h2>


      <div class="newsthumb">
        <img src="/public/images/newsthumb-1.jpg">
      </div>


      <p>WASHINGTON New U.S. single-family home sales unexpect&shy;edly fell in March, but the decline was concentrated in the West region, suggesting that the housing market continued to strengthen.</p>
    </li>

    <li>
      <span class="news-timecode">10:25am EDT</span>
      <h3>Wall St. opens lower as earnings continue to underwhelm</h3>
      <p>U.S. stocks opened lower on Monday as corporate earnings continued to underwhelm and investors stayed away from risky assets a day before the start of the Federal Reserve's two-day policy meeting.</p>
    </li>

    <li>
      <span class="news-timecode">10:05am EDT</span>
      <h3>El-Erian says this week's Fed meeting to set stage for June hike</h3>
      <p>NEW YORK Mohamed El-Erian, the chief economic adviser at Allianz SE , said on Monday he expects this week's Federal Reserve policy-setting meeting to set the stage for a June interest rate hike.</p>
    </li>

    <li>
      <span class="news-timecode">10:20am EDT</span>
      <h3>Saudi prince unveils sweeping plans to end 'addiction' to oil</h3>
      <p>RIYADH The powerful young prince overseeing Saudi Arabia's economy unveiled ambitious plans on Monday aimed at ending the kingdom's "addiction" to oil and transforming it into a global investment power.</p>
    </li>

    <li>
      <span class="news-timecode">10:23am EDT</span>
      <h3>Global stocks, dollar stumble ahead of Fed, BOJ meetings</h3>
      <p>LONDON World stocks, the dollar and oil all fell modestly on Monday as investors locked in recent gains before central bank meetings in the United States and Japan this week.</p>
    </li>

    <li>
      <span class="news-timecode">7:22am EDT</span>
      <h3>Oil resumes rise after brief pause</h3>
      <p>LONDON Oil prices rose on Monday, extending recent gains, building on three weeks of higher prices and reversing earlier losses from traders taking profits.</p>
    </li>

  </ol>
</div>