<div id="news-story" style="margin-top:8px;float:left">

  <span class="news-timecode">April 25, 2016 2:19pm EDT</span>

  <h1 class="news-headline">Saudi Arabia targets $2tn Aramco IPO as it outlines economic view</h1>

  <span class="news-byline">Anjli Raval in London and Simeon Kerr in Riyadh</span>

  <p>Saudi Arabia’s cabinet has approved the long-awaited plan for a big transformation of the oil-dependent economy, promising to list less than 5 per cent of the state oil company, Saudi Aramco, which will value it at more than $2tn.</p>

  <p>The so-called “Vision 2030”, brainchild of Prince Mohammed bin Salman, the deputy crown prince and most powerful man in the kingdom, has been in the works for months.</p>

  <p>Monday morning’s announcement of a cabinet approval was followed by an interview by the prince on the Saudi owned al-Arabiya channel, in which he optimistically asserted that the kingdom could end its reliance on oil within four years. Saudi Arabia derives more than 90 per cent of its budget revenues from hydrocarbons.</p>

  <p>“We have an addiction to oil ... this is dangerous,” he said. “It has delayed development of other sectors.”</p>

  <p>He added that he wants to convert Saudi Aramco into a holding company and that all financial information related to the company will be disclosed. Subsidiaries of the entity will also be listed and its board will be elected.</p>

  <p>“The vision is a road map of our development and economic goals,” he said. “A part of that is related to Aramco and this is a very small aspect.”</p>

  <p>The prince, who is also defence minister and oversees economic ministries, has emerged as the key decision maker in the country since his father, King Salman bin Abdulaziz, assumed the throne. He has since worked with a group of technocrats to slash expenditures, reform energy subsidies and lay out a vision for a post-oil economy.</p>

  <p>The collapse in oil prices, precipitated by Saudi Arabia’s decision to protect its market share rather than the oil price, has forced a re-evaluation of economic priorities in Riyadh, prompting the prince to press for the development of non-oil sectors. The prince cited mineral mining and a domestic military industry as priorities for development.</p>

  <p>As the nation awaits further details of the economic vision later on Monday, the prince said the plan envisaged boosting housing and jobs for an overwhelmingly young population.</p>

</div>

<br clear="all">