<div id="open-positions-list" style="display:inline-block;margin-top:3px">


  <header class="table-head" style="position:relative;top:-4px;left:-2px">
    <h4 class="uppercase">Open positions</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 






  <div class="stock-table positions-table" >
    <table style=";position:relative;top:5px;">
      <thead>
        <tr id="open-positions-labels" style="vertical-align:top;height:20px">
          <th>&nbsp;</th>
          <th colspan="5" style="text-align:left">Market</th>
          <th>Trade</th>
          <th>Edit</th>
          <th>P &amp; L</th>
          <th colspan="2" style="text-align:center">Close</th>
          
        </tr>

        <tr class="table-second-headrow">
          <th style="background:none">&nbsp;</th>
          <th colspan="7">&nbsp;</th>
          <th style="background-repeat: no-repeat;background-position: 0 0;background-size: 32px 10px ;">

          <div style="position:relative;top:-3px">GBP  <a href="#">%</a></div>

          </th>
          <th colspan="2" style="background-repeat: no-repeat;background-position: 12px 0;background-size: 35px 10px ;">&nbsp;</th>
          
        </tr>
      </thead>


      <tbody style="">
        <tr class="toprow" style="">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row1');">
            <svg id="arrow-positions-info-row1" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-name" colspan="4">Wall Street CFD</td>

          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>

          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>

          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-pl"><span class="pnl-profit">+193.40</span></td>

          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <!-- The hidden row contains all the details of the open position -->
        <tr style="display:none;position:relative;top:7px" class="positions-info-row1">
          <!-- details label row -->
          <td class="detail-heading">&nbsp;</td>
          <td class="detail-heading">Open</td>
          <td class="detail-heading">Margin</td>
          <td class="detail-heading">Quantity</td>
          <td class="detail-heading">Current</td>
          <td class="detail-heading">Stop</td>
          <td class="detail-heading">Limit</td>
          <td><!--ED--></td>
          <td class="detail-heading">P &amp; L</td>
          <td><!--X--></td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>

        <tr style="display:none;background-color:white;" class="detail-row positions-info-row1">
          <td class="detail-trade">
            <svg class="icon trade-icon-detail" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="detail-price">1.12265</td>
          <td class="detail-price">&pound;943</td>
          <td class="detail-price">33</td>
          <td class="detail-price">1.12300</td>
          <td class="detail-price">1.12120</td>
          <td class="detail-price">1.12900</td>
          <td class="detail-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="detail-pl">+115.50</td>
          <td class="detail-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row2');">
            <svg id="arrow-positions-info-row2" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-name" colspan="4">UK100 CFD</td>
          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          
          <td class="stock-edit">
          <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl"><span class="pnl-loss">-122.54</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row3');">
            <svg id="arrow-positions-info-row3" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-name" colspan="4">Germany 30 CFD</td>
          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl"><span class="pnl-profit">+856.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row4');">
            <svg id="arrow-positions-info-row4" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-name" colspan="4">Gold (per 0.1) CFD</td>
          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl"><span class="pnl-profit">+34.20</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr style=""><!-- this row has multiple positions, aggregated -->
          <td class="stock-reveal">

            <a href="javascript:toggleDiv('positions-info-row5');" >
            <svg id="arrow-positions-info-row5" viewBox="0 0 19 11" class="reveal-icon-right">
              <use xlink:href="#down-menu" ></use>
            </svg>
            </a>

          </td>
          <td class="stock-name" colspan="4">EUR/USD (per 0.0001) CFD</td>
          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            
            <!-- Indicator of how many aggregated trades are in here -->
            <div class="aggnum">3</div>

          </td>
          <td class="stock-pl"><span class="pnl-profit">+376.20</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr> 

        <!-- The hidden row contains all the details of the aggregated trades -->
        <tr style="display:none;" class="positions-info-row5">
          <td class="detail-heading"><!--Trade--></td>
          <td class="detail-heading">Open <!--price--></td>
          <td class="detail-heading">Margin</td>
          <td class="detail-heading">Quantity</td>
          <td class="detail-heading">Current</td>
          <td class="detail-heading">Stop</td>
          <td class="detail-heading">Limit</td>
          <td class="detail-edit"><!--Edit--></td>
          <td class="detail-heading">P &amp; L</td>
          <td><!--Close--></td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>

        <tr style="display:none;" class="detail-row detail-row-odd positions-info-row5">
          <td class="detail-trade">
            <svg class="icon trade-icon-detail" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="detail-price">1.12265</td>
          <td class="detail-price">&pound;943</td>
          <td class="detail-price">33</td>
          <td class="detail-price">1.12300</td>
          <td class="detail-price">1.12120</td>
          <td class="detail-price">1.12900</td>
          <td class="detail-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="detail-pl">+115.50</td>
          <td class="detail-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>

        <tr style="display:none;" class="detail-row positions-info-row5">
          <td class="detail-trade">
            <svg class="icon trade-icon-detail" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="detail-price">1.12265</td>
          <td class="detail-price">&pound;881,303</td>
          <td class="detail-price">33</td>
          <td class="detail-price">1.12300</td>
          <td class="detail-price">1.12120</td>
          <td class="detail-price">1.12900</td>
          <td class="detail-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="detail-pl">+115.50</td>
          <td class="detail-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>

        <tr style="display:none;" class="detail-row detail-row-odd positions-info-row5">
          <td class="detail-trade">
            <svg class="icon trade-icon-detail" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="detail-price">1.12265</td>
          <td class="detail-price">&pound;827</td>
          <td class="detail-price">33</td>
          <td class="detail-price">1.12300</td>
          <td class="detail-price">1.12120</td>
          <td class="detail-price">1.12900</td>
          <td class="detail-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="detail-pl">+115.50</td>
          <td class="detail-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
          <td class="detail-handle">&nbsp;<!--HANDLE--></td>
        </tr>
        <!-- END aggregated trade rows -->




        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row6');">
            <svg id="arrow-positions-info-row6" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-name" colspan="4">GBP/USD (per 0.0001) CFD</td>
          <td class="stock-chart">
            <svg class="icon chart-icon" viewBox="0 0 14 14" style="text-align:right;position:relative;top:11px">
              <use xlink:href="#open-chart"></use>
            </svg> 
          </td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl"><span class="pnl-profit">+100.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>


      </tbody>
    </table>

    


    <div id="close-all" style="text-align:right;margin-right:20px;margin-top:-12px">
      <button class="close-all-button">Close all</button>
    </div>


  </div>
</div><!-- Ends the Open Positions List block -->

<br clear="all">