<div id="open-positions-list" style="display:inline-block;margin-top:-4px">

  <header class="table-head">
    <h4 class="uppercase">Open positions</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table positions-table" >
    <table style="">
      <thead >
        <tr>
          <th>&nbsp;</th>
          <th style="text-align:left;">Market</th>
          <th style="text-align:center;">Trade</th>
          <th id="edit-title"><span style="margin-left:18px">Edit</span></th>
          <th id="PnL-title">
            <span style="margin-left:20px">P &amp; L</span><span style="display:none">Unrealised</span>
          </th>
          <th id="PnL-switches" style="text-align:right">
            <span style="border-bottom:2px solid black">GBP</span>
            <span style="margin-left:10px;color:#137fd7">%</span>
          </th>
          <th id="close-title" style="text-align:right;">Close</th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('positions-info-row1');">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-name">Wall Street CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+193.40</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <!-- The hidden row contains all the details of the open position -->
        <tr style="display:none" id="positions-info-row1">
        <td colspan="7" style="">

        <table class="position-detail-table">
          <thead>
            <th class="detail-blank">&nbsp;</th>
            <th class="detail-open">Open price</th>
            <th class="detail-quantity">&#8470;</th>
            <th class="detail-price">Current</th>
            <th class="detail-price">Stop</th>
            <th class="detail-price">Limit</th>
          </thead>

          <tbody>
            <tr>
              <td class="detail-blank">&nbsp;</td>
              <td class="detail-open">1.12265</td>
              <td class="detail-quantity">33</td>
              <td class="detail-price">1.12300</td>
              <td class="detail-price">1.12120</td>
              <td class="detail-price">1.12900</td>
              <td class="detail-pnl pnl-detail-profit">+115.50</td>
              <td class="stock-close" style="text-align:right;">
                <svg class="icon close-icon" viewBox="0 0 14 14">
                  <use xlink:href="#close-x"></use>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>


        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">UK100 CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
          <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-loss">-122.54</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">Germany 30 CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+856.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">Gold (per 0.1) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+34.20</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr style=""><!-- this row has multiple positions, aggregated -->
          <td class="stock-reveal">

            <a href="javascript:toggleDiv('agg-positions');">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            <span class="reveal-num">3</span>
          </td>
          <td class="stock-name">EUR/USD (per 0.0001) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+376.20</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <!-- The hidden row contains all the details of the aggregated trades -->
        <tr style="display:none" id="agg-positions">
        <td colspan="7" style="">

        <table class="positions-detail-table">
          <thead>
            <th class="detail-blank">&nbsp;</th>
            <th class="detail-open">Open price</th>
            <th class="detail-trade">Trade</th>
            <th class="detail-quantity">&#8470;</th>
            <th class="detail-price">Current</th>
            <th class="detail-price">Stop</th>
            <th class="detail-price">Limit</th>
            <th class="detail-pnl pnl-detail-profit">P &amp; L</th>
            <th id="close-title" style="text-align:right;">Close</th>
          </thead>

          <tbody>
            <tr>
              <td class="detail-blank">&nbsp;</td>
              <td class="detail-open">1.12265</td>
              <td class="detail-trade">
                <svg class="icon trade-icon" viewBox="0 0 13 13">
                  <use xlink:href="#trade-direction-long"></use>
                </svg>
              </td>
              <td class="detail-quantity">33</td>
              <td class="detail-price">1.12300</td>
              <td class="detail-price">1.12120</td>
              <td class="detail-price">1.12900</td>
              <td class="detail-pnl pnl-detail-profit">+115.50</td>
              <td class="stock-close" style="text-align:right;">
                <svg class="icon close-icon" viewBox="0 0 14 14">
                  <use xlink:href="#close-x"></use>
                </svg>
              </td>
            </tr>

            <tr>
              <td class="detail-blank">&nbsp;</td>
              <td class="detail-open">1.12267</td>
              <td class="detail-trade">
                <svg class="icon trade-icon" viewBox="0 0 13 13">
                  <use xlink:href="#trade-direction-long"></use>
                </svg>
              </td>
              <td class="detail-quantity">50</td>
              <td class="detail-price">1.12300</td>
              <td class="detail-price">1.12120</td>
              <td class="detail-price">1.12900</td>
              <td class="detail-pnl pnl-detail-profit">+165.50</td>
              <td class="stock-close" style="text-align:right;">
                <svg class="icon close-icon" viewBox="0 0 14 14">
                  <use xlink:href="#close-x"></use>
                </svg>
              </td>
            </tr>

            <tr>
              <td class="detail-blank">&nbsp;</td>
              <td class="detail-open">1.12271</td>
              <td class="detail-trade">
                <svg class="icon trade-icon" viewBox="0 0 13 13">
                  <use xlink:href="#trade-direction-long"></use>
                </svg>
              </td>
              <td class="detail-quantity">33</td>
              <td class="detail-price">1.12300</td>
              <td class="detail-price">1.12120</td>
              <td class="detail-price">1.12900</td>
              <td class="detail-pnl pnl-detail-profit">+95.70</td>
              <td class="stock-close" style="text-align:right;">
                <svg class="icon close-icon" viewBox="0 0 14 14">
                  <use xlink:href="#close-x"></use>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>

        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">GBP/USD (per 0.0001) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+100.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div><!-- Ends the Open Positions List block -->

<br clear="all">