

<!-- THIS ticked uses a single control, a vertical slider to change the amount in play -->

<!-- Start the TICKET -->
<!-- - - - - - - - -  -->
<div class="ticket toggle" id="trade-max" style="margin-top:0px;float:left;display:visible;position:absolute;top:100px;left:300px;width:340px;">

    <button class="hide" style="background:none;border:0;padding:0;margin:0;float:right;position:relative;top:-20px">
      <svg class="icon close-icon" viewBox="0 0 14 14" style="padding-top:5px">
        <use xlink:href="#close-x"></use>
      </svg>
    </button>

  
    <div class="js-tabs">
  
      <div class="tabs" style="margin-left:75px">
        <a href="#trade-panel" id="trade-tab" class="tab active">Trade</a>
        <a href="#order-panel" id="order-tab" class="tab">Order</a>
        <a href="#alert-panel" id="alert-tab" class="tab">Alert</a>
      </div>



      <div class="panels">
        <ul id="trade-panel" class="panel active" role="tabpanel" aria-labelledby="trade-tab" style="">
            
          <div id="market-name" style="margin-top:12px">

          <h2 style="float:left;font-weight:300">EUR/USD (per 0.0001) CFD</h2>

          <svg class="icon chart-icon" viewBox="0 0 14 14" style="float:right;padding-top:6px">
            <use xlink:href="#open-chart"></use>
          </svg>

          </div>

          <br clear="all">

          

          <!-- - - - - - MAIN SELL / BUY .... red / blue price buttons -->
          <div id="buysell-pair" style="margin-top:4px">

            <button id="sellticketbutton" class="secondary-button sell" style="margin-right:15px">
              <p>Sell</p>
             

             <input class="price-field upward" type="number" id="sellprice" name="sellprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>

            <button id="buyticketbutton" class="secondary-button buy">
              <p>Buy</p>


              <input class="price-field downward" type="number" id="buyprice" name="buyprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>
          </div>





          <!-- - - - - - SLIDERS - - - - - -->

          <div id="slider-horizontal" style="height:10px;margin-top:20px"></div>
          <!-- Hoz slider for the quantity for this trade -->

          <div id="stopper" style="display:inline-block;height:220px;margin-top:20px;">


          <span class="updating-chart">1.137,1.1375,1.1378,1.1374,1.1372,1.1367,1.134,1.131,1.1305,1.1299,1.12985,1.12982,1.1302,1.1304,1.1312,1.137,1.1375,1.1378,1.1374,1.1372,1.1367,1.134,1.131,1.1305,1.1299,1.12985,1.12982,1.1302,1.1304,1.1312</span>

            
          <div id="slider-range" style="position:relative;top:-200px;width:340px;height:210px;border:none"></div>
          <!-- vertical range slider for the stops and losses -->

          </div>




          <!-- - - - - - MAIN field / buttons for trade QUANTITY -->
          <div id="ticket-quantity" style="margin-top:7px">

            <div id="pound-point" style="float:left;width:180px">

            <label class="form-label" for="quantity"><a href="#">&pound; Point</a> <span style="color:#eee">/</span> Quantity </label>

            <input class="form-control qty" type="number" id="quantity" name="quantity" autocomplete="off" size="6" value="0" style="width:140px;margin-top:-2px">

            <p class="form-hint">Enter 1 to <span id="quantav">1</span></p>
            <input name="quantav_f" id="quantav_f" val=1 type="hidden">

            </div>

           

            <div id="pound-arrows" style="float:left;margin:43px 0 0 -30px;width:20px">

            <input type="image" value='+' class="arrow-button qtyplus" field='quantity' src="/public/images/number-arrow-up.png">
            

            

            <input type="image" value='-' class="arrow-button qtyminus" field='quantity' src="/public/images/number-arrow-down.png">

            <!-- <p>
              <label for="amount">Volume:</label>
              <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>-->


            </div>

           



            <div id="pound-value" style="float:right">

            <label class="form-label" for="value">&pound; Value</label>

            <input class="form-control" type="" id="value" name="value" autocomplete="off" size="6" value="£0" style="width:140px;color:#666;border-color:#808080;margin-top:-2px">

            </div>


            <br clear="all">

          </div><!-- end Quantity field / bttons -->




          <!-- - - - - - STOPS - - - - - - -->
          <!-- This is an open/close block -->
          <div id="ticket-stops" style="margin-top:15px">
            <details style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="" style="display:inline-block;width:170px;">Set stop loss</span><!-- this is the clickable open/close part -->

                <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addstop">+</a></span>
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;">

                <!-- hidden by default details here -->
                <div><!-- choose type of stop loss - standard, trailing or guaranteed - to use tabs selector -->
                <span style="border-bottom:solid 2px #333">standard</span> <span style="color:#eee">/</span> <a href="#">trailing</a> <span style="color:#eee">/</span> <a href="#">guaranteed</a>
                </div>


                <!-- set the points away or specific price here, default is points -->
                <div id="stop-price" style="float:left;">

                  <label class="form-label" for="stopprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

                  <input class="form-control" type="number" id="stopprice" name="stopprice" autocomplete="off" size="6" value="10" style="width:140px;">

                </div>

               

                <!-- the use arrows to change quantity x total risk amount -->
                <div id="stop-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

                  <input type="image" value='+' class="arrow-button stopqtyplus" field='stopprice' src="/public/images/number-arrow-up.png">
                  <input type="image" value='-' class="arrow-button stopqtyminus" field='stopprice' src="/public/images/number-arrow-down.png">

                </div>



                <!-- the total *large* value of the position is calcualted here based on price * pips * multi -->
                <div id="stop-value" style="float:right;margin-bottom:10px;">

                  <label class="form-label" for="stopvalue">&pound; Loss</label>

                  <input class="form-control" type="" id="stopvalue" name="stopvalue" autocomplete="off" size="6" value="" style="width:140px;color:#de4559;border-color:#808080">

                </div>

              </div>

              <br clear="all" style="">

              <p>Good til <a href="#">cancelled</a></p>

            </details>

          </div>
          <!-- end the open/close block -->

          <!-- - - - - - LIMIT - - - - - - -->
          <!-- This is an open/close block -->
          <div id="ticket-stops" style="margin-top:9px">
            <details style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="" style="display:inline-block;width:170px;">Set limit</span><!-- this is the clickable open/close part -->

                <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addlimit">+</a></span>
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

                <!-- hidden by default details here -->
               
                <!-- set the points away or specific price target here, default is points -->
                <div id="limit-price" style="float:left;">

                  <label class="form-label" for="limitprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

                  <input class="form-control" type="number" id="limitprice" name="limitprice" autocomplete="off" size="6" value="15" style="margin-top:-2px;width:140px;">

                </div>

               

                <!-- the use arrows to change price x profit target amount -->
                <div id="limit-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

                  <input type="image" value='+' class="arrow-button limitqtyplus" field='limitprice' src="/public/images/number-arrow-up.png">
                  <input type="image" value='-' class="arrow-button limitqtyminus" field='limitprice' src="/public/images/number-arrow-down.png">

                </div>



                <!-- the potential profit to take is here... price * pips * multi -->
                <div id="stop-value" style="float:right">

                  <label class="form-label" for="limitvalue">&pound; Profit</label>

                  <input class="form-control" type="" id="limitvalue" name="limitvalue" autocomplete="off" size="6" value="" style="margin-top:-2px;width:140px;color:#1ba12d;border-color:#3E8853">

                </div>

              </div>

              <br clear="all">

              <p>Good til <a href="#">cancelled</a></p>


            </details>
          </div>
          <!-- end the open/close block -->

          <!-- - - - - - MARGIN - - - - - - -->
          <!-- This is an open/close block -->
          <div id="margin" style="margin-top:10px">
            <details open style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="">Margin requirements</span><!-- this is the clickable open/close part -->
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

                <!-- hidden by default details here -->
               

                <div id="margin-available" class="data-attributes" style="float:left;margin:7px 10px 0 0">

                <input id="marginreq" class="form-control" name="marginreq" value="0" style="margin-top:5px;border:none;background:none" /><br>


                  <span id="margindonut" data-peity='{ "fill": ["green", "#eeeeee"],  "innerRadius": 24, "radius": 35 }'>603/1234</span>

                  <div id="marginpercent">00%</div>
                </div>


                <div style="float:left">
                  <p style="margin-top:24px;margin-bottom:10px;padding-bottom:0">Margin available:</p>

                  <p style="margin-top:15px;margin-bottom:5px;padding-bottom:0"><strong style="width:6em;display:inline-block;">Pre-trade:</strong> <span id="marginall">1000</span></p>

                  <p><strong style="width:6em;display:inline-block;">Post-trade:</strong> <span id="marginav">1234</span></p>
                </div>

                <br clear="all">

            </details>
          </div>
          <!-- end the open/close block -->


          <button class="primary-button" style="width:100%">Place trade</button>

        </ul>
        <ul id="order-panel" class="panel" role="tabpanel" aria-labelledby="order-tab">
            
          <div id="market-name" style="margin-top:12px">

          <h2 style="float:left;font-weight:300">EUR/USD (per 0.0001) CFD</h2>

          <svg class="icon chart-icon" viewBox="0 0 14 14" style="float:right;padding-top:6px">
            <use xlink:href="#open-chart"></use>
          </svg>

          </div>

          <br clear="all">

          <!-- - - - - - MAIN SELL / BUY .... red / blue price buttons -->
          <div id="buysell-pair" style="margin-top:4px">

            <button class="secondary-button sell buysell-inactive" style="margin-right:15px">
              <p>Sell</p>
             

             <input class="price-field upward" type="number" id="sellprice" name="sellprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>

            <button class="secondary-button buy">
              <p>Buy</p>


              <input class="price-field downward" type="number" id="buyprice" name="buyprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>
          </div>



          <!-- - - - - - ORDER specific field / buttons for PRICE -->
          <div id="ticket-price" style="margin-top:7px">

            <div id="order-price" style="float:left;width:180px">

            <label class="form-label" for="price">Order price</label>

            <input class="form-control qty" type="number" id="order_price" name="order_price" autocomplete="off" size="6" value="1.3559" style="width:140px;margin-top:-2px">

            </div>

           

            <div id="orderprice-arrows" style="float:left;margin:43px 0 0 -30px;width:20px">

            <input type="image" value='+' class="arrow-button orderpriceplus" field='order_price' src="/public/images/number-arrow-up.png">
            <input type="image" value='-' class="arrow-button orderpriceminus" field='order_price' src="/public/images/number-arrow-down.png">

            </div>

           



            <div id="price-value-diff" style="float:right">

            <label class="form-label" for="pricediff">Difference</label>

            <input class="form-control" type="" id="pricediff" name="pricediff" autocomplete="off" size="6" value="0%" style="width:140px;color:#666;border-color:#808080;margin-top:-2px">

            </div>


            <br clear="all">

            <p class="form-hint">Under <span id="order_lower">1</span>, over <span id="order_higher">1</span></p>


          </div><!-- end PRICE field / bttons -->





          <!-- - - - - - ORDER field / buttons for order QUANTITY -->
          <div id="order-quantity" style="margin-top:7px">

            <div id="pound-point" style="float:left;width:180px">

            <label class="form-label" for="order_quantity"><a href="#">&pound; Point</a> <span style="color:#eee">/</span> Quantity </label>

            <input class="form-control qty" type="number" id="order_quantity" name="order_quantity" autocomplete="off" size="6" value="0" style="width:140px;margin-top:-2px">

            <p class="form-hint">Enter 1 to <span id="quantav">1</span></p>
            <input name="quantav_f" id="quantav_f" val=1 type="hidden">

            </div>

           

            <div id="pound-arrows" style="float:left;margin:43px 0 0 -30px;width:20px">

            <input type="image" value='+' class="arrow-button orderqtyplus" field='order_quantity' src="/public/images/number-arrow-up.png">
            <input type="image" value='-' class="arrow-button orderqtyminus" field='order_quantity' src="/public/images/number-arrow-down.png">

            </div>

           



            <div id="order-value" style="float:right">

            <label class="form-label" for="value">&pound; Value</label>

            <input class="form-control" type="" id="order_value" name="order_value" autocomplete="off" size="6" value="£0" style="width:140px;color:#666;border-color:#808080;margin-top:-2px">

            </div>


            <br clear="all">

          </div><!-- end Order Quantity field / bttons -->




          <!-- - - - - - Order STOPS - - - - - - -->
          <!-- This is an open/close block -->
          <div id="order-stops" style="margin-top:15px">
            <details style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="" style="display:inline-block;width:170px;">Set stop loss</span><!-- this is the clickable open/close part -->

                <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addstop">+</a></span>
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;">

                <!-- hidden by default details here -->
                <div><!-- choose type of stop loss - standard, trailing or guaranteed - to use tabs selector -->
                <span style="border-bottom:solid 2px #333">standard</span> <span style="color:#eee">/</span> <a href="#">trailing</a> <span style="color:#eee">/</span> <a href="#">guaranteed</a>
                </div>


                <!-- set the points away or specific price here, default is points -->
                <div id="order-stop-price" style="float:left;">

                  <label class="form-label" for="order_stopprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

                  <input class="form-control" type="number" id="order_stopprice" name="order_stopprice" autocomplete="off" size="6" value="10" style="width:140px;">

                </div>

               

                <!-- the use arrows to change quantity x total risk amount -->
                <div id="stop-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

                  <input type="image" value='+' class="arrow-button stopqtyplus" field='order_stopprice' src="/public/images/number-arrow-up.png">
                  <input type="image" value='-' class="arrow-button stopqtyminus" field='order_stopprice' src="/public/images/number-arrow-down.png">

                </div>



                <!-- the total value of the loss is calcualted here based on price * neg-pips * quantity -->
                <div id="order-stop-value" style="float:right;margin-bottom:10px;">

                  <label class="form-label" for="order_stopvalue">&pound; Loss</label>

                  <input class="form-control" type="" id="order_stopvalue" name="order_stopvalue" autocomplete="off" size="6" value="" style="width:140px;color:#de4559;border-color:#808080">

                </div>

              </div>

              <br clear="all" style="">

            </details>

          </div>
          <!-- end the open/close block -->




          <!-- - - - - - LIMIT - - - - - - -->
          <!-- This is an open/close block -->
          <div id="order-limit" style="margin-top:9px">
            <details style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="" style="display:inline-block;width:170px;">Set limit</span><!-- this is the clickable open/close part -->

                <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addlimit">+</a></span>
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

                <!-- hidden by default details here -->
               
                <!-- set the points away or specific price target here, default is points -->
                <div id="order-limit-price" style="float:left;">

                  <label class="form-label" for="order_limitprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

                  <input class="form-control" type="number" id="order_limitprice" name="order_limitprice" autocomplete="off" size="6" value="15" style="margin-top:-2px;width:140px;">

                </div>

               

                <!-- the use arrows to change price x profit target amount -->
                <div id="limit-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

                  <input type="image" value='+' class="arrow-button limitqtyplus" field='order_limitprice' src="/public/images/number-arrow-up.png">
                  <input type="image" value='-' class="arrow-button limitqtyminus" field='order_limitprice' src="/public/images/number-arrow-down.png">

                </div>



                <!-- the potential profit to take is here... price * pips * multi -->
                <div id="order-limit-value" style="float:right">

                  <label class="form-label" for="order_limitvalue">&pound; Profit</label>

                  <input class="form-control" type="" id="order_limitvalue" name="order_limitvalue" autocomplete="off" size="6" value="" style="margin-top:-2px;width:140px;color:#1ba12d;border-color:#3E8853">

                </div>

              </div>

              <br clear="all">

            </details>
          </div>
          <!-- end the open/close block -->

          <!-- - - - - - MARGIN - - - - - - -->
          <!-- This is an open/close block -->
          <div id="margin" style="margin-top:10px">
            <details style="" >
              <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
                <span class="">Margin requirements</span><!-- this is the clickable open/close part -->
              </summary>

              <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

                <!-- hidden by default details here -->
               

                <div id="margin-available" class="data-attributes" style="float:left;margin:7px 10px 0 0">

                <input id="marginreq" class="form-control" name="marginreq" value="0" style="margin-top:5px;border:none;background:none" /><br>


                  <span id="margindonut" data-peity='{ "fill": ["green", "#eeeeee"],  "innerRadius": 24, "radius": 35 }'>603/1234</span>
                </div>


                <div style="float:left">
                  <p style="margin-top:24px;margin-bottom:10px;padding-bottom:0">Margin available:</p>

                  <p style="margin-top:15px;margin-bottom:5px;padding-bottom:0"><strong style="width:6em;display:inline-block;">Pre-trade:</strong> <span id="marginall">1000</span></p>

                  <p><strong style="width:6em;display:inline-block;">Post-trade:</strong> <span id="marginav">1234</span></p>
                </div>

                <br clear="all">

            </details>
          </div>
          <!-- end the open/close block -->


          <p>Order good til <a href="#">cancelled</a></p>

          <button class="primary-button" style="width:100%">Place order</button>
        </ul>





        <ul id="alert-panel" class="panel" role="tabpanel" aria-labelledby="alert-tab">
            
            <div id="market-name" style="margin-top:12px">

          <h2 style="float:left;font-weight:300">EUR/USD (per 0.0001) CFD</h2>

          <svg class="icon chart-icon" viewBox="0 0 14 14" style="float:right;padding-top:6px">
            <use xlink:href="#open-chart"></use>
          </svg>

          </div>

          <br clear="all">

          <!-- - - - - - MAIN SELL / BUY .... red / blue price buttons -->
          <div id="buysell-pair" style="margin-top:4px">

            <button class="secondary-button sell buysell-inactive" style="margin-right:15px">
              <p>Sell</p>
             

             <input class="price-field upward" type="number" id="sellprice" name="sellprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>

            <button class="secondary-button buy">
              <p>Buy</p>


              <input class="price-field downward" type="number" id="buyprice" name="buyprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

            </button>
          </div>


          <!-- - - - - - ALERT box, defaults to current buy/sell price -->
          <div id="alert-price" style="margin-top:7px">

            <div id="" style="float:left;width:180px">

            <label class="form-label" for="alert_price">Price to send alert</label>

            <input class="form-control qty" type="number" id="alert_price" name="alert_price" autocomplete="off" size="6" value="1.3544" style="width:140px;margin-top:-2px">            

            </div>

           

            <div id="alert-arrows" style="float:left;margin:43px 0 0 -30px;width:20px">

            <input type="image" value='+' class="arrow-button alertqtyplus" field='alert_price' src="/public/images/number-arrow-up.png">
            <input type="image" value='-' class="arrow-button alertqtyminus" field='alert_price' src="/public/images/number-arrow-down.png">

            </div>



           



            
            <!--<div id="pound-value" style="float:right">

            <label class="form-label" for="value">&pound; Value</label>

            <input class="form-control" type="" id="value" name="value" autocomplete="off" size="6" value="£0" style="width:140px;color:#666;border-color:#808080;margin-top:-2px">

            </div>-->


            <br clear="all">

          </div><!-- end Quantity field / bttons -->


          <p>Alert good til <a href="#">cancelled</a></p>

          <p>Send as <a href="#">email</a>, <a href="#">tweet</a> or <a href="#">sms</a></p>

          <button class="primary-button" style="width:100%">Set alert</button>



        </ul>
    </div>
  </div><!-- end JS-tabs -->





</div>
<!-- end the TICKET  -->
<!-- - - - - - - - - -->

  