<div id="watchlist-block" style="display:inline-block;margin-top:24px">

<header class="table-head">
    <h4><span class="uppercase">Watchlist</span> &gt; Popular markets</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table watchlist-table">
    <table style="">
      <thead>
        <tr id="watchlist-labels" style="vertical-align:top;height:20px">
          <th>&nbsp;</th>
          <th style="text-align:left;">Market</th>
          <th style="text-align:left;">Short</th>
          <th style="text-align:left;">Long</th>
          <th>1 day</th>
          <th>
            <svg class="icon clock-icon" viewBox="0 0 14 14">
              <use xlink:href="#clock"></use>
            </svg>
          </th>
          <th>&nbsp;</th>
        </tr>

        <tr class="table-second-headrow">
          <th style="background:none">&nbsp;</th>
          <th colspan="5">&nbsp;</th>
          <th style="background:none">&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row1');">
            <svg id="arrow-watch-info-row1" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">Wall Street CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovedown">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">
              <button class="show">
              18022.2
              </button></span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovedown">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">
              <button class="show">
              18022.2
              </button>
              </span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">7,7,10,6,5,7,4,5,4.5,6,4,3,5,2,2.5,1.5,3</span>

            <p class="mini-change negative">-0.26%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row2');">
            <svg id="arrow-watch-info-row2" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">UK100 CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">6377.0</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">6378.0</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">9,9,7,6.6,5,5.5,6,6.3,7,5,6,5.5,3,3.3,1,1.1,2,3,3.3,2</span>

            <p class="mini-change negative">-0.03%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row3');">
            <svg id="arrow-watch-info-row3" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">Germany 30 CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">10322.4</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">10323.4</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">6,6,5,9.9,9,4,5,5.5,3,2,4,3.5,3,1,1.3,4,5,6,3,3.3,3</span>

            <p class="mini-change positive">+0.35%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row4');">
            <svg id="arrow-watch-info-row4" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">Japan 225 CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">16985</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">16995</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">6,6.6,6.6,8,9,9.1,8.5,6,7,5,2,1.5,1,1.8,2,3,7,6,6.2,6.7,5,5.2</span>

            <p class="mini-change positive">+0.63%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row5');">
            <svg id="arrow-watch-info-row5" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">Bolsas y Mercados Espanoles Jun 16</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">10322</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">10323</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">2,2,1.6,7,7.4,7,6,7,6.6,6,7,7.5,7.3,7.8,8,6,7.4,8,7</span>

            <p class="mini-change positive">+0.08%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>


        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row6');">
            <svg id="arrow-watch-info-row6" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>
          <td class="stock-watchname">GBP/USD CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">1.4469</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">1.4470</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">1,1.5,1.2,3,8,7.6,7.9,7,7.4,6.6,7.2,6.4,7,6,4,4.5,4</span>

            <p class="mini-change positive">+0.57%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row7');">
            <svg id="arrow-watch-info-row7" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">US SP500 DFT</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">2090.30</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">2090.40</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">4,4,1,4,7,9,6,7,5,7,2,2,2.4,2.6,3,2.4,6,5.5,6.2,5.6,6.3,5.1,5</span>

            <p class="mini-change positive">+4.04%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <a href="javascript:toggleDiv('watch-info-row8');">
            <svg id="arrow-watch-info-row8" class="icon reveal-icon-right" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
            </a>
          </td>

          <td class="stock-watchname">EUR/USD CFD</td>

          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">1.1260</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">1.1272</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">1,1.3,5,7,6,7.4,7,7.2,6.7,7,5,6,3,3.5,3.2,3.7,3.3,4,5,3.3,4,3,3.2</span>

            <p class="mini-change positive">+11.62%</p>

          </td>

          <td class="stock-handle">&nbsp;<!--future handle--></td>
        </tr>


      </tbody>
    </table>
  </div><!-- end watchlist table -->
</div><!-- end watchlist block -->