// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.



strong {
  font-weight:700;
}





/* Table/List for basic data */
/* - - - - - - - - - - - - - */

ul.ul-data {
  list-style-type: none;
  list-style-image: none;
  padding-left: 0;
  padding-top: 0.5em;
  margin-bottom: 0; }

@media (max-width: 640px) {
  ul.ul-data {
    margin-left: 0.3em;
    margin-right: 0; } }

ul.ul-data li {
  /* border-bottom: 1px solid #c6ccd1;*/
  display: -moz-inline-stack;
  display: inline-block;
  margin: 0;
  padding-bottom: 1em;
  width: 100%; }

ul.ul-data li:first-child {
  /*border-top: 1px solid #c6ccd1;*/
  padding-top: 5px; }

ul.ul-data li span:first-child {
  width: 27%;
  float: left;
  display: inline;
  display: -moz-inline-stack;
  display: inline-block; }

ul.ul-data li span:first-child:after {
  content: ":"; }

@media (max-width: 475px) {
  ul.ul-data li span {
    width: 100% !important; } }

ul.ul-data li strong {
  width: 60%;
  float: left;
  font-weight: 700;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }

ul.ul-data li.mot-pass {
  border-left: solid green 3px;
  color: green;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li.mot-fail {
  border-left: solid red 3px;
  color: red;
  border-bottom: none;
  border-top: none;
  padding: 0.12em 0 0 1em;
  margin-bottom: 8px; }

ul.ul-data li a {
  float: right;
  font-weight: 300;
  /*display: inline;*/
  display: -moz-inline-stack;
  display: inline-block; }

@media (max-width: 475px) {
  ul.ul-data li strong {
    width: 100% !important; } }

#evl-form strong {
  font-weight:700;
}
u {
  font-weight:700;
  text-decoration:none;
  border-bottom: 3px solid #333;
}

.input-large {
  font-size:1.4em;
  padding:0.2em;
}

.input-regular {
  font-size:1em;
  padding:1em;
}

select, .input-select {
display: block;
width: auto;
font-family: "Open Sans",Arial,sans-serif;
line-height: 2;
padding: 3px;
margin:5px 0;
min-width: 150px;
max-width: 360px;
position: relative;
font-size: 1.1em;
padding-top: 2px;
background: #f0f0f0;
border: 2px #aaa solid;
float:left;
}

.input-short {
font-size:1.4em;
padding:0.2em;
width:6em;
}

.input-small {
font-size:1.4em;
width:3em;
}


.clearblock {
  border: none;
  background: none;
padding-top:0;
padding-left:30px;
padding-bottom:0;
}

.clearblock input {
  left:0;
top:0;
}



/** hover styles **/

.details-pane {
  display:none;
  z-index:5;
  position: absolute;
  top: 21em;
  left: 52%;
  background: #f6f6f6;
  border: 1px solid #333;
  width: 30%;
  padding: 0.75em
}
.hvrlink {
font-size:0.8em;
margin-left:1em;
}
.hvrlink:hover + .details-pane {
  display: block;
}








#dd-guarantee li{
  list-style:disc;
  margin-bottom:0.3em;
  font-size: 90%;
}



/** Mine start here  **/

/* the calender list, flag icon */
.flag {
  width: 84px;
  height: 50px;
  margin-right:1em;
}
@media (max-width: 640px) {
  .flag {
  width: 50px;
  height: 32px;
  margin-right:1em;}
}
@media (max-width: 400px) {
  .flag {
  width: 40px;
  height: 26px;
  margin-right:1em;}
}


/* the calender list, impact indicator */
@media (min-width: 591px) {
    span.indicator-icon {display:none}
    span.indicator-text {display:inline-block;float:right}
    .low-impact {color:#26a0be}
    .medium-impact {color:#e19b14}
    .high-impact {color:#f05a00}
}
@media (max-width: 590px) {
    span.indicator-icon {display:inline-block;border-radius:0.75em;padding:0.3em 0.6em;color:white;float:right;behavior: url(/public/javascripts/PIE.js);}
    span.indicator-text {display:none}
    .low-impact {background-color:#26a0be}
    .medium-impact {background-color:#e19b14}
    .high-impact {background-color:#f05a00}
}
@media (max-width: 450px) {
    span.indicator-icon {display:inline-block;font-size:0.8em;border-radius:0.5em;padding:0.2em 0.3em;color:white;float:right;behavior: url(/public/javascripts/PIE.js);}
    span.indicator-text {display:none}
    .low-impact {background-color:#26a0be}
    .medium-impact {background-color:#e19b14}
    .high-impact {background-color:#f05a00}
}





/* the calender list, action icons */
.cal-item-icon {
  width: 23px;
  height: 23px;
  margin-right:0.5em;
}
@media (max-width: 640px) {
  .cal-item-icon {
  width: 16px;
  height: 16px;
  margin-right:0.06em;}
}
@media (max-width: 400px) {
  .cal-item-icon {
  width: 11px;
  height: 11px;
  margin-right:0.02em;}
}


/* trying some stuff with a fixed table header */
section {
  position: relative;
  padding-top: 37px;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;

  -webkit-box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.55);
box-shadow: 0px 6px 26px 0px rgba(0,0,0,0.55);
}
.container {
  //overflow-y: auto;
  //height: 800px;
}




/* The econ calendar, month + day horizontal slider */

#month {
background-color: white;
margin: -5em -5em 0 -5em;
padding: 5em 0 0.5em 0;
-webkit-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.45);
box-shadow: 0px 6px 22px 0px rgba(0,0,0,0.45);
}
ul {
  color: #666;
}
ul.month-list {
  list-style-type:none;
    white-space:nowrap;
    overflow-x:auto;
    padding: 0.75em 0;
}

 ul.month-list li {
    display: inline;
    padding: 0.52em 0.6em;

}

.month-name {
text-transform: uppercase;
font-weight: 700;
font-size:0.9em;
}

.today {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #2d6caf;
  color: white;
  text-align: center;
}

.daymarked {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #ddd;
  color: white;
  text-align: center;
}



/* IFE html prototype styles start here */

h4.component-label {
font-size: 1.2em;
border-bottom: 4px solid black;
padding: 5px 0 4px 0;
}


/* Watch list trader tables  */
.trader {
//background-color: yellow;
}
.stock-table table th, .stock-table table td {
  font-size: 0.8em;
  font-family: 'Open Sans', Arial, sans-serif;
}

.stock-table table thead {
border-bottom: 1px black solid;
}
.stock-table table th {
//background-color: #eee;
line-height: 1.82;
font-size: 0.75em;
font-weight: 700;
  text-transform: uppercase;
}
.stock-table th, .stock-table td {
  text-align: right;
  padding-right:1.6em;
  line-height: 1.8;
}
.stock-table th:first-child, .stock-table td:first-child {
  text-align: left;
}
.stock-table th:last-child, .stock-table td:last-child {
  padding-right:0;
}
.stock-table .toprow td {
  padding-top:10px;
}

.stock-table th {
  margin-top: -2px;
}
.stock-table table {
  width: initial;
  margin-top:8px;
}


/* Deal ticket */
.deal-ticket {
  border: 1px solid #666;
  width: initial;
  padding: 1em;
}
ul.ticket-type {
  border-bottom: 2px black solid;
  margin-bottom: 2em;
}
ul.ticket-type  li {
  display: inline-block;
  padding: 0.52em 0.6em 1em 0;
}

.ticket-type-active {
  font-weight: 700;
  color: black;
}



/* Flashing */
.i_flash1 {
    background-color: red;
}
.i_flash2 {
    background-color: blue;
}



/* Heatmap gridded layout */

.heatmap-box {
  width:320px;
float:left;
margin-right:40px;
}

p.heatmap-stock-name {
  padding-bottom: 0;
  margin-bottom: 0.7em;
}
span.heatmap-box-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

.heatmap-current {
padding:-1px 0 -2px 0;
border-top:1px solid #cf0a0a;
border-bottom: 5px solid #cf0a0a;
width: 140px;
text-align: center;
font-weight: 700;
color: #444;
font-size: 1.4em;
}
.heatmap-bignum {
color: black;
font-size: 1.6em;
}

.heatmap-details {
color: #666;
font-size: 0.76em;
font-weight: 600;
margin-top: 5px;
}

span.heatmap-low {
width: 120px;
float: left;
}

span.heatmap-spread {
float: left;
width:80px;
text-align: center;
}

span.heatmap-high {
width: 120px;
text-align: right;
float: right;
}

.heatmap-change {
width: 320px;
padding:12px 0 12px 0;
font-size: 1.3em;
border-top:1px solid #00cc41;
border-bottom: 5px solid #00cc41;
background-color: #ccf5d9;
text-align: center;
color: #008028;
font-weight: 700;

}

.with-vgrid {
  background-image: url(/public/images/20-60-vgrid.png);
  background-repeat: repeat;
}


/* News headlines and story */
.news {
}
.news h1 {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.13;
  padding: 17px 0 10px 0;
}
.news h3 {
  font-size: 0.7em;
  line-height: 1.3;
  padding: 5px 0 12px 0;
  margin: 0 0 10px 0;
  color: #666;
  border-bottom: 1px #666 solid;
}
.news p {
  font-size: 1em;
  line-height: 1.9;
  margin-bottom: 30px;
  font-family: Georgia
}
.news p a {
  text-decoration: none;
  color: #0066cc;
}
ol.news-list {
  border-bottom: 2px black solid;
  margin-bottom: 2em;
  margin-top: 0;
}
ol.news-list  li {
  //display: inline-block;
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 1.2;
  //line-height: 1.579;
  //padding-bottom: 1.579em;
  padding: 4px 0.6em 24px 0;
  //border-top: 0.1em #ccc solid;
}
span.news-timecode {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  display: inline-block;
}
span.market-arrow {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  text-align: right;
  float: right;
  display: inline-block;
}
span.market-arrow a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #0066cc;
}

ol.info-list {
  margin-top: 10px;
}
ol.info-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2.2;
  padding: 0 0.6em 0 0;
}
.info-list a {
  text-decoration: none;
  color: #0066cc;
}




ol.nav-list {
  margin-top: 8px;
}
ol.nav-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2;
  padding: 0 0.6em 0 0;
}
.nav-list a {
  text-decoration: none;
  color: #0066cc;
}

ol.subnav-list {
  margin-left: 0.2em;
  padding-left: 1em;
  border-left: 2px #ccc solid;
}
ol.subnav-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2;
  padding: 0 0.6em 0 0;
}
.subnav-list a {
  text-decoration: none;
  color: #0066cc;
}


/* brought this over from the gridster css 
/* as it is also our heading block, even though it is functional */
.grid-stack-item-content {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2em;
}
.grid-stack-item-content header {
background: #f3f3f3;
color: black;
display: block;
cursor: move;
font-size: 1.2em;
border-bottom: 4px solid black;
padding: 5px 0 8px 0;
}


/* Floating bottom bar for constant P&L, funds, profit */

#bottom-bar {
background-color: #ffffcc;
bottom: 0;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
border-top: #cccc00 1px solid;
height: 80px;
padding-left: 40px;
position: fixed;
overflow: hidden;
right: 0;
width: 100%;
z-index: 1;
text-align: left;
}
#bottom-bar table {
  margin-top:8px;
  border:1px solid black;
  text-align: left;
}
#bottom-bar table tbody td,#bottom-bar table thead th {
  line-height: 1.4;
  padding: 0.3em;
  margin: 0;
}


/* Chat mockup styles */

.chat {
  background-color: #fff;
  padding: 1em;
  font-size: 1.2em;
  border: 1px solid #888;
  width: 100%;
  margin: 0 10px;
}

.sysbubble {
background-color: #ffff66;
padding: 0.5em 0.85em 0.5em 0.85em;
border-radius: 0.75em;
margin: 1em 0 0 2em;
}

.userbubble {
background-color: #ccffcc;
padding: 0.5em 1.5em 0.5em 1em;
border-radius: 0.75em;
margin: 1em 0 0 0;
font-weight: 700;
}

.promptbubble {
font-size: 0.85em;
padding: 0.5em 0.85em 0.5em 2.4em;
color: #666;
border-radius: 0.75em;
margin: 1em 0 0 0;
background: #eeeeee url(/public/images/prompt-icon.png) 8px 8px no-repeat;
}

.calc-helper {
background-image: url(/public/images/calc-icon.png);
background-repeat: no-repeat;
background-position: center right 10px;
}

.input-helper {
color: #686;
font-weight:500;
font-size:0.9em;
padding: 0 1em;
}

.bubble {
margin-bottom: 1.5em;
}

.headsummary table thead {
border-bottom: 1px black solid;
font-size: 0.5em;
}

.headsummary table thead th {
  font-size: 0.6em;
}
