// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.


body {
  font-size:20px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 0 0 40px;
  background-color: #eee;
}
div,span,p,h1,h2,h3,h4,h5,h6,input {
  font-family: 'Open Sans', Arial, sans-serif;
}

strong {font-weight:700;}

.uppercase {text-transform: uppercase;}


html {
  //zoom: 0.75;
}
.with-vgrid {
  background: none url(/public/images/vgrid-10-10-blue.pngx) 10px 16px;
  background-repeat: repeat;

}


button.show  {

  background-color: none;
  border:none;
  font-size-adjust: none;
}


/* IFE html prototype styles start here */

.table-head {
  width: 582px;
  line-height: 1;
  height: 40px;

}
.table-head h4 {
width: 500px;
display: inline-block;
font-weight: 600;
font-size: 0.9em;
padding: 0;
margin-left:-17px;
margin-bottom: 25px;
}
.component-menu-icon {
  text-decoration: none;
  color:#0066cc;
  position: relative;
  top:-7px;
  overflow: visible;
  line-height: 1.36;
  font-size: 0.93em;
}

span.component-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

/* Watch list  tables  */
.watchlist-table {
  width: 700px;
  margin-left: -40px;
  margin-top:4px;
}
.positions-table {
  width: 630px;
  margin-left: -40px;
}
.orders-table {
  width: 740px;
  margin-left: -40px;
}
.stock-table {
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 0;
  border-bottom: 1px black solid;
}
.stock-table table th, .stock-table table td {
  font-family: 'Open Sans', Arial, sans-serif;
  padding:0;
}

.stock-table table {

}
.stock-table table th {
line-height: 1;
font-size: 0.6em;
font-weight: 700;
color: #333;
text-transform: uppercase;
position: relative;
top:1px;
}
.stock-table td {
  line-height: 1;
  vertical-align: top;
}
.stock-table th:first-child, .stock-table td:first-child {
}
.stock-table th:last-child, .stock-table td:last-child {
  padding-right:0;
}


.stock-table .toprow td {
  padding-top:3px;
  overflow: hidden;
}
.stock-table tr {
height:10px;
}

.stock-table th {
  text-align: right;
}
.stock-table table {
  width: 100%;
}
.stock-table .table-second-headrow th{
  background: url(/public/images/table-head-stripe.png) repeat-x ;
}

  

/* fiddles for the open positions list 
td.stock-reveal {width:40px;}

td.stock-name {text-align: left; width:400px;} 
td.stock-edit {text-align: center}
td.stock-edit .icon {margin-left:20px;}
td.stock-direction {width:60px;text-align:left;}
td.stock-direction .icon {margin-left:20px;}
td.stock-edit {text-align:left;width:60px;}
td.stock-pl {width:100px;text-align: right}
td.stock-close {width:60px;}
td.stock-close .icon {margin-left:42px;}
*/

tr.open-positions-labels {
background-color:yellow;
}

td.stock-reveal, td.detail-trade {text-align:left;width:20px}
td.stock-reveal {position:relative;top:8px;}

td.stock-name {
text-align: left;
height: 50px;
position: relative;
top:10px;
width: 350px;
} 
td.stock-direction {
width:70px;
text-align:right;
position: relative;
top:-6px;
}
td.stock-direction .icon {}

td.stock-edit, td.detail-edit {width:50px;text-align: center;}
td.stock-edit .icon {position:relative;top:11px;}

td.stock-pl, td.detail-pl {width:80px;text-align: right;}
td.stock-pl {
position: relative;
top:10px;
}

td.stock-close, td.detail-close {width:40px;text-align: right;overflow: hidden;}
td.stock-close {position:relative;top:-7px;}
td.detail-close {opacity: 0.3;}


td.detail-heading {
color: #999;
line-height: 1;
font-weight: 700;
font-size: 0.6em;
text-transform: uppercase;
position: relative;
top:1px;
text-align: right;
height: 20px;
}
td.detail-price {
width: 70px;
text-align: right;
}
td.detail-pl, td.detail-price {
color: black;
line-height: 3.8;
font-weight: 700;
font-size: 0.7em;
height: 50px;
}
td.detail-pl {
width: 70px;
}
td.stock-handle, td.detail-handle {
width: 20px;
}

tr.detail-row-odd {
  background-color:white;
}

.aggnum {
  position: relative;
  left:12px;
background-color: #888;
color: white;
font-size: 0.66em;
font-weight: 700;
padding: 0.32em 0.1em;
width: 15px;
border-radius: 50%;
margin: 10px 0 0 15px;
}

.close-all-button {
  background-color: #4eb46b;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size:0.66em;
  color: white;
  border: none;
  border-bottom: 2px #368750 solid;
  border-radius: 3px;
  padding: 0.33em 0.5em;
  margin: 0.5em 0;
}




/*
.position-detail-table {
  margin-top:-43px;
  margin-bottom: -10px;
  height: 10px;
}

.position-detail-table td{
  height: 10px;
  padding: 0;
  line-height:1;
}

.positions-detail-table {
  margin-top:-46px;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
}
.positions-detail-table td {
  vertical-align: middle;
  height: 40px;
}
.positions-detail-table th{
  height: 10px;
  padding: 0;
  line-height: 1;
  }
.detail-blank {
  width:100px;
}
.detail-open {
  width: 120px;
}
.detail-trade {
  text-align: center;
  width:100px;
}
.detail-quantity {
  width:60px;
  text-align: right;
}
.detail-price {
width: 100px;
text-align: right;
}
.detail-pnl {
  width: 100px;
  text-align: right;
}

.pnl-detail-profit {color: #125616;}
.pnl-detail-loss {color: #de4559;}
.pnl-profit {border-bottom: double 6px #1ba12d;}
.pnl-loss {border-bottom: double 6px #de4559;}
*/






/*fiddles for open orders */
td.stock-ordername {width:220px;} 
td.stock-order, td.stock-current {
  position: relative;
  top:-7px;
}
td.stock-quantity, td.stock-distance {
  position: relative;
  top:-5px;
  width: 80px;
}
td.stock-delete {width:20px;}
td.stock-delete .icon {margin-left:2px;}






/* fiddles for the watchlist */
td.stock-market {width: 360px;}
td.stock-short, td.stock-long {
  position: relative;
  top:-7px;
}
td.stock-minichart {
  position: relative;
  top: -10px;
}

.positions-table polygon.long {
fill: white;
}
.positions-table polygon.short {
fill: #de4559;
}



.reveal-num {
  display: inline-block;
  overflow: visible;
  width: 15px;
  height:15px;
  background: url(/public/images/white-circle.svg) no-repeat ;
  background-size: 15px 15px;
  color: #666;
  line-height: 1.1;
  font-weight: 700;
  font-size:0.7em;
  text-align: center;
  margin-left: 12px;
  margin-top: 10px;
}


/* News headlines and story */
#news-headline-list {
  
}
.news h1 {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px 0 7px 0;
  margin-bottom: 0;
}
.news h2 {
  font-size: 1.4em;
  line-height: 40px;
  padding: 5px 0 11px 0;
  margin: 0 0 0 0;
}
.news h3 {
  font-size: 1.25em;
  line-height: 30px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 15px 0;
}
.news p {
  margin: 0 0 12px 0;
  font-size: 20px;
  line-height: 30px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break:break-word;
  hyphens: auto;
  hyphenate-before: 3;
  hyphenate-after: 3;
}
.news p a {
  text-decoration: none;
  color: #0066cc;
}
ol.news-list {
  top: 50px;
  width:540px;
  overflow: auto;
  height: 93%;
}
ol.news-list {
  margin-top: 0;
}
ol.news-list  li {
  width: 460px;
  height: 220px;
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  color: black;
  padding: 0 0.6em 0 0;
  margin-bottom: 10px;
}
span.news-timecode {
  position: relative;
  top: 1px;
  font-size: 0.8em;
  color:#0066cc;
  height: 20px;
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
}
span.market-arrow {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  text-align: right;
  float: right;
  display: inline-block;
}
.newsthumb {
  height: 120px;
  overflow: hidden;
  margin-bottom: 9px;
}
.newsthumb img {
  width: 520px;
  margin-top: -25%
}
ol.news-list li.lead-story {
}

#news-story {
  width: 700px;
  display: inline-block;
}
#news-story h1,#news-story p {
  font-family: Georgia, Times, serif;
  color: #333;
}
#news-story h1 {
  font-size: 1.88em;
  line-height: 1.1;
  margin: 12px 0 10px 0;
}
span.news-byline {
  display: inline-block;
  font-size: 0.8em;
  color: #333;
  margin: 0 0 18px 0;
}
#news-story p {
  text-indent: 40px;
  margin: 0 0 0 0;
  font-size: 24px;
  line-height: 2;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break:break-word;
  hyphens: auto;
  hyphenate-before: 3;
  hyphenate-after: 3;
}


ul.hoznav li {
display: inline-block;
margin-right:40px;
font-size: 0.85em;
font-weight: 600;
}
li.active {
  color:#444;
  border-bottom: solid 2px #444;
}


span.market-arrow a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #0066cc;
}

ol.info-list {
  margin-top: 10px;
}
ol.info-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2.2;
  padding: 0 0.6em 0 0;
}
.info-list a {
  text-decoration: none;
  color: #0066cc;
}






/* Floating bottom bar for constant P&L, funds, profit */

#bottom-bar {
background-color: #ffffcc;
bottom: 0;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
border-top: #cccc00 1px solid;
height: 80px;
padding-left: 300px;
position: fixed;
overflow: hidden;
right: 0;
width: 100%;
z-index: 1
}
#bottom-bar table {
  margin-top:8px;
}
#bottom-bar table tbody td,#bottom-bar table thead th {
  line-height: 1.4;
  padding: 0.3em;
  margin: 0;
}


/* Doing things with SVG icons */
.icon {
  display:inline-block;
}
.reveal-icon {
  position: relative;
  top: 2px;
  left: 11px;
  width: 18px;
  height: 18px;
}
.reveal-icon-right {
-webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
  position: relative;
  top: 2px;
  left: 1px;
  width: 12px;
  height: 12px;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
       -moz-transition:    -moz-transform 0.15s ease-in-out;
        -ms-transition:     -ms-transform 0.15s ease-in-out;
         -o-transition:      -o-transform 0.15s ease-in-out;
            transition:         transform 0.15s ease-in-out;
}
.reveal-icon-right:hover {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}



.reveal-icon-down {
  position: relative;
  top: 2px;
  left: 1px;
  width: 12px;
  height: 12px;
}


.trade-icon {
  position: relative;
  top: 16px;
  right:15px;
  width: 12px;
  height: 10px;
}
.trade-icon-detail {
  position: relative;
  top: 16px;
  width: 12px;
  height: 10px;
}
.edit-icon {
  position: relative;
  top: 17px;
  left:12px;
  width: 13px;
  height: 13px;
}
.close-icon {
  position: relative;
  top: 18px;
  left:1px;
  width: 13px;
  height: 13px;
}
.delete-icon {
  position: relative;
  top: 1px;
  left:3px;
  width: 14px;
  height: 14px;
}
.price-icon {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}
.clock-icon {
  position: relative;
  top: 0px;
  left:11px;
  width: 12px;
  height: 12px;
}
.foldup-icon {
  position: relative;
  top: 2px;
  left:0px;
  width: 18px;
  height: 18px;
}
.chart-icon {
  position: relative;
  top: 0px;
  left:3px;
  width: 18px;
  height: 18px;
}



polygon.fill-white {
  fill:white;
}
polygon.long {
fill: #2c7cb3;
}
polygon.short {
fill: #de4559;
}




/* - - - - HEADER - - - - - */
header.tophead {
background: #303030; /* Old browsers */
background: linear-gradient(#303030, #202020);
height: 90px;
margin-left: -40px;
overflow: hidden;
}
.service-logo {
  display: inline-block;
  position: relative;
  top: 14px;
  left:2px;
  width: 66px;
  height: 66px;
}
.header-item {
  float:left;
  margin-right: 20px;
  //background-color: rgba(55, 55, 0, 0.5);
}
.head-right {
  text-align: right;
}
.head-2col {
  width: 160px;
}
.head-4col {
  width: 860px;
}
.search-input {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:none;
  -webkit-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  color: white;
  font-family: 'Open Sans', sans;
  font-size: 1.2em;
  height: 46px;
  width: 290px;
  margin-top:40px;
  padding: 2px 10px 2px 40px;
  background: rgba(22, 22, 22, 0.5) url('/public/images/icon-search.svg') no-repeat 12px 13px;
  //background-color: rgba(34, 34, 34, 0.3);
  background-size:24px 24px;
}

.search-input:focus {
  outline: none;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:none;
  border-bottom:1px solid #82835D;
  -webkit-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 3px 6px 0px rgba(0,0,0,0.2);
  color: black;
  font-family: 'Open Sans', sans;
  font-size: 1.2em;
  height: 45px;
  width: 290px;
  margin-top:40px;
  padding: 0px 10px 1px 40px;
  background: #ffffd0 url('/public/images/icon-search-bk.svg') no-repeat 12px 13px;
  background-size:24px 24px;
}

/* for the placeholder styling */
::-webkit-input-placeholder {
   color: white;
  font-family: 'Open Sans', sans;
  position: relative;
  top: -3px;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;
  font-family: 'Open Sans', sans;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;
  font-family: 'Open Sans', sans;
}
:-ms-input-placeholder {  
   color: white;
  font-family: 'Open Sans', sans;
}



.user-avatar {
overflow: hidden;
border-radius: 50%;
width: 58px;
height: 58px;
position: relative;
left: 3px;
top: 7px;
}

.user-menu {
  position: relative;
  top: 14px;
  left:2px;
  height: 69px;
  background: url('/public/images/user-avatar.png') no-repeat 5px 5px;
  background-size: 56px 56px;
}
.tophead h3 {
  text-transform: uppercase;
  color:#ccc;
  font-weight: 700;
  font-size: 13px;
  padding: 0;
  margin: 17px 0 0 0;
}
.header-number {
  color: #eee;
  font-variant-numeric: oldstyle-nums;       /* <numeric-figure-values> */
  font-feature-settings: 'onum';
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  padding:0;
  margin:4px 0 0 0;
}
.header-number span {
  font-size:0.6em;
}

ul.header-nav {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border:none;
  -webkit-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  box-shadow: inset 0px 3px 12px 0px rgba(0,0,0,0.4);
  color: white;
  font-family: 'Open Sans', sans;
  //font-weight: 600;
  font-size: 1.2em;
  height: 50px;
  width: 400px;
  margin-top:40px;
  padding: 0 10px;
  background-color: rgba(22, 22, 22, 0.5);
}
ul.header-nav li {
  display: inline-block;
  padding: 0;
  line-height: 1;
  margin: 10px 40px 0 0;
}
ul.header-nav li:last-child {
  margin-right:0;
  }
ul.header-nav li a {
  color: white;
}
ul.header-nav li a:hover {
  color: #ffffcc;
}
.header-nav-icon {
  display: inline-block;
  position: relative;
  top: 2px;
  left:2px;
  width: 20px;
  height: 15px;
}
/* - - - - - - END HEADER BITS - - - - - - */





/* A standard box to present price info. Is chunky and has a shadow – can be clicked on! */
.pricebox {
width: 95px;
margin-right: 20px;
padding: 5px 0 8px 5px;
border-radius: 2px;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
background-color: white;
}
.lastmoveup {background: white url('/public/images/long-price-bg.png') repeat-y;}
.lastmovedown {background: white url('/public/images/short-price-bg.png') repeat-y;}
.lastmovenone {background: white url('/public/images/flat-price-bg.png') repeat-y;}

/* A similar box to present numbers, that are not interactive so are chunk and clear but not clickable */
.numberbox {
margin-right: 20px;
padding: 5px 5px 8px 5px;
border-radius: 2px;
background-color: #ffffee;
  text-align: right;

}
span.number {
  font-size: 0.85em;
  font-weight: 600;
  text-align: right;
  display: inline-block;
}

span.price {
  position: relative;
  left: 10px;
  top:2px;
  text-align: right;
  width: 60px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.mini-change {
text-align: right;
font-size: 0.6em;
}
.positive {
  color: #2c7cb3;
}
.negative {
  color: #de4559;
}




/* Ticket stuff */
.ticket {
  background-color: rgba(255,255,255,1);
  border-radius: 8px;
  //border: 3px solid #999;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
#ticket-name {
  color:#333;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 232px;
  margin-right: 36px;
  padding-top: 6px;
  font-weight: 700;
}

.ticket #market-name {
//font-weight: 300;
font-size: 1.2em;
padding: 0px 0 14px 0;
}

/* ACTUAL ITEM STYLES FROM GUIDE PAGES */

.form-label {
font-size:1em;
padding-top:0.75em;
font-weight:600;
font-family: "Open Sans", Arial, sans-serif !important;
}
.form-control {
font-family: "Open Sans", Arial, sans-serif !important;
border:#333 solid 3px;
font-size:120%;
width:120px;
border-radius:4px;
line-height:1.6;
}
.form-display {
border-bottom:#666 solid 3px;
border-top:#eee solid 3px;
border-left:#eee solid 3px;
border-right:#eee solid 3px;
background-color: #eee;
font-size:120%;
width:120px;
border-radius:3px;
line-height:1.6;
color: #444;
}
.example-text {
//font-size: 0.9em;
padding-top:0.33em;
}







.primary-button {
  background-color: #4eb46b;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size:1em;
  color: white;
  border: none;
  border-bottom: 2px #368750 solid;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}
.primary-button p {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.secondary-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size:1em;
  color: white;
  border: none;
  border-bottom: 2px #444 solid;
  border-radius: 3px;
  width: 160px;
  padding-bottom: 12px;
}
.secondary-button p {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 0 3px 0;
  margin: 0 0 0 0;
}

.arrow-button {
  background-color: white;
  border:none;
  font-size: 20px;
  padding: 6px 10px;
  outline: none;
}
.arrow-button:hover {
  background-color: #ffdd66;
}
.arrow-button:active {
  background-color: white;
}

.price-field {
  color: white;
  border:none;
  background: none;
  font-weight: 700;
}
.sell .price-field {
  padding-left:10px;
}
.sell input.upward {
  background:url('/public/images/triangle-up.svg') no-repeat 25px 10px;
}
.sell input.downward {
  background:url('/public/images/triangle-down.svg') no-repeat 25px 10px;
}
.buy .price-field {
  padding-right:10px;
}
.buy input.upward {
  background:url('/public/images/triangle-up.svg') no-repeat right 23px top 8px;
}
.buy input.downward {
  background:url('/public/images/triangle-down.svg') no-repeat right 23px top 8px;
}

.sell {
  font-size:1.1em;
  background-color: rgba(229, 78, 89, 1);
  border-bottom-color: #b33941;

}
.buy {
  font-size:1.1em;
  background-color: rgba(21, 125, 177, 1);
  border-bottom-color: #1f5a78;
}
.buysell-inactive {
  background-color: rgba(168, 168, 168, 1);
  border-bottom-color: #606060;
}
.sell .upward:before {
  content: '\25B2';
  padding-right:0.33em;
  margin-left:-0.25em;
}
.sell .downward:before {
  content: '\25BC';
  padding-right:0.33em;
  margin-left:-0.25em;
}
.buy .upward:after {
  content: '\25B2';
  padding-left:0.33em;
  margin-right:-0.25em;
}
.buy .downward:after {
  content: '\25BC';
  padding-left:0.33em;
  margin-right:-0.25em;
}

/* Little thing to hide labels until hover state, used on + for stops/loss limits */
.addlimit a {
  display: inline-block;
  width: 100px;
}
.addlimit:hover {
  display: none;
}
.addlimit:hover a:before{
font-weight: 600;
font-size: 0.9em;
content: 'add ';
}




.form-control {
  line-height: 1.65;
}

.control-button-solid {
  background-color: #333;
  color: white;
  border: 2px #333 solid;
  border-bottom: 2px #111 solid;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.control-button-outline {
  background-color: #fefefe;
  color: #333;
  //border: none;
  border: 2px #111 solid;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.text-button-solid {
  background-color: #333;
  color: white;
  border: 2px #333 solid;
  border-bottom: 2px #111 solid;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.25em 0.4em;
  margin: 0;
}

.text-button-outline {
  background-color: #fefefe;
  color: #333;
  //border: none;
  border: 2px #111 solid;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.25em 0.4em;
  margin: 0;
}


.highlighted {
  background-color: #fbee48;
}
.glyphicons-mini {
  margin: -0.3em -0.4em -0.3em -0.4em;
  padding: 0;
  font-size: 100%;
}
.glyphicons-mid {
  margin: -0.1em -0.2em -0.1em -0.2em;
  padding: 0;
  font-size: 140%;
}
.glyphicons-maxi {
//margin: -0.2em -0.3em -0.3em -0.3em;
  padding: 0;
  font-size: 166%;
}

.zeropad {
  padding:0 !important;
}



/* Dropdown Button */
.dropbtn {
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  //background-color: #ffff99;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background: transparent url('/public/images/table-menu-triangle-left.png') 0 26px no-repeat;
  display: none;
  position: absolute;
  min-width: 110px;
  text-align: left;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: -48px;
  margin-left: 36px;
  
}

.dropmenu {
  background-color: white;
  border-radius: 3px;
  border:2px #333 solid;
  margin-left: 8px;
  padding: 0.1em 0 0.66em 0;

}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.75;
  padding: 6px 10px 0px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #ffb;
color:#000066;
  text-decoration: none;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* TABS from http://alistapart.com/article/radio-controlled-web-design */

/* Android 2.3 :checked fix 
@keyframes fake {
    from {
        opacity: 1;
    }
    to {
        opactity: 1
    }
}
body {        
    animation: fake 1s infinite;
}*/




.js-tabs .tab {
  display: inline-block;
  vertical-align: top;
  cursor: hand;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  color: #0066cc;
  font-size: 0.8em;
  padding: 0 0.33em;
}
.js-tabs .tab:focus {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
}
.js-tabs .tab:hover {
    background-color: #fff;
}
.js-tabs .tab.active {
    border-bottom: .3em solid #fff;
    cursor: default;
    color: black;
}

.js-tabs .panels {
    background-color: #fff;
}

.js-tabs .panel {
    display: none;
}
.js-tabs .panel.active {
    display: block;
}