// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.


body {
  font-size:20px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 0 0 40px;
  background-color: #eee;
}

strong {font-weight:700;}

.uppercase {text-transform: uppercase;}







/* IFE html prototype styles start here */

.table-head {
  width: 700px;
  line-height: 1;
  height: 30px;
}
.table-head h4 {
width: 500px;
display: inline-block;
font-weight: 600;
font-size: 1em;
padding: 3px 0 4px 0;
}
.component-menu-icon {
  text-decoration: none;
  color:#0066cc;
  position: relative;
  left: 3px
}

span.component-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

/* Watch list  tables  */
.watchlist-table {
  width: 740px;
  margin-left: -40px;
  margin-top:4px;
}
.positions-table {
  width: 740px;
  margin-left: -40px;
}
.stock-table {
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 0;
  border-bottom: 1px black solid;
}
.stock-table table th, .stock-table table td {
  font-size: 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  padding:0;
}

.stock-table table {

}
.stock-table table th {
line-height: 1;
font-size: 0.66em;
font-weight: 700;
color: #808080;
text-transform: uppercase;
position: relative;
top:1px;
}
.stock-table td {
  line-height: 1;
  height: 60px;
  vertical-align: top;
}
.stock-table th:first-child, .stock-table td:first-child {
}
.stock-table th:last-child, .stock-table td:last-child {
  padding-right:0;
}
.stock-table thead tr {
  height: 50px;
}

.stock-table .toprow td {
  padding-top:3px;
}
.stock-table tr {
height:10px;
}
.stock-table th {
}
.stock-table table {
  width: 100%;
}

/* fiddles for the open positions list */
td.stock-reveal {width:40px;}

td.stock-name {text-align: left; width:400px;} 
td.stock-edit {text-align: center}
td.stock-edit .icon {margin-left:20px;}
td.stock-direction {width:60px;text-align:left;}
td.stock-direction .icon {margin-left:20px;}
td.stock-edit {text-align:left;width:60px;}
td.stock-pl {width:100px;text-align: right}
td.stock-close {width:60px;}
td.stock-close .icon {margin-left:42px;}


.pnl-profit {border-bottom: double 6px #1ba12d;}
.pnl-loss {border-bottom: double 6px #de4559;}

/* fiddles for the watchlist */
td.stock-market {width: 240px}
td.stock-short, td.stock-long {
  position: relative;
  top:-7px;
}
td.stock-minichart {
  position: relative;
  top: -10px;
}

.positions-table polygon.long {
fill: white;
}
.positions-table polygon.short {
fill: #de4559;
}







/* Deal ticket */
.deal-ticket {
  border: 1px solid #666;
  width: initial;
  padding: 1em;
}
ul.ticket-type {
  border-bottom: 2px black solid;
  margin-bottom: 2em;
}
ul.ticket-type  li {
  display: inline-block;
  padding: 0.52em 0.6em 1em 0;
}

.ticket-type-active {
  font-weight: 700;
  color: black;
}



/* Flashing */
.i_flash1 {
    background-color: red;
}
.i_flash2 {
    background-color: blue;
}



/* Heatmap gridded layout */

.heatmap-box {
  width:320px;
float:left;
margin-right:40px;
}

p.heatmap-stock-name {
  padding-bottom: 0;
  margin-bottom: 0.7em;
}
span.heatmap-box-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

.heatmap-current {
padding:-1px 0 -2px 0;
border-top:1px solid #cf0a0a;
border-bottom: 5px solid #cf0a0a;
width: 140px;
text-align: center;
font-weight: 700;
color: #444;
font-size: 1.4em;
}
.heatmap-bignum {
color: black;
font-size: 1.6em;
}

.heatmap-details {
color: #666;
font-size: 0.76em;
font-weight: 600;
margin-top: 5px;
}

span.heatmap-low {
width: 120px;
float: left;
}

span.heatmap-spread {
float: left;
width:80px;
text-align: center;
}

span.heatmap-high {
width: 120px;
text-align: right;
float: right;
}

.heatmap-change {
width: 320px;
padding:12px 0 12px 0;
font-size: 1.3em;
border-top:1px solid #00cc41;
border-bottom: 5px solid #00cc41;
background-color: #ccf5d9;
text-align: center;
color: #008028;
font-weight: 700;

}

.with-vgrid {
  background-image: url(/public/images/vgrid-10-10.png);
  background-repeat: repeat;
}


/* News headlines and story */
.news {
}
.news h1 {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.13;
  padding: 17px 0 10px 0;
}
.news h3 {
  font-size: 0.7em;
  line-height: 1.3;
  padding: 5px 0 12px 0;
  margin: 0 0 10px 0;
  color: #666;
  border-bottom: 1px #666 solid;
}
.news p {
  font-size: 1em;
  line-height: 1.9;
  margin-bottom: 30px;
  font-family: Georgia
}
.news p a {
  text-decoration: none;
  color: #0066cc;
}
ol.news-list {
  border-bottom: 2px black solid;
  margin-bottom: 2em;
  margin-top: 0;
}
ol.news-list  li {
  //display: inline-block;
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 1.2;
  //line-height: 1.579;
  //padding-bottom: 1.579em;
  padding: 4px 0.6em 24px 0;
  //border-top: 0.1em #ccc solid;
}
span.news-timecode {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  display: inline-block;
}
span.market-arrow {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  text-align: right;
  float: right;
  display: inline-block;
}
span.market-arrow a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #0066cc;
}

ol.info-list {
  margin-top: 10px;
}
ol.info-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2.2;
  padding: 0 0.6em 0 0;
}
.info-list a {
  text-decoration: none;
  color: #0066cc;
}

/* brought this over from the gridster css 
/* as it is also our heading block, even though it is functional */
.grid-stack-item-content {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.2em;
}
.grid-stack-item-content header {
background: #f3f3f3;
color: black;
display: block;
cursor: move;
border-bottom: 4px solid black;
padding: 5px 0 8px 0;
}


/* Floating bottom bar for constant P&L, funds, profit */

#bottom-bar {
background-color: #ffffcc;
bottom: 0;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
border-top: #cccc00 1px solid;
height: 80px;
padding-left: 300px;
position: fixed;
overflow: hidden;
right: 0;
width: 100%;
z-index: 1
}
#bottom-bar table {
  margin-top:8px;
}
#bottom-bar table tbody td,#bottom-bar table thead th {
  line-height: 1.4;
  padding: 0.3em;
  margin: 0;
}


/* Doing things with SVG icons */
.icon {
  display:inline-block;
}
.reveal-icon {
  position: relative;
  top: 2px;
  left: 11px;
  width: 18px;
  height: 18px;
}
.trade-icon {
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
}
.edit-icon {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
.close-icon {
  position: relative;
  top: 3px;
  left:3px;
  width: 16px;
  height: 16px;
}
.price-icon {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}
.clock-icon {
  position: relative;
  top: 0px;
  left:11px;
  width: 10px;
  height: 10px;
}


polygon.fill-white {
  fill:white;
}
polygon.long {
fill: #2c7cb3;
}
polygon.short {
fill: #de4559;
}


.pricebox {
width: 155px;
margin-right: 20px;
padding: 5px 0 8px 5px;
border-radius: 2px;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.lastmoveup {background: white url('/public/images/long-price-bg.png') repeat-y;}
.lastmovedown {background: white url('/public/images/short-price-bg.png') repeat-y;}
.lastmovenone {background: white url('/public/images/flat-price-bg.png') repeat-y;}


span.price {
  position: relative;
  top:2px;
  text-align: right;
  width: 130px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.mini-change {
text-align: right;
font-size: 0.6em;
}
.positive {
  color: #2c7cb3;
}
.negative {
  color: #de4559;
}


