// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.


body {
  font-size:20px;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0 0 0 40px;
  background-color: #eee;
}
div,span,p,h1,h2,h3,h4,h5,h6,input {
  font-family: 'Open Sans', Arial, sans-serif;
}

strong {font-weight:700;}

.uppercase {text-transform: uppercase;}


html {
  //zoom: 0.75;
}




/* IFE html prototype styles start here */

.table-head {
  width: 700px;
  line-height: 1;
  height: 30px;
}
.table-head h4 {
width: 500px;
display: inline-block;
font-weight: 600;
font-size: 1em;
padding: 3px 0 4px 0;
}
.component-menu-icon {
  text-decoration: none;
  color:#0066cc;
  position: relative;
  left: 3px
}

span.component-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

/* Watch list  tables  */
.watchlist-table {
  width: 740px;
  margin-left: -40px;
  margin-top:4px;
}
.positions-table {
  width: 740px;
  margin-left: -40px;
}
.orders-table {
  width: 740px;
  margin-left: -40px;
}
.stock-table {
  display: inline-block;
  padding-bottom: 6px;
  margin-bottom: 0;
  border-bottom: 1px black solid;
}
.stock-table table th, .stock-table table td {
  font-size: 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  padding:0;
}

.stock-table table {

}
.stock-table table th {
line-height: 1;
font-size: 0.66em;
font-weight: 700;
color: #808080;
text-transform: uppercase;
position: relative;
top:1px;
}
.stock-table td {
  line-height: 1;
  height: 60px;
  vertical-align: top;
}
.stock-table th:first-child, .stock-table td:first-child {
}
.stock-table th:last-child, .stock-table td:last-child {
  padding-right:0;
}
.stock-table thead tr {
  height: 50px;
}

.stock-table .toprow td {
  padding-top:3px;
}
.stock-table tr {
height:10px;
}
.stock-table th {
}
.stock-table table {
  width: 100%;
}

/* fiddles for the open positions list */
td.stock-reveal {width:40px;}

td.stock-name {text-align: left; width:400px;} 
td.stock-edit {text-align: center}
td.stock-edit .icon {margin-left:20px;}
td.stock-direction {width:60px;text-align:left;}
td.stock-direction .icon {margin-left:20px;}
td.stock-edit {text-align:left;width:60px;}
td.stock-pl {width:100px;text-align: right}
td.stock-close {width:60px;}
td.stock-close .icon {margin-left:42px;}


.pnl-profit {border-bottom: double 6px #1ba12d;}
.pnl-loss {border-bottom: double 6px #de4559;}

/*fiddles for open orders */
td.stock-ordername {width:220px;} 
td.stock-order, td.stock-current {
  position: relative;
  top:-7px;
}
td.stock-quantity, td.stock-distance {
  position: relative;
  top:-5px;
  width: 80px;
}
td.stock-delete {width:20px;}
td.stock-delete .icon {margin-left:2px;}


/* fiddles for the watchlist */
td.stock-market {width: 360px;}
td.stock-short, td.stock-long {
  position: relative;
  top:-7px;
}
td.stock-minichart {
  position: relative;
  top: -10px;
}

.positions-table polygon.long {
fill: white;
}
.positions-table polygon.short {
fill: #de4559;
}








/* Deal ticket */
.deal-ticket {
  border: 1px solid #666;
  width: initial;
  padding: 1em;
}
ul.ticket-type {
  border-bottom: 2px black solid;
  margin-bottom: 2em;
}
ul.ticket-type  li {
  display: inline-block;
  padding: 0.52em 0.6em 1em 0;
}

.ticket-type-active {
  font-weight: 700;
  color: black;
}



/* Flashing */
.i_flash1 {
    background-color: red;
}
.i_flash2 {
    background-color: blue;
}



/* Heatmap gridded layout */

.heatmap-box {
  width:320px;
float:left;
margin-right:40px;
}

p.heatmap-stock-name {
  padding-bottom: 0;
  margin-bottom: 0.7em;
}
span.heatmap-box-menu {
  width:20px;
  overflow: hidden;
  float: right;
  clear: left;
  margin-top: 5px;
}

.heatmap-current {
padding:-1px 0 -2px 0;
border-top:1px solid #cf0a0a;
border-bottom: 5px solid #cf0a0a;
width: 140px;
text-align: center;
font-weight: 700;
color: #444;
font-size: 1.4em;
}
.heatmap-bignum {
color: black;
font-size: 1.6em;
}

.heatmap-details {
color: #666;
font-size: 0.76em;
font-weight: 600;
margin-top: 5px;
}

span.heatmap-low {
width: 120px;
float: left;
}

span.heatmap-spread {
float: left;
width:80px;
text-align: center;
}

span.heatmap-high {
width: 120px;
text-align: right;
float: right;
}

.heatmap-change {
width: 320px;
padding:12px 0 12px 0;
font-size: 1.3em;
border-top:1px solid #00cc41;
border-bottom: 5px solid #00cc41;
background-color: #ccf5d9;
text-align: center;
color: #008028;
font-weight: 700;

}

.with-vgrid {
  background-image: url(/public/images/vgrid-10-10.png);
  background-repeat: repeat;
}


/* News headlines and story */
#news-headline-list {
  
}
.news h1 {
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px 0 7px 0;
  margin-bottom: 0;
}
.news h2 {
  font-size: 1.6em;
  line-height: 40px;
  padding: 5px 0 11px 0;
  margin: 0 0 0 0;
}
.news h3 {
  font-size: 1.35em;
  line-height: 30px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 15px 0;
}
.news p {
  margin: 0 0 12px 0;
  font-size: 20px;
  line-height: 30px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break:break-word;
  hyphens: auto;
  hyphenate-before: 3;
  hyphenate-after: 3;
}
.news p a {
  text-decoration: none;
  color: #0066cc;
}
ol.news-list {
  postion:absolute;
  top: 50px;
  width:600px;
  overflow: auto;
  height: 93%;
}
ol.news-list {
  margin-top: 0;
}
ol.news-list  li {
  width: 520px;
  height: 220px;
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  color: black;
  padding: 0 0.6em 0 0;
  margin-bottom: 10px;
}
span.news-timecode {
  position: relative;
  top: 1px;
  font-size: 0.8em;
  color:#0066cc;
  height: 20px;
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: 1;
}
span.market-arrow {
  font-size: 0.8em;
  color:#0066cc;
  width: 3em;
  text-align: right;
  float: right;
  display: inline-block;
}
.newsthumb {
  height: 120px;
  overflow: hidden;
  margin-bottom: 9px;
}
.newsthumb img {
  width: 520px;
  margin-top: -25%
}
ol.news-list li.lead-story {
}

#news-story {
  width: 700px;
  display: inline-block;
}
#news-story h1,#news-story p {
  font-family: Georgia, Times, serif;
  color: #333;
}
#news-story h1 {
  font-size: 1.88em;
  line-height: 1.1;
  margin: 12px 0 10px 0;
}
span.news-byline {
  display: inline-block;
  font-size: 0.8em;
  color: #333;
  margin: 0 0 18px 0;
}
#news-story p {
  text-indent: 40px;
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 2;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break:break-word;
  hyphens: auto;
  hyphenate-before: 3;
  hyphenate-after: 3;
}


ul.hoznav li {
display: inline-block;
margin-right:40px;
font-size: 0.85em;
font-weight: 600;
}
li.active {
  color:#444;
  border-bottom: solid 2px #444;
}


span.market-arrow a {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #0066cc;
}

ol.info-list {
  margin-top: 10px;
}
ol.info-list  li {
  font-weight: 500;
  color: black;
  font-size: 0.9em;
  line-height: 2.2;
  padding: 0 0.6em 0 0;
}
.info-list a {
  text-decoration: none;
  color: #0066cc;
}






/* Floating bottom bar for constant P&L, funds, profit */

#bottom-bar {
background-color: #ffffcc;
bottom: 0;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
border-top: #cccc00 1px solid;
height: 80px;
padding-left: 300px;
position: fixed;
overflow: hidden;
right: 0;
width: 100%;
z-index: 1
}
#bottom-bar table {
  margin-top:8px;
}
#bottom-bar table tbody td,#bottom-bar table thead th {
  line-height: 1.4;
  padding: 0.3em;
  margin: 0;
}


/* Doing things with SVG icons */
.icon {
  display:inline-block;
}
.reveal-icon {
  position: relative;
  top: 2px;
  left: 11px;
  width: 18px;
  height: 18px;
}
.trade-icon {
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
}
.edit-icon {
  position: relative;
  top: 1px;
  width: 16px;
  height: 16px;
}
.close-icon {
  position: relative;
  top: 1px;
  left:3px;
  width: 16px;
  height: 16px;
}
.delete-icon {
  position: relative;
  top: 1px;
  left:3px;
  width: 16px;
  height: 16px;
}
.price-icon {
  position: relative;
  top: 2px;
  width: 12px;
  height: 12px;
}
.clock-icon {
  position: relative;
  top: 0px;
  left:11px;
  width: 10px;
  height: 10px;
}
.foldup-icon {
  position: relative;
  top: 2px;
  left:0px;
  width: 18px;
  height: 18px;
}
.chart-icon {
  position: relative;
  top: 0px;
  left:3px;
  width: 18px;
  height: 18px;
}



polygon.fill-white {
  fill:white;
}
polygon.long {
fill: #2c7cb3;
}
polygon.short {
fill: #de4559;
}

/* A standard box to present price info. Is chunky and has a shadow – can be clicked on! */
.pricebox {
width: 95px;
margin-right: 20px;
padding: 5px 0 8px 5px;
border-radius: 2px;
-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
background-color: white;
}
.lastmoveup {background: white url('/public/images/long-price-bg.png') repeat-y;}
.lastmovedown {background: white url('/public/images/short-price-bg.png') repeat-y;}
.lastmovenone {background: white url('/public/images/flat-price-bg.png') repeat-y;}

/* A similar box to present numbers, that are not interactive so are chunk and clear but not clickable */
.numberbox {
margin-right: 20px;
padding: 5px 5px 8px 5px;
border-radius: 2px;
background-color: #ffffee;
  text-align: right;

}
span.number {
  font-size: 0.85em;
  font-weight: 600;
  text-align: right;
  display: inline-block;
}

span.price {
  position: relative;
  left: 10px;
  top:2px;
  text-align: right;
  width: 60px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.mini-change {
text-align: right;
font-size: 0.6em;
}
.positive {
  color: #2c7cb3;
}
.negative {
  color: #de4559;
}




/* Ticket stuff */
.ticket {
  background-color: white;
  border-radius: 8px;
  //border: 3px solid #999;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.25);
}
#ticket-name {
  color:#333;
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  width: 232px;
  margin-right: 36px;
  padding-top: 6px;
  font-weight: 700;
}
.ticket #market-name {
//font-weight: 300;
font-size: 1.2em;
padding: 0px 0 14px 0;
}

/* ACTUAL ITEM STYLES FROM GUIDE PAGES */

.form-label {
//font-size:120%;
padding-top:0.75em;
font-weight:600;
font-family: "Open Sans", Arial, sans-serif !important;
}
.form-control {
font-family: "Open Sans", Arial, sans-serif !important;
border:#333 solid 3px;
font-size:120%;
width:120px;
border-radius:4px;
line-height:1.6;
}
.form-display {
border-bottom:#666 solid 3px;
border-top:#eee solid 3px;
border-left:#eee solid 3px;
border-right:#eee solid 3px;
background-color: #eee;
font-size:120%;
width:120px;
border-radius:3px;
line-height:1.6;
color: #444;
}
.example-text {
//font-size: 0.9em;
padding-top:0.33em;
}







.primary-button {
  background-color: #4eb46b;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size:1em;
  color: white;
  border: none;
  border-bottom: 2px #368750 solid;
  border-radius: 3px;
  padding: 0.5em 1.5em;
  margin: 0.5em 0;
}
.primary-button p {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.secondary-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size:1em;
  color: white;
  border: none;
  border-bottom: 2px #444 solid;
  border-radius: 3px;
  width: 160px;
  padding-bottom: 12px;
}
.secondary-button p {
  font-size: 0.8em;
  font-weight: 600;
  padding: 0 0 3px 0;
  margin: 0 0 0 0;
}

.arrow-button {
  background-color: white;
  border:none;
  font-size: 20px;
  padding: 6px 10px
}


.sell {
  font-size:1.1em;
  background-color: rgba(229, 78, 89, 1);
  border-bottom-color: #b33941;
}
.buy {
  font-size:1.1em;
  background-color: rgba(21, 125, 177, 1);
  border-bottom-color: #1f5a78;
}
.sell .upward:before {
  content: '\25B2';
  padding-right:0.33em;
  margin-left:-0.25em;
}
.sell .downward:before {
  content: '\25BC';
  padding-right:0.33em;
  margin-left:-0.25em;
}
.buy .upward:after {
  content: '\25B2';
  padding-left:0.33em;
  margin-right:-0.25em;
}
.buy .downward:after {
  content: '\25BC';
  padding-left:0.33em;
  margin-right:-0.25em;
}

.form-control {
  line-height: 1.65;
}

.control-button-solid {
  background-color: #333;
  color: white;
  border: 2px #333 solid;
  border-bottom: 2px #111 solid;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.control-button-outline {
  background-color: #fefefe;
  color: #333;
  //border: none;
  border: 2px #111 solid;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.text-button-solid {
  background-color: #333;
  color: white;
  border: 2px #333 solid;
  border-bottom: 2px #111 solid;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.25em 0.4em;
  margin: 0;
}

.text-button-outline {
  background-color: #fefefe;
  color: #333;
  //border: none;
  border: 2px #111 solid;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.25em 0.4em;
  margin: 0;
}


.highlighted {
  background-color: #fbee48;
}
.glyphicons-mini {
  margin: -0.3em -0.4em -0.3em -0.4em;
  padding: 0;
  font-size: 100%;
}
.glyphicons-mid {
  margin: -0.1em -0.2em -0.1em -0.2em;
  padding: 0;
  font-size: 140%;
}
.glyphicons-maxi {
//margin: -0.2em -0.3em -0.3em -0.3em;
  padding: 0;
  font-size: 166%;
}

.zeropad {
  padding:0 !important;
}



/* Dropdown Button */
.dropbtn {
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  //background-color: #ffff99;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background: transparent url('/public/images/table-menu-triangle-left.png') 0 26px no-repeat;
  display: none;
  position: absolute;
  min-width: 110px;
  text-align: left;
  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: -48px;
  margin-left: 36px;
  
}

.dropmenu {
  background-color: white;
  border-radius: 3px;
  border:2px #333 solid;
  margin-left: 8px;
  padding: 0.1em 0 0.66em 0;

}

/* Links inside the dropdown */
.dropdown-content a {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.75;
  padding: 6px 10px 0px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #ffb;
color:#000066;
  text-decoration: none;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

