<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<link rel="stylesheet" href="/public/stylesheets/framework7.ios.min.css">
<!-- Path to your custom app styles-->




</head>


<body>
<img src="/public/images/ios-statusbar.png" width="100%">




    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <!-- Navbar inner for Index page-->
          <div data-page="index" class="navbar-inner">
            <div class="left"><a href="javascript:history.back()" class="back link"> <i class="icon icon-back"></i><span>Chart</span></a></div>
            <div class="center sliding">Indicators</div>
            <div class="right">
              <!-- Right link empty -->
            </div>
          </div>
          <!-- Navbar inner for About page-->
          <div data-page="movingaverage" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">Moving average</div>
          </div>
          <!-- Navbar inner for Services page-->
          <div data-page="bollingerbands" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">Bollinger bands</div>
            <div class="right">
            <a href="#back-to-chart" class="create link"><span style="font-weight: 600">Create</span></a>
            </div>
          </div>
          <!-- Navbar inner for Form page-->
          <div data-page="rsi" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">RSI</div>
            <div class="right">
            <a href="#back-to-chart" class="create link"><span style="font-weight: 600">Create</span></a>
            </div>
          </div>
        </div>




        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Index Page-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              

              <div class="content-block-title">Popular indicators</div>
              <div class="list-block">
                <ul>
                  <li><a href="#movingaverage" class="item-link">
                      <div class="item-content">
                        <div class="item-inner"> 
                          <div class="item-title">Moving average</div>
                        </div>
                      </div></a></li>
                  <li><a href="#bollingerbands" class="item-link">
                      <div class="item-content"> 
                        <div class="item-inner">
                          <div class="item-title">Bollinger bands</div>
                        </div>
                      </div></a></li>
                  <li><a href="#rsi" class="item-link">
                      <div class="item-content"> 
                        <div class="item-inner">
                          <div class="item-title">RSI</div>
                        </div>
                      </div></a></li>
                </ul>
              </div>
             
            </div>
          </div>
          <!-- Moving average settings Page-->
          <div data-page="movingaverage" class="page cached">
            <div class="page-content">
              <div class="content-block">
                <p>You may go <a href="#" class="back">back</a> or load <a href="#services">Services</a> page.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel commodo massa, eu adipiscing mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus ultricies dictum neque, non varius tortor fermentum at. Curabitur auctor cursus imperdiet. Nam molestie nisi nec est lacinia volutpat in a purus. Maecenas consectetur condimentum viverra. Donec ultricies nec sem vel condimentum. Phasellus eu tincidunt enim, sit amet convallis orci. Vestibulum quis fringilla dolor.    </p>
                <p>Mauris commodo lacus at nisl lacinia, nec facilisis erat rhoncus. Sed eget pharetra nunc. Aenean vitae vehicula massa, sed sagittis ante. Quisque luctus nec velit dictum convallis. Nulla facilisi. Ut sed erat nisi. Donec non dolor massa. Mauris malesuada dolor velit, in suscipit leo consectetur vitae. Duis tempus ligula non eros pretium condimentum. Cras sed dolor odio.</p>
                <p>Suspendisse commodo adipiscing urna, a aliquet sem egestas in. Sed tincidunt dui a magna facilisis bibendum. Nunc euismod consectetur lorem vitae molestie. Proin mattis tellus libero, non hendrerit neque eleifend ac. Pellentesque interdum velit at lacus consectetur scelerisque et id dui. Praesent non fringilla dui, a elementum purus. Proin vitae lacus libero. Nunc eget lectus non mi iaculis interdum vel a velit. Nullam tincidunt purus id lacus ornare, at elementum turpis euismod. Cras mauris enim, congue eu nisl sit amet, pulvinar semper erat. Suspendisse sed mauris diam.</p>
                <p>Nam eu mauris leo. Pellentesque aliquam vehicula est, sed lobortis tellus malesuada facilisis. Fusce at hendrerit ligula. Donec eu nibh convallis, pulvinar enim quis, lacinia diam. Ut semper ac magna nec ornare. Integer placerat justo sed nunc suscipit facilisis. Vestibulum ac tincidunt augue. Duis eu aliquet mauris, vel luctus mauris. Nulla non augue nec diam pharetra posuere at in mauris.</p>
              </div>
            </div>
          </div>







          <!-- Bollinger Bands settings Page-->
          <div data-page="bollingerbands" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Settings</div>
              <div class="list-block">
                <ul>

                  
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Period</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput1" type="number" pattern="[0-9]{3}" placeholder="20" value="20" maxlength="4" min="0" max="9999" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="20" step="0.1" data-options="display_selector: #sliderInput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label" style="overflow: visible;">Standard deviations</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" pattern="[0-9]{3}" placeholder="2" value="20"maxlength="4" min="0" max="9999" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="10" value="2" step="0.1" for="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                   <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fb3;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fb3</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                   <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Show zones</div>
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">OverBought</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderOutput1" type="number" placeholder="80" value="80">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="80" step="0.1" data-options="display_selector: #sliderOutput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">OverSold</div>

                        <div id="sliderOutput2" class="item-input" style="width:28% !important">
                          <input type="number" placeholder="20" value="20">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="20" step="0.1" data-options="display_selector: #sliderOutput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
              

            </div>
          </div>







          <!-- RSI settings Page-->
          <div data-page="rsi" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Settings</div>
              <div class="list-block">
                <ul>


              
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Period</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput1" type="number" placeholder="50" value="50">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="50" step="0.1" data-options="display_selector: #sliderInput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Field</div>
                        <div class="item-input">

                          <a href="#rsi" class="item-link">
                            <div class="item-content"> 
                              <div class="item-inner">
                                <div class="item-title" style="color:#c7c7cc">Close</div>
                              </div>
                            </div>
                          </a>

                          <!--

            <li>
              <a href="#rsi" class="item-link">
                <div class="item-content"> 
                  <div class="item-inner">
                    <div class="item-title">RSI</div>
                  </div>
                </div>
              </a>
            </li> 

            <div class="right">
            <a href="#back-to-chart" class="create link"><span style="font-weight: 600">Create</span></a>
            </div>
                          -->

                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Type</div>
                        <div class="item-input">

                          <a href="#rsi" class="item-link">
                            <div class="item-content"> 
                              <div class="item-inner">
                                <div class="item-title">Simple</div>
                              </div>
                            </div>
                          </a>

                        </div>
                      </div>
                    </div>
                  </li>

                   <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fb3;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fb3</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                   <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Show zones</div>
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">OverBought</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderOutput1" type="number" placeholder="80" value="80">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="80" step="0.1" data-options="display_selector: #sliderOutput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">OverSold</div>

                        <div id="sliderOutput2" class="item-input" style="width:28% !important">
                          <input type="number" placeholder="20" value="20">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="20" step="0.1" data-options="display_selector: #sliderOutput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>





        <!-- Moving average settings Page-->
          <div data-page="rsi-fieldmenu" class="page cached">
            <div class="page-content">
              <div class="content-block">
                <p>You may go <a href="#" class="back">back</a> or load <a href="#services">Services</a> page.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel commodo massa, eu adipiscing mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus ultricies dictum neque, non varius tortor fermentum at. Curabitur auctor cursus imperdiet. Nam molestie nisi nec est lacinia volutpat in a purus. Maecenas consectetur condimentum viverra. Donec ultricies nec sem vel condimentum. Phasellus eu tincidunt enim, sit amet convallis orci. Vestibulum quis fringilla dolor.    </p>
                <p>Mauris commodo lacus at nisl lacinia, nec facilisis erat rhoncus. Sed eget pharetra nunc. Aenean vitae vehicula massa, sed sagittis ante. Quisque luctus nec velit dictum convallis. Nulla facilisi. Ut sed erat nisi. Donec non dolor massa. Mauris malesuada dolor velit, in suscipit leo consectetur vitae. Duis tempus ligula non eros pretium condimentum. Cras sed dolor odio.</p>
                <p>Suspendisse commodo adipiscing urna, a aliquet sem egestas in. Sed tincidunt dui a magna facilisis bibendum. Nunc euismod consectetur lorem vitae molestie. Proin mattis tellus libero, non hendrerit neque eleifend ac. Pellentesque interdum velit at lacus consectetur scelerisque et id dui. Praesent non fringilla dui, a elementum purus. Proin vitae lacus libero. Nunc eget lectus non mi iaculis interdum vel a velit. Nullam tincidunt purus id lacus ornare, at elementum turpis euismod. Cras mauris enim, congue eu nisl sit amet, pulvinar semper erat. Suspendisse sed mauris diam.</p>
                <p>Nam eu mauris leo. Pellentesque aliquam vehicula est, sed lobortis tellus malesuada facilisis. Fusce at hendrerit ligula. Donec eu nibh convallis, pulvinar enim quis, lacinia diam. Ut semper ac magna nec ornare. Integer placerat justo sed nunc suscipit facilisis. Vestibulum ac tincidunt augue. Duis eu aliquet mauris, vel luctus mauris. Nulla non augue nec diam pharetra posuere at in mauris.</p>
              </div>
            </div>
          </div>
       

      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/public/javascripts/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/public/javascripts/my-app.js"></script>
  </body>
</html>