<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
 



<title>Test iOS ChartIQ Single Menu Screen</title>

<link rel="stylesheet" href="/public/stylesheets/framework7.ios.css">

</head>


<body>
<img src="/public/images/ios-statusbar.png" width="100%">



<div class="view view-main" data-page="index">
 
  <div class="navbar">
    <div class="navbar-inner navbar-on-center">

      <div class="left"><a href="javascript:history.back()" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>

      <div class="center " style="left: -25px;font-weight: 600">Charts</div>

      <div class="right">&nbsp;</div>

    </div>
  </div>




  <div class="pages navbar-through toolbar-through">
 
    <div data-page="index" class="page">
 
      <div class="page-content">
        <div class="content-block-title">Chart types</div>
          <div class="list-block">
            <ul>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Candle" checked="checked">
                  <div class="item-inner">
                    <div class="item-title">Candle</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Bar">
                  <div class="item-inner">
                    <div class="item-title">Bar</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Colored Bar">
                  <div class="item-inner">
                    <div class="item-title">Colored Bar</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Line">
                  <div class="item-inner">
                    <div class="item-title">Line</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Hollow Candle">
                  <div class="item-inner">
                    <div class="item-title">Hollow Candle</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Volume Candle">
                  <div class="item-inner">
                    <div class="item-title">Volume Candle</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Mountain">
                  <div class="item-inner">
                    <div class="item-title">Mountain</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Colored Line">
                  <div class="item-inner">
                    <div class="item-title">Colored Line</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Baseline Delta</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Heikin-Ashi</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Kagi</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Line Break</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Point &amp; Figure</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Range Bars</div>
                  </div>
                </label>
              </li>
               <li>
                <label class="label-radio item-content">
                  <input type="radio" name="ks-radio" value="Baseline Delta">
                  <div class="item-inner">
                    <div class="item-title">Renko</div>
                  </div>
                </label>
              </li>
            </ul>
          </div>


          <div class="content-block-title">Chart scale</div>
            <div class="list-block">

              <ul>
                <li>
                  <div class="item-content">
                    
                    <div class="item-inner"> 
                      <div class="item-title label">Log scale</div>
                      <div class="item-input">
                        <label class="label-switch" style="float:right">
                          <input type="checkbox">
                          <div class="checkbox"></div>
                        </label>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>




        </div>

      </div>

    </div>

  </body>

</html>
