<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">


<link rel="stylesheet" href="/public/stylesheets/framework7.ios.min.css">
<!-- Path to your custom app styles-->




</head>


<body>
<img src="/public/images/ios-statusbar.png" width="100%">




    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>Left panel content goes here</p>
      </div>
    </div>
    <!-- Right panel with cover effect-->
    <div class="panel panel-right panel-cover">
      <div class="content-block">
        <p>Right panel content goes here</p>
      </div>
    </div>
    <!-- Views-->
    <div class="views">
      <!-- Your main view, should have "view-main" class-->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <!-- Navbar inner for Index page-->
          <div data-page="index" class="navbar-inner">
            <div class="left"><a href="javascript:history.back()" class="back link"> <i class="icon icon-back"></i><span>Chart</span></a></div>
            <div class="center sliding">Indicators</div>
            <div class="right">
              <!-- Right link empty -->
            </div>
          </div>
          <!-- Navbar inner for About page-->
          <div data-page="movingaverage" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">Moving average</div>
          </div>
          <!-- Navbar inner for Services page-->
          <div data-page="bollingerbands" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">Bollinger bands</div>
            <div class="right">
            <a href="#back-to-chart" class="create link"><span style="font-weight: 600">Create</span></a>
            </div>
          </div>
          <!-- Navbar inner for Form page-->
          <div data-page="rsi" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Indicators</span></a></div>
            <div class="center sliding">RSI</div>
            <div class="right">
            <a href="#back-to-chart" class="create link"><span style="font-weight: 600">Create</span></a>
            </div>
          </div>

          <!-- Navbar inner for movingaverage-fieldmenu page-->
          <div data-page="movingaverage-fieldmenu" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Moving average</span></a></div>
            <div class="center sliding">Field</div>
            
          </div>
          <!-- Navbar inner for movingaverage-typemenu page-->
          <div data-page="movingaverage-typemenu" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Moving average</span></a></div>
            <div class="center sliding">Type</div>
            
          </div>

          <!-- Navbar inner for bollingerbands-fieldmenu page-->
          <div data-page="bollingerbands-fieldmenu" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Bollinger bands</span></a></div>
            <div class="center sliding">Field</div>
            
          </div>

          <!-- Navbar inner for bollingerbands-movingaveragetypemenu page-->
          <div data-page="bollingerbands-movingaveragetypemenu" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Bollinger bands</span></a></div>
            <div class="center sliding">MA type</div>
            
          </div>

          <!-- Navbar inner for rsi-fieldmenu page-->
          <div data-page="rsi-fieldmenu" class="navbar-inner cached">
            <div class="left sliding"><a href="#" class="back link"> <i class="icon icon-back"></i><span>RSI</span></a></div>
            <div class="center sliding">Field</div>
            
          </div>
        </div>




        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
          <!-- Index Page-->
          <div data-page="index" class="page">
            <!-- Scrollable page content-->
            <div class="page-content">
              

              <div class="content-block-title">Popular indicators</div>
              <div class="list-block">
                <ul>
                  <li><a href="#movingaverage" class="item-link">
                      <div class="item-content">
                        <div class="item-inner"> 
                          <div class="item-title">Moving average</div>
                        </div>
                      </div></a></li>
                  <li><a href="#bollingerbands" class="item-link">
                      <div class="item-content"> 
                        <div class="item-inner">
                          <div class="item-title">Bollinger bands</div>
                        </div>
                      </div></a></li>
                  <li><a href="#rsi" class="item-link">
                      <div class="item-content"> 
                        <div class="item-inner">
                          <div class="item-title">RSI</div>
                        </div>
                      </div></a></li>
                </ul>
              </div>
             
            </div>
          </div>



          <!-- Moving average settings Page-->
          <div data-page="movingaverage" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Settings</div>

              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Period</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput1" type="number" placeholder="50" value="50">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="50" step="0.1" data-options="display_selector: #sliderInput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <a href="#movingaverage-fieldmenu" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">Field</div>
                        <div class="item-after">Close</div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#movingaverage-typemenu" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">Type</div>
                        <div class="item-after">Simple</div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Offset</div>

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" placeholder="0" value="0">
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="0" step="0.1" data-options="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Underlay</div>
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fb3;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fb3</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>







          <!-- Bollinger Bands settings Page-->
          <div data-page="bollingerbands" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Settings</div>
              <div class="list-block">
                <ul>

                  <li>
                    <a href="#bollingerbands-fieldmenu" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">Field</div>
                        <div class="item-after">Close</div>
                      </div>
                    </a>
                  </li>

                  
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">Period</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput1" type="number" pattern="[0-9]{3}" placeholder="20" value="20"maxlength="4" min="0" max="9999" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="20" step="0.1" for="display_selector: #sliderInput1;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label" style="overflow: visible;">Standard deviations</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" pattern="[0-9]{3}" placeholder="2" value="20"maxlength="4" min="0" max="9999" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="10" value="2" step="0.1" for="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <a href="#bollingerbands-movingaveragetypemenu" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title">Moving average type</div>
                        <div class="item-after">Simple</div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Channel fill</div>
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Bollinger Bands top</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Bollinger Bands median</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fb3;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fb3</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Bollinger Bands bottom</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>



          <!-- RSI settings Page-->
          <div data-page="rsi" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Settings</div>

              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label" style="overflow: visible;">Period</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" pattern="[0-9]{3}" placeholder="14" value="14" maxlength="3" min="0" max="100" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="14" step="0.1" for="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                 <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">RSI Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fb3;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fb3</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                 <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Show zones</div>
                        <div class="item-input">
                          <label class="label-switch">
                            <input type="checkbox" checked="checked">
                            <div class="checkbox"></div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label" style="overflow: visible;">OverBought</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" pattern="[0-9]{3}" placeholder="80" value="80" maxlength="3" min="0" max="100" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="80" step="0.1" for="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label" style="overflow: visible;">OverSold</div>

                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner">

                        <div class="item-input" style="width:28% !important">
                          <input id="sliderInput2" type="number" pattern="[0-9]{3}" placeholder="20" value="20" maxlength="3" min="0" max="100" size="4" inputmode=numeric>
                        </div>

                        <div class="item-input">
                          <div class="range-slider">
                            <input type="range" min="0" max="100" value="20" step="0.1" for="display_selector: #sliderInput2;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="item-content">
                      <div class="item-inner"> 
                        <div class="item-title label">Colour</div>
                        <div class="item-input">

                          <div style="border-radius: 16px;background-color: #fc6;height: 32px;width:52px;">
                          <div style="color:#960;display: block;text-transform: uppercase;font-size: 0.85em;font-weight: 700;padding: 6px 0 0 8px">#fc6</div>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>





          <!-- movingaverage-fieldmenu Page -->
          <div data-page="movingaverage-fieldmenu" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Field type</div>

              <div class="list-block">

                <ul>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio1" value="Close" checked="checked">
                      <div class="item-inner">
                        <div class="item-title">Close</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio1" value="Open">
                      <div class="item-inner">
                        <div class="item-title">Open</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio1" value="High">
                      <div class="item-inner">
                        <div class="item-title">High</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio1" value="Low">
                      <div class="item-inner">
                        <div class="item-title">Low</div>
                      </div>
                    </label>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>




          <!-- movingaverage-typemenu Page -->
          <div data-page="movingaverage-typemenu" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Field type</div>

              <div class="list-block">

                <ul>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Simple" checked="checked">
                      <div class="item-inner">
                        <div class="item-title">Simple</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Exponential">
                      <div class="item-inner">
                        <div class="item-title">Exponential</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Time series">
                      <div class="item-inner">
                        <div class="item-title">Time series</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Triangular">
                      <div class="item-inner">
                        <div class="item-title">Triangular</div>
                      </div>
                    </label>
                  </li>

                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Variable">
                      <div class="item-inner">
                        <div class="item-title">Variable</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="VIDYA">
                      <div class="item-inner">
                        <div class="item-title">VIDYA</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Weighted">
                      <div class="item-inner">
                        <div class="item-title">Weighted</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio2" value="Welles Wilder">
                      <div class="item-inner">
                        <div class="item-title">Welles Wilder</div>
                      </div>
                    </label>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>



          <!-- bollingerbands-movingaveragetypemenu -->
          <div data-page="bollingerbands-movingaveragetypemenu" class="page cached">
            <div class="page-content">
              <div class="content-block-title">Field type</div>

              <div class="list-block">

                <ul>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Simple" checked="checked">
                      <div class="item-inner">
                        <div class="item-title">Simple</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Exponential">
                      <div class="item-inner">
                        <div class="item-title">Exponential</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Time series">
                      <div class="item-inner">
                        <div class="item-title">Time series</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Triangular">
                      <div class="item-inner">
                        <div class="item-title">Triangular</div>
                      </div>
                    </label>
                  </li>

                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Variable">
                      <div class="item-inner">
                        <div class="item-title">Variable</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="VIDYA">
                      <div class="item-inner">
                        <div class="item-title">VIDYA</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Weighted">
                      <div class="item-inner">
                        <div class="item-title">Weighted</div>
                      </div>
                    </label>
                  </li>
                  <li>
                    <label class="label-radio item-content">
                      <input type="radio" name="ks-radio3" value="Welles Wilder">
                      <div class="item-inner">
                        <div class="item-title">Welles Wilder</div>
                      </div>
                    </label>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>

        </div>
       
      </div>
    </div>







    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="/public/javascripts/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="/public/javascripts/my-app.js"></script>
  </body>
</html>