{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

<h1 class="heading-large">ChartIQ implementation notes</h1>

<div class="grid-row">
  <div class="column-two-thirds">

  <p>We reviewed the default pages included with the ChartIQ package and there are a number of UX improvements from the default we would like to implement before launch. Most of these are specific to the <strong>phone implementation</strong>, which is just a squashed version of the full-size chart really.</p>
 

<!--<h3 class="heading-medium">Search to be clearer as market search</h3>

<div class="stx-search">
  <input type="text" id="symbol" name="symbol" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="off" class="stx-input-field">
</div>

<br clear="all">-->


<!--<h3 class="heading-medium">Time menu</h3>

<p>Rather than use a popup menu as default chartIQ page, use a native picker on mobiles with <code style="overflow:visible;white-space:nowrap">&lt;select&gt;</code> and <code style="overflow:visible;white-space:nowrap">&lt;option&gt;</code> inputs.</p>

<div>
  <form>
    <select>
      <option value="1d" stxToggle="changePeriodicity(1,'day')">1 Day</option>
      <option value="1w" stxToggle="changePeriodicity(1,'week')">>1 Week</option>
      <option value="1m" stxToggle="changePeriodicity(1,'month')">1 Month</option>
      <option value="1min" stxToggle="changePeriodicity(1,1)">1 Min</option>
      <option value="5min" stxToggle="changePeriodicity(1,5)">5 Min</option>
      <option value="15min" stxToggle="changePeriodicity(1,15)">15 Min</option>
    </select>
  </form>
<div>

<br clear="all">-->





<h3 class="heading-medium">Chart menu</h3>

<div>

  <p>On mobile devices, this popup menu is too long to display well. Suggest using a new page, or full page overlay in the style of a standard list to pick from the long list.</p>

  <p><a href="chartiq-ios1">Example menu page</a>, as HTML+CSS closely following iOS styles.</p>

  <img src="/public/images/ios-menulist.png" width="320px" style="border:#999 2px solid">

</div>

<br clear="all">



<h3 class="heading-medium">Indicators menu</h3>

<div>

  <p>On mobile devices, this popup menu is also too big and complicated. Suggest using a set of new pages, to pick from and apply the relevant settings for the indicator on an individual mobile OS style page. Pressing 'Create' for each should add to chart, and return user to chart view.</p>

  <p><a href="chartiq-ios2">Example menu page</a>, as HTML+CSS closely following iOS styles.</p>



<div style="width:1000px;overflow: visible;margin-bottom:2em">
  <img src="/public/images/ios-indicatorlist1.png" width="320px" style="border:#999 2px solid;float:left;margin-right:10px">

  <img src="/public/images/ios-indicatorlist2.png" width="320px" style="border:#999 2px solid;float:left;margin-right:10px">

  <img src="/public/images/ios-indicatorlist3.png" width="320px" style="border:#999 2px solid;float:left">
  <br clear="all">
</div>




  <p>I have used the <a href="http://framework7.io">Framework7.io library</a> to achieve these iOS-style pages in HTML+CSS, but other frameworks can achieve similar results. A set of Android/Material Styles are included too. Alternatively, if native can be integrated with the HTML charting that might work too.</p>

  <p style="color:red">Note: Sliders don't appear when viewed with a desktop browser. For best results visit links on a phone.</p>

</div>

<br clear="all">




<h3 class="heading-medium">Native font on iOS</h3>

<div>

  <p style="font-size:1.4em">The quick brown fox jumps over the lazy dog.<br>
  <span style="background-color: #ffffdd;font-size: 0.5em;padding:0.2em 0.7em;border:1px solid #ee9">Should render as Open Sans on all platforms</span>
  </p>

  <p style="font-size:1.4em;font-family: -apple-system,'Open Sans',Arial,sans !important">The quick brown fox jumps over the lazy dog.<br>
  <span style="background-color: #ffffdd;font-size: 0.5em;padding:0.2em 0.7em;border:1px solid #ee9">Should render as San Francisco only on iOS</span>
  </p>

</div>




<h3 class="heading-medium">Putting it together</h3>

<div style="width:1000px;overflow: visible;margin-bottom:2em">

  <p>Main view of a chart on iOS:</p>

  <img src="/public/images/chartiq-iphone-main.png" style="margin-bottom: 2em">



  <p>Main view of a chart on iOS, landscape:</p>

  <img src="/public/images/chartiq-iphone-landscape.png" style="margin-bottom: 2em">




  <p>The flow as a PDF for iOS styled screens, with the chart + indicator menu structure:</p>

  <a href="/public/images/chartiq-mobile-ios-layouts.pdf"><img src="/public/images/chartiq-mobile-flow.png" width="250px"></a>

</div>





</div>
</div>


</main>

{{/content}}

{{/layout}}
