{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body>
<main id="content" role="main">
 

<h3>Search to be clearer as market search</h3>

<div class="stx-search">
  <input type="text" id="symbol" name="symbol" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="off" class="stx-input-field">
</div>



<h3>Duration menu, as native picker on mobiles</h3>

<div>
  <form>
    <select>
      <option value="1d" stxToggle="changePeriodicity(1,'day')">1 Day</option>
      <option value="1w" stxToggle="changePeriodicity(1,'week')">>1 Week</option>
      <option value="1m" stxToggle="changePeriodicity(1,'month')">1 Month</option>
      <option value="1min" stxToggle="changePeriodicity(1,1)">1 Min</option>
      <option value="5min" stxToggle="changePeriodicity(1,5)">5 Min</option>
      <option value="15min" stxToggle="changePeriodicity(1,15)">15 Min</option>
    </select>
  </form>
<div>


<h3>Chart menu</h3>

<div>

</div>


<h3>Native font on iOS</h3>

<div>

  <p>The quick brown fox jumps over the lazy dog</p>

  <p style="font-family: -apple-system,'Open Sans',Arial,sans">The quick brown fox jumps over the lazy dog</p>

</div>




</main>

{{/content}}

{{/layout}}
