{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/chat2.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if IE]>
<script type="text/javascript" src="/public/javascripts/PIE.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://basehold.it/30">

<main role="main" class="with-vgrid" style="font-family: 'Open Sans', Arial, sans-serif;">
 



<div class="grid-row">
 <div class="column-two-thirds">

  <div class="stock-table">
    <table width=100%>
      <thead>
        <tr>
          <th>Market</th>
          <th>&lt;-&gt;</th>
          <th>Sell</th>
          <th>Buy</th>
          <th>+/- %</th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-name"><strong>1</strong> Wall Street CFD</td>
          <td class="stock-spread">4.0</td>
          <td class="stock-sell">16190.8</td>
          <td class="stock-buy">16194.8</td>
          <td class="stock-change">224.8</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>2</strong> UK100 CFD</td>
          <td class="stock-spread">1.0</td>
          <td class="stock-sell">5831.3</td>
          <td class="stock-buy">5832.3</td>
          <td class="stock-change">102.5</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>3</strong> Germany 30 CFD</td>
          <td class="stock-spread">1.0</td>
          <td class="stock-sell">9231.5</td>
          <td class="stock-buy">9232.5</td>
          <td class="stock-change">243.7</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>4</strong> Gold CFD</td>
          <td class="stock-spread">0.4</td>
          <td class="stock-sell">1209.4</td>
          <td class="stock-buy">1209.8</td>
          <td class="stock-change">-28.8</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>5</strong> EUR/USD CFD</td>
          <td class="stock-spread">1.0</td>
          <td class="stock-sell">1.11891</td>
          <td class="stock-buy">1.11901</td>
          <td class="stock-change">-0.00470</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>6</strong> GBP/USD CFD</td>
          <td class="stock-spread">1.5</td>
          <td class="stock-sell">1.44692</td>
          <td class="stock-buy">1.44707</td>
          <td class="stock-change">-0.00280</td>
        </tr>

        <tr>
          <td class="stock-name"><strong>7</strong> Japan 225 CFD</td>
          <td class="stock-spread">10</td>
          <td class="stock-sell">15894</td>
          <td class="stock-buy">15904</td>
          <td class="stock-change">40</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br clear="all">


  <div class="convo">

    <div class="bubble promptbubble"><span class="">Buy [b], Sell [s], [space] for more, [h] for Help</span></div>


    <div class="bubble"><span class="userbubble">&gt; S 2</span></div>

    <div class="bubble" style="float:right"><span class="sysbubble">Sell USD/GBP at current market?</span></div>

    <br clear="all">

    <div class="bubble promptbubble"><span class="">Enter $ quantity or [esc] to cancel</span></div>

    <div class="bubble"><span class="userbubble calc-helper">$ 3600 
    <span class="input-helper">= 360,000 units | 3.64% of equity</span></span></div>

    <div class="bubble sysbubble" style="float:right">Your standard trade options are set at
    -$1,000 stop loss   x100 leverage   $1,800 take profit</span></div>

    <br clear="all">

    <div class="bubble promptbubble"><span class="">Confirm [y], Change [c] or Cancel [esc]</span></div>

    <div class="bubble"><span class="userbubble">&gt; Y</span></div>

    <div class="bubble" style="float:right"><span class="sysbubble">OK</span></div>
    
    <div class="bubble sysbubble">Sell postion in USD/GBP opened at 1.1453</span></div>
    
    <div class="bubble sysbubble">Please note overnight fee of $10.20 daily, $28.40 weekend applies </span></div>

    <br clear="all">

    <div class="bubble promptbubble"><span class="">
    [o] for your Open positions, 
    [t] for Trade history, [n] News headlines. [h] for Help any time.</span></div>

    <div class="bubble"><span class="userbubble">&gt; 3</span></div>

    <h2 class="heading-medium">Latest news</h2>

    <ol class="news-list">
      <li>1. <span class="news-timecode">14.31</span>
      US Stocks Snapshot - Wall St opens little changed as oil edges up</li>

      <li>2. <span class="news-timecode">14:30</span>
      Swiss Basilea says profits still 2-3 years away</li>

      <li>3. <span class="news-timecode">14:30</span>
      UPDATE 1 - Standard &amp; Poor’s affirms BHP Billiton’s credit rating</li>

      <li>4. <span class="news-timecode">14:30</span>
      Ex-divs to take 13.2 points off FTSE 100 on Mar.3</li>

      <li>5. <span class="news-timecode">14:28</span>
      UK’s Avonmouth LNG storage site to stop operations on April 30</li>

      <li>6. <span class="news-timecode">14:23</span>
      UPDATE 2 - Kenya’s inflation falls, may pave way for easing of rates</li>

      <li>7. <span class="news-timecode">14:23</span>
      UPDATE 1 - Russia to cut high-grade diesel exports from Primorsk in March - traders</li>

      <li>8.<span class="news-timecode">14:23</span>
      Belgian Q4 GDP confirmed at 0.3 pct qtr/qtr</li>

    </ol>

    <div class="bubble promptbubble"><span class="">1-7 for these stories, [space] for more, type any other option</span></div>

  </div><!-- end id=convo -->

  

  </div><!-- end grid-col -->
</div><!-- end grid-row -->



</main>




{{/content}}

{{/layout}}

