<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <title>Chat UI demo</title>



  <link href="/public/stylesheets/chat1.css" media="screen" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" href="http://basehold.it/30">-->

</head>

<body>

  <div class="chat-window">


  <strong>Brand</strong>

    

  <p>A Chat Log from a future trading platform</p>

  <div class="bubble" style="float:right"><span class="sysbubble">Hi Paul, here's your watchlist</span></div>

  <br clear="all">

    


  
  </div>





</body>
</html>

