<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mercury 1 - tables, svg, etc</title>


  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/public/javascripts/jquery.peity.js"></script>
  <!-- mini charts from http://benpickles.github.io/peity/ -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


  <link href="/public/stylesheets/concept1.css" media="screen" rel="stylesheet" type="text/css" />
  <!-- optional <link rel="stylesheet" href="http://basehold.it/10"> -->


  <!-- SVG ... should link this or include somehow later? -->
  <svg style="display:none">
    <defs>

      <g id="trade-direction-short">
        <polygon points="11.001,0 11,9.586 1.419,0.006 0.005,1.42 9.586,11 0,11.001 0.001,13 13,13 13.001,0 " class="short" />
      </g>

      <g id="trade-direction-long">
        <polygon points="0,1.999 9.586,2 0.005,11.581 1.419,12.995 11,3.415 11,13.001 13,12.999 13,0 0,0 " class="long" />
      </g>

      <g id="price-direction-short">
        <polygon points="11.001,0 11,9.586 1.419,0.006 0.005,1.42 9.586,11 0,11.001 0.001,13 13,13 13.001,0 " class="fill-white" />
      </g>

      <g id="price-direction-long">
        <polygon points="0,1.999 9.586,2 0.005,11.581 1.419,12.995 11,3.415 11,13.001 13,12.999 13,0 0,0 " class="fill-white" />
      </g>

      <g id="edit-icon">
        <path fill="#231F20" d="M10.181,0L0.133,10.049L0,13.01l2.961-0.133l10.05-10.05L10.181,0z M1.677,11.739l-1.042-1.042l9.604-9.604
  l1.042,1.041L1.677,11.739z"/>
        <circle fill="#231F20" cx="5.999" cy="13" r="1"/>
        <circle fill="#231F20" cx="9.499" cy="13" r="1"/>
        <circle fill="#231F20" cx="12.999" cy="13" r="1"/>
      </g>

      <g id="down-menu">
        <polygon fill="#000000" points="16.971,0 9.192,7.777 1.414,0 0,1.414 9.192,10.605 18.385,1.414 "/>
      </g>

      <g id="close-x">
        <polygon fill="#000000" points="13,1.411 11.588,0 6.5,5.089 1.411,0 0,1.412 5.088,6.5 0,11.589 1.411,13 6.5,7.911 11.589,13 13,11.589 7.911,6.5 "/>
      </g>

      <g id="clock">
        <path fill="#808080" d="M6.5,0C2.91,0,0,2.91,0,6.5S2.91,13,6.5,13c3.59,0,6.5-2.91,6.5-6.5S10.09,0,6.5,0z M9.876,7.945H6.479
  c-0.552,0-1-0.448-1-1V1.562c0-0.552,0.448-1,1-1s1,0.448,1,1v4.384h2.396c0.553,0,1,0.448,1,1S10.429,7.945,9.876,7.945z"/>
      </g>

      <g id="fold-up">
        <rect fill="#000000" width="13" height="2"/>
        <polygon fill="#000000" points="12,7.5 6.5,2 1,7.5 2.411,8.911 5.5,5.822 5.5,9 7.5,9 7.5,5.822 10.589,8.911 "/>
        <rect x="5.5" y="10" fill="#000000" width="2" height="1"/>
        <rect x="5.5" y="12" fill="#000000" width="2" height="1"/>
      </g>

      <g id="open-chart">
        <polygon fill="#AAAAAA" points="1,12 1,0 0,0 0,13 13,13 13,12 "/>
        <polygon fill="#000000" points="13,0 7.937,5.063 4.937,3.063 2,6 2,7.812 5.063,4.749 8.063,6.749 13,1.812 "/>
        <polygon fill="#000000" points="13,5.895 7.099,8.85 5.063,6.814 2,8.857 2,10.63 4.937,8.644 6.901,10.608 13,7.559 "/>
      </g>

    </defs>
  </svg>
  <!-- end the SVG icons and symbols ... style them later with css? -->


</head>

<body class="xwith-vgrid" lang="en">



<!-- use these to change the values of the ticket -->
  <input type="hidden" id="price" name="price" value="1.13703">
  <input type="hidden" id="spread" name="spread" value="1.2">
  <input type="hidden" id="margin" name="margin" value="200">
<!-- - - - - - - - - - - - - - - - - - - - - - - -->





<main>

<div id="leftcol" style="display:inline-block;float:left">


<div id="open-positions-list" style="display:inline-block;">

  <header class="table-head">
    <h4 class="uppercase">Open positions</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table positions-table">
    <table style="">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th style="text-align:left;">Market</th>
          <th style="text-align:center;">Trade</th>
          <th id="edit-title"><span style="margin-left:18px">Edit</span></th>
          <th id="PnL-title">
            <span style="margin-left:20px">P &amp; L</span><span style="display:none">Unrealised</span>
          </th>
          <th id="PnL-switches" style="text-align:right">
            <span style="border-bottom:2px solid black">GBP</span>
            <span style="margin-left:10px;color:#137fd7">%</span>
          </th>
          <th id="close-title" style="text-align:right;">Close</th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">Wall Street CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+193.40</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">UK100 CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
          <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-loss">-122.54</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">Germany 30 CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+856.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">Gold (per 0.1) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+34.20</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">EUR/USD (per 0.0001) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-short"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-loss">-40.98</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-name">GBP/USD (per 0.0001) CFD</td>
          <td class="stock-direction">
            <svg class="icon trade-icon" viewBox="0 0 13 13">
              <use xlink:href="#trade-direction-long"></use>
            </svg>
          </td>
          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>
          <td class="stock-pl" colspan="2"><span class="pnl-profit">+100.32</span></td>
          <td class="stock-close">
            <svg class="icon close-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- Ends the Open Positions List block -->


<br clear="all">


<div id="active-orders-list" style="display:inline-block;margin-top:24px;">

  <header class="table-head">
    <h4 class="uppercase">Active orders</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table orders-table">
    <table style="">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th style="text-align:left;">Market</th>
          <th id="edit-title"><span style="margin-left:18px">Edit</span></th>
          <th style="text-align:left;">Quantity<span style="display:none">uantity</span></th>
          <th style="text-align:left;">Trade @ Price</th>
          <th style="text-align:left;">Distance</th>
          <th style="text-align:left;">Current</th>
          <!--<th style="text-align:left;">Type</th>-->
          <th id="delete-title" style="text-align:right;"><span style="display:none">Delete</span></th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-ordername">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17550.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">218.9</span>
            </div>
          </td>

          <td class="stock-current">
            <div class="pricebox pricebox-long lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">17768.9</span>

            </div>
          </td>

          <!--<td class="stock-type"><span>GTC</span></td>-->

          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr class="toprow">
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-ordername">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17650.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">118.9</span>
            </div>
          </td>

          <td class="stock-current">
            <div class="pricebox pricebox-long lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">17768.9</span>

            </div>
          </td>

          <!--<td class="stock-type"><span>GTC</span></td>-->

          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        <tr class="toprow">
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-ordername">Wall Street CFD</td>

          <td class="stock-edit">
            <svg class="icon edit-icon" viewBox="0 0 14 14">
              <use xlink:href="#edit-icon"></use>
            </svg>
          </td>

          <td class="stock-quantity">
            <div class="numberbox">
              <span class="number">50.0</span>
            </div>
          </td>

          <td class="stock-order">
            <div class="pricebox pricebox-long ">

              <svg class="icon trade-icon" viewBox="0 0 13 13">
                <use xlink:href="#trade-direction-long"></use>
              </svg>

              <span class="price">17400.0</span>

            </div>
          </td>

          <td class="stock-distance">
            <div class="numberbox">
              <span class="number">368.9</span>
            </div>
          </td>

          <td class="stock-current">
            <div class="pricebox pricebox-long lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">17768.9</span>

            </div>
          </td>

          <!--<td class="stock-type"><span>GTC</span></td>-->

          <td class="stock-delete">
            <svg class="icon delete-icon" viewBox="0 0 14 14">
              <use xlink:href="#close-x"></use>
            </svg>
          </td>
        </tr>

        

      </tbody>
    </table>
  </div>
</div><!-- Ends the Open Positions List block -->


<br clear="all">




<div id="watchlist-block" style="display:inline-block;margin-top:24px">

<header class="table-head">
    <h4><span class="uppercase">Watchlist</span> &gt; Popular markets</h4>

    <span class="component-menu" id="openpositions-menu">
    <a href="#menu" class="component-menu-icon">
    &#9776;
    <span style="display:none">Menu</span>
    </a></span>

  </header> 

  <div class="stock-table watchlist-table">
    <table style="">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th style="text-align:left;">Market</th>
          <th>Short</th>
          <th>Long</th>
          <th>1 day</th>
          <th>
            <svg class="icon clock-icon" viewBox="0 0 14 14">
              <use xlink:href="#clock"></use>
            </svg>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr class="toprow">
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">Wall Street CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovedown">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price"><button class="show" style="background:none;font-size:1em;font-weight:600;font-family:'Open Sans',sans;padding:0;margin:0">
              18022.2
              </button></span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovedown">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">18022.2</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">7,7,10,6,5,7,4,5,4.5,6,4,3,5,2,2.5,1.5,3</span>

            <p class="mini-change negative">-0.26%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">UK100 CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">6377.0</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">6378.0</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">9,9,7,6.6,5,5.5,6,6.3,7,5,6,5.5,3,3.3,1,1.1,2,3,3.3,2</span>

            <p class="mini-change negative">-0.03%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">Germany 30 CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">10322.4</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">10323.4</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">6,6,5,9.9,9,4,5,5.5,3,2,4,3.5,3,1,1.3,4,5,6,3,3.3,3</span>

            <p class="mini-change positive">+0.35%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">Japan 225 CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">16985</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">16995</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">6,6.6,6.6,8,9,9.1,8.5,6,7,5,2,1.5,1,1.8,2,3,7,6,6.2,6.7,5,5.2</span>

            <p class="mini-change positive">+0.63%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">Bolsas y Mercados Espanoles Jun 16</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmoveup">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">10322</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmoveup">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">10323</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">2,2,1.6,7,7.4,7,6,7,6.6,6,7,7.5,7.3,7.8,8,6,7.4,8,7</span>

            <p class="mini-change positive">+0.08%</p>

          </td>
        </tr>


        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">GBP/USD CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">1.4469</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">1.4470</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">1,1.5,1.2,3,8,7.6,7.9,7,7.4,6.6,7.2,6.4,7,6,4,4.5,4</span>

            <p class="mini-change positive">+0.57%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">US SP500 DFT</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">2090.30</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">2090.40</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">4,4,1,4,7,9,6,7,5,7,2,2,2.4,2.6,3,2.4,6,5.5,6.2,5.6,6.3,5.1,5</span>

            <p class="mini-change positive">+4.04%</p>

          </td>
        </tr>

        <tr>
          <td class="stock-reveal">
            <svg class="icon reveal-icon" viewBox="0 0 19 11">
              <use xlink:href="#down-menu"></use>
            </svg>
          </td>
          <td class="stock-market">EUR/USD CFD</td>
          <td class="stock-short">

            <div class="pricebox pricebox-long lastmovenone">

              <svg class="icon price-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-short"></use>
              </svg>

              <span class="price">1.1260</span>

            </div>

          </td>
          <td class="stock-long">
            
            <div class="pricebox pricebox-short lastmovenone">

              <svg class="icon price-icon white-icon" viewBox="0 0 13 13">
                <use xlink:href="#price-direction-long"></use>
              </svg>

              <span class="price">1.1272</span>

            </div>

          </td>
          <td class="stock-minichart" colspan="2">

            <span class="sparkline" style="display: none;">1,1.3,5,7,6,7.4,7,7.2,6.7,7,5,6,3,3.5,3.2,3.7,3.3,4,5,3.3,4,3,3.2</span>

            <p class="mini-change positive">+11.62%</p>

          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>

</div><!-- end left col -->



<div style="margin-left:60px;float:left;">

<div class="news" id="news-headline-list" style="margin-top:6px;float:left">

    <ol class="news-list">
      <li class="lead-story">
      <h2>New U.S. home sales drop on sharp decline in the West</h2>


      <div class="newsthumb">
        <img src="/public/images/newsthumb-1.jpg">
      </div>


      <p>WASHINGTON New U.S. single-family home sales unexpect&shy;edly fell in March, but the decline was concentrated in the West region, suggesting that the housing market continued to strengthen.</p>
      </li>

      <li>
      <span class="news-timecode">10:25am EDT</span>
      <h3>Wall St. opens lower as earnings continue to underwhelm</h3>
      <p>U.S. stocks opened lower on Monday as corporate earnings continued to underwhelm and investors stayed away from risky assets a day before the start of the Federal Reserve's two-day policy meeting.</p>
      </li>

      <li>
      <span class="news-timecode">10:05am EDT</span>
      <h3>El-Erian says this week's Fed meeting to set stage for June hike</h3>
      <p>NEW YORK Mohamed El-Erian, the chief economic adviser at Allianz SE , said on Monday he expects this week's Federal Reserve policy-setting meeting to set the stage for a June interest rate hike.</p>
      </li>

      <li>
      <span class="news-timecode">10:20am EDT</span>
      <h3>Saudi prince unveils sweeping plans to end 'addiction' to oil</h3>
      <p>RIYADH The powerful young prince overseeing Saudi Arabia's economy unveiled ambitious plans on Monday aimed at ending the kingdom's "addiction" to oil and transforming it into a global investment power.</p>
      </li>

      <li>
      <span class="news-timecode">10:23am EDT</span>
      <h3>Global stocks, dollar stumble ahead of Fed, BOJ meetings</h3>
      <p>LONDON World stocks, the dollar and oil all fell modestly on Monday as investors locked in recent gains before central bank meetings in the United States and Japan this week.</p>
      </li>

      <li>
      <span class="news-timecode">7:22am EDT</span>
      <h3>Oil resumes rise after brief pause</h3>
      <p>LONDON Oil prices rose on Monday, extending recent gains, building on three weeks of higher prices and reversing earlier losses from traders taking profits.</p>
      </li>

    </ol>
  </div>


  <div id="news-story" style="margin-top:8px;float:left">
    <div>

      <span class="news-timecode">April 25, 2016 2:19pm EDT</span>

      <h1 class="news-headline">Saudi Arabia targets $2tn Aramco IPO as it outlines economic view</h1>

      <span class="news-byline">Anjli Raval in London and Simeon Kerr in Riyadh</span>

      <p>Saudi Arabia’s cabinet has approved the long-awaited plan for a big transformation of the oil-dependent economy, promising to list less than 5 per cent of the state oil company, Saudi Aramco, which will value it at more than $2tn.</p>

      <p>The so-called “Vision 2030”, brainchild of Prince Mohammed bin Salman, the deputy crown prince and most powerful man in the kingdom, has been in the works for months.</p>

      <p>Monday morning’s announcement of a cabinet approval was followed by an interview by the prince on the Saudi owned al-Arabiya channel, in which he optimistically asserted that the kingdom could end its reliance on oil within four years. Saudi Arabia derives more than 90 per cent of its budget revenues from hydrocarbons.</p>

      <p>“We have an addiction to oil ... this is dangerous,” he said. “It has delayed development of other sectors.”</p>

      <p>He added that he wants to convert Saudi Aramco into a holding company and that all financial information related to the company will be disclosed. Subsidiaries of the entity will also be listed and its board will be elected.</p>

      <p>“The vision is a road map of our development and economic goals,” he said. “A part of that is related to Aramco and this is a very small aspect.”</p>

      <p>The prince, who is also defence minister and oversees economic ministries, has emerged as the key decision maker in the country since his father, King Salman bin Abdulaziz, assumed the throne. He has since worked with a group of technocrats to slash expenditures, reform energy subsidies and lay out a vision for a post-oil economy.</p>

      <p>The collapse in oil prices, precipitated by Saudi Arabia’s decision to protect its market share rather than the oil price, has forced a re-evaluation of economic priorities in Riyadh, prompting the prince to press for the development of non-oil sectors. The prince cited mineral mining and a domestic military industry as priorities for development.</p>

      <p>As the nation awaits further details of the economic vision later on Monday, the prince said the plan envisaged boosting housing and jobs for an overwhelmingly young population.</p>

    </div>
  </div>

<br clear="all">


</div>



<!-- Start the TICKET -->
<!-- - - - - - - - -  -->
  <div class="ticket toggle" id="trade-max" style="margin-top:0px;float:left;display:block;z-index:10;position:absolute;top:100px;left:300px;">

    
    <div id="ticket-topbar">

      <div style="float:left;margin-right:20px">

        <svg class="icon foldup-icon" viewBox="0 0 14 14">
          <use xlink:href="#fold-up"></use>
        </svg>
      </div>



      <div id="ticket-name" style="float:left;margin-top:2px">
        <span style="border-bottom:2px solid #333;margin-left:35px">Trade</span>
        <a href="#" style="margin:0 15px">Order</a>
        <a href="#">Alert</a>
      </div>

      <button class="hide" style="background:none;border:0;padding:0;margin:0;float:right;">
      <svg class="icon close-icon" viewBox="0 0 14 14" style="padding-top:5px">
        <use xlink:href="#close-x"></use>
      </svg>
      </button>

    </div>

    <br clear="all">





    <div id="market-name" style="margin-top:12px">
      <!--<h2>Bolsas y Maercadod Espanoles SA Jun 16 Spread</h2>-->
      <h2 style="float:left;font-weight:300">EUR/USD Forex Spreadbet</h2>



        <svg class="icon chart-icon" viewBox="0 0 14 14" style="float:right;padding-top:6px">
          <use xlink:href="#open-chart"></use>
        </svg>

    </div>

    <br clear="all">




    <div id="buysell-pair" style="margin-top:4px">

      <button class="secondary-button sell" style="margin-right:15px">
        <p>Sell</p>
       

       <input class="price-field upward" type="number" id="sellprice" name="sellprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

      </button>

      <button class="secondary-button buy">
        <p>Buy</p>


        <input class="price-field downward" type="number" id="buyprice" name="buyprice" autocomplete="off" size="6" value="1.3544" style="text-align:center;width:140px;margin-top:-2px">

      </button>

    </div>





    <div id="ticket-quantity" style="margin-top:7px">

      <div id="pound-point" style="float:left;width:180px">

      <label class="form-label" for="quantity">&pound; Point <span style="color:#eee">/</span> <a href="#">Quantity</a> </label>

      <input class="form-control qty" type="number" id="quantity" name="quantity" autocomplete="off" size="6" value="0" style="width:140px;margin-top:-2px">

      </div>

     

      <div id="pound-arrows" style="float:left;margin:43px 0 0 -30px;width:20px">

      <input type="image" value='+' class="arrow-button qtyplus" field='quantity' src="/public/images/number-arrow-up.png">
      <input type="image" value='-' class="arrow-button qtyminus" field='quantity' src="/public/images/number-arrow-down.png">

      </div>

     



      <div id="pound-value" style="float:right">

      <label class="form-label" for="value">&pound; Value</label>

      <input class="form-control" type="" id="value" name="value" autocomplete="off" size="6" value="£0" style="width:140px;color:#666;border-color:#808080;margin-top:-2px">

      </div>


      <br clear="all">

    </div>





<!-- - - - - - STOPS - - - - - - -->
<!-- This is an open/close block -->
<div id="ticket-stops" style="margin-top:15px">
  <details style="" >
    <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
      <span class="" style="display:inline-block;width:170px;">Set stop loss</span><!-- this is the clickable open/close part -->

      <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addstop">+</a></span>
    </summary>

    <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;">

      <!-- hidden by default details here -->
      <div><!-- choose type of stop loss - standard, trailing or guaranteed - to use tabs selector -->
      <span style="border-bottom:solid 2px #333">standard</span> <span style="color:#eee">/</span> <a href="#">trailing</a> <span style="color:#eee">/</span> <a href="#">guaranteed</a>
      </div>


      <!-- set the points away or specific price here, default is points -->
      <div id="stop-price" style="float:left;">

        <label class="form-label" for="stopprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

        <input class="form-control" type="number" id="stopprice" name="stopprice" autocomplete="off" size="6" value="10" style="width:140px;">

      </div>

     

      <!-- the use arrows to change quantity x total risk amount -->
      <div id="stop-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

        <input type="image" value='+' class="arrow-button stopqtyplus" field='stopprice' src="/public/images/number-arrow-up.png">
        <input type="image" value='-' class="arrow-button stopqtyminus" field='stopprice' src="/public/images/number-arrow-down.png">

      </div>



      <!-- the total *large* value of the position is calcualted here based on price * pips * multi -->
      <div id="stop-value" style="float:right;margin-bottom:10px;">

        <label class="form-label" for="stopvalue">&pound; Loss</label>

        <input class="form-control" type="" id="stopvalue" name="stopvalue" autocomplete="off" size="6" value="" style="width:140px;color:#de4559;border-color:#808080">

      </div>

    </div>

    <br clear="all" style="">

  </details>

</div>
<!-- end the open/close block -->




<!-- - - - - - LIMIT - - - - - - -->
<!-- This is an open/close block -->
<div id="ticket-stops" style="margin-top:9px">
  <details style="" >
    <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
      <span class="" style="display:inline-block;width:170px;">Set limit</span><!-- this is the clickable open/close part -->

      <span class="addlimit" style="color:#eee;display:inline-block;width:140px;text-align:right"> <a href="#addlimit">+</a></span>
    </summary>

    <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

      <!-- hidden by default details here -->
     
      <!-- set the points away or specific price target here, default is points -->
      <div id="limit-price" style="float:left;">

        <label class="form-label" for="limitprice"><span>Points</span> <span style="color:#eee">/</span> <a href="#">Price</a></label>

        <input class="form-control" type="number" id="limitprice" name="limitprice" autocomplete="off" size="6" value="15" style="margin-top:-2px;width:140px;">

      </div>

     

      <!-- the use arrows to change price x profit target amount -->
      <div id="limit-arrows" style="float:left;margin:43px 0 0 10px;width:20px">

        <input type="image" value='+' class="arrow-button limitqtyplus" field='limitprice' src="/public/images/number-arrow-up.png">
        <input type="image" value='-' class="arrow-button limitqtyminus" field='limitprice' src="/public/images/number-arrow-down.png">

      </div>



      <!-- the potential profit to take is here... price * pips * multi -->
      <div id="stop-value" style="float:right">

        <label class="form-label" for="limitvalue">&pound; Profit</label>

        <input class="form-control" type="" id="limitvalue" name="limitvalue" autocomplete="off" size="6" value="" style="margin-top:-2px;width:140px;color:#1ba12d;border-color:#3E8853">

      </div>

    </div>

    <br clear="all">

  </details>
</div>
<!-- end the open/close block -->



<!-- - - - - - MARGIN - - - - - - -->
<!-- This is an open/close block -->
<div id="margin" style="margin-top:10px">
  <details style="" >
    <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true" style="">
      <span class="">Margin requirements</span><!-- this is the clickable open/close part -->
    </summary>

    <div class="js-hidden" id="details-content-0" aria-hidden="false" style="display:block;margin-top:-14px">

      <!-- hidden by default details here -->
     

      <div id="margin-available" class="data-attributes" style="float:left;margin:7px 10px 0 0">

      <input id="marginreq" class="form-control" name="marginreq" value="0" style="margin-top:5px;border:none;background:none" /><br>


        <span id="margindonut" data-peity='{ "fill": ["green", "#eeeeee"],  "innerRadius": 24, "radius": 35 }'>603/1234</span>
      </div>


      <div style="float:left">
        <p style="margin-top:24px;margin-bottom:10px;padding-bottom:0">Margin available:</p>

        <p style="margin-top:15px;margin-bottom:5px;padding-bottom:0"><strong style="width:6em;display:inline-block;">Pre-trade:</strong> <span id="marginall">1000</span></p>

        <p><strong style="width:6em;display:inline-block;">Post-trade:</strong> <span id="marginav">1234</span></p>
      </div>

      <br clear="all">

  </details>
</div>
<!-- end the open/close block -->


<button class="primary-button" style="width:100%">Place trade</button>


</div>
<!-- end the TICKET  -->
<!-- - - - - - - - - -->






<script type="text/javascript">



$(function() {
    $('.hide').click(function(){
        $('.toggle').hide();
        setDisplayValue();
    });
    $('.show').click(function(){
        $('.toggle').show();
        setDisplayValue();
    });
});

function setDisplayValue() {
    var display = $('.toggle')[0].style.display;
    $('.displayvalue').text(display);
}



function refreshNumbers() {
  // Get its current value
  var currentMid = parseFloat($('input[name='+"price"+']').val());
  var currentSpread = parseFloat($('input[name='+"spread"+']').val());
  var currentMargin = parseFloat($('input[name='+"margin"+']').val());
  // If is not undefined
  if (!isNaN(currentMid)) {
    var number = (currentMid + Math.floor(Math.random() * 1000) / 1700077);
    currentSpread = currentSpread / 20000;

    sellnumber = (parseFloat(number) - parseFloat(currentSpread)).toFixed(5);
    buynumber = (parseFloat(number) + parseFloat(currentSpread)).toFixed(5);
    $("#sellprice").val(sellnumber);
    $("#buyprice").val(buynumber);

    //do the number wang quantity x price = total value of trade
    var v_pound = $("#quantity").val();
    var price = buynumber;
    var value = (v_pound * price * 10000).toFixed(0);
    v_pound = numberWithCommas(value);

    $("#value").val('£' + v_pound);

    // Do the numberwang for STOPS
    var newquant = $("#quantity").val();
    var v_pound = $("#stopprice").val();
    v_pound = (v_pound * price * newquant).toFixed(0);
    v_stoppound = numberWithCommas(v_pound);

    $("#stopvalue").val('-£' + v_stoppound);

    // Do the numberwang for LIMITS

    var v_pound = $("#limitprice").val();
    v_pound = (v_pound * price * newquant).toFixed(0);
    v_limitpound = numberWithCommas(v_pound);


    $("#limitvalue").val('£' + v_limitpound);

    // Do the numberwang for MARGIN REQUIRED

    // Margin required is Value (Quantity x Price) * Margin rate (0.5% or similar) ...
    // then * any currency conversions to base (eg. to USD, yesterday's close + 0.0125) 
    var exchangerate = 1.4453 + 0.0125;
    var marginrate = 0.0005;
    
    v_pound = (value * marginrate / exchangerate).toFixed(2);
    marginreqraw = v_pound;
    v_marginpound = numberWithCommas(v_pound);

    $("#marginreq").val('£' + v_marginpound);

    // Do the numberwang for MARGIN AVAILABLE
    marginav = (parseFloat(currentMargin) - parseFloat(v_marginpound)).toFixed(0);

    margindonut = (marginreqraw + ',' + marginav);
    $("#margindonut").text(margindonut);
    $(".data-attributes span").peity("donut")

    marginav = numberWithCommas(marginav);
    $("#marginall").text('£' + currentMargin);
    $("#marginav").text('£' + marginav);

    $(".data-attributes span").peity("donut", {
  fill: function(_, i, all) {
    var g = parseInt((i / all.length) * 255)
    return "rgb( " + g + "," + (g * 5) + "," + g + ")"
  }
})


  }
}

refreshNumbers(); // for initial display

setInterval(function() {
 refreshNumbers(); // it excutes every 2sec
},500);



$(document).ready(function(){
  $("#quantity").change(function(){
    var v_pound = $(this).val();
    var price = 1.13488;
    v_pound = (v_pound * price * 10000).toFixed(2);
    v_pound = numberWithCommas(v_pound);

    $("#value").val('£' + v_pound);
  });
});


function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
}


$(".sparkline").peity("line", {
  width: 100,
  height: 40,
  fill: "#cbe0ed",
  stroke: "#0378ba",
  strokeWidth: 1.2
})



// QUANTITY buttons + calculator

$(document).ready(function(){
    // This button will increment the TRANSACTION value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
            var newquant = currentVal + 1;
            //do the number wang too
            var v_pound = $("#quantity").val();
            var price = 1.13488;
            var value = (v_pound * price * 10000).toFixed(0);
            v_pound = numberWithCommas(value);

            $("#value").val('£' + v_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS

            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);

            // Do the numberwang for MARGIN

            // Margin required is Value (Quantity x Price) * Margin rate (0.5% or similar) ...
            // then * any currency conversions to base (eg. to USD, yesterday's close + 0.0125) 
            var exchangerate = 1.4453 + 0.0125;
            var marginrate = 0.0005;
            
            v_pound = (value * marginrate / exchangerate).toFixed(2);
            v_marginpound = numberWithCommas(v_pound);

            $("#marginreq").val('£' + v_marginpound);

            $(".data-attributes span").peity("donut", {
              fill: function(_, i, all) {
                var g = parseInt((i / all.length) * 255)
                return "rgb( " + g + "," + (g * 5) + "," + g + ")"
              }
            })
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the TRANSACTION value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var v_pound = $("#quantity").val();
            var price = 1.13488;
            v_pound = (v_pound * price * 10000).toFixed(0);
            v_pound = numberWithCommas(v_pound);

            $("#value").val('£' + v_pound);

            // Do the numberwang for STOPS
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);

            // Do the numberwang for LIMITS
            var v_pound = $("#limitprice").val();
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});



// STOPS buttons + calculator

$(document).ready(function(){
    // This button will increment the STOP value
    $('.stopqtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);


            $("#stopvalue").val('-£' + v_stoppound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the STOP value till 0
    $(".stopqtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#stopprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_stoppound = numberWithCommas(v_pound);

            $("#stopvalue").val('-£' + v_stoppound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});




// LIMITS buttons + calculator

$(document).ready(function(){
    // This button will increment the LIMIT value
    $('.limitqtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            $('input[name='+fieldName+']').val(currentVal + 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#limitprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);


            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);


        }
    });
    // This button will decrement the LIMIT value till 0
    $(".limitqtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        var currentVal = parseInt($('input[name='+fieldName+']').val());
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            $('input[name='+fieldName+']').val(currentVal - 1);
            //do the number wang too
            var newquant = $("#quantity").val();
            var v_pound = $("#limitprice").val();
            var price = 1.13488;
            v_pound = (v_pound * price * newquant).toFixed(0);
            v_limitpound = numberWithCommas(v_pound);

            $("#limitvalue").val('£' + v_limitpound);
        } else {
            // Otherwise put a 0 there
            $('input[name='+fieldName+']').val(0);
        }
    });
});



$(".data-attributes span").peity("donut", {
  fill: function(_, i, all) {
    var g = parseInt((i / all.length) * 255)
    return "rgb( " + g + "," + (g * 5) + "," + g + ")"
  }
})

</script>

</body>
</html>

