{{<gain_template}}

{{$head}}

  {{>includes/gain-head}}

  {{>includes/gain-svg}}


{{/head}}



{{$content}}


  <main>

 



  {{>includes/open-positions-reveals}}

  {{>includes/active-orders}}

  {{>includes/watchlist}}

  
  

  <!-- use these to change the values of the ticket -->
    <input type="hidden" id="price" name="price" value="1.13703">
    <input type="hidden" id="spread" name="spread" value="1.2">
    <input type="hidden" id="margin" name="margin" value="200">
  <!-- - - - - - - - - - - - - - - - - - - - - - - -->


  {{>includes/tabbed-ticket}}



  </main>

{{/content}}

{{$bodyEnd}}
  {{>includes/gain-scripts}}
{{/bodyEnd}}

{{/gain_template}}
