{{<gain_template}}

{{$head}}

  {{>includes/gain-head}}

  {{>includes/gain-svg}}


{{/head}}



{{$content}}


  <main>

  {{>includes/gain-header}}

<div id="cols" style="overflow:visible">
  <div id="leftcol" style="display:inline-block;float:left">

  {{>includes/open-positions-reveals}}

  {{>includes/active-orders}}

  {{>includes/watchlist}}

  </div>



  <div style="margin-left:30px;float:left;">

  {{>includes/news-stories}}

  {{>includes/news-story}}

  </div>
</div>

  <!-- use these to change the values of the ticket -->
    <input type="hidden" id="price" name="price" value="1.13703">
    <input type="hidden" id="spread" name="spread" value="1.2">
    <input type="hidden" id="margin" name="margin" value="200">
  <!-- - - - - - - - - - - - - - - - - - - - - - - -->


  {{>includes/tabbed-ticketz}}



  </main>

{{/content}}

{{$bodyEnd}}
  {{>includes/gain-scripts}}
{{/bodyEnd}}

{{/gain_template}}
