{{<layout}}


{{$head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


{{/head}}



{{$content}}



<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />



<!-- <link rel="stylesheet" href="http://basehold.it/30">-->

<main id="content" role="main" class="trader">
  <h1 class="heading-large">Trading platform prototype</h1>

  <h2 class="heading-small">Deal ticket</h2>


  


<section >
  <div class="deal-ticket" style="width:45%">
  <form action="deal-receipt" method="get" class="form" id="deal-ticket-form" autocomplete="off">

  <h3 class="heading-medium" style="margin-top: 0.2em">Wall Street CFD</h3>

  <ul class="ticket-type">
    <li class="ticket-type-active">Trade</li>
    <li><a href="order">Order</a></li>
    <li><a href="alert">Alert</a></li>
    <li><a href="info">Info</a></li>
    <li><a href="chart">Chart</a></li>
    <li><a href="close" style="text-decoration: none;padding:0em 0.45em 0.1em 0.45em;border:blue 1px solid">X</a></li>
  </ul>


  <div class="deal-price-block" id="">

    <span class="deal-price" id="deal-sell-price" style="padding:1em;border:1px solid #666">Sell 16,791.1</span>

    <span class="deal-spread" id="deal-spread-amount" style="padding:1em;border:1px solid #666;margin:0 0.3em">4.2</span>

    <span class="deal-price" id="deal-buy-price" style="padding:1em;border:1px solid #666">Buy 16,795.3</span>

  </div>



  

  <!-- hide the non-interactive readonly price field and label - - - 
  <label class="form-label" for="deal-price" style="padding-top:2em">
  Price</label>

  <input type="tel" size="9" name="deal-price" value="16791.1" id="deal-price" class="form-control input-large" maxlength="9" style="width:5em" readonly>
  -->


  


  <label class="form-label" for="deal-quantity" style="padding-top:2em">
  Quantity</label>

  <input type="tel" size="9" name="deal-quantity" value="1" id="deal-quantity" class="form-control input-regular" maxlength="9" style="width:5em;text-align:right">

  <!-- change quantity units -->

  <div id="q-type-picker" style="float:right">
    <label for="radio-inline-1" class="block-label" style="float:right;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-1" type="radio"  name="q-type" value="gbp" style="display:none;">
    GBP
    </label>

    <label for="radio-inline-2" class="block-label" style="margin-right:5px;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-2" type="radio"  name="q-type" value="pip" checked="checked" style="display:none;">
    Pips
    </label>
  </div>

  <br clear="all">
  <!-- - - - - - - - - - - - -->




   <!-- Primary button, secondary links -->
  <div class="form-group" style="padding-top:2em">
    <input type="submit" class="button" value="Place trade" style="padding:1em 1.2em">
    <br /><span>Margin required &pound;1,234.56</span>
  </div>



  <p><a href="stops">Add a stop or limit...</a></p>

  <p><a href="hedge">Hedge trade...</a></p>



  </form>

	</div>
</section>


</main>


<!-- deal ticket confirmation copy 

You have placed an order to buy 5 at 16794.3 price on Wall Street CFD.
Your Trade is confirmed with an Order Id of 556254580.

Your attached Stop of 5 at 16787.3 is also confirmed with Order ID of 556254581.

To monitor your trade, please go to Open Positions

Thank you -->




<script type="text/javascript">
  
  function flashIt(element, times, klass, delay) {
    for (var i = 0; i < times; i++) {
        setTimeout(function () {
            $(element).toggleClass(klass);
        }, delay + (300 * i));
    };
};

//----------------------------------------------

//Below will flash in five seconds
setTimeout(function () {
    flashIt('#deal-sell-price', 10, 'i_flash1', 200)
}, 5000);

//Below will flash immedietly 
flashIt('#deal-buy-price', 10, 'i_flash2', 200)

//Below will flash immedietly and then remain the changed color
flashIt('#btn3', 9, 'i_flash2', 500)


</script>



{{/content}}

{{/layout}}

