{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main" style="font-family: 'Open Sans', Arial, sans-serif;">
  <form action="examples/elements/start" method="get" class="get-started" style="margin-top:1.5em">
  <!--<input type="hidden" name="nextlink" value="start">
  <input type="hidden" name="nextbacklink" value="start">-->


<div class="grid-row">
  <div class="column-two-thirds">

  <h1 class="heading-small" style="padding-bottom:0;margin-bottom:0;background: url('/public/images/icon-caret-left.png') left 0.4em no-repeat;
padding-left: 0.75em;"><a href="design-index">GAIN CAPITAL Design Kit</a></h1>



  <!--<p>Jump to <a href="#newpages">latest prototype pages</a></p> -->

 

 <div style="width:50%;float:left">
  <h4 class="heading-small">Fundamental elements</h4>

  <ol style="font-size:0.9em;line-height:1.5">
    <li><a href="design-text">Text</a></li>
    <li><a href="design-colour">Colours</a></li>
    <li><a href="design-prices">Prices</a></li>
    <li><a href="design-tables">Tables</a></li>
    <li><a href="design-buttons">Buttons</a></li>
    <li><a href="design-checkboxes">Checkboxes</a></li>
    <li><a href="design-menus">Menus</a></li>
    <li><a href="design-icons">Icons</a></li>
    <li><a href="design-forms">Form fields</a></li>
    <li><a href="design-tooltips">Tool tips</a></li>
    <li><a href="design-panels">Panels</a></li>
    <li><a href="design-showhide">Show/Hide controllers</a></li>
  </ol>
</div>


<div style="width:50%;float:left">
  <h4 class="heading-small">Platform components</h4>

  <ol style="font-size:0.9em;line-height: 1.5">
    <li><a href="design-ticket">Trade ticket</a></li>
    <li>Watch lists</li>
    <li>Open orders</li>
    <li>News headlines</li>
    <li>News story</li>
  </ol>
</div>

<br clear="all">

  <h2 class="heading-large" style="padding-top:0" id="elements">Text</h2>

  <p>Designing a new platform is an opportunity to unify our font choices around a modern set of typographic rules.</p>

  <p>For GAIN CAPITAL trading platforms we should look at standardising on a more modern screen font. City Index has already been using <strong>Open Sans</strong> for their marketing collateral, and this is a good choice for platforms too.</p>
    
  <div style="overflow:hidden">
    
    <p style="text-indent:0;line-height:1.4">
    <span class="note">96pt&nbsp;/&nbsp;5em</span>&nbsp;<span style="font-size:5em;font-weight:300">Abcdefghijklmnopqrstuvxyz<br /></span>
    <span class="note">72pt&nbsp;/&nbsp;4em</span>&nbsp;<span style="font-size:4em;font-weight:300">Abcdefghijklmnopqrstuvxyz<br /></span>
    <span class="note">48pt&nbsp;/&nbsp;2.65em</span>&nbsp;<span style="font-size:2.65em;font-weight:300">Abcdefghijklmnopqrstuvxyz<br /></span>
    <span class="note">32pt&nbsp;/&nbsp;1.8em</span>&nbsp;<span style="font-size:1.8em;font-weight:300">Abcdefghijklmnopqrstuvxyz<br /></span>
    <span class="note">28pt&nbsp;/&nbsp;1.55em</span>&nbsp;<span style="font-size:1.55em;line-height:1.3;font-weight:300">Abcdefghijklmnopqrstuvxyz<br /></span>
    <span class="note">21pt&nbsp;/&nbsp;1.15em</span>&nbsp;<span style="font-size:1.15em;line-height:1.5;font-weight:300">Abcdefghijklmnopqrstuvxyz<span style="color:#9be">&nbsp;300 Book<br /></span></span>
    <span class="note">18pt&nbsp;/&nbsp;1em</span>&nbsp;<span style="font-size:1em;line-height:1.5;font-weight:400">Abcdefghijklmnopqrstuvxyz <span style="color:#9be">400 Normal<br /></span></span>
    <span class="note">16pt&nbsp;/&nbsp;0.9em</span>&nbsp;<span style="font-size:0.9em;line-height:1.2;font-weight:400">Abcdefghijklmnopqrstuvxyz <span style="color:#9be">400 Normal<br /></span></span>
    <span class="note">14pt&nbsp;/&nbsp;0.8em</span>&nbsp;<span style="font-size:0.8em;line-height:0.6;font-weight:600">Abcdefghijklmnopqrstuvxyz <span style="color:#9be">600 Semi-Bold<br /></span></span>
    <span class="note">12pt&nbsp;/&nbsp;0.66em</span>&nbsp;<span style="font-size:0.66em;line-height:0.6;font-weight:600">Abcdefghijklmnopqrstuvxyz <span style="color:#9be">600 Semi-Bold<br /></span></span>
    <span class="note">10pt&nbsp;/&nbsp;0.55em</span>&nbsp;<span style="font-size:0.55em;line-height:0.6;font-weight:700">Abcdefghijklmnopqrstuvxyz <span style="color:#9be">700 Bold<br /></span></span>
    </p>
    
    <h3>Weights</h3>
          
    <p style="text-indent:0;line-height:1.;font-size:1.6em">
    <span style="font-weight:300">Font-weight 300 Book<br /></span>
    <span style="font-weight:400">Font-weight 400 Normal<br /></span>
    <span style="font-weight:600">Font-weight 600 Semi-Bold<br /></span>
    <span style="font-weight:700">Font-weight 700 Bold<br /></span>
    <span style="font-weight:800">Font-weight 800 Extra Bold<br /></span>
    </p>
    
    <p class="note">300 Book looks great at larger sizes, at medium sizes 400 Normal looks better and is more readable. Similarly, at small sizes 14pt and lower 600 Semi-Bold is preferred.</p>
      
  </div>





  </div>
  </p>
  </div>

  <!--<div class="column-third" style="background-color: #f0f0dc">

  <h2 class="heading-medium" style="margin:2.1em 0 2.4em 0" id="newpages">New pages</h2>

  <p style="font-size:0.9em"><a href="screen1">Prototype screen 1</a><br>
  Quick parts using the gov.uk styles</p>

  <p style="font-size:0.9em"><a href="screen3">Prototype screen / grid 3</a><br>
  Quick layout using gridster, draggable resizable components</p>

  <p style="font-size:0.9em"><a href="screen4">Prototype screen / grid 4</a><br>
  Layout using gridstack, like gridster + responsive</p>

  <p style="font-size:0.9em"><a href="chart-test">Quick test, chart launching</a><br>
  Technical test for ways that HTMl/JS can control the opening of links - into new windows, into tabs within the same window, etc</p>

  <p style="font-size:0.9em;text-decoration: line-through"><a href="chat">Prototype screen / Chat UI</a><br>
  Quick sketch of a conversation UI / text based UI (broken?)</p>

  <p style="font-size:0.9em"><a href="chat2">Prototype screen / Chat UI</a><br>
  Quick sketch of a conversation UI / text based UI</p>

  </div>-->
</div>







</main>

{{/content}}

{{/layout}}
