{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
 


<div class="grid-row">
  <div class="column-two-thirds">



  <h2 class="heading-large" style="" id="elements">Radio buttons</h2>

  <form action="basic-branch" method="get" class="form">
    <input type="hidden" name="nextlink" value="q2-platforms">



    <div class="form-group form-group-compound">

    <label for="radio-inline-1a" class="block-label" style="border-radius: 3px">
    <input id="radio-inline-1a" type="radio" name="reftype" value="used">
    I've used trading platforms before
    </label>



    <label for="radio-inline-1b" class="block-label" style="border-radius: 3px">
    <input id="radio-inline-1b" type="radio" name="reftype" value="notused">
    I've not used any trading platforms
    </label>


    </div>




  
  <br clear="all">


  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 



  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  <div style="background-color:#ff9;padding:1em 1em;margin-bottom:1em;font-size:90%">
    <h3 class="heading-medium" style="margin-top:0">GAIN CAPITAL Design patterns <span style="color:orange">BETA</span></h3>

  
    <div style="float:left">
      <h4 class="heading-small">Fundamental<br>elements</h4>

      <ol style="font-size:0.9em;line-height:1.5;float:left;padding-right:2em">
        <li><a href="design-text">Text</a></li>
        <li><a href="design-colour">Colours</a></li>
        <li><a href="design-prices">Prices</a></li>
        <li><a href="design-tables">Tables</a></li>
        <li><a href="design-buttons">Buttons</a></li>
        <li><a href="design-checkboxes">Checkboxes</a></li>
      </ol>

      <ol style="font-size:0.9em;line-height:1.5;float:left;padding-right:2em">
        <li><a href="design-menus">Menus</a></li>
        <li><a href="design-icons">Icons</a></li>
        <li><a href="design-forms">Form fields</a></li>
        <li><a href="design-tooltips">Tool tips</a></li>
        <li><a href="design-panels">Panels</a></li>
        <li><a href="design-showhide">Show/Hide controllers</a></li>
      </ol>
    </div>
  



  <div style="float:left">
    <h4 class="heading-small">Platform<br>components</h4>

    <ol style="font-size:0.9em;line-height: 1.5">
      <li><a href="design-ticket">Trade ticket</a></li>
      <li>Watch lists</li>
      <li>Open orders</li>
      <li>News headlines</li>
      <li>News story</li>
    </ol>
  </div>

  <br clear="all">

  </div>

  </div>
</div>







</main>

{{/content}}

{{/layout}}
