{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/public/stylesheets/glyphicons.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="font-family: 'Open Sans', Arial, sans-serif;">



<div class="grid-row">

  <div class="column-two-thirds">
 

  <h2 class="heading-large" style="padding-top:0" id="elements">Menus</h2>

  <p>Menus contain options and links to expand the choices available from a specific point on a page or form.</p>

  <p>Menus should not be a dumping ground for random functions, but should be a coherent selection of similar or related options.</p>

  <p>Generally avoid using hidden menus, rethink the needs and approach the problem using visible options first.</p>

  <div class="example" id="example-menu-select">

    <div style="float:left">
      <label class="form-label" for="terminate-order">
      Order is good til
      </label>
    </div>


    <div style="float:left;margin:6px 0 0 12px">
      <select class="input-select" name="select" id="terminate-order-menu">
        <option value="value2">Cancelled &#9660;</option> 
        <option value="value2">End of day</option>
        <option value="value3">End of week</option>
      </select>
    </div>

    <br clear="all">

    <p class="example-text" style="padding-bottom: 1em">Current price: 1695.4</p>

  </div>

  <p>Menus need to offer affordance, that is if it reacts to being swiped open, there should be an appropriate handle that invites this.</p>

  <p>If a menu appears from a button or link, it should offer appropriate 'button-ness' to invite this.</p>

  <p>Menus should not be hidden without explanation. Menus implemented as drop-down lists (aka select boxes) are generally <a href="https://designpatterns.hackpad.com/Select-boxes-KzQ1IRd07HL">poor choices</a> for accessibility for <a href="https://designpatterns.hackpad.com/Select-boxes-KzQ1IRd07HL#:h=Guidance">lots of reasons</a>.</p>


    
    <div class="example" id="example-menu-select">

      <br clear="all">

      <div id="drop1">
        <div style="float:left">
          <label class="form-label" for="watch-list-menu">
          Watch lists
          </label>
        </div>


        <div style="float:left;margin:6px 0 0 12px">
          <select class="input-select" name="watch-list-menu" id="watch-list-menu">
            <option value="value1" selected="">&#9776;</option> 
            <option value="value2">Popular Forex</option>
            <option value="value3">Popular Stocks</option>
            <option value="value4">Popular Commodities</option>
            <option value="value5">My CFDs</option>
            <option value="value5">+ new watchlist...</option>

          </select>
        </div>
      </div><!-- end drop 1 -->

      <br clear="all">

      <p class="example-text" style="padding-bottom: 1em;width:66%">Obvious and accessible, but on-release an action should happen as menu label cannot be displayed</p>


      <br clear="all">


      <div id="drop2">
        <div style="float:left">
          <label class="form-label" for="layout-list-menu">
          Workspace layouts
          </label>
        </div>

        <div style="float:left;margin:6px 0 0 12px">
          <select class="input-select" name="layout-list-menu" id="layout-list-menu">
            <option value="value1" selected="">&#9776;</option> 
            <option value="value2">1 Quicktrader</option>
            <option value="value3">2 Advantage Web</option>
            <option value="value4">3 Classic</option>
            <option value="value5">4 News and charts</option>
            <option value="value5">+ new layout...</option>

          </select>
        </div>

        <br clear="all">

        <p class="example-text" style="padding-bottom: 0">Non-obvious with poor discoverability</p>

      </div><!-- end drop 2 -->

    </div><!-- end example -->


    <p>Using select/option drop downs are sometimes painful for users and the behaviour may not match the actions desired, especially on mobile platforms. </p>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn text-button-outline">Dropdown</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#"><span class="glyphicons glyphicons-mini glyphicons-charts" style="width:2.5em"></span>&nbsp;Link 1</a>
        <a href="#"><span class="glyphicons glyphicons-mini glyphicons-pie-chart" style="width:2.5em"></span>&nbsp;Link 2</a>
        <a href="#"><span class="glyphicons glyphicons-mini glyphicons-cogwheels" style="width:2.5em"></span>&nbsp;Link 3</a>
      </div>
    </div>

    <p style="margin-top:1em">An alternative is using javascript to show/hide a menu, this has the benefit of allowing a tighter degree of control over the elements used and how they are dislayed, eg. including and icon in the list of items, and specific effects for hover/activation and touch controls.</p>

    <script type="text/javascript">
      /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>



  </div><!-- end column two thirds -->

  <div class="column-third">

  <div style="background-color:#ff9;padding:1em 1em;margin-bottom:1em;font-size:90%">
    <h3 class="heading-medium" style="margin-top:0">GAIN CAPITAL Design patterns <span style="color:orange">BETA</span></h3>

  
    <div style="float:left">
      <h4 class="heading-small">Fundamental elements</h4>

      <ol style="font-size:0.9em;line-height:1.5;">
        <li><a href="design-text">Text</a></li>
        <li><a href="design-colour">Colours</a></li>
        <li><a href="design-prices">Prices</a></li>
        <li><a href="design-tables">Tables</a></li>
        <li><a href="design-buttons">Buttons</a></li>
        <li><a href="design-checkboxes">Checkboxes</a></li>
      </ol>

      <ol style="font-size:0.9em;line-height:1.5;">
        <li><a href="design-menus">Menus</a></li>
        <li><a href="design-icons">Icons</a></li>
        <li><a href="design-forms">Form fields</a></li>
        <li><a href="design-tooltips">Tool tips</a></li>
        <li><a href="design-panels">Panels</a></li>
        <li><a href="design-showhide">Show/Hide controllers</a></li>
      </ol>
    </div>
  



  <div style="float:left">
    <h4 class="heading-small">Platform components</h4>

    <ol style="font-size:0.9em;line-height: 1.5">
      <li><a href="design-ticket">Trade ticket</a></li>
      <li>Watch lists</li>
      <li>Open orders</li>
      <li>News headlines</li>
      <li>News story</li>
    </ol>
  </div>

  <br clear="all">

  </div>

  </div>
</div>







</main>

{{/content}}

{{/layout}}
