{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<main id="content" role="main">
  <h1 class="heading-large">Economic calendar</h1>


  <div id="month">
  <ul class="month-list">

  <li>20</li>
	<li>21</li>
	<li>22</li>
	<li>23</li>
	<li>24</li>
	<li>25</li>
	<li>26</li>
	<li>27</li>
	<li>28</li>
	<li>29</li>
	<li>30</li>

	<li class="month-name">July</li>

	<li class="daymarked">01</li>
	<li>02</li>
	<li>03</li>
	<li>04</li>
	<li class="today">05</li>
	<li>06</li>
	<li>07</li>
	<li>08</li>
	<li>09</li>
	<li>10</li>
	<li>11</li>
	<li>12</li>
	<li>13</li>
	<li class="daymarked">14</li>
	<li>15</li>
	<li>16</li>
	<li>17</li>
	<li>18</li>
	<li>19</li>
	<li>20</li>
	<li class="daymarked">21</li>
	<li class="daymarked">22</li>
	<li>23</li>
	<li>24</li>
	<li>25</li>
	<li>26</li>
	<li>27</li>
	<li>28</li>
	<li>29</li>
	<li>30</li>
	<li>31</li>

	<li class="month-name">August</li>

	<li>01</li>
	<li>02</li>
	<li>03</li>
	<li>04</li>
	<li>05</li>
	<li>06</li>
	<li>07</li>
	<li>08</li>
	<li>09</li>
	<li>10</li>
	<li>11</li>
	<li>12</li>
	<li>13</li>
	<li>14</li>
	<li>15</li>
	<li>16</li>
	<li>17</li>
	<li>18</li>
	<li>19</li>
	<li>20</li>
	<li>21</li>
	<li>22</li>
	<li>23</li>
	<li>24</li>
	<li>25</li>
	<li>26</li>
	<li>27</li>
	<li>28</li>
	<li>29</li>
	<li>30</li>
	<li>31</li>

	<li class="month-name">September</li>


	<li>01</li>
	<li>02</li>
	<li>03</li>
	<li>04</li>
	<li>05</li>
	<li>06</li>
	<li>07</li>
	<li>08</li>
	<li>09</li>
	<li>10</li>
	<li>11</li>
	<li>12</li>
	<li>13</li>
	<li>14</li>
	<li>15</li>
	<li>16</li>
	<li>17</li>
	<li>18</li>
	<li>19</li>
	<li>20</li>
	<li>21</li>
	<li>22</li>
	<li>23</li>
	<li>24</li>
	<li>25</li>
	<li>26</li>
	<li>27</li>
	<li>28</li>
	<li>29</li>
	<li>30</li>


	</ul>

  </div>
  <!-- END the top calendar slider -->


<section class="">
  <div class="container">


<table>


<tbody>

<tr>
<td colspan="4">
<center style="font-size:1.2em;font-weight:700;color:#999">Monday 17</center>

<span style="font-size:1.1em;float:right;margin-top:-1.1em">3 Events</span>
</td>
</tr>
<!-- this is a list divider with the day and date, number of events -->


<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	US: Empire State Mfg Survey
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!</span>
	<br>
	<span style="color:gray">08:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	US: Ecommerce Retail sales
	<span class="indicator-text">Low impact</span>
	<span class="indicator-icon">!</span>
	<br>
	<span style="color:gray">10:00, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-aus.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	AU: RBA Meeting Minutes
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!</span>
	<br>
	<span style="color:gray">21:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
<td colspan="4">
<center style="font-size:1.2em;font-weight:700;color:#999">Tuesday 18</center>

<span style="font-size:1.1em;float:right;margin-top:-1.1em">12 Events</span>
</td>
</tr>
<!-- this is a list divider with the day and date, number of events -->

<tr>
	<td><img src="/public/images/flag-eu.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	DE: IFO Survey
	<span class="indicator-text">High impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">04:00, 18 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->





<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	US:FHFA House Price Index
	<span class="indicator-text">Low impact</span>
	<span class="indicator-icon">!</span>
	<br>
	<span style="color:gray">10:00, 18 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-eu.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	EU: Employment
	<span class="indicator-text">Low impact</span>
	<span class="indicator-icon">!</span>
	<br>
	<span style="color:gray">11:30, 18 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-uk.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	Manufacturing Shipments (MoM)
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	NAHB Housing Market Index (Feb)
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	GDT Price Index
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-uk.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	Westpac Leading Index (MoM)
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-aus.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	ZEW Survey - Economic Sentiment (feb)
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-eu.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	API Weekly Crude Oil Stock
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->

<tr>
	<td><img src="/public/images/flag-usa.png" class="flag" align="top" /></td>
	<td colspan="3" style="font-weight: 600;font-size: 1em">
	Machinery Orders (YoY)
	<span class="indicator-text">Medium impact</span>
	<span class="indicator-icon">!!!</span>
	<br>
	<span style="color:gray">8:30, 17 Aug 2015</span>
	</td>
</tr>
<tr style="border-bottom: 1px #ccc solid">
	<td>
	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-folder.png" class="cal-item-icon" align="top" />

	<img src="/public/images/icon-bell.png" class="cal-item-icon" align="top" />
	</td>
	<td>Previous: 3.86</td>
	<td>Forecast: 4.75</td>
	<td>Actual: -0.9%</td>
</tr>
<!-- list item / takes two TR table rows -->
		

</tbody>

</thead>
</table>
</div></section>


</main>
{{/content}}

{{/layout}}

