{{<layout}}

{{$pageTitle}}
  Equilibrium
{{/pageTitle}}


{{$content}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>


  <main id="eqibody">

<div id="content" style="font-family: 'Roboto', Arial, sans-serif;">
  


<div class="grid-row">
  <div class="column-two-thirds">

  <h1 class="logo">
    <img src="/public/images/equilibrium-logo.png" alt="Equilibrium" class="eqi-logo">
    <span class="visually-hidden"> Equilibrium</span>
  </h1>

  <h2 id="tagline" class="heading-large">Cutting through biased mainstream media </h2>


  <!--<h3 class="subhead">What is it?</h3>-->

  <p class="bigger">We cut through the agendas organising the media landscape from left to right so you can read all sides of the argument on daily issues, easily and quickly.</p>



  <h3 class="heading-medium">The Equilibrium Platform</h3>

  <p>The press should act as a critical watchdog for the people, but too often today they are used as lobbying tools to support corporate or politcal agendas.   That's why we are developing - Equilibrium - a news service that aggregates every side of the argument so you can cut through the biased agendas.</p>





  <h3 class="heading-medium">How it works</h3>

  <p>We take key issues, debates and questions gripping society everyday and organise the media landscape from left to right. </p>

  <p>All national publications are included, so we retain no bias. Each issue, debate or question contains three layers. </p>

  <p>An example of how the platform works:</p>

  
<div class="level-box" style="background-color: #dfe;margin-bottom:1em">
  <p><strong>Question:</strong> In last nights debate with Paxman who came out on top: Teressa May or Jeremy Corbyn?</p>
</div>



<div class="level-box" style="">
  <div class="number-circle">
    <img src="/public/images/number-one-in-a-circle.png" width="80px">
  </div>
  

 <p><strong>Level 1: Headlines and the simple arguments</strong></p>
 <p>Story headlines and notes on the story</p>
</div>

 <br clear="all">
  


<div class="level-box" style="background-color: #fdc">
  <div class="number-circle">
    <img src="/public/images/number-two-in-a-circle.png" width="80px">
  </div>


  <p><strong>Level 2: Opinion pieces</strong></p>
  <p>The full article</p>
</div>
  <br clear="all">


<div class="level-box" style="background-color: #fcb">
   <div class="number-circle">
    <img src="/public/images/number-three-in-a-circle.png" width="80px">
  </div>


  <p><strong>Level 3: Facts and data</strong></p>
  <p>Policy documents, independent research or academic articles</p>
</div>
  <br clear="all">

  



  <p>The more engaged you are with any given subject: the deeper you go. </p>



  <h3 class="heading-medium">Sign up for early access</h3>

  <p>We're still getting set up. If you'd like to be one of our founding members please leave your details below and we'll be in touch shortly.</p>


  <form action="/action_page.php" method="get" id="form1">

  <fieldset>
    <label class="form-label" for='name'> Name:</label>

    <input class="form-control" name='name' type='text' value=''  id='name'autocomplete="off" size="20">
    
    <label class="form-label" for='email'> Email:</label>

    <input class="form-control" name='email' type='text' value='' id='email'>

    <label class="form-label" for='postcode'> Postcode:</label>

    <input class="form-control" name='postcode' type='text' value='' id='postcode' size="10">

    <label class="form-label" for='age'> Age:</label>

    <input class="form-control" name="age" type="text" value="" id="age" size="3">

    <br>

    <button name='submit' form="form1" type='button' id='submit'>Send</button>

  </fieldset>

  </form>



  <p style="font-size: 0.9em;width: 80%;margin-top:0.88em">We hate spam as much as you do, we won't use your details for anything other than letting you know about Equilibirum</p>

  </div>
</div>







</main>



{{/content}}

{{/layout}}

            
