{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if IE]>
<script type="text/javascript" src="/public/javascripts/PIE.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://basehold.it/30">

<main id="content" role="main" class="trader">
  <h1 class="heading-large">Trading platform prototype</h1>

  <h2 class="heading-small">Heatmap Watch lists</h2>


  


<section class="heatmap">
  <div class="container with-vgrid" style="margin-top: 12px">


<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">Wall Street CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">161<span class="heatmap-bignum">90</span>.8</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">161<span class="heatmap-bignum">94</span>.8</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">16178.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">4.0</span>
		<span class="heatmap-high" id="heatmap-1-high">16199.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">224.8 (10.2%)</div>
</div><!-- close heatmap box -->






<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">UK100 CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">58<span class="heatmap-bignum">31</span>.3</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">58<span class="heatmap-bignum">32</span>.3</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">5830.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">1.0</span>
		<span class="heatmap-high" id="heatmap-1-high">5842.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">102.5 (2.2%)</div>
</div><!-- close heatmap box -->



<


<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">Germany 30 CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">92<span class="heatmap-bignum">31</span>.5</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">92<span class="heatmap-bignum">32</span>.5</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">9227.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">1.0</span>
		<span class="heatmap-high" id="heatmap-1-high">9244.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">243.8 (5.1%)</div>
</div><!-- close heatmap box -->





<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">Wall Street CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">161<span class="heatmap-bignum">90</span>.8</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">161<span class="heatmap-bignum">94</span>.8</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">16178.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">4.0</span>
		<span class="heatmap-high" id="heatmap-1-high">16199.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">224.8 (10.2%)</div>
</div><!-- close heatmap box -->





<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">Wall Street CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">161<span class="heatmap-bignum">90</span>.8</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">161<span class="heatmap-bignum">94</span>.8</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">16178.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">4.0</span>
		<span class="heatmap-high" id="heatmap-1-high">16199.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">224.8 (10.2%)</div>
</div><!-- close heatmap box -->





<div class="heatmap-box">
	<p class="heatmap-stock-name" id="heatmap-1-name">Wall Street CFD
	<span class="heatmap-box-menu" id="heatmap-1-menu"><a href="#menu" style="text-decoration: none;color:#0066cc">
  &#9776; <span style="display:none">Menu</span>
</a></span></p>

	<div class="heatmap-current" id="heatmap-1-sell" style="float:left">161<span class="heatmap-bignum">90</span>.8</div>
	<div class="heatmap-current" id="heatmap-1-buy" style="float:right">161<span class="heatmap-bignum">94</span>.8</div>
	<br clear="all">

	<div class="heatmap-details">
		<span class="heatmap-low" id="heatmap-1-low">16178.2</span>
		<span class="heatmap-spread" id="heatmap-1-spread">4.0</span>
		<span class="heatmap-high" id="heatmap-1-high">16199.9</span>
	</div>
	<br clear="all">

	<div class="heatmap-change" id="heatmap-1-change">224.8 (10.2%)</div>
</div><!-- close heatmap box -->

<!--

<tr>
	
</tr>

<tr>
	<td class="stock-name">Gold (per 0.1) CFD</td>
	<td class="stock-spread">0.4</td>
	<td class="stock-sell">1209.4</td>
	<td class="stock-buy">1209.8</td>
	<td class="stock-change">-28.8</td>
</tr>

<tr>
	<td class="stock-name">EUR/USD (per 0.0001) CFD</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">1.11891</td>
	<td class="stock-buy">1.11901</td>
	<td class="stock-change">-0.00470</td>
</tr>

<tr>
	<td class="stock-name">GBP/USD (per 0.0001) CFD</td>
	<td class="stock-spread">1.5</td>
	<td class="stock-sell">1.44692</td>
	<td class="stock-buy">1.44707</td>
	<td class="stock-change">-0.00280</td>
</tr>

<tr>
	<td class="stock-name">Japan 225 CFD</td>
	<td class="stock-spread">10</td>
	<td class="stock-sell">15894</td>
	<td class="stock-buy">15904</td>
	<td class="stock-change">40</td>
</tr>

<tr>
	<td class="stock-name">UK 100 DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">5831.3</td>
	<td class="stock-buy">5832.3</td>
	<td class="stock-change">102.5</td>
</tr>

<tr>
	<td class="stock-name">Wall Street DFT</td>
	<td class="stock-spread">4.0</td>
	<td class="stock-sell">16190.8</td>
	<td class="stock-buy">16194.8</td>
	<td class="stock-change">224.8</td>
</tr>

<tr>
	<td class="stock-name">Germany 30 DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">9231.5</td>
	<td class="stock-buy">9232.5</td>
	<td class="stock-change">243.7</td>
</tr>

<tr>
	<td class="stock-name">EUR/USD DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">1.11891</td>
	<td class="stock-buy">1.11901</td>
	<td class="stock-change">-0.00470</td>
</tr>

<tr>
	<td class="stock-name">GBP/USD DFT</td>
	<td class="stock-spread">1.5</td>
	<td class="stock-sell">1.44692</td>
	<td class="stock-buy">1.44707</td>
	<td class="stock-change">-0.00280</td>
</tr>

<tr>
	<td class="stock-name">Japan 225 DFT</td>
	<td class="stock-spread">10</td>
	<td class="stock-sell">15894</td>
	<td class="stock-buy">15904</td>
	<td class="stock-change">40</td>
</tr>
</tbody>

</table>-->




</div>
</section>


</main>




{{/content}}

{{/layout}}

