{{<layout}}

{{$pageTitle}}
  INVEST in GREAT Design Kit
{{/pageTitle}}


{{$content}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>

<main id="content" role="main" style="font-family: 'Roboto', Arial, sans-serif;">
  <form action="examples/elements/start" method="get" class="get-started" style="margin-top:1.5em">
  <!--<input type="hidden" name="nextlink" value="start">
  <input type="hidden" name="nextbacklink" value="start">-->


<div class="grid-row">
  <div class="column-two-thirds">

  <h1 class="heading-xlarge">SWAY Smoketests</h1>



  <h2 class="heading-large" id="resources">Single pages</h2>

  <ul class="list-number" style="font-size:0.85em">
    <li><a href="democratising">Democratising News &amp; Opinion</a> *old*</li> 
    <li><a href="equilibrium">Equilibrium</a> - Cutting through the biased mass media model</li>
    <li><a href="swaynews">Sway News</a> - Making your vote count!</li>

    </ul>
    




  
  </div>
</div>







</main>

<script type="text/javascript">
window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
heap.load("1692473928");
</script>

{{/content}}

{{/layout}}
