{{<layout}}

{{$pageTitle}}
  INVEST in GREAT Design Kit
{{/pageTitle}}


{{$content}}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css" />

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>







<!--<link href="/public/stylesheets/concept1.css" media="screen" rel="stylesheet" type="text/css" />-->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.peity.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>
  
  <link href="/public/stylesheets/glyphicons.css" media="screen" rel="stylesheet" type="text/css" />







<main id="content" role="main" style="font-family: 'Roboto', Arial, sans-serif;">



<div class="great-topnav">
  <img src="/public/images/hmg-logo.png" width="150px" align="top">
  <span style="position: relative;top:4px;padding-left:10px;border-left:white 1px solid;margin-left:8px"></span>
  <span style="float:right;position:relative;top:4px">EN International</span>
<br clear="all">

</div>



<div class="invest-topnav">
  <span><img src="/public/images/iigb-logo.png" width="200px"></span>

  

<br clear="all">
  
</div>




<div class="invest-title">
  <h1 class="heading-xlarge" style="padding-top:0;margin-top:16px;margin-bottom:0" id="elements">Industries</h1>

  <!--<p>With pro-business legislation and an appetite for innovation, UK business sectors are renowned for being world-leading. From revolutionary developments in automotive components through to filming the latest and greatest blockbusters, the UK is the next logical step for your business. </p>

  <p>Find out more about your sector below.</p>-->

</div>


<div class="grid-row">

  <div class="column-half">

  <ul class="industry-list">

    <li><a href="industry-aerospace">Aerospace</a></li>
    <li><a href="industry-advman">Advanced Manufacturing</a></li>
    <li><a href="industry-auto">Automotive</a></li>
    <li><a href="#">Creative</a></li>
    <li><a href="#">Energy generation</a></li>
    <li><a href="#">Financial services</a></li>
    <li><a href="#">Food and drink manufacturing</a></li>
    <li><a href="#">Health and life sciences</a></li>
    <li><a href="#">Retail</a></li>
    <li><a href="#">Technology</a></li>

    </ul>

    <ul class="industry-list" style="border-top:solid 1px #ccc;margin-top:1em;padding-top:1em">

    <li><span style="color: #666">Specific categories</span></li>

    <li><a href="#">Asset management</a></li>
    <li><a href="#">Automotive research and development</a></li>
    <li><a href="#">Automotive supply chain</a></li>
    <li><a href="#">Creative content and production</a></li>
    <li><a href="#">Data analytics</a></li>
    <li><a href="#">Digital media</a></li>
    <li><a href="#">Electrical networks</a></li>
    <li><a href="#">Energy from waste</a></li>
    <li><a href="#">Financial technology</a></li>
    <li><a href="#">Freefrom foods</a></li>
    <li><a href="#">Medical technology</a></li>
    <li><a href="#">Motorsprot</a></li>
    <li><a href="#">Nuclear energy</a></li>
    <li><a href="#">Offshore wind</a></li>
    <li><a href="#">Oil and gas</a></li>
    <li><a href="#">Pharmaceutical manufacturing</a></li>

  </ul>


  </div><!-- column half -->





  <div class="column-half">

    


  </div><!-- end right hand column half -->
</div><!-- end column row -->


<br clear="all">





</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/iigb-footer}}
{{/bodyEnd}}



{{/layout}}
