{{<layout}}

{{$pageTitle}}
  INVEST in GREAT Design Kit
{{/pageTitle}}


{{$content}}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css" />

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>







<!--<link href="/public/stylesheets/concept1.css" media="screen" rel="stylesheet" type="text/css" />-->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.peity.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>
  
  <link href="/public/stylesheets/glyphicons.css" media="screen" rel="stylesheet" type="text/css" />

<div id="force-mobile">


<div class="great-topnav">
  <img src="/public/images/hmg-logo.png" width="150px" align="top" style="margin-left:1em">
  <span style="position: relative;top:4px;padding-left:10px;margin-left:8px"></span>
  <span style="float:right;position:relative;top:4px;margin-right:0.8em">EN International</span>

  <br clear="all">
</div>



<div class="invest-topnav">
  <span><img src="/public/images/iigb-logo.png" width="200px" style="margin-left:1em"></span>
  <br clear="all">
</div>



<div id="topblock" style="background-color: #1E1348;margin-bottom: 1.5em">
  <div class="invest-title">
    <h1 class="heading-xlarge" style="color:white;padding:0.5em;margin-top:0;margin-bottom:16px;font-weight:100" id="elements">Industries</h1>
  </div>


  <div class="invest-intro" style="color: white;padding: 0 1em 0.5em 1em;">

    <p>From revolutionary developments in automotive components through to filming the latest and greatest blockbusters, the UK is the next logical step for your business. </p>

    <p>Find out more about your sector below.</p>

  </div>
</div>






<div class="grid-row">

  <div class="column-half">

  <ul class="industry-list image-list">

    <li><a href="industry-aerospace" class="nounder"><span class="mobile-list-label">Aerospace</span>
    <img src="/public/images/hero-imgsmall/aerospace.jpg" class="mobile-list-img"></a></li>

    <li><a href="industry-advman" class="nounder"><span class="mobile-list-label">Advanced Manufacturing</span>
    <img src="/public/images/hero-imgsmall/advanced-manufacturing.jpg" class="mobile-list-img"></a></li>

    <li><a href="industry-auto" class="nounder"><span class="mobile-list-label">Automotive</span>
    <img src="/public/images/hero-imgsmall/automotive.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Creative</span>
    <img src="/public/images/hero-imgsmall/creative.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Energy generation</span>
    <img src="/public/images/hero-imgsmall/energy.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Financial services</span>
    <img src="/public/images/hero-imgsmall/financial-services.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Food and drink manufacturing</span>
    <img src="/public/images/hero-imgsmall/food-and-drink-manufacturing.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Health and life sciences</span>
    <img src="/public/images/hero-imgsmall/life-sciences.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Retail</span>
    <img src="/public/images/hero-imgsmall/retail.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Technology</span>
    <img src="/public/images/hero-imgsmall/technology.jpg" class="mobile-list-img"></a></li>

    </ul>







    <ul class="industry-list" style="border-top:solid 1px #ccc;margin-top:1em;padding-top:1em">

    <li><span style="color: #666;margin-left:1em">Specific categories</span></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Asset management</span>
    <img src="/public/images/hero-imgsmall/asset-management.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Automotive research and development</span>
    <img src="/public/images/hero-imgsmall/research-and-development.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Automotive supply chain</span>
    <img src="/public/images/hero-imgsmall/supply-chain.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Creative content and production</span>
    <img src="/public/images/hero-imgsmall/creative.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Data analytics</span>
    <img src="/public/images/hero-imgsmall/data-analytics.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Digital media</span>
    <img src="/public/images/hero-imgsmall/digital-media.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Electrical networks</span>
    <img src="/public/images/hero-imgsmall/electrical-networks.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Energy from waste</span>
    <img src="/public/images/hero-imgsmall/energy-from-waste.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Financial technology</span>
    <img src="/public/images/hero-imgsmall/fintech.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Freefrom foods</span>
    <img src="/public/images/hero-imgsmall/freefrom.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Medical technology</span>
    <img src="/public/images/hero-imgsmall/medical-technology.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Motorsport</span>
    <img src="/public/images/hero-imgsmall/motorsport.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Nuclear energy</span>
    <img src="/public/images/hero-imgsmall/nuclear.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Offshore wind</span>
    <img src="/public/images/hero-imgsmall/offshore.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Oil and gas</span>
    <img src="/public/images/hero-imgsmall/oil-and-gas.jpg" class="mobile-list-img"></a></li>

    <li><a href="#" class="nounder"><span class="mobile-list-label">Pharmaceutical manufacturing</span>
    <img src="/public/images/hero-imgsmall/medicine-manufacturing.jpg" class="mobile-list-img"></a></li>


  </ul>


  </div><!-- column half -->





  
</div><!-- end column row -->


<br clear="all">



</div>

{{/content}}


{{$bodyEnd}}

  {{>includes/iigb-footer}}

{{/bodyEnd}}



{{/layout}}
