Equities

UK
US
Asia
Australia
Belgium
Canada
Denmark
Europe
Finland
France
Germany
Ireland
Italy
Netherlands
Norway
Portugal
Singapore
Spain
Sweden
Switzerland


FX
FX AUD-Crosses
FX CHF-Crosses
FX EM-Asia
FX Em-Europe
FX EUR-Crosses
FX FX-Major
FX GBP-Crosses
FX JPY-Crosses
FX Scandies-Crosses

Indices
Indices Asia
Indices Australia
Indices Europe
Indices Uk
Indices US


Wall Street CFD
US Tech 100 CFD
US SP 500 CFD
US Small Cap 2000 CFD
Wall Street Apr 16 CFD
Wall Street Jun 16 CFD
US Dollar Index (per 0.01) Jun 16 CFD


<option code="us-ind-1" data-relevancy-booster="80" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia
aisa
index
indexes"
value="Indices Asia"><strong>Indices Asia</strong></option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia
hong kong
hongkong
hk"
value="Hong Kong 50 CFD">Hong Kong 50 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia
sino"
value="Japan 225 CFD">Japan 225 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia
singpore"
value="Singapore Index (per 0.1) CFD">Singapore Index (per 0.1) CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="Japan 225 Jun 16 CFD">Japan 225 Jun 16 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="Singapore Index (per 0.1) Mar 16 CFD">Singapore Index (per 0.1) Mar 16 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="China A50 Mar 16 CFD">China A50 Mar 16 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="Hong Kong 50 Mar 16 CFD">Hong Kong 50 Mar 16 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="India 50 Mar 16 CFD">India 50 Mar 16 CFD</option>

<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
asia"
value="China A50 CFD">China A50 CFD</option>


<option code="us-ind-1" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
standard and poor 500
June 2016"
value="US SP 500 Jun 16 CFD">US SP 500 Jun 16 CFD</option>

<option code="us-ind-2" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
smallcap2000
June 2016"
value="US Small Cap 2000 Jun 16 CFD">US Small Cap 2000 Jun 16 CFD</option>

<option code="us-ind-3" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
vix
april 2016"
value="Volatility Index Apr 16 CFD">Volatility Index Apr 16 CFD</option>

<option code="us-ind-4" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
vix
may 2016"
value="Volatility Index May 16 CFD">Volatility Index May 16 CFD</option>

<option code="us-ind-5" start-url="diabetes/diabetes-with-insulin" data-alternative-spellings="
ws
september 2016"
value="Wall Street Sep 16 CFD">Wall Street Sep 16 CFD</option>

<option code="us-ind-6" start-url="diabetes/diabetes-with-insulin" data-relevancy-booster="20" data-alternative-spellings="
standard and poor
s&amp;p"
value="US SP 500 Sep 16 CFD">US SP 500 Sep 16 CFD</option>

<option code="us-ind-7" start-url="diabetes/diabetes-with-insulin" data-relevancy-booster="20" data-alternative-spellings="
technology 100
tech september 2016"
value="US Tech 100 Sep 16 CFD">US Tech 100 Sep 16 CFD</option>







<option value="Déjà vu" data-alternative-spellings="deja" info-url="/deja-vu-and-driving">Déjà vu</option>
<option value="dementia" data-alternative-spellings="" info-url="/dementia-and-driving">Dementia</option>
<option value="depression" data-alternative-spellings="" info-url="/depression-and-driving">Depression</option>

<option code="DIAB" start-url="diabetes/diabetes-with-insulin" value="diabetes" data-relevancy-booster="80" data-alternative-spellings="(type
(type1)
(type2)
(typr
1)
2)
blood
daia
dyabeetes
dyabetes
dyabetic
dyabeties
dyabetus
dyabites
dyabitic
glucose
hypo
hypoglycaemia
injection
insolin
insulin
level
low
sugar
tablets
treated" info-url="/diabetes-driving">Diabetes</option>

<option value="dilated cardiomyopathy" data-alternative-spellings="" info-url="/dilated-cardiomyopathy-and-driving">Dilated cardiomyopathy</option>
<option value="dizziness" data-alternative-spellings="" info-url="/dizziness-and-driving">Dizziness</option>
<option value="drug-use" data-alternative-spellings="" info-url="/drug-use-and-driving">Drug misuse</option>

<option value="eating disorders" data-alternative-spellings="Anorexia nervosa" info-url="/eating-disorders-and-driving">Eating disorders</option>
<option value="empyema" data-alternative-spellings="" info-url="/empyema-and-driving">Empyema (brain)</option>
<option code="FEP" start-url="epilepsy/seizure-type" value="epilepsy" data-relevancy-booster="10" data-alternative-spellings="Temporal lobe epilepsy
algospasm
attack
blackouts
contortion
contraction
cramp
elipepsy
epei
epeilepsy
epel
epelepsy
epil
epilepcy
epilepsi
eplipsy
epllepsy
fit
fits
paroxysm
seizures
throe
tremor" info-url="/epilepsy-and-driving">Epilepsy</option>

<option value="benign essential tremor" data-alternative-spellings="" info-url="/benign-essential-tremor-and-driving">Essential tremor</option>
