{{<layout}}

{{$pageTitle}}
  INVEST in GREAT Design Kit
{{/pageTitle}}


{{$content}}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<!--<link href="/public/stylesheets/concept1.css" media="screen" rel="stylesheet" type="text/css" />-->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.peity.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>
  
  <link href="/public/stylesheets/glyphicons.css" media="screen" rel="stylesheet" type="text/css" />


<main id="content" role="main" style="font-family: 'Roboto', Arial, sans-serif;">

<div class="great-topnav">
  <img src="/public/images/hmg-logo.png" width="150px" align="top">
  <span style="position: relative;top:4px;padding-left:10px;border-left:white 1px solid;margin-left:8px"> Part of <strong>great.gov.uk</strong></span>
  <span style="float:right;position:relative;top:4px">EN International</span>
<br clear="all">

</div>



<div class="invest-topnav">
  <span><img src="/public/images/iigb-logo.png" width="200px"></span>

  <div style="float:right;padding-top:2px">
    <ul class="hoznav">
      <li>Home</li>
      <li>UK setup guide</li>
      <li>Industries</li>
      <li class="active">Investment opportunities</li>
      <li class="contact">Contact us</li>
    </ul>
  </div>
<br clear="all">
  
</div>




<div class="invest-title">
  <h1 class="heading-large" style="padding-top:0;margin-top:16px;margin-bottom:0" id="elements">Where to invest in the UK</h1>

  <p>Find the most suitable places in the UK for your investment.</p>
</div>


<div class="grid-row">

  <div class="column-half">
 

  <div id="mixpanel-left" style="float:left;margin-right:2em;display:block;width=20%;background-color: #fff">
    <p><strong>Industry</strong></p>

      <ul class="mixpanel-list">
        <li><a href="#">Aerospace</a></li>
        <li><a href="#">Advanced manufacturing</a></li>
        <li><a href="#">Automotive</a></li>
        <li><a href="#">Creative</a></li>
        <li><a href="#">Energy generation</a></li>
        <li><a href="#">Financial services</a></li>
        <li><a href="#">Food and drink<br>manufacturing</a></li>
        <li><a href="#">Health and life sciences</a></li>
        <li><a href="#">Retail</a></li>
        <li><a href="#">Technology</a></li>
        <br><br>
      </ul>
    </div><!-- end mixpanel-left -->

    <div id="mixpanel-right" style="display:block;width=23%;background-color: #fff">
    <p><strong>Where?</strong></p>

      <ul class="mixpanel-list">
        <li><a href="#">Scotland</a></li>
        <li><a href="#">Northern Ireland</a></li>
        <li><a href="#">North East England</a></li>
        <li><a href="#">North West England</a></li>
        <li><a href="#">Yorkshire and The Humber</a></li>
        <li><a href="#">East Midlands</a></li>
        <li><a href="#">West Midlands</a></li>
        <li><a href="#">Wales</a></li>
        <li><a href="#">London</a></li>
        <li><a href="#">East of England</a></li>
        <li><a href="#">South East England</a></li>
        <li><a href="#">South West England</a></li>
      </ul>
    </div><!-- end mixpanel-right -->

    <br clear="all">

  </div><!-- end left hand column half -->

    <br clear="all">




  <div class="column-half">

    <div style="padding:1em 0 0 0;margin-bottom:0.1em;margin-top:-1em;font-size:90%">

            {{>includes/mapmix-tabs}}

        <br clear="all">

    </div><!-- end box -->

  </div><!-- end right hand column half -->
</div><!-- end column row -->




<div class="invest-title">
  <h2 class="heading-large" style="padding-top:0;margin-top:16px;margin-bottom:0" id="content-location-title">
    South East Midlands Local Enterprise Partnership
    </h2>

     <h3 class="heading-large" style="font-size:1.4em;padding-top:0;margin-top:16px;margin-bottom:32px" id="content-location-subtitle">A £39 billion economy, home to the British F1 Grand Prix</h3>

</div>

<!--  Main content area ... should reflect the state of the mapmix panel above, -->
<!--  eg. a City/Town (or LEP containing it), Region x the Industry selected... -->
<!--  or just an industry, or just a region. -->

<div class="grid-row">

  <div class="column-half">

    <h4 class="heading-medium"  style="font-weight:400;padding-top:0;margin-top:0;margin-bottom:16px" id="content-industry-title">Advanced Manufacturing</h4>

    <p><strong>Aerospace</strong><p>

    <p>The region has a well-established aerospace and defence &amp; electronics cluster, including companies such as Safran Power, BE Aerospace, Selex, Airbus and Rolls Royce as well as MROs at London Luton Airport such as Gulfstream Aerospace Ltd, the first service centre outside of the USA. Investors can also benefit from access to over £2 billion of national funding to support the next generation of aircraft, managed by the Aerospace Technology Institute (ATI) at Cranfield University).</p>

    <p><strong>Rail</strong><p>

    <p>The South East Midlands is home to Network Rail’s National Centre and is at the heart of Britain’s railway operations. Daventry International Rail Freight Terminal (DIRFT), a railroad intermodal freight terminal with an associated warehousing estate, is a leading distribution location, complemented by the Eurohub freight terminal at Corby.</p>

    <p><strong>Food &amp; Drink manufacturing and processing</strong></p>

    <p>With good connectivity to 80% of the UK’s population, the area is home to several significant food and drink manufacturing and distribution centres including Carlsberg, AG Barr, Barry Callebaut, Brioche Pasquier, Arla Dairies, Coca-Cola, Weetabix and McCormick (Schwartz).</p>






  </div><!-- end column-half -->


  <div class="column-half">




  </div><!-- end right hand column half -->

</div><!-- end column row -->



</main>

{{/content}}


{{$bodyEnd}}
  {{>includes/gain-scripts}}
{{/bodyEnd}}



{{/layout}}
