{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if IE]>
<script type="text/javascript" src="/public/javascripts/PIE.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://basehold.it/30">

<main role="main" class="with-vgrid" style="max-width: 1800px;margin: 0 auto;">
 









<div class="news" style="width:380px;border-top: 1px solid black;margin-top:11px;float:left">
  <div class="container" style="">

  <ul class="news-list">

    <li><span class="news-timecode">14:33</span>
    US Stocks Snapshot - Wall St opens little changed as oil edges up</li>

    <li><span class="news-timecode">14:30</span>
    Swiss Basilea says profits still 2-3 years away</li>

    <li><span class="news-timecode">14:30</span>
    UPDATE 1 - Standard &amp; Poor’s affirms BHP Billiton’s credit rating</li>

    <li><span class="news-timecode">14:30</span>
    Ex-divs to take 13.2 points off FTSE 100 on Mar.3</li>

    <li><span class="news-timecode">14:28</span>
    UK’s Avonmouth LNG storage site to stop operations on April 30</li>

    <li><span class="news-timecode">14:23</span>
    UPDATE 2 - Kenya’s inflation falls, may pave way for easing of rates</li>

    <li><span class="news-timecode">14:23</span>
    UPDATE 1 - Russia to cut high-grade diesel exports from Primorsk in March - traders</li>

    <li><span class="news-timecode">14:23</span>
    Belgian Q4 GDP confirmed at 0.3 pct qtr/qtr</li>

    <li><span class="news-timecode">14:23</span>
    Japan sells negative yield 10-year bonds</li>

    <li><span class="news-timecode">14:23</span>
    IEX changes proposal in exchange bid</li>

  </ul>


	</div>
</div>



<div class="news" style="border-top: 1px solid black;margin-top:11px">
  <div class="container" style="width:380px">
  <h1 class="news-headline">London Stock Exchange rally helps European shares hit 1-month high
</h1>

<h3 class="news-dateline">Markets | Tue Mar 1, 2016 3:30am EST Related: STOCKS, EUROPEAN MARKETS, MARKETS, FINANCIALS</h3>

  <p>European shares extended the previous session's gains to set a one-month high on Tuesday, with London Stock Exchange leading the market higher after Intercontinental Exchange confirmed a possible counter bid for LSE.</p>

  <p>Some investors also expected that downbeat data showing activity in China's manufacturing sector shrank more sharply than expected in February would prompt the authorities to announce further stimulus measures.</p>

  <p>Shares in London Stock Exchange Group surged 7.5 percent, leading the pan-European FTSEurofirst 300 index, which rose 0.3 percent to its highest level in nearly one month after gaining 0.7 percent in the previous session.</p>

  <p>However, Barclays fell 7.3 percent after the bank reported a 2 percent fall in full-year adjusted pre-tax profit and unveiled plans to simplify its UK and international operations. (Reporting by Atul Prakash; Editing by Sudip Kar-Gupta)</p>


    </div>
</div>








</main>




{{/content}}

{{/layout}}

