{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>

<!--[if IE]>
<script type="text/javascript" src="/public/javascripts/PIE.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://basehold.it/30">

<main role="main" class="with-vgrid" style="max-width: 1800px;margin: 0 auto;">
 









<section class="news" style="border-top: 1px solid black;margin-top:11px">
  <div class="container" style="width:380px;background-color: yellow">

  <ul class="news-list">

    <li><span class="news-timecode">14:33</span>
    US Stocks Snapshot - Wall St opens little changed as oil edges up</li>

    <li><span class="news-timecode">14:30</span>
    Swiss Basilea says profits still 2-3 years away</li>

    <li><span class="news-timecode">14:30</span>
    UPDATE 1 - Standard &amp; Poor’s affirms BHP Billiton’s credit rating</li>

    <li><span class="news-timecode">14:30</span>
    Ex-divs to take 13.2 points off FTSE 100 on Mar.3</li>

    <li><span class="news-timecode">14:28</span>
    UK’s Avonmouth LNG storage site to stop operations on April 30</li>

    <li><span class="news-timecode">14:23</span>
    UPDATE 2 - Kenya’s inflation falls, may pave way for easing of rates</li>

    <li><span class="news-timecode">14:23</span>
    UPDATE 1 - Russia to cut high-grade diesel exports from Primorsk in March - traders</li>

    <li><span class="news-timecode">14:23</span>
    Belgian Q4 GDP confirmed at 0.3 pct qtr/qtr</li>

    <li><span class="news-timecode">14:23</span>
    Japan sells negative yield 10-year bonds</li>

    <li><span class="news-timecode">14:23</span>
    IEX changes proposal in exchange bid</li>

  </ul>


	</div>
</section>


</main>




{{/content}}

{{/layout}}

