{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds" style="margin:1em;padding:1em;">

  
  <h1 class="heading-xlarge" style="font-size:4em;padding:0;margin: 0 0 0.5em 0">Platform Features</h1>  
 

  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q3-whichplatform-otherweb">

 
  <ul style="margin-bottom:1.5em">
    <li><a href="q3-whichplatform-otherweb">Watchlists</a></li>
    <li><a href="q3-features-2">Dealing Ticket &#8211; Placing a Trade</a></li>
    <li><a href="q3-features-3">Open Positions Panel &#8211; Monitoring Trades</a></li>
    <li><a href="q3-features-4">Trade History Panel &#8211; Checking Final P&amp;L</a></li>
  </ul>

<br>



  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 
    <br>


  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
