{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="platforms">


    <h1 class="heading-xlarge" style="font-size:4em;padding:0;margin-bottom: 0.5em">The basics</h1>

    <!--<p>OK, we're going to quickly explain some of the basics of trading.</p>-->

    <p><strong>What is trading?</strong><br>
    At it's most simple, you are making a bet whether the price of a market will go up or down in the near future.</p>
    <p>A market can be almost anything: gold, currency, shares in a company, grain or oil. If your prediction is correct (up or down) you make a profit.</p>

    <h2 class="heading-large" style="font-size: 1.66em" id="elements">What is ?</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is spread betting?</a></li>
      <li><a href="#">What are CFDs?</a></li>
      <li><a href="#">What is Forex trading?</a></li>
    </ul>

    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>





   





    <br clear="all">


  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 



  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
