{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


    <form action="basic-flow" method="get" class="form">
     <input type="hidden" name="nextlink" value="q2-whatis-spreadbetting">


    <h1 class="heading-xlarge" style="font-size:4em;padding:0;margin-bottom: 0.5em">Trading Basics</h1>

    
    <h2><strong>What is Trading?</strong></h2>
    <p>Trading or speculating in the World&#146;s financial and commodity markets is a bet on whether the price of a market will go up or down in the near future. </p>

    <p>A market can be almost anything from gold, currencies, shares in a company, or oil. Your profit or loss in the trade depends on how much the market moves, and in which direction &#8211; up or down. </p>

<br>

 <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
<br>
<br>


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Trading Basics</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is Spread Betting?</a></li>
      <li><a href="q2-whatis-cfdtrading">What are CFDs?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
      <li><a href="q2-whatis-forextrading">Margin and Leverage</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-longorshort">Going Long or Short</a></li>
      <li><a href="q2-whatis-markethours">Market Hours</a></li>
    </ul>




    <br clear="all">



  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
