{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="q2-whatis-tradesorders">


    <h1 class="heading-xlarge" style="font-size:3em;padding:0;margin-bottom: 0.5em">What is Margin &amp; Leverage?</h1>

    <p>The trading experience we offer is a margined product.  This means that unlike more traditional forms of trading, you only deposit a small percentage of the full value of the underlying instrument to place your trade. This makes trading financial markets more accessible as you are not required to deposit large amounts to take a position.</p>

<p>This “leverage” affect can also magnify potential profits – you can make high percentage returns on your initial deposit with a relatively small movement in the underlying market.
.</p>

<p style="background-color:orange">Note: leverage is a double edged sword. Whilst it can magnify gains when the market moves in your favour, it can also magnify losses – meaning you can lose more than your initial deposit! Risk management tools such as stop loss orders can help you to limit your risk. </p>


    


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Margin Requirements</h2>

    <p>There is a minimum margin required for each market in order to open and maintain a trade. The margin requirement to open a trade in shown in the Margin Calculator section of every trade ticket, so you know how much is needed before you place the trade.
</p>


     



 <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">





    <h2 class="heading-large" style="font-size: 1.4em" id="elements">What is ?</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is Spread Betting?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-longorshort">Going Long or Short</a></li>
      <li><a href="q2-whatis-markethours">Market Hours</a></li>
    </ul>

    




  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
