{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="q3-whichplatform-otherweb">


    <h1 class="heading-xlarge" style="font-size:3em;padding:0;margin-bottom: 0.5em">Market Hours</h1>

    <p>A number of our markets are open 24 hours a day, whilst some of our other markets are only open in a specific time interval known as &#34;market hours&#34;. </p>
    <p>You can find the market hours for any market by looking at the <i>Market Information</i> sheet for that market. </p>
  

    <br>
    <h3 class="heading-large" style="font-size: 1.2em" id="elements">Would you like to explore a quick overview of the main features of our Web trading platform?</h3>

    <p>If you don't, click [<strong>X</strong>] to close this window. You can access the learning content again by clicking <strong>Getting Started</strong> from the <strong>Platform</strong> menu.</p>
    <br>


<br>

 <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
<br>
<br>


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Trading Basics</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is Spread Betting?</a></li>
      <li><a href="q2-whatis-cfdtrading">What is CFD Trading?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
       <li><a href="q2-whatis-marginleverage">Margin and Leverage</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-longorshort">Going Long or Short</a></li>
    </ul>



  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
