{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="q2-whatis-markethours">


    <h1 class="heading-xlarge" style="font-size:3em;padding:0;margin-bottom: 0.5em">Going Long or Short</h1>

    <p>You can potentially profit from falling market prices by making a <i>Sell</i> bet &#8211; known as <i>going short</i>. For example, should you think that the GBP/USD is going to fall, you can place a <i>Sell</i> trade to potentially profit if the market does fall in price. </p>

    <p>Conversely, if you think the market is going to rise you make a <i>Buy</i> bet &#8211; known as <i>going long</i>. </p>
   

<br>

 <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
<br>
<br>


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Trading Basics</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is Spread Betting?</a></li>
      <li><a href="q2-whatis-cfdtrading">What is CFD Trading?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-markethours">Market Hours</a></li>
    </ul>


  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
