{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q2-whatis-cfdtrading">


    <h1 class="heading-xlarge" style="font-size:3em;padding:0;margin-bottom: 0.5em">What is Spread Betting?</h1>

    <p>Spread betting enables you to trade on the price movements of thousands of financial markets such as shares and indices. 
    </p>


    <p>Spread betting is a derivative, which means the market prices are based on or &#34;derived&#34; from the underlying market. You are not directly trading the underlying market. For example, when you place a <i>buy</i> trade on Microsoft you do not physically own the underlying shares. Instead, you are speculating on the future movement of Microsoft shares. </p>

    <p>You can use spread bets to speculate on price movements whether the markets are rising or falling. 
    If you go long <i>(buy)</i>, your profits rise in line with any increase in that price. If you go short <i>(sell)</i>, your profits will rise in line with any market fall. </p>

    <p><strong>Similarly, if you go long on the price and the underlying market price falls, you will incur losses.</strong>   
    </p>
    <br>
    


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">An Example</h2>


    

    <!-- text with price boxes -->
    <p style="width:50%;margin-right:2em;float:left;">Let&#146;s say our current Wall Street Daily Funded Trade (DFT) market is priced at: </p>

    <div style="float:left;">
      <div style="float:left;padding:0;margin-right:0.5em">
          <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">15790</div>

          <p style="color:#dc4651;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Sell price</p>
      </div>

      <div style="float:left;padding:0">
          <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">15791</div>

          <p style="color:#2796d8;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Buy price</p>
      </div>
    </div>

    <br clear="all">



    <!-- text with dialog box -->
    <div style="margin:2em 0">

    <p style="width:50%;margin-right:2em;float:left">You expect the Wall Street index to rise and therefore decide to open a <i>buy</i> position <i>(go long)</i> with a stake size of &pound;10 per point: </p>

    <div style="width:32%;background-color:#eee;padding:1em 1em 0.5em 1em;border-radius: 6px;border-bottom:#d0d0d0 3px solid;float:left">

        <p style="font-size: 1.1em;margin:0 0 1em 0">Wall Street</p>

        <div style="float:left;background-color:#dc4651;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;margin-right:0.5em">15790</div>

        <div style="float:left;background-color:#2796d8;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;">15791</div>

        <br clear="all">

        <p style="margin-top:1.5em;font-size: 0.9em">Stake size <span style="border:1px solid #999;border-radius: 3px;padding:0.3em 1.6em 0.3em 1.6em;background-color:white;margin-left:1.1em">&pound;10</p>

    </div>

    <br clear="all">

    </div>


    
    <!-- text with price boxes -->
    <p style="width:50%;margin-right:2em;float:left;">Following the release of positive US economic data, the Wall Street index rises as you predicted. Our latest Wall Street DFT price is now:
</p>

    <div style="float:left;">
      <div style="float:left;padding:0;margin-right:0.5em">
          <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">15807</div>

          <p style="color:#dc4651;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Sell price</p>
      </div>

      <div style="float:left;padding:0">
          <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">15808</div>

          <p style="color:#2796d8;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Buy price</p>
      </div>
    </div>

    <br clear="all">




    <!-- text with dialog box -->
    <div style="margin:2em 0">

    <p style="width:50%;margin-right:2em;float:left">Having reached a comfortable level of profit, you decide to cash in your profit by closing the trade.</p>

    <div style="width:32%;background-color:#eee;padding:1em 1em 0.5em 1em;border-radius: 6px;border-bottom:#d0d0d0 3px solid;float:left">

        <p style="font-size: 1.1em;margin:0 0 1em 0">Wall Street</p>

        <div style="float:left;background-color:#dc4651;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;margin-right:0.5em">15807</div>

        <div style="float:left;background-color:#2796d8;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;">15808</div>

        <br clear="all">

        <p style="margin-top:1.5em;font-size: 0.9em">Stake size <span style="border:1px solid #999;border-radius: 3px;padding:0.3em 1.6em 0.3em 1.6em;background-color:white;margin-left:1.1em">&pound;10</p>

    </div>

    <br clear="all">

    </div>




    <div style="background-color:#eee;padding:1em 1em 0.5em 1em;">

    <h3 style="font-size: 1.4em;margin-bottom:0.5em">The Result</h3>

    <p>You <strong style="color:#2796d8">bought</strong> at <strong style="color:#2796d8">15791</strong> and <strong style="color:#dc4651">sold</strong> at <strong style="color:#dc4651">15807</strong>, which represents a positive <strong style="color:#34874b">16-point movement</strong> in your favour. At your stake size of &pound;10 per point, nets you a <a href="#asterisk">tax free*</a> profit of &pound;160.
    </p>

    <p id="asterisk">
    <i>* Spread betting and CFD trading are exempt from UK stamp duty. Spread betting is also exempt from UK Capital Gains Tax. However, tax laws are subject to change and depend on individual circumstances. Please seek independent advice if necessary. </i>

</p>



    <center>
    <table style="width:24em;text-align: center;background:url('/public/images/hoz-666-line.png') repeat-x 0 1.6em;">
      <tr>
        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">15791</div>
        </td>

        <td width="20%">
        <center><strong style="color:#34874b">&lt; 16 &lt;</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">15807</div>
        </td>

      </tr>
    </table>
    </center>





    <center>
    <table style="width:18em;text-align: center;">
      <tr>
        <td width="20%">
        <center><strong>16</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">&times;</strong></center>
        </td>
        <td>
        <center><strong>&pound;10</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">=</strong></center>
        </td>
        <td>
        <center><strong>&pound;160</strong></center>
        </td>
      </tr>

      <tr>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">16 point movement</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Stake</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Profit</span></center>
        </td>
      </tr>
    </table>
    </center>

    </div>



    <div style="background-color:#eee;padding:1em 1em 0.5em 1em;margin-top:1em">

    <h3 style="font-size: 1.4em;margin-bottom:0.5em">Alternative Scenario</h3>

    <p>If the price of the Wall Street index had fallen to <strong style="color:#dc4651">15775</strong>, you would have lost &pound;160 based on the same &pound;10 stake.</p>

    


    <center>
    <table style="width:24em;text-align: center;background:url('/public/images/hoz-666-line.png') repeat-x 0 1.6em;">
      <tr>
        <td width="20%">
        <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">15791</div>
        </td>

        <td width="20%">
        <center><strong style="color:#34874b">&gt; 16 &gt;</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">15775</div>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

      </tr>
    </table>
    </center>



    <center>
    <table style="width:18em;text-align: center;">
      <tr>
        <td width="20%">
        <center><strong>16</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">&times;</strong></center>
        </td>
        <td>
        <center><strong>&pound;10</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">=</strong></center>
        </td>
        <td>
        <center><strong>&pound;160</strong></center>
        </td>
      </tr>

      <tr>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">16 point movement</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Stake</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Loss</span></center>
        </td>
      </tr>
    </table>
    </center>
    
    </div>


    <p style="font-size: 0.8em;margin:1em 2em 1em 2em">
    Please be aware that all trade examples above do not include any additional charges that may be associated, such as overnight financing.</p>

    <br>
    

    <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
    <br>
    <br>



     <h2 class="heading-large" style="font-size: 1.66em" id="elements">Trading Basics</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-cfdtrading">What are CFDs?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
      <li><a href="q2-whatis-marginleverage">Margin and Leverage</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-longorshort">Going Long or Short</a></li>
      <li><a href="q2-whatis-markethours">Market Hours</a></li>
    </ul>

    


  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
