{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 


<div class="grid-row">
  <div class="column-two-thirds">


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="q2-whatis-marginleverage">


    <h1 class="heading-xlarge" style="font-size:3em;padding:0;margin-bottom: 0.5em">What is Forex Trading?</h1>

    <p>Foreign exchange &#8211; commonly known as Forex or FX, is the exchange of one currency for another at an agreed exchange price. Traders speculate on whether the value of a currency such as pound sterling, will go up or down in relation to another currency such as the US dollar. </p> 
    <br>


    


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">An Example</h2>


     


    <!-- text with price boxes -->
    <p style="width:50%;margin-right:2em;float:left;">Let&#146;s say our current GBP/USD market is priced at:  </p>

    <div style="float:left;">
      <div style="float:left;padding:0;margin-right:0.5em">
          <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">1.4192</div>

          <p style="color:#dc4651;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Sell price</p>
      </div>

      <div style="float:left;padding:0">
          <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">1.4193</div>

          <p style="color:#2796d8;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Buy price</p>
      </div>
    </div>

    <br clear="all">



    <!-- text with dialog box -->
    <div style="margin:2em 0">

    <p style="width:50%;margin-right:2em;float:left">You expect pound sterling to rise relative to the US dollar and therefore decide to open a buy position <i>(go long)</i> with a stake size of 100,000.</p>




    <div style="width:32%;background-color:#eee;padding:1em 1em 0.5em 1em;border-radius: 6px;border-bottom:#d0d0d0 3px solid;float:left">

        <p style="font-size: 1.1em;margin:0 0 1em 0">GBP/USD</p>

        <div style="float:left;background-color:#dc4651;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;margin-right:0.5em">1.4192</div>

        <div style="float:left;background-color:#2796d8;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;">1.4193</div>

        <br clear="all">

        <p style="margin-top:1.5em;font-size: 0.9em">Stake size <span style="border:1px solid #999;border-radius: 3px;padding:0.3em 1.6em 0.3em 1.6em;background-color:white;margin-left:1.1em">&pound;10</p>

    </div>

    <br clear="all">

    </div>


    
    <!-- text with price boxes -->
    <p style="width:50%;margin-right:2em;float:left;">Following the release of negative US economic data, the pound sterling rises relative to the US dollar as you predicted. Our latest GBP/USD price is now: 


</p>

    <div style="float:left;">
      <div style="float:left;padding:0;margin-right:0.5em">
          <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">1.4223</div>

          <p style="color:#dc4651;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Sell price</p>
      </div>

      <div style="float:left;padding:0">
          <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">1.4224</div>

          <p style="color:#2796d8;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Buy price</p>
      </div>
    </div>

    <br clear="all">




    <!-- text with dialog box -->
    <div style="margin:2em 0">


    <p style="width:50%;margin-right:2em;float:left">Having reached a comfortable level of profit, you decide to cash in your profit by closing the trade.</p>

    <div style="width:33%;background-color:#eee;padding:1em 1em 0.5em 1em;border-radius: 6px;border-bottom:#d0d0d0 3px solid;float:left">

        <p style="font-size: 1.1em;margin:0 0 1em 0">GBP/USD</p>

        <div style="float:left;background-color:#dc4651;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;margin-right:0.5em">1.4223</div>

        <div style="float:left;background-color:#2796d8;padding:0.3em 1em;color:white;font-size: 1em;font-weight: 700;border-radius: 3px;">1.4224</div>

        <br clear="all">

        <p style="margin-top:1.5em;font-size: 0.9em">Stake size <span style="border:1px solid #999;border-radius: 3px;padding:0.3em 1.6em 0.3em 1.6em;background-color:white;margin-left:1.1em">&pound;10</p>

    </div>

    <br clear="all">

    </div>




    <div style="background-color:#eee;padding:1em 1em 0.5em 1em;">

    <h3 style="font-size: 1.4em;margin-bottom:0.5em">The Result</h3>

    <p>You <strong style="color:#2796d8">bought</strong> at <strong style="color:#2796d8">1.4193</strong> and <strong style="color:#dc4651">sold</strong> at <strong style="color:#dc4651">1.4223</strong>, which represents a positive <strong style="color:#34874b">30 point movement</strong> in your favour. At your stake size of 100,000 this results in a profit of &pound;300. </p>

  

    <center>
    <table style="width:24.5em;text-align: center;background:url('/public/images/hoz-666-line.png') repeat-x 0 1.6em;">
      <tr>
        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">1.4193</div>
        </td>

        <td width="20%">
        <center><strong style="color:#34874b">&lt; 30 &lt;</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">1.4223</div>
        </td>

      </tr>
    </table>
    </center>





    <center>
    <table style="width:18em;text-align: center;">
      <tr>
        <td width="20%">
        <center><strong>0.0030</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">&times;</strong></center>
        </td>
        <td>
        <center><strong>100,000</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">=</strong></center>
        </td>
        <td>
        <center><strong>&pound;300</strong></center>
        </td>
      </tr>

      <tr>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">30 point movement</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Stake</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Profit</span></center>
        </td>
      </tr>
    </table>
    </center>

    </div>



    <div style="background-color:#eee;padding:1em 1em 0.5em 1em;margin-top:1em">

    <h3 style="font-size: 1.4em;margin-bottom:0.5em">Alternative Scenario</h3>

    <p>If the price of GBP/USD had fallen to <strong style="color:#dc4651">1.4163</strong>, you would have lost &pound;300 based on the same 100,000 stake.</p>



    <center>
    <table style="width:24em;text-align: center;background:url('/public/images/hoz-666-line.png') repeat-x 0 1.6em;">
      <tr>
        <td width="20%">
        <div style="background-color:#2796d8;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">1.4193</div>
        </td>

        <td width="20%">
        <center><strong style="color:#34874b">&gt; 30 &gt;</strong></center>
        </td>

        <td width="20%">
        <div style="background-color:#dc4651;padding:0.3em 0.9em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;display: block;">1.4163</div>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

        <td width="20%">
        <center><strong style="color:#999">|</strong></center>
        </td>

      </tr>
    </table>
    </center>



    <center>
    <table style="width:18em;text-align: center;">
      <tr>
        <td width="20%">
        <center><strong>0.0030</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">&times;</strong></center>
        </td>
        <td>
        <center><strong>100,000</strong></center>
        </td>
        <td>
        <center><strong style="color:#2796d8;font-size: 2em">=</strong></center>
        </td>
        <td>
        <center><strong>&pound;300</strong></center>
        </td>
      </tr>

      <tr>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">30 point movement</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Stake</span></center>
        </td>
        <td>
        &nbsp;
        </td>
        <td valign="top">
        <center><span style="color:#666;font-size:0.9em">Loss</span></center>
        </td>
      </tr>
    </table>
    </center>
    
    </div>


    <p style="font-size: 0.8em;margin:1em 2em 1em 2em">
    Please be aware that all trade examples above do not include any additional charges that may be associated, such as overnight financing.
    </p>
    <br>




 <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
<br>
<br>


    <h2 class="heading-large" style="font-size: 1.4em" id="elements">Trading Basics</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q2-whatis-spreadbetting">What is Spread Betting?</a></li>
      <li><a href="q2-whatis-cfdtrading">What are CFDs?</a></li>
      <li><a href="q2-whatis-forextrading">What is Forex Trading?</a></li>
      <li><a href="q2-whatis-forextrading">Margin and Leverage</a></li>
      <li><a href="q2-whatis-tradesorders">Trades vs Orders</a></li>
      <li><a href="q2-whatis-longorshort">Going Long or Short</a></li>
      <li><a href="q2-whatis-markethours">Market Hours</a></li>
    </ul>

<br>


<h3 class="heading-large" style="font-size: 1.2em" id="elements"><strong>Please Rate this Page</strong></h3>

<p>In order to help us improve the content, please rate whether you found it helpful and useful.</p>

<script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "310761",
            uid: "837cc9e1cb9566c376f9fd4c504ff35c",
            options: { "style": "oxygen" } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script></> 


    <div class="rw-ui-container"></div>


    <p>You can leave any additional comments in the field provided. </p>   

<br>
    



  </form>




  </div><!-- end column two thirds -->




  <div class="column-third">

  

</div>







</main>

{{/content}}

{{/layout}}
