{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>A quick overview of the main features in our Web trading platform.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Checking Final P&amp;L with the Trade History Panel</h2>

  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q4-platformbasics-1">


  <img src="/public/images/guide-tradehistory.png" style="max-width: 900px;margin-bottom:1em">




    <ol>
      <li style="margin-bottom:1em">1. View each of your previous trades from the <i>Trade History</i> list.</li>
      <li style="margin-bottom:1em">2. From here, you can check the final P&amp;L of each trade.</li>
    </ol>

    
  <div style="max-width: 640px">
    <h3 class="heading-large" style="font-size: 1.4em" id="elements">Would you like to explore a short &#34;How to...?&#34; guide on using other basic platform features?</h3>

    <p>If you don't, click [<strong>X</strong>] to close this window. You can access the learning content again by clicking <strong>Getting Started</strong> from the <strong>Platform</strong> menu.</p>
    <br>
  </div>
 


  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">




  </form>





</main>

{{/content}}

{{/layout}}
