{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">

  

  <br clear="all">

  <p>A quick overview of the main features in our Web trading platform.</p>



  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q3-features-3">


     <div style="float:left;width:30%;margin-right:2em">


    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Placing a Trade using the Dealing Ticket</h2>

    <ol>
      <li style="margin-bottom:1em">1. Select [<strong>Buy</strong>] or [<strong>Sell</strong>] for the trade direction you want to take.</li>
      <li style="margin-bottom:1em">2. Enter the amount to trade in the <strong>Quantity</strong> field.</li>
      <li style="margin-bottom:1em">3. Add stop loss and take profit orders as needed and check the margin required to place the trade. Click [<stronger>Place Trade</stronger>] when ready.</li>
    </ol>


    </div>

<br>
    <div  style="float:left">
     <img src="/public/images/guide-ticket.png">
     </div>

  <br clear="all">
   
   


  <!-- Primary buttons, secondary links -->
    
    <br>
    <input type="submit" class="primary-button" value="Next Feature" style="padding:0.6em 1.5em">
    
    <br>
    <br>
    <br>



    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q3-whichplatform-otherweb">Watchlists</a></li>
      <li><a href="q3-features-3">Monitoring Trades with the Open Positions Panel</a></li>
      <li><a href="q3-features-4">Checking final P&amp;L with the Trade History Panel</a></li>
    </ul>
  



  </form>







</main>

{{/content}}

{{/layout}}
