{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>A quick overview of the main features in our Web trading platform.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Monitoring and Closing a Trade from the Open Positions Panel</h2>

  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q3-features-4">


<img src="/public/images/guide-openpos.png" align="middle" style="max-width: 900px">
<br><br>




    <ol>
      <li style="margin-bottom:1em">1. View your <i>Open Positions</i> list.</li>
      <li style="margin-bottom:1em">2. Check the live P&amp;L of each open position.</li>
      <li style="margin-bottom:1em">3. Use [<strong>Edit</strong>] to add or modify stops and limits.</li>
      <li style="margin-bottom:1em">4. Click [<strong>X</strong>] to manually close a position.</li>
      <li style="margin-bottom:1em">5. Monitor the margin required to keep each trade open.</li>

    </ol>

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
    
    <br>
    <input type="submit" class="primary-button" value="Next Feature" style="padding:0.6em 1.5em">
    
    <br>
    <br>
  



    <h2 class="heading-large" style="font-size: 1.66em" id="elements">Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q3-whichplatform-otherweb">Watchlists</a></li>
      <li><a href="q3-features-2">Placing a Trade using the Dealing Ticket</a></li>
      <li><a href="q3-features-4">Checking Final P&amp;L with the Trade History Panel</a></li>
    </ul>




  </form>




  







</main>

{{/content}}

{{/layout}}
