{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using basic platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Market Search</h2>

  <form action="q4-platformbasics-2.html" method="get" class="form">


<p></p>
<br>
<center><i>Generic Market Search image</i></center>
<br>


    <ol>
      <li style="margin-bottom:1em">Enter the name of the market to search.</li>
      <li style="margin-bottom:1em">Alternatively, use the filter to see all markets within a category such as <i>FX &#8211; GBP Crosses</i>.</li>
      <li style="margin-bottom:1em">Click the star next to any market to add it into a watchlist.</li>
    </ol>

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
    
    <br>
    <input type="submit" class="primary-button" value="Next Feature" style="padding:0.6em 1.5em">
    
    <br>
    <br>
    <br>



    <h2 class="heading-large" style="font-size: 1.4em" id="elements">Basic Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q4-platformbasics-2">Charts</a></li>
    </ul>



  </form>




</main>

{{/content}}

{{/layout}}
