{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using basic platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Charts</h2>


<h3><strong>Open a Chart</strong></h3>
<p>Open a chart from the <i>Market Search</i> results or from a <i>Watchlist</i>.</p>

<br>
<center><i>Generic image of chart button by a market name.</i></center>
<br>

<h3><strong>Chart Indicators</strong></h3>

<br>
<center><i>Generic image of the chart dropdown menu followed by the pop-up list</i></center>
<br>

    <ol>
      <li style="margin-bottom:1em">1. Select [<strong>Add Indicator</strong>] from the menu dropdown on the chart.</li>
      <li style="margin-bottom:1em">2. Choose the indicator to add from the pop-up list.</li>
    </ol>

  <br clear="all">
    

<br>
<h3 class="heading-large" style="font-size: 1.4em" id="elements">Would you like to explore advanced platform features?</h3>

<p>If you don't, click [<strong>X</strong>] to close this window. You can access the learning content again by clicking <strong>Getting Started</strong> from the <strong>Platform</strong> menu.</p>
<br>


  <form action="basic-flow" method="get" class="form">
    <input type="hidden" name="nextlink" value="q5-platformadv-yes">




  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 

<br>
<br>

 <h2 class="heading-large" style="font-size: 1.4em" id="elements">Basic Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q4-platformbasics-1">Market Search</a></li>
    </ul>


  </form>




</main>

{{/content}}

{{/layout}}
