{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using advanced platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Price Tolerance</h2>

  <form action="q5-platformadv-yes4.html" method="get" class="form">



<p>Applicable accounts can define the amount of movement in price <i>(slippage)</i> you will accept to execute a trade. The default value for all markets is <strong>2</strong>.</p>
<p>The following example illustrates how price tolerance works.
<center><i>Generic image showing buy and sell prices</i></center>
<br>

<p>The <i>sell</i> price of a market is 10 and the <i>buy</i> price is 12 with the default price tolerance value of 2 used.</p>
<p>You click to <strong>sell at 10</strong>. The trade is accepted if the sell price is <strong>8 or higher</strong> at the time your sell order is received. However, if the price has moved to <strong>7 or lower</strong> in the intervening time then the trade is refused.</p>


<br>
<h3>Changing the Price Tolerance</h3>

<center><i>Generic image of the market information sheet</i></center>
<br>


    <ol>
      <li style="margin-bottom:1em">Open the <i>Market Information</i> sheet of the market that you want to change the price tolerance.</li>
      <li style="margin-bottom:1em">Use the dropdown menu to choose the value of price tolerance you want to use.</li>
    </ol>

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 
<br>
<br>
<br>


<h2 class="heading-large" style="font-size: 1.4em" id="elements">Other Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes">Chart Profiles</a></li>
      <li><a href="q5-platformadv-yes2">Platform Workspace</a></li>
      <li><a href="q5-platformadv=yes4">Price Alerts</a></li>
      <li><a href="q5-platformadv=yes5">Research</a></li>
      <li><a href="q5-platformadv=yes6">Fund Account</a></li>
    </ul>



  </form>



</main>

{{/content}}

{{/layout}}
