{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using advanced platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Fund Account</h2>

 

<p>You can add funds to your account using various payment methods from within the platform at any time. </p>


<br>
<center><i>Generic image of <strong>Platform</strong> menu <strong>Fund your Account</strong> option</i></center>
<br>

<br>
<center><i>Follow the instructions provided to use BACS, CHAPS, Cheque, and Debit/Credit Card methods.</i></center>
<br>

<br>
 
<h3 class="heading-large" style="font-size: 1.2em" id="elements"><strong>Congratulations!</strong></h3>

<p>You have completed the learning content. <a href="javascript:close_window();">Close this window</a> and start using the trading platform. Comprehensive platform help can be accessed by selecting <strong>Manual</strong> from the <strong>Platform</strong> menu.</p>
<p>You can also access the learning content again by clicking <strong>Getting Started</strong> from the <strong>Platform</strong> menu.</p>   

<br>



<h3 class="heading-large" style="font-size: 1.2em" id="elements"><strong>Please Rate the Learning Content</strong></h3>

<p>In order to help us improve this learning content, please rate whether you found it helpful and useful.</p>

<script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "310761",
            uid: "837cc9e1cb9566c376f9fd4c504ff35c",
            options: { "style": "oxygen" } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script></> 


    <div class="rw-ui-container"></div>


    <p>You can leave any additional comments in the field provided. </p>   

<br>



<h2 class="heading-large" style="font-size: 1.4em" id="elements">Other Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes">Chart Profiles</a></li>
      <li><a href="q5-platformadv-yes2">Platform Workspace</a></li>
      <li><a href="q5-platformadv-yes3">Price Tolerance</a></li>
      <li><a href="q5-platformadv-yes4">Price Alerts</a></li>
      <li><a href="q5-platformadv-yes5">Research</a></li>
    </ul>



  </form>



</main>

{{/content}}

{{/layout}}
