{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using advanced platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Chart Profiles</h2>

  <form action="q5-platformadv-yes2" method="get" class="form">


<p>Chart profiles store the exact apperance, time frame and indicators used on a chart so you can quickly apply them to another chart.</p>
<br>
<center><i>Generic image of a customised chart</i></center>
<br>


    <ol>
      <li style="margin-bottom:1em">Modify the chart as desired, including any indicators you want saved in the profile.</li>
      <li style="margin-bottom:1em">Select the <strong>Save current profile</strong> option from the drop down menu and enter the name you want to call it.</li>
      <li style="margin-bottom:1em">All saved profiles now appear in the drop down menu.</li>
    </ol>

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">

<br>
<br>
<br>


<h2 class="heading-large" style="font-size: 1.4em" id="elements">Advanced Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes2">Platform Workspaces</a></li>
      <li><a href="q5-platformadv-yes3">Price Tolerance</a></li>
      <li><a href="q5-platformadv-yes4">Price Alerts</a></li>
      <li><a href="q5-platformadv-yes5">Research</a></li>
      <li><a href="q5-platformadv-yes6">Fund Account</a></li>
    </ul> 



  </form>



</main>

{{/content}}

{{/layout}}
