{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using advanced platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Price Tolerance</h2>

  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q5-platformadv-yes4">



<p>Applicable accounts can define the amount of movement in price <i>(slippage)</i> you will accept to execute a trade. The default value for all markets is <strong>2</strong>.</p>
<p>The following example illustrates how price tolerance works.


 <!-- heatmap box with price boxes -->
    <div id="heatmapbox" style="border-radius:4px;border:2px solid #999;display:block;width:13em;padding:1em 0 1em 1.5em;text-align: center">

    <div>
      <div style="float:left;font-size: 1em">Market name CFD</div>


      <div style="float:left;margin:-6px 0 0 12px;font-size: 0.66em">
            <select class="input-select" name="watch-list-menu" id="watch-list-menu" style="width: 1.9em">
              <option value="value1" selected="">&#9660;</option> 
              <option value="value2">Market information</option>
              <option value="value3">Open chart</option>
              <option value="value4">News</option>
              <option value="value5">Technical analysis</option>
              <option value="value5">Set alert</option>

            </select>
          </div>

      <div style="float:right;font-size: 1.5em;margin:-5px 0.75em 0 0">&times;</div>

    </div>

    <br clear="all">


    <div style="float:left;">
      <div style="float:left;padding:0;margin-right:1.5em">
          <p style="color:#dc4651;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Sell price</p>

          <div style="background-color:#dc4651;padding:0.3em 1.4em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">10</div>

      </div>

      <div style="float:left;padding:0">
          <p style="color:#2796d8;text-align: center;font-weight: 600;font-size: 0.9em;margin-bottom:0">Buy price</p>

          <div style="background-color:#2796d8;padding:0.3em 1.4em;color:white;font-size: 1.3em;font-weight: 700;border-radius: 3px;">12</div>

      </div>
    </div>

    <br clear="all">

    </div>
    <br clear="all">




<br>

<p>The <i>sell</i> price of a market is 10 and the <i>buy</i> price is 12 with the default price tolerance value of 2 used.</p>
<p>You click to <strong>sell at 10</strong>. The trade is accepted if the sell price is <strong>8 or higher</strong> at the time your sell order is received. However, if the price has moved to <strong>7 or lower</strong> in the intervening time then the trade is refused.</p>


<br>
<h3 class="heading-medium">Changing the Price Tolerance</h3>

<ol>
  <li style="margin-bottom:1em">Open the <i>Market Information</i> sheet of the market that you want to change the price tolerance.</li>
  <li style="margin-bottom:1em">Use the dropdown menu to choose the value of price tolerance you want to use.</li>
</ol>


<div id="marketinfosheet" style="border-radius:4px;border:2px solid #999;display:block;width:60%;padding:1em 0 1em 1.5em">

<h3 class="heading-medium" style="margin:0 0 0.5em 0;"><span style="font-weight:700">Market name CFD</span></h3>

<ul style="font-weight: 700">

  <li><span style="width: 50%;display: inline-block;font-weight: 300">Minimum size</span> 0.43.GBP</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Max long size</span> 395.85 GBP</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Max short size</span>  395.85 GBP</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Long only?</span> No</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Close only</span> No</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Margin factor</span> 0.5%</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Margin factor increases at</span> 210</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Minium order distance</span> 0</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">24 hour market?</span> Yes</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Market ID</span> 400616115</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Trade on web?</span> Yes</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Minimum spread</span> 1 points</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Expiry</span> 01/01/2022 00:00:00</li>
  <li><span style="width: 50%;display: inline-block;font-weight: 300">Bet per</span> 1</li>

  <p style="font-weight:700;text-transform: uppercase;margin-bottom:0.3em">Preferences</p>
  </ul>

  <div style="float:left;width: 50%;display: inline-block;">
  <span style="font-weight: 300;margin-top:-15px">Price tolerance</span>

  </div>

  <div style="display: inline-block;margin-top:-10px;font-size: 0.75em">
    <select class="input-select" name="watch-list-menu" id="watch-list-menu" style="width:3em">
      <option value="value0">0</option>
      <option value="value1">1</option>
      <option value="value2" selected="">2 &#9660;</option> 
      <option value="value3">3</option>
      <option value="value4">4</option>
      <option value="value5">5</option>
      <option value="value5">6</option>
      <option value="value5">7</option>
    </select>
  </div>


  </div>

    <br clear="all">







   

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 
<br>
<br>
<br>


<h2 class="heading-large" style="font-size: 1.4em" id="elements">Other Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes">Chart Profiles</a></li>
      <li><a href="q5-platformadv-yes2">Platform Workspace</a></li>
      <li><a href="q5-platformadv-yes4">Price Alerts</a></li>
      <li><a href="q5-platformadv-yes5">Research</a></li>
      <li><a href="q5-platformadv-yes6">Fund Account</a></li>
    </ul>



  </form>



</main>

{{/content}}

{{/layout}}
