{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

  <br clear="all">

  <p>Short &#34;How to...?&#34; guide on using advanced platform features.</p>


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Price Alerts</h2>

  <form action="q5-platformadv-yes5.html" method="get" class="form">



<p>Alerts can be set on a market to notify you when the price hits a certain level. The alerts can be sent within the platform or as a push notification.</p>


<br>
<center><i>Generic image of <strong>Alert</strong> tab on Trade/Order ticket</i></center>
<br>


    <ol>
      <li style="margin-bottom:1em">Access the <strong>Alert</strong> tab from the Trade/Order ticket of the market where you want to set an alert.</li>
      <li style="margin-bottom:1em">Set whether you want the alert to be triggered by the <i>buy</i> or <i>sell</i> price reaching a certain level.</li>
      <li style="margin-bottom:1em">Enter the price level that triggers the alert and how long you want the alert to be active.</li>
    </ol>

  <br clear="all">
    

  <!-- Primary buttons, secondary links -->
  
    <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
 
<br>
<br>
<br>


<h2 class="heading-large" style="font-size: 1.4em" id="elements">Other Platform Features</h2>

    <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes">Chart Profiles</a></li>
      <li><a href="q5-platformadv-yes2">Platform Workspace</a></li>
      <li><a href="q5-platformadv=yes3">Price Tolerance</a></li>
      <li><a href="q5-platformadv=yes5">Research</a></li>
      <li><a href="q5-platformadv=yes6">Fund Account</a></li>
    </ul>



  </form>



</main>

{{/content}}

{{/layout}}
