{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<body style="background-image: url('/public/images/big-advantageweb-screen.pnga')">
<main id="content" role="main" style="background-color: rgba(255, 255, 255, 0.85);padding: 1em">
 

<div  style="max-width: 640px">


  <h2 class="heading-large" style="font-size: 1.66em" id="elements">Research</h2>

  <form action="basic-flow" method="get" class="form">
  <input type="hidden" name="nextlink" value="q5-platformadv-yes6">



    <p>Access technical and fundamental research together with an economic calendar by using the <i>Research</i> panel. The research presents many trading ideas across a variety of markets.</p>


    <br>
    <img src="/public/images/guide-locate-component-menu.png"  style="max-width: 640px">
    <br>

    <br>
    <!-- not sure it needs a picture <center><i>Generic image of the Research component</i></center>
    <br>-->

    <br>
        
        

      <!-- Primary buttons, secondary links -->
      
        <input type="submit" class="primary-button" value="Continue" style="padding:0.6em 1.5em">
     
    <br>
    <br>
    <br>


    <h2 class="heading-large" style="font-size: 1.4em" id="elements">Other Platform Features</h2>

        <ul style="margin-bottom:1.5em">
      <li><a href="q5-platformadv-yes">Chart Profiles</a></li>
      <li><a href="q5-platformadv-yes2">Platform Workspaces</a></li>
      <li><a href="q5-platformadv-yes3">Price Tolerance</a></li>
      <li><a href="q5-platformadv-yes4">Price Alerts</a></li>
      <li><a href="q5-platformadv-yes5">Research</a></li>
      <li><a href="q5-platformadv-yes6">Fund Account</a></li>
        </ul>
<br>


<h3 class="heading-large" style="font-size: 1.2em" id="elements"><strong>Please Rate this Page</strong></h3>

<p>In order to help us improve the content, please rate whether you found it helpful and useful.</p>

<script type="text/javascript">(function(d, t, e, m){
    
    // Async Rating-Widget initialization.
    window.RW_Async_Init = function(){
                
        RW.init({
            huid: "310761",
            uid: "837cc9e1cb9566c376f9fd4c504ff35c",
            options: { "style": "oxygen" } 
        });
        RW.render();
    };
        // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0], id = "rw-js",
        l = d.location, ck = "Y" + t.getFullYear() + 
        "M" + t.getMonth() + "D" + t.getDate(), p = l.protocol,
        f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
        a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;              
    rw = d.createElement(e);
    rw.id = id; rw.async = true; rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
    }(document, new Date(), "script", "rating-widget.com/"));</script></> 


    <div class="rw-ui-container"></div>


    <p>You can leave any additional comments in the field provided. </p>   

<br>





  </form>

</div>

</main>

{{/content}}

{{/layout}}
