{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge">Trading psychology</h1>

<div class="grid-row">
  <div class="column-two-thirds">


<blockquote class="researchquote">“Trading confronts a person with some of the most sustained adverse psychological conditions that you can expose yourself to.”<br>
<span style="font-size:0.8em;font-weight:500">Mark Douglas, Trading in the Zone</span></blockquote>

<h2 class="heading-large">Introduction</h2>

<h3 class="heading-medium">1.1 Trading psychology</h3>

<p>Probably the biggest factor in determining whether a trader is successful is their psychology. A conservative estimate is that 60% of trading success is due to psychology, with 30% being money management and 10% trading strategy. However, other trading experts rate the proportion considerably higher.</p>

<p>Trading psychology comes into two broad categories: emotions and mindsets.</p>

<p>This report looks at the sorts of issues that users can have in both of these areas and at how they can affect their trading performance.</p>

<h3 class="heading-medium">1.2 Conditions for going into a trade</h3>

<p>A user should only get into a trade if they have:</p>

<ul class="inline-bullet">
  <li>Predefined the risk parameters. They know how much they could win or lose</li>

  <li>Are able to take losses at their predefined positions</li>

  <li>Are able to take profits at their predefined positions</li>
</ul>

<p>Any psychological issues that interfere with these things are likely to lead to a decline in trading performance.</p>




<h2 class="heading-large">Emotions</h2>

<h3 class="heading-medium">2.1 Four components of emotion</h3>

<p>Emotions can be thought of as having four components: a qualitative descriptor of feeling plus three quantitative dimensions: positivity, activation, dominance</p>

<ul class="inline-bullet">
  <li>Feeling refers to a word that describes the emotion</li>

  <li>Positivity is how good the person feels</li>

  <li>Activation is how much energy and stimulation the emotion causes</li>

  <li>Dominance is the level of power that the person perceives they have</li>
</ul>

<p>This is known as the F-PAD model of emotion. The three quantitative dimensions are rated on a five-point scale between &#8211;2 and +2.</p>

<p>As examples consider anger, pride and comfort that have the following components*</p>

<p>(*The P, A, and D ratings are based on expert opinion, they have not been empirically measured)</p>


<div style="background-color: #eee;padding: 1em 1em 0.25em 1em;font-size: 120%;margin-bottom:1em;margin-left:-1em">
  <p>F = anger; P = &#8211;1; A = +2; D = +2</p>

  <p>F = pride; P = +2; A = +1; D = +2</p>

  <p>F = comfort; P = +1; A = &#8211;2; D = +1</p>
</div>

<p>Here are some emotions plotted on a graph.</p>

<h3 class="heading-medium">2.2 Trading and emotions</h3>

<p>Many professional articles claim that there is no place for emotions in trading. Only ‘calculated, well-planned decisions). Realistically we can’t expect people to feel no emotions at all, but the more these can be dialled down the better.</p>

<h3 class="heading-medium">2.3 Positivity and trading</h3>

<p>A study by MIT showed that if someone has strongly positive emotions (large positive P value) when they make a winning trade or strongly negative emotions (large negative P value) when they make a losing one this affects their performance negatively. People are more successful the less emotionally invested they are in winning and losing.</p>

<h3 class="heading-medium">2.4 Activation and trading</h3>

<p>A study by the University of Missouri found that if people experience emotions with high activation levels (large positive A value) they would be more likely to engage in financially risky behaviours. However emotions with large negative A values, such as boredom, can also be problematic and lead to distraction and lack of concentration.</p>

<h3 class="heading-medium">2.5 Dominance and trading</h3>

<p>A study by Carnegie Mellon University suggested that emotions associated with high levels of dominance (large positive D values) lead to over optimism and those with low levels (high negative D values) can lead to over pessimism.</p>

<h3 class="heading-medium">2.6 Low rated emotions better for trading</h3>

<p>Users are more likely to trade effectively when they experience emotions that are low on all three quantitative dimensions. So, with reference to the examples above, comfort would be a better emotional state that either pride or anger.</p>

<p>Generally it is better to help users avoid emotions that are either +2 or &#8211;2 on any of the quantitative dimensions.</p>

<h3 class="heading-medium">2.7 Feelings and trading</h3>

<p>Scoring high on the quantitative dimensions is not the only indicator of whether an emotion may be destructive to a person’s trading. Some emotions are harmful mainly because of their feeling (F) component. Among the most common experienced by traders are greed, fear, hope and regret.</p>

<h3 class="heading-medium">2.8 Greed and trading</h3>

<p>Greed is the desire to make money in large quantities, easily and fast. It can affect traders by encouraging them to risk too much on a particular trade or leave open a profitable trade for too long in the hope of getting further profits only to find that the trend moves in the other direction.</p>

<h3 class="heading-medium">2.9 Fear and trading</h3>

<p>Fear often prevents traders from getting into trades when their system says that they should do so. It can also lead to rash decisions such as cutting profits short from fear of losing gains and jumping into rash trades for fear of missing opportunities.</p>

<p>Fear is also highly negative on all three quantitative dimensions and brings the additional dangers that go with that.</p>

<h3 class="heading-medium">2.10 Hope and trading</h3>

<p>Hope is the expectation that something good will happen or the strong desire for the thing to happen. The hope that every trade will be a winning trade can lead to a lack of discipline. Sometimes it works in the same way as greed in encouraging people to stay in winning trades too long in the hope of an even bigger profit, sometimes it encourages people to stay in losing trades too long in the hope that they will turn around.</p>

<h3 class="heading-medium">2.11 Regret and trading</h3>

<p>Regret can arise when a trade does not turn out optimally even if the user has stuck to their system. For example maybe a trade was stopped out but would have recovered and been profitable if the stop-loss had been set further away. Maybe if a profit-limit had been placed higher the user would have made a bigger profit.</p>

<p>The danger is that this then influences the user to deviate from their system on the next trade. For example, they may put their stop-loss or profit-limit too far away and ruin their system.</p>

<h3 class="heading-medium">2.12 Anger and Frustration and trading</h3>

<p>These high activation negative emotions can lead people into highly risky ‘revenge trades’. This typically occurs after a user has made a losing trade, particularly if they have lost a substantial sum and they then try to win a large some back straight away. Usually they will deviate from their trading plan, for example by putting an inappropriately large stake on the trade or jumping into a trade in the hope it will work, rather than on the basis of proper analysis. Often these result in further big losses resulting in a downward spiral.</p>






<h2 class="heading-large">Mindsets</h2>

<h3 class="heading-medium">3.1 Not accepting risk</h3>

<p>Successful traders tend to develop a ‘probabilistic’ mindset. This means accepting that they will have losing trades as well as winning trades.</p>

<p>A probabilistic mindset involves holding two levels of belief at the same time.</p>

<ul class="inline-bullet">
  <li>Micro-level: the outcome of individual trades are uncertain and unpredictable</li>

  <li>Macro-level: the outcome over a series of trades is relatively certain and predictable</li>
</ul>

<p>This belief helps users to avoid getting too emotional about the outcome of individual trades and to have faith that their trading plan will work in the long run. Maintaining this belief minimises the temptation to lose discipline and deviate from the plan as a result of a losing trade or missed opportunity.</p>

<h3 class="heading-medium">3.2 Insufficient practice and patience</h3>

<p>A user can (and should) only have confidence in a trading plan if they know that it works. For those who are serious about their trading success it is essential that they spend time developing a plan and practicing it on a demo platform over a period of time. If they are using automated trading, they should carry out back-testing if possible.</p>

<p>The psychology of trading on a demo where no money is at stake is very different to that of trading on a live account. Nevertheless, without a tested trading plan which the user can believe in they are unlikely to be able to maintain the confidence in their plan which is necessary to keep their discipline during live trading.</p>

<h3 class="heading-medium">3.3 Not having a ‘mechanical’ mindset</h3>

<p>Developing into an expert trader has three stages:</p>

<ul class="inline-bullet">
  <li>Mechanical stage. Developing a system and applying it rigidly</li>

  <li>Subjective stage. Using experience and knowledge to spot opportunities that may be outside a person’s usual system</li>

  <li>Intuitive stage. Being able to spot opportunities instinctively through high levels of experience and expertise</li>
</ul>

<p>Very few retail traders will get past the mechanical stage and it is important that they are realistic about this. Trying to trade subjectively or intuitively before they are ready can be catastrophic as essentially it represents a lack of discipline in sticking to their trading plan. Unless a user is a full-time trader they should probably accept that their trading will never go beyond the mechanical stage.</p>

<h3 class="heading-medium">3.4 Rule Aversion</h3>

<p>There are not many areas of life where we make up strict rules for ourselves and stick to them diligently. Many people may be adverse to the whole concept of doing this, even though it is essential to trading successfully. The temptation for rule averse people may be to try and trade on ‘instinct’ or ‘judgement’ way before their instinct or judgement is sufficiently developed.</p>

<h3 class="heading-medium">3.5 Overconfidence</h3>

<p>Many traders are prone to overconfidence. Broadly, this can take two forms:</p>

<ul class="inline-bullet">
  <li>Overestimating your ability as a trader</li>

  <li>Excessive certainty about the accuracy of your beliefs</li>
</ul>

<p>The first of these is likely to tempt the user to move away from the mechanical mindset that they need to keep their discipline and try and trade subjectively or intuitively. The second is likely to lead to people staying in trades when they should be getting out of them leading to running of losses. It can also lead to people staking too much on a particular trade.</p>

<p>Overconfident traders may get rushed into trades without sufficient analysis. There is evidence that they increase their trading volume when exposed to news.</p>

<h3 class="heading-medium">3.6 Overreaction</h3>

<p>Overreaction is the tendency to trade too heavily around an item of news. For example, if a user has heard some bad news about a country’s economy they may decide to short a large amount of their currency. There are several dangers in this. The market may already have anticipated the bad news, the trader may not have got their trade in in time and the currency may be on the rebound by the time they do and because of their excitement that user may have overleveraged or placed too big a stake.</p>

<h3 class="heading-medium">3.7 Loss aversion</h3>

<p>People are generally loss averse. On average we put 2.5 times more weight on a loss than we do on a gain. For example, our unhappiness at losing £ 100 is 2.5 times as great as our happiness at winning £ 100. Again, this has the effect of dissuading people from closing losing trades early enough, causing losses to run and also tends to make people close winning trades too early for fear of the losing the gains that have accumulated.</p>

<h3 class="heading-medium">3.8 Stubbornness</h3>

<p>A characteristic that can sometimes be linked to overconfidence, but can also exist independently of it is stubbornness. When someone is being stubborn they may refuse to accept that the trade isn’t working out as they predicted and refuse to leave the trade even in the face of clear evidence that they should do so. Again, the likely outcome of this is running losses.</p>

<h3 class="heading-medium">3.9 Egotism</h3>

<p>Another related characteristic is egotism. Being egotistical about trading can lead someone to becoming emotional about a trade because they feel that the outcome will affect their self-esteem. It can also lead to both overconfidence (because they think they are a better trader than they are) and stubbornness (because they don’t want to admit they are wrong).</p>

<h3 class="heading-medium">3.10 Attention</h3>

<p>A problem for many retail traders is that they do not give their trading sufficient attention. Instead of keeping their attention on their charts or other training aids they get side-tracked into doing other things, such as emailing, or watching videos. Professional traders will typically be in front of the computer for all the time they are trading and constantly monitoring their positions. Lack of attention can lead to missing opportunities, lack of monitoring and missing important news. </p>

<h3 class="heading-medium">3.11 Lack of safety focus</h3>

<p>The most successful traders are safety oriented. They are not primarily focussed on how much they can make from a trade, but rather on managing the risk should the trade go against them. Those who focus on potential gains leave themselves open to greed and may have unrealistically high expectations which can lead to irrational trading behaviour. As a rule of thumb many experts suggest that people should not risk more than 1% of their total account on a single trade.</p>

<h3 class="heading-medium">3.12 Overweighting success</h3>

<p>This is when traders are selective in assessing their trading performance. There may a tendency to believe that their winning trades are down to them and their trading systems, whereas their losing trades are down to bad luck. This means that they do not learn from their mistakes and that their trading does not improve with time. It can lead to traders persistently losing over long periods of time.</p>







<h2 class="heading-large">Summary</h2>

<p>If we can help users overcome these emotional issues and damaging mindsets success is likely to improve.</p>

<h3 class="heading-medium">4.1 Emotional issues</h3>


<table id="researchtable">
<thead>
  <th>Issue</th>

  <th>Effect</th>

</thead>
<tbody>
<tr>
<td>Intense emotions</td>

<td>All extreme emotions are detrimental to trading </td>
</tr>
<tr>
<td>Highly positive emotions</td>

<td>General drop in trading performance</td>
</tr>
<tr>
<td>Highly negative emotions</td>

<td>General drop in trading performance</td>
</tr>
<tr>
<td>Highly activated emotions</td>

<td>High risk behaviour</td>
</tr>
<tr>
<td>Low activation emotions</td>

<td>Distraction</td>
</tr>
<tr>
<td>Highly dominant emotions</td>

<td>Over optimism</td>
</tr>
<tr>
<td>Low dominance emotions</td>

<td>Over pessimism</td>
</tr>
<tr>
<td>Greed</td>

<td>Keeping trades open too long</td>
</tr>
<tr>
<td>Fear</td>

<td>Cutting profits; making rash trades</td>
</tr>
<tr>
<td>Hope</td>

<td>Keeping trades open too long; running losses</td>
</tr>
<tr>
<td>Regret</td>

<td>Deviation from trading plan</td>
</tr>
<tr>
<td>Anger and frustration</td>

<td>Revenge trading; spiralling losses</td>
</tr>

</tbody>
</table>






<h3 class="heading-medium">4.2 Damaging Mindsets</h3>

<table id="researchtable">
<thead>
  <th>Mindset</th>

  <th>Effect</th>

</thead>
<tbody>
<tr>
<td>Not accepting risk</td>

<td>Increases emotional impact of each trade</td>
</tr>
<tr>
<td>Lack of practice and patience</td>

<td>Inadequate plan; lack of confidence in plan</td>
</tr>
<tr>
<td>Not having ‘mechanical’ mindset</td>

<td>Inappropriate deviation from plan</td>
</tr>
<tr>
<td>Rule aversion</td>

<td>Don’t develop or consistently deviate from plan</td>
</tr>
<tr>
<td>Overconfidence</td>

<td>Don’t stick to plan; run losses; over-trade; stake too much</td>
</tr>
<tr>
<td>Overreaction</td>

<td>Over-trading; over-leverage</td>
</tr>
<tr>
<td>Loss aversion</td>

<td>Cutting profits; running losses</td>
</tr>
<tr>
<td>Stubbornness</td>

<td>Running losses</td>
</tr>
<tr>
<td>Egotism</td>

<td>Become emotional; stubbornness; overconfidence</td>
</tr>
<tr>
<td>Attention</td>

<td>Missing opportunities; lack of monitoring; missing news</td>
</tr>
<tr>
<td>Lack of safety focus</td>

<td>Risk too much on trades</td>
</tr>
<tr>
<td>Overweighting success</td>

<td>Failure to learn; persistent long-term losses</td>
</tr>

</tbody>
</table>





<h2 class="heading-large">References</h2>

<h3 class="heading-medium">4.1 Primary Source</h3>

<p><a href="https://www.amazon.co.uk/Trading-Zone-Mark-Douglas/dp/0735201447/">Douglas, M., 2000. Trading in the Zone, NIYF</a></p>



<h3 class="heading-medium">4.2 Other sources</h3>

<p><a href="https://faculty.haas.berkeley.edu/odean/papers/Day%20Traders/Day%20Trading%20and%20Learning%20110217.pdf">Barber, B.M., 2010. Do day traders rationally learn about their ability?</a> University of California, Berkeley</p>



<p><a href="http://www.smbtraining.com/blog/what-is-the-best-personality-type-for-a-trader">Bellafiore, M., 2013. What is the best personality for a trader?</a> SMB University</p>



<p><a href="http://optionalpha.com/14-characteristics-of-highly-successful-traders-11103.html">Du Plessis, K. 14 Characteristics of highly successful traders</a>, Option Alpha</p>



<p>Fenton-O’Creevy, M., Nicholson, N., Soane, E. and P. Willman, 2004. Traders: Risks, decisions, and management in financial markets. Oxford, UK: Oxford University Press.</p>

<p><a href="https://www.quora.com/What-kind-of-skills-and-character-traits-make-a-good-trader">Fernandez, A., 2015. What kinds of skills and character traits make a good trader?</a> Quora</p>



<p><a href="http://faculty.haas.berkeley.edu/odean/papers%20current%20versions/learningrfs.pdf">Gervais, S, and Odean, T. 1998, Learning to be overconfident</a>, Wharton School, University of Pennsylvania.</p>



<p><a href="http://www.dummies.com/how-to/content/characteristics-and-personality-traits-of-a-good-d.html">Griffis, M. and Epstein, L., Trading for Dummies</a>, Wiley</p>



<p><a href="https://www.jfdbrokers.com/jfd-research/blog/efthis-fx-insights/how-to-eliminate-emotions-from-trading.html">Grigoriou, E., 2015. How to eliminate emotions from trading</a>, JFD Brokers</p>



<p><a href="https://www.quora.com/What-kind-of-skills-and-character-traits-make-a-good-trader">Hwang, J., 2011. What kinds of skills and character traits make a good trader?</a> Quora</p>



<p><a href="http://greatergood.berkeley.edu/dacherkeltner/docs/lerner.fear.jpsp.2001.pdf">Lerner, J. and D. Keltner, 2001, Fear, anger, and risk</a>, Journal of Personality and Social Psychology 81, 146–59.</p>



<p><a href="http://www.nber.org/papers/w11243.pdf">Lo, A.W. et al., 2005. Fear and greed in financial markets: a clinical study</a>, National Bureau of Economic Research</p>



<p>Mahani, R. and Bernhardt, D., 2007. Financial Speculators&#8217; Underperformance: Learning, Self-Selection, and Endogenous Liquidity. Journal of Finance Volume 62, Issue 3, Pages i–xiii, 995–1526</p>


<p><a href="http://www.investopedia.com/articles/optioninvestor/11/how-to-be-a-successful-options-trader.asp">Sahajwani, M., 2016. Ten traits of a successful options trader</a>, Investopedia</p>



<p><a href="http://www.londonlovesbusiness.com/business-news/finance/the-trader-the-five-personality-traits-of-successful-traders/1576.article">Secker, G., 2012. The five personality traits of successful traders</a>, London Loves Business</p>



<p><a href="http://www.hankpruden.com/tentasks.pdf">Tharp, V.K., et al, 1992. The ten tasks of top trading</a>, MTA Journal, Winter 1992/1993</p>



<p><a href="http://news.efinancialcareers.com/uk-en/148944/the-six-personality-traits-of-a-successful-wall-street-trader/">Tuttle, B., 2013. The six personality traits of a successful Wall Street trader</a>, efinancialcareers</p>



<p><a href="http://en.tradimo.com/learn/trading-psychology/managing-emotions/">Tharp, V.K., 2013. Introduction to the psychology of trading</a>, Tradimo</p>





  </div>
</div>


</main>

{{/content}}

{{/layout}}
