{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Secondary research</h1>

  <p style="font-weight:600;font-size:0.85em;margin-bottom:2em">Author: <a href="http://www.patrickwjordan.com">Patrick Jordan</a> for Gain Capital, May 2016


	<div id="index">
	<ul>
    <li>Literature review</li>
  	<li><a href="#literature-uk">Market reports UK</a></li>
  	<li><a href="#literature-us">Market reports US</a></li>
  	<li><a href="#literature-apac">Market reports APC</a></li>
  	<li><a href="#internal-reports">Internal reports</a></li>
  	<li><a href="#literature-industry">Industry articles</a></li>
  	<li><a href="#literature-scientific">Scientific articles</a></li>
  	<li><a href="#common-mistakes">Most common trader mistakes</a></li>
  	<li><a href="#common-autotrading">Most common autotrading mistakes</a></li>
	
    <li style="margin-top:1em">Analysis</li>
    <li><a href="#trading-psychology">Trading psychology</a></li>
    <li><a href="#media-review">Media review - documentaries</a></li>
    <li><a href="#emotions-trading">Emotions and trading</a></li>
  </ul>


	</div>





<a id="literature-uk">
  <h2 class="heading-large" >Literature review: Market reports UK</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">Investment trends and other research give us a thorough quantitative overview of the UK market</h3>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Report</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: Financial Spread Betting Industry Trends, November 2015 (Vol 1)</p>
        </td>
        <td>
        <p>Lack of success biggest barrier to trading</p>

        <p>Ease of use and clean interface key</p>
        
        <p>Quality overtaking cost as main driver of switching</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: FSB Competitor Analysis, November 2015 (Vol 2)</p>
        </td>
        <td>
        <p>Ease of use is the number one driver of FSB provider selection</p>
        <p>Charting and other platform features next</p>
        <p>Spreads and customer service also important</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: CFD Industry Trends, November 2015 (Vol 3)</p>
        </td>
        <td>
        <p>Ease of platform use the number one driver of CFD platform selection</p>
        <p>Lack of knowledge major barrier to trading for new traders</p>
        <p>Lack of time for more experienced</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: CFD Competitor Analysis, November 2015 (Vol 4)</p>
        </td>
        <td>
        <p>City Index is not highly rated for platform usability compared with competitors</p>
        <p>Nor is it rated highly for platform features, research tools or charting</p>
        <p>CI users main suggestion for improvement is charting (apart from spreads)</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: FX Industry Trends, November 2015 (Vol 5)</p>
        </td>
        <td>
        <p>Lack of success knowledge and time are biggest barriers to trading</p>
        <p>Ease of use is biggest driver of provider selection</p>
        <p>Ease of account opening second</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, UK Leveraged Trading Report: FX Competitor Analysis, November 2015 (Vol 6)</p>
        </td>
        <td>
        <p>Many CI customers would value improved autotrading</p>
        <p>Many users unhappy with CI’s speed of execution</p>
        <p>Many CI clients use charts from other providers (one third user Bloomberg)</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Foolproof, City Index, Trading Platform User Research, June 2014</p>
        </td>
        <td>
        <p>Placing a trade online is difficult for those without experience</p>
        <p>People prefer a layout that reflects their style of trading</p>
        <p>Trading style and user journeys do not clearly correlate with trading experience</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>City Index (Larry Brangwyn), Online User Personas: UK Client Segmentation, January 31, 2014</p>
        </td>
        <td>
        <p>Making money is all traders’ primary focus</p>
        <p>Early losses often lead to dormancy</p>
        <p>Lack of time is major barrier to trading</p>
        </td>
      </tr>
    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Making money is the primary focus of all traders and losing it the biggest barrier to trading</p>

      <p>Ease of use is the main driver of platform selection</p>

      </td></tr></table>



<a id="literature-us">
<h3 class="heading-medium"   style="max-width: 650px">Similar research has been done in the USA</h3></a>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Report</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Investment Trends, United States Foreign Exchange Report, June 2015</p>
        </td>
        <td>
        <p>FX traders are becoming more price sensitive</p>

        <p>Numbers are down despite volatility</p>

        <p>Many have mastered the basics: want more help on analysis strategies and risk management</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Rokkan, Forex.com Digital Strategy, Feb 19, 2014</p>
        </td>
        <td>
        <p>Trading provision is a commoditized market, little competitor differentiation</p>

        <p>Need solid functional offer: low spreads, definite fills, quick trades</p>

        <p>Need emotional offer: help avoid losing money, peace of mind, fairness</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Forrester Research, Forex.com Segmentation: Quantitative Research Findings, June 2009</p>
        </td>
        <td>
        <p>Potential profit main reason for trading</p>

        <p>Most traders young, male, college educated, less risk adverse than average</p>

        <p>Average customer spends 16 hours/week on trading activities</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Rokkan, Gain Capital. US Consumer Research Findings, April 30, 2014</p>
        </td>
        <td>
        <p>Good returns important for all</p>

        <p>Status, freedom and control widespread drivers</p>

        <p>Perceived risk and effort are barriers for perspective traders</p>
        </td>
      </tr>
     

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Traders want to make as much money as possible and to keep their costs down</p>

      <p>Many, especially young men, enjoy the image and excitement that goes with trading</p>

      </td></tr></table>


<a  id="literature-apac">
  <h2 class="heading-large">Literature review: Market reports APAC</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">We also looked at APAC</h3>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Report</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>GfK for Rokkan, Report for Forex Market Research in China, April 18, 2014</p>
        </td>
        <td>
        <p>Many find it emotionally difficult to stick to their trading systems</p>
        <p>Don’t mind being treated like novices</p>
        <p>Platform stability and speed are main reasons for switching</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, Singapore CFD and FX Report, August 2015</p>
        </td>
        <td>
        <p>Ease of use number 1 selection driver for high value clients</p>
        <p>Losing money and lacking time are main reasons for stopping trading</p>
        <p>Customer service is number 1 priority for switchers</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, Australia CFD Report: Competitor Analysis, June 2015
</p>
        </td>
        <td>
        <p>Ease of use by far the biggest driver of provider selection</p>
        <p>Number of new traders increasing</p>
        <p>Lack of time a barrier to trading for many</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Investment Trends, Australia CFD Report: Industry Trends, June 2015</p>
        </td>
        <td>
        <p>Lack of time, knowledge and funds were biggest barriers to trading</p>
        <p>Reducing commissions and spreads would increase trading volume</p>
        <p>Ability to manage risk would also increase volume significantly</p>
        </td>
      </tr>
     

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>People would trade more if they had more time and lost less</p>

      <p>Ease of use is the main driver of provider selection</p>

      </p>
    </td></tr></table>




<a id="internal-reports">
  <h2 class="heading-large" >Internal reports</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">We have been developing our goals and strategies for achieving them 
</h3>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Report</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Introduction to metrics used in account valuation, 2014</p>
        </td>
        <td>
        <p>Asian accounts tend to have the highest lifetime vales (LTVs) except Japan which has the lowest</p>
        <p>Mean much greater than median (skewed by ‘extreme’ traders)</p>
        <p>Most accounts have stopped trading after two years</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Platforms: In the Beginning (Joel Ippoliti), 2016</p>
        </td>
        <td>
        <p>Business objective of the platform is to increase trade frequency, volume and quality (value to GC)</p>
        <p>User objective: to make money</p>
        <p>May need different offers for experienced and novice traders</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Trading Platforms: The Beginnings of a Strategy (Joel Ippoliti), 2016</p>
        </td>
        <td>
        <p>Need better understanding of what products appeal to which users and why</p>
        <p>Beginners want ease of use and safeguards</p>
        <p>Social trading is attracting users who haven’t traded before</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>City Index Marketing Campaign Q1/Q2 2016</p>
        </td>
        <td>
        <p>Aiming mainly at switchers</p>
        <p>Position: We are making a unique commitment to help you be successful</p>
        <p>Based on alerts, analysis tools and automated trading</p>
        </td>
      </tr>
     

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>We aim to increase both the volume and value of trades that are placed by our clients</p>

      <p>We want to attract both new and experienced traders and expect that they will want different things</p>

      </p>
    </td></tr></table>



<a id="literature-industry">
  <h2 class="heading-large" >Literature review: Trading behavior, industry articles</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">Few traders are successful, we need to understand why</h3>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Article</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p><a href="http://www.tradingacademy.com/lessons/article/styles-of-trading/">Online Trading Academy, Finding Your Style of Trading</a>, April 22, 2014</p>
        </td>
        <td>
        <p>Four styles of trading (time wise)</p>
        <p>Scalping (minutes or seconds); Day Trading (hours to a couple of days); Swing Trading (up to 2 weeks (usually 4-6 days); Position Trading (from months to years)</p>
        </td>
      </tr>
      <tr>
        <td>
        <p><a href="http://www.bullbearings.co.uk/traders.views.php?gid=5&id=658">Paul Wallace, Eight Trading Rules I Wish I’d Known when I Started</a>, August 1, 2014</p>
        </td>
        <td>
        <p>Risk management first, speculation second</p>
        <p>Get a mentor</p>
        <p>Everyone pays for their trading education (formally or in losses)</p>
        </td>
      </tr>
      <tr>
        <td>
        <p><a href="http://www.bullbearings.co.uk/traders.views.php?gid=1&id=802">Paul Wallace The Three Keys to Longer Lasting Trader Success</a></p>
        </td>
        <td>
        <p>Process: have a logical trading system</p>
        <p>Discipline: stick to it in a diligent manner</p>
        <p>Self-awareness: monitor your emotions, know when not to trade</p>
        </td>
      </tr>
      <tr>
        <td>
        <p><a href="http://www.investopedia.com/university/behavioral_finance/">Investopedia, Behavioural Finance</a></p>
        </td>
        <td>
        <p>People are not rational wealth maximizers: often behave irrationally</p>
        <p>Confirmation bias: More receptive to news that confirms original opinions</p>
        <p>Hindsight bias: Things can look obvious in retrospect, leads to overconfidence</p>
        </td>
      </tr>
     

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>People do not behave rationally when trading and this is a major reason why so few are successful</p>

      <p>It is essential to be disciplined and manage risk</p>

    </td></tr></table>





<a  id="literature-scientific">
  <h2 class="heading-large">Literature review: Trading behavior, scientific articles</h2></a>

  <p>As well as industry research, there have been scientific studies of trading behavior</p>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Research</th>
      <th>Commonalities across segments</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>MIT Media Lab, <a href="https://dspace.mit.edu/handle/1721.1/80764">Decoding Social Influence and the Wisdom of the Crowd in Financial Trading Network</a>, 2012
</p>
        </td>
        <td>
        <p>Social trading provides better opportunities for profit than individual trading</p>
        <p>People make good decisions about who to follow when they can see others’ trades</p>
        <p>Social effects can over-ride rationality, especially in taking risks</p>
        </td>
      </tr>
      <tr>
        <td>
        <p><a href="https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow">Kahneman, Thinking Fast and Slow</a>, Penguin, 2012</p>
        </td>
        <td>
        <p>Personality characteristics that can be very helpful most of the time can lead to poor financial decisions</p>
        <p>Loss aversion: losing $100 gives twice as much pain as gaining $100 brings in happiness</p>
        <p>Optimism bias: we tend to believe that we have more control than we really do</p>
        </td>
      </tr>
      <tr>
        <td>
        <p><a href="http://www.behaviouralfinance.net/behavioural-finance.pdf">University of Cambridge, Behavioural Finance</a></p>
        </td>
        <td>
        <p>Affect: may overestimate how well stocks of companies we like will do</p>
        <p>Availability: we tend to use readily available information rather than seeking out more</p>
        <p>Similarity: tend to see patterns with paste events even if not there</p>
        </td>
      </tr>

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>The ‘wisdom of crowds’ offered by social trading may mitigate individual irrationality to some degree, but it can encourage risky behavior</p>

      <p>Being successful involves controlling emotions and overcoming personality traits</p>

    </td></tr></table>





<a  id="common-mistakes">
  <h2 class="heading-large">Literature review: Most common trader mistakes</h2></a>

  <p>We collated the view of leading experts to understand why traders lose money</p>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px;">
    <!--<thead style="vertical-align: bottom">
      <th style="width: 42%">Research</th>
      <th>Commonalities across segments</th>
    </thead>-->

    <tbody style="vertical-align: top">
      <tr>
        <td style="width:7%;">
        <img src="/public/images/research-icons-01.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">No reasonable trading plan</p>
        
        </td>
        <td>
        <p>Not having a trading plan</p>
        <p>Having a trading plan that is too difficult</p>
        <p>Having a ‘mechanical’ trading plan</p>
        <p>Trading ‘noise’ </p>
        </td>
      </tr>
      
      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-02.png" style="max-width:100px">

        </td>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Not sticking to a trading plan</p>
        
        </td>
        <td>
        <p>Not accepting a loss</p>
        <p>‘Gut’ takes over</p>
        <p>Spot an opportunity ‘on the fly’</p>
        <p>Getting greedy</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-03.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Following the crowd</p>
        
        </td>
        <td>
        <p>Seeing a trend develop and jumping on thoughtlessly</p>
        <p>Following the advice of an ‘expert’ without being able to evaluate it</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-04.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef098">
        <p class="table-subhead">Running losses and cutting profits</p>
        
        </td>
        <td>
        <p>Holding losing positions in the hope that they turn</p>
        <p>Not wanting to admit that were wrong</p>
        <p>Quitting too soon while ahead</p>
        <p>Averaging losses</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-05.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Not using stops and limits adequately</p>
        
        </td>
        <td>
        <p>No stops and limits set</p>
        <p>Stops or limits set too low or high</p>
        <p>Stop set to close, gets triggered by noise</p>
        <p>Stops and limits set in a way that gives a poor reward to risk ratio</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-06.png" style="max-width:100px">

        </td>
        <td style="background-color:#c8e5f2">
        <p class="table-subhead">Poor money management</p>
        
        </td>
        <td>
        <p>Accounts not properly funded</p>
        <p>Too much risked on a particular trade</p>
        <p>Too many open positions</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-07.png" style="max-width:100px">

        </td>
        <td style="background-color:#cee0ee">
        <p class="table-subhead">Failure to learn</p>
        
        </td>
        <td>
        <p>Not reviewing and analysing trades</p>
        <p>Not taking responsibility for losses</p>
        <p>Not being focused enough in terms of markets and asset classes</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-08.png" style="max-width:100px">

        </td>
        <td style="background-color:#9bc0dd">
        <p class="table-subhead">Trading in the wrong frame of mind</p>
        
        </td>
        <td>
        <p>Become desperate to get money back after losing trades</p>
        <p>Become gung-ho after winning trades</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-09.png" style="max-width:100px">

        </td>
        <td style="background-color:#ccd2dd">
        <p class="table-subhead">Lack of preparation</p>
        
        </td>
        <td>
        <p>No trading training or education</p>
        <p>No research about individual trades</p>
        <p>Not knowing how to short (only going long)</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-10.png" style="max-width:100px">

        </td>
        <td style="background-color:#e1e4ed">
        <p class="table-subhead">Lack of psychological discipline</p>
        
        </td>
        <td>
        <p>Underestimating difficulty of trading</p>
        <p>Treating it as a hobby</p>
        <p>Overly high expectations</p>
        <p>Poor time management</p>
        <p>Lack of emotional control</p>
        <p>Procrastination</p>
        </td>
      </tr>


    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>If we can help people avoid these mistakes they will have a better user experience</p>

    </td></tr></table>





  <a id="common-autotrading">
  <h2 class="heading-large">Literature review: Most common autotrading mistakes</h2></a>

  <p>We collated the view of leading experts to understand why traders lose money when autotrading</p>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px;">
    <!--<thead style="vertical-align: bottom">
      <th style="width: 42%">Research</th>
      <th>Commonalities across segments</th>
    </thead>-->

    <tbody style="vertical-align: top">
      <tr>
        <td style="width:7%;">
        <img src="/public/images/research-icons-08.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Wrong mindset</p>
        
        </td>
        <td>
        <p>Expecting big, risk free returns</p>
        <p>Thinking that little or no effort is required</p>
        <p>Assuming that they do not have to take any responsibility for their trades</p>
        <p>Focusing on gains not risk management</p>
        </td>
      </tr>
      
      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-11.png" style="max-width:100px">

        </td>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Scams</p>
        
        </td>
        <td>
        <p>Dishonest claims on forums</p>
        <p>Advertising huge risk free gains for no effort</p>
        <p>Signals that look good but use very high risk strategies</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-12.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Technology failures</p>
        
        </td>
        <td>
        <p>Outages, connectivity and speed issues</p>
        <p>Software crashes</p>
        <p>No back up plan for these emergencies</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-13.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef098">
        <p class="table-subhead">Superficial analysis</p>
        
        </td>
        <td>
        <p>Only checking headline PnL (not open positions)</p>
        <p>Not spotting v. high risk strategies (e.g. Martingale)</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-14.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Lack of on-going evaluation</p>
        
        </td>
        <td>
        <p>Many EAs performances degrade over time</p>
        <p>Social trading gurus performance can deteriorate</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-15.png" style="max-width:100px">

        </td>
        <td style="background-color:#c8e5f2">
        <p class="table-subhead">Psychological pressure</p>
        
        </td>
        <td>
        <p>Panicking because of volitility, big drawdowns or a run of losses</p>
        <p>Interfereing with signal as a result</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-16.png" style="max-width:100px">

        </td>
        <td style="background-color:#cee0ee">
        <p class="table-subhead">Poor risk management</p>
        
        </td>
        <td>
        <p>Not understanding risk/reward ratios</p>
        <p>Not having risk-balanced portfolios</p>
        <p>Over-reliance on leaderboads (high risk stategies tend to lead)</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-06.png" style="max-width:100px">

        </td>
        <td style="background-color:#9bc0dd">
        <p class="table-subhead">Poor money management</p>
        
        </td>
        <td>
        <p>Placing large stake on volatile signal</p>
        <p>Mirroring large trades by gurus</p>
        <p>Danger of being stopped out</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-09.png" style="max-width:100px">

        </td>
        <td style="background-color:#ccd2dd">
        <p class="table-subhead">Lack of preparation</p>
        
        </td>
        <td>
        <p>No trading training or education</p>
        <p>No research about individual trades</p>
        <p>Not knowing how to short (only going long)</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-02.png" style="max-width:100px">

        </td>
        <td style="background-color:#e1e4ed">
        <p class="table-subhead">Not matching signal to ambition</p>
        
        </td>
        <td>
        <p>Choosing a signal that doesn’t give returns over the desired timescale</p>
        <p>Choosing a signal that is too stressful or too boring for the user’s taste</p>
        </td>
      </tr>


    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Autotrading can solve some of the problems people have when trading but can introduce other ones</p>

    </td></tr></table>






  <a id="trading-psychology">
  <h2 class="heading-large">Literature review: Trading psychology</h2></a>

  <p>Trading confronts people with sustained highly adverse psychological conditions</p>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px;">
    <!--<thead style="vertical-align: bottom">
      <th style="width: 42%">Research</th>
      <th>Commonalities across segments</th>
    </thead>-->

    <tbody style="vertical-align: top">
      <tr>
        <td style="width:7%;">
        <img src="/public/images/research-icons-16.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Not accepting risk
</p>
        
        </td>
        <td>
        <p>Not all trades will be winning ones</p>
        <p>Success accrues over series of trades </p>
        </td>
      </tr>
      
      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-17.png" style="max-width:100px">

        </td>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Impatience</p>
        
        </td>
        <td>
        <p>Need to spend time developing plan</p>
        <p>Practice on a demo</p>
        <p>Test approaches and keep records of trades</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-18.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">‘Non-mechanical’ mindset</p>
        
        </td>
        <td>
        <p>Develop a strategy and stick to it rigidly</p>
        <p>Don’t try and trade intuatively unless very competent</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-01.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef098">
        <p class="table-subhead">Rule aversion</p>
        
        </td>
        <td>
        <p>Many people don’t like setting rules</p>
        <p>Sticking dilgently to strict rules essential to successful tradng</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-19.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Overconfidence</p>
        
        </td>
        <td>
        <p>Overestimating ability leads to non-mechanical trading</p>
        <p>Overconfidence that trade will win leads to running losses</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-20.png" style="max-width:100px">

        </td>
        <td style="background-color:#c8e5f2">
        <p class="table-subhead">Over-reaction</p>
        
        </td>
        <td>
        <p>Expecting an item of news to have a greater effect than it does</p>
        <p>Trading too heavily on it as a result</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-21.png" style="max-width:100px">

        </td>
        <td style="background-color:#cee0ee">
        <p class="table-subhead">Loss aversion</p>
        
        </td>
        <td>
        <p>Losses hurt more than equivalent wins</p>
        <p>Leads to people not closing losing trades and taking gains too soon</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-22.png" style="max-width:100px">

        </td>
        <td style="background-color:#9bc0dd">
        <p class="table-subhead">Stubborness</p>
        
        </td>
        <td>
        <p>Refusing to accept that trade isn’t going as predicted</p>
        <p>Stayiing in a trade too long and running losses</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-23.png" style="max-width:100px">

        </td>
        <td style="background-color:#ccd2dd">
        <p class="table-subhead">Egotism</p>
        
        </td>
        <td>
        <p>Trade affects self-esteem, become emotional</p>
        <p>Can lead to stubborness and overconfidence</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-24.png" style="max-width:100px">

        </td>
        <td style="background-color:#e1e4ed">
        <p class="table-subhead">Attention</p>
        
        </td>
        <td>
        <p>Not giving sufficient time to trading</p>
        <p>Getting distracted</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-25.png" style="max-width:100px">

        </td>
        <td style="background-color:#e1e4ed">
        <p class="table-subhead">Lack of safety focus</p>
        
        </td>
        <td>
        <p>Insuffficient attention to risk management</p>
        <p>Unrealistically high expectations of gain</p>
        <p>Risking too much money per trade</p>
        </td>
      </tr>

      <tr>
        <td style="width:7%">
        <img src="/public/images/research-icons-26.png" style="max-width:100px">

        </td>
        <td style="background-color:#e1e4ed">
        <p class="table-subhead">Overweighting success</p>
        
        </td>
        <td>
        <p>When reviewing trades give too much weight to successful ones</p>
        <p>Don’t learn from mistakes</p>
        </td>
      </tr>


    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Psychology accounts for at least 90% of the likelihood of trading success or failure</p>

    </td></tr></table>




<div class="grid-row">
  <div class="column-two-thirds">

    <a id="media-review">
  <h2 class="heading-large">Media review</h2></a>

  <h3 class="heading-medium">These documentaries followed traders of various levels of experience</h3>



  <p><strong>BBC, Million  Dollar Traders, ‘Make me a Trader’</strong> Jan. 2009 (episode 1 of 3)</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/v6ciY8u04Kk" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>Having the right psychology and mindset is essential to trading effectively</li>
    <li>Risk management is essential and you should always know your exposure</li>
    <li>“Naked punting is for idiots”</li>
  </ul>



  <p><strong>BBC, Million  Dollar Traders, 'Profit and loss'</strong> Jan. 2009 (episode 2 of 3)</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/ML4ObTeYLhg" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>Procrastination is a problem for many traders</li>
    <li>“If you’re not invested you can’t make money”</li>
    <li>People can know how to trade but lack the mental toughness</li>
  </ul>



  <p><strong>BBC, Million  Dollar Traders, ‘Traders’</strong> Jan. 2009 (episode 3 of 3)</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/pWkzAvE5aQQ" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>Need to move onto the next investment and clear your mind of others</li>
    <li>Trading brings horrendous highs and lows of emotions</li>
    <li>Many traders go through the motions of analysis but trade on their gut anyway</li>
  </ul>



  <p><strong>BBC, Traders: Millions by the Minute</strong> September 2014 (episode 1 of 2)</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/vyOulC3hxfM" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>If trading news you have to be an expert in reading between the lines</li>
    <li>Psychological and emotional skills differentiate good and bad traders</li>
    <li>People can freeze when trading real money having done well on demo</li>
  </ul>



  <p><strong>BBC, Traders: Millions by the Minute</strong> September 2014 (episode 2 of 2)</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/_ZgV0fWGWmM" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>Only 10% of home traders make consistent profits</li>
    <li>Most can learn the basic mechanics of trading within a few weeks</li>
    <li>“Novice traders think about how much money they can make, professional traders think about how much money they can lose”</li>
  </ul>



  <p><strong>Bloomberg, The Player: Secrets of a Las Vegas Whale</strong> February 2014</p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/hJpnnaksXNM" frameborder="0" allowfullscreen></iframe>

  <p>Key insights:</p>
  <ul style="margin-bottom:4em">
    <li>Personalized entertainment and perks for high value gamblers (whales)</li>
    <li>Desperate to get whales into casino, go further and further to ‘dazzle’</li>
    <li>Negotiate special deals/rates with whales</li>
  </ul>

</div></div>



    <a id="emotions-trading">
  <h2 class="heading-large">Literature review: Emotions and trading</h2></a>

  <p style="max-width:650px">Emotions have four components, a qualitative descriptor and three quantitative dimensions. People are likely to trade better the more low-key or neutral their emotions are</p>




    <table id="researchtable" style="margin-bottom: 2em;max-width: 780px;">
    <thead style="vertical-align: bottom">
      <th colspan="2">F-PAD model of emotion</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Feeling</p>
        
        </td>
        <td>
        <p>A word that describes the emotion</p>
        </td>
      </tr>
      
      <tr>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Positivity</p>
        
        </td>
        <td>
        <p>How good the person feels</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Activation</p>
        
        </td>
        <td>
        <p>Level of energy associated with the emotion</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef098">
        <p class="table-subhead">Dominance</p>
        
        </td>
        <td>
        <p>Level of power that the person perceives they have</p>
        </td>
      </tr>

      </tbody>
    </table>






    <table id="researchtable" style="margin-bottom: 3em;max-width: 780px;">
    <thead style="vertical-align: bottom">

      <th colspan="2">Trading and emotion</th>
    </thead>

    <tbody style="vertical-align: top">
   
      <tr>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Positivity</p>
        
        </td>
        <td>
        <p>Associating highly positive/negative emotions with winning/losing trades leads to poor judgement</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Activation</p>
        
        </td>
        <td>
        <p>High levels of activation can lead to risky behaviour; low can lead to unwise trades based on boredom</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef098">
        <p class="table-subhead">Dominance</p>
        
        </td>
        <td>
        <p>Emotions with high or low levels of dominance can lead to over-optimism or pessimism</p>
        </td>
      </tr>

      </tbody>
    </table>


    <p><strong>Examples of emotions. Each dimension is rated on a scale from -2 to + 2</strong></p>

    <table id="researchtable" style="margin-bottom: 1em;max-width: 780px;">
    <thead style="vertical-align: bottom">
      <th>Feeling</th>
      <th style="text-align:center">Positivity</th>
      <th style="text-align:center">Activation</th>
      <th style="text-align:center">Dominance</th>
      <th>&nbsp;</th>
    </thead>

    <tbody style="vertical-align: top">
   
      <tr style="background-color:#fc989c">
        <td style="background-color:#ff2200">
        <p><strong style="color:white;padding-left:1em">Jubilation</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="background-color:#ddd">
        Danger zone
        </td>
      </tr>

      <tr style="background-color:#f9bb88">
        <td style="background-color:#ee7700">
        <p><strong style="color:white;padding-left:1em">Excitement</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>+1</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>0</p>
        </td>
        <td style="background-color:#eee">
        
        </td>
      </tr>

      <tr style="background-color:#7cb5ea">
        <td style="background-color:#137fd7">
        <p><strong style="color:white;padding-left:1em">Satisfaction</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>+1</p>
        </td>
        <td style="text-align:center">
        <p>0</p>
        </td>
        <td style="text-align:center">
        <p>+1</p>
        </td>
        <td style="background-color:#fff">
        
        </td>
      </tr>

      <tr style="background-color:#9bf5fd">
        <td style="background-color:#35c0ce">
        <p><strong style="color:white;padding-left:1em">Calm</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>+1</p>
        </td>
        <td style="text-align:center">
        <p>-1</p>
        </td>
        <td style="text-align:center">
        <p>0</p>
        </td>
        <td style="background-color:#fff">
        Safe zone
        </td>
      </tr>

      <tr style="background-color:#7cb5ea">
        <td style="background-color:#137fd7">
        <p><strong style="color:white;padding-left:1em">Disappointment</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>-1</p>
        </td>
        <td style="text-align:center">
        <p>0</p>
        </td>
        <td style="text-align:center">
        <p>-1</p>
        </td>
        <td style="background-color:#fff">
        
        </td>
      </tr>

      <tr style="background-color:#f9bb88">
        <td style="background-color:#ee7700">
        <p><strong style="color:white;padding-left:1em">Fear</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>-2</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>-2</p>
        </td>
        <td style="background-color:#eee">
        
        </td>
      </tr>

      <tr style="background-color:#fc989c">
        <td style="background-color:#ff2200">
        <p><strong style="color:white;padding-left:1em">Anger</strong></p>
        
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="text-align:center">
        <p>+2</p>
        </td>
        <td style="background-color:#ddd">
        Danger zone
        </td>
      </tr>

      </tbody>
    </table>



    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>The more we can help ‘dial down’ users’ emotion, the more successful they are likely to be</p>

    </td></tr></table>



  </div>
</div>


</main>

{{/content}}

{{/layout}}
