{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Segments</h1>

  <p style="font-weight:600;font-size:0.85em;margin-bottom:2em">Author: <a href="http://www.patrickwjordan.com">Patrick Jordan</a> for Gain Capital, May 2016</p>

<a id="proposed-segments">
  <h2 class="heading-large" >Proposed segments</h2></a>

<p>Our hypothesis is that we should segment using a single primary variables – trading behavior and knowledge</p>

    <table id="researchtable" style="margin-bottom: 3em;">
    <thead style="vertical-align: bottom">

      <th width="7%">&nbsp;</th>
      <th width="16%" style="text-align:center">Segment</th>
      <th width="28%" style="text-align:center">Style</th>
      <th>Description</th>
    </thead>

    <tbody style="vertical-align: top">
   
      <tr>
        <td>
        <img src="/public/images/research-icons-hopeful.png" style="max-width:100px">

        </td>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Hopefuls</p>
        
        </td>
        <td style="text-align:center">
        <p>No system</p>
        </td>
        <td>
          <p>Underestimate how difficult trading is</p>
          <p>Often trade on a news headline, event or gut instinct</p>
          <p>Likely to lose their money quickly and not return</p>
          <p>Large group (approx. 50-60%), low value per user</p>
        </td>
      </tr>

      <tr>
        <td>
        <img src="/public/images/research-icons-aspiring.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Aspiring</p>
        
        </td>
        <td style="text-align:center">
        <p>System but lack discipline</p>
        </td>
        <td>
          <p>May have a system, but don’t stick to it consistently</p>
          <p>Lack discipline and let their emotions get the better of them</p>
          <p>Show no improvement with experience</p>
          <p>Large group (approx. 30-40%), low value per user</p>
        </td>
      </tr>

      <tr>
        <td>
        <img src="/public/images/research-icons-diligent.png" style="max-width:100px">

        </td>
        <td style="background-color:#fef098">
        <p class="table-subhead">Diligent</p>
        
        </td>
        <td style="text-align:center">
        <p>System with discipline</p>
        </td>
        <td>
          <p>Develop and stick to prudent strategies</p>
          <p>Disciplined and manage their emotions</p>
          <p>Learn and improve as they trade</p>
          <p>Small (&lt;10%), high value group per user</p>
        </td>
      </tr>
      <tr>
        <td>
        <img src="/public/images/research-icons-expert.png" style="max-width:100px">

        </td>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Expert</p>
        
        </td>
        <td style="text-align:center">
        <p>Professional</p>
        </td>
        <td>
          <p>Earn a high proportion of their income from trading</p>
          <p>Many have a professional background in trading or finance</p>
          <p>Spend hours per day trading</p>
          <p>Very small numbers (&lt; 1%), but very high value per user</p>
        </td>
      </tr>
      <tr>
        <td>
        &nbsp;

        </td>
        <td style="background-color:#ccc">
        <p class="table-subhead">Investor</p>
        
        </td>
        <td>
        <p  style="padding:0 0.66em">Not interested in learning to trade but want to make money from it</p>
        </td>
        <td>
          <p>Risk adverse</p>
          <p>Hands off – all about reporting and tracking</p>
          <p>Gender balanced</p>
          <p>Very large group, potentially high value</p>
        </td>
      </tr>

      </tbody>
    </table>



  <a id="trading-patterns">
  <h2 class="heading-large" >Trading patterns</h2></a>

  <p style="max-width: 650px">Analysis of individual trading data revealed patterns that were characteristic of each segment (based on qualitative analysis of data from 50 clients)</p>

    <table id="researchtable" style="margin-bottom: 3em;">
    <thead style="vertical-align: bottom">

      <th width="16%" style="text-align:center">Segment</th>
      <th>Characteristic trading patterns</th>
    </thead>

    <tbody style="vertical-align: top">
   
      <tr>
        <td style="background-color:#fcd895">
        <p class="table-subhead">Hopefuls</p>
        
        </td>
        <td>
          <p>A flurry of large (compared to account size) early losses can wipe out account</p>
          <p>May do some small trades, build confidence and then overleverage leading to wipeout </p>
          <p>If have sufficient funds may be able to keep going longer-term but likely to lose heavily</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef7cb">
        <p class="table-subhead">Aspiring</p>
        
        </td>
       <td>
          <p>On average have a higher percentage of wins than Diligent traders</p>
          <p>Run losses, cut profits</p>
          <p>Settle quickly into a pattern of trading</p>
          <p>Maintain this pattern over a long period of time even though it isn’t working</p>
          <p>Focused on each individual trade rather than the big picture</p>
          <p>Can have ‘escalating meltdowns’ where a big loss is followed by several more as panic and revenge trading set in</p>
          <p>Often these prove catastrophic</p>
          <p>A run of successful disciplined trading can lead to overconfidence and reliance on their ‘trading instincts’ (punting) with catastrophic consequences</p>
        </td>
      </tr>

      <tr>
        <td style="background-color:#fef098">
        <p class="table-subhead">Diligent</p>
        
        </td>

        <td>
          <p>On average have lower percentage of winning trades that Aspiring traders (probably because they are being more disciplined with stops and limits)</p>
          <p>Cut losses, run profits</p>
          <p>Focused on the big picture rather than every individual trade (this is known as having a probabilistic midset)</p>
          <p>Trading patterns change over time as they improve</p>
          <p>May still have ‘meltdowns’ but step away before they become catastrophic</p>
          <p>Generally maintain discipline and recover it quickly if lost</p>
        </td>
      </tr>
      <tr>
        <td style="background-color:#fdebca">
        <p class="table-subhead">Expert</p>
        
        </td>

        <td>
          <p>Wider variety of successful patterns than Diligent</p>
          <p>Mostly based on having bigger wins than losses</p>
          <p>Some succeed through having more wins than losses even though losses bigger</p>
          <p>Combine discipline with better win/loss ratio than Diligent </p>
        </td>
      </tr>
      


      </tbody>
    </table>

    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Win/loss ratio is a poor predictor of PnL, which is usually more dependent on size of average win/loss</p>

      <p>Codifying these trading patterns in analytics is the key to validating the segmentation</p>

    </td></tr></table>





  <a id="mapping-value">
  <h2 class="heading-large" >Mapping segments to value</h2></a>

  <p style="max-width: 650px">Currently clients only generate value for us after a certain amount of trades</p>


  <p>
  <img src="/public/images/research-graph-value.png" width="600px">
  </p>

  <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>To maximize value and to meet user needs we should help clients to move into the high value segments</p>

      <p>Create separate offers to match the needs of our users and accept that some of those users will not progress to be diligent or expert</p>

    </td></tr></table>




<a id="key-ux">
  <h2 class="heading-large" >Key user experiences</h2></a>

  <p style="max-width: 650px">Our segmentation hypothesis suggests that we should design three types of user experience, in order to meet users’ needs</p>

  <table class="">
  <thead style="border-bottom:1px solid #666;">
  <th colspan="3" style="text-align:center;font-size:1.2em">User experiences</th>
  </thead>

  <tbody>
    <td width="33%" style="padding-right:2em;">
    <p><strong>UX 1: Trade quick</strong></p>
    <p>Easy to place trade</p>
    <p>Don’t need to understand trading</p>
    <p>(Mental models from investing/gaming)</p>
    <p>Gateway to UX2</p>
    </td>

    <td width="30%" style="background-color:#eee;padding-left:1.5em">
    <p><strong>UX 2: Trade and learn</strong></p>
    <p>Facilitate Trading</p>
    <p>Facilitate Learning</p>
    <p>Journey to Diligence</p>
    <p>Gateway to UX3</p>
    </td>

    <td width="33%" style="padding-left:1.5em">
    <p><strong>UX 3: Trade optimally</strong></p>
    <p>Better decision making</p>
    <p>Stretching ambition</p>
    <p>More professional feel</p>
    </td>
  </tbody></table>


  <table class="">
  <thead style="border-bottom:1px solid #666;">
  <th colspan="3" style="text-align:center;font-size:1.2em">Examples</th>
  </thead>

  <tbody>
    <td width="33%" style="padding-right:2em;">
    <p><strong>Uptick</strong></p>
    <p><img src="/public/images/research-example-1.png"></p>
    </td>

    <td width="30%" style="padding-left:1.5em">
    <p><strong>Money Square</strong></p>
    <p><img src="/public/images/research-example-2.png"></p>
    </td>

    <td width="33%" style="padding-left:1.5em">
    <p><strong>CI Campaign Mar'16</strong></p>
    <p><img src="/public/images/research-example-3.png"></p>
    </td>
  </tbody></table>






  <a id="persona-steps">
  <h2 class="heading-large" >Next steps</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">What we need to do next and why</h3>


  <table id="researchtable" style="margin-bottom: 1em;">
    <thead style="vertical-align: bottom">
      <th width="20%">Activity</th>
      <th width="40%">Why?</th>
      <th width="40%">How?</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Validation</p>
        </td>
        <td>
        <p>To check if there really are four segments that differ according to trading behavior and knowledge</p>
        <p>Adjust segmentation model if necessary</p>
        </td>
        <td>
        <p>Analyze trading data to see if patterns appear that are consistent with the behaviors associated with each segment</p>
        <p>Quantify these</p>
        </td>
      </tr>

      <tr>
        <td>
        <p>Development</p>
        </td>
        <td>
        <p>Enrich the segments by finding out more about the people in each</p>
        <p>As well as varying according to the primary variable are there differences in trading styles and ambition, psychographics etc.</p>
        </td>
        <td>
        <p>Issue questionnaires to gather psychographic and trading information about users</p>
        <p>Use Google Analytics to understand users’ trading styles</p>
        <p>Map both of these onto the segments</p>
        </td>
      </tr>

      <tr>
        <td>
        <p>Personas</p>
        </td>
        <td>
        <p>To embody the users in each segment in ‘people’ we can design for</p>
        <p>To highlights the different kinds of people within each segment, for example in terms of trading styles and ambition, psychographics without creating separate segments for each</p>
        </td>
        <td>
        <p>Share the enriched segmentation with key stakeholders</p>
        <p>Hold workshops to create personas</p>
        <p>Analyze the design needs associated with each persona to inform UX solutions</p>
        </td>
      </tr>
      


    </tbody></table>




  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Personas</h1>



<div class="grid-row">
  <div class="column-two-thirds">

	<a id="hopeful">
	<h2 class="heading-large">Hopeful</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>Jack Robbins (24)</p>
    <p>London</p>
    <p>Business Studies student, UCL</p>
    <p>Single</p>
    </td>

    <td>
    <p>Finds idea of trading glamorous</p>
    <p>Wants to make quick money</p>
    <p>Trades on big news</p>
    <p>Trading for a month</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>Robinhood; eToro; Plus 500; Avatrade; SpreadEx</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>Individual shares; forex</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>Facebook; BBC; Buzz feed; Yahoo Finance, Guardian, Forbes, BBC</td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Make a lot of money quickly</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Ease of onboarding; usability</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>Trust your instincts and act decisively</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>Opportunistic; trades long or short based on headline news, friends’ recommendations</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>News headline and gut instinct</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>pattern Has 50:50 win rate but runs losses and cuts gains; over-leverages; no stops on earliest trades</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>Evening and intermittently throughout day</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>Web and smartphone; uses both to place and monitor</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Based on ‘Wolf of Wall Street’ image</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>Search &mdash; Place Trade &mdash; Monitor</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Wolf of Wall Street’ image</td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/hopeful-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>Jack has heard about trading and thinks that it offers the opportunity to get rich quick, but he has no real understanding of how it works.</p>

      <p>He has put &pound;200 in his account and has almost blown it through over-leveraging (he doesn’t properly understand the concept) and running losses.</p>

      <p>He almost blew his account in one trade due to not putting a stop loss in place. He won’t last much longer.</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Jack has heard about trading and thinks that it offers the opportunity to get rich quick, but he has no real understanding of how it works.</p>

      <p>He has put &pound;200 in his account and has almost blown it through over-leveraging (he doesn’t properly understand the concept) and running losses. He almost blew his account in one trade due to not putting a stop loss in place. He won’t last much longer.</p>
      </div>


    </div>
  </div><!-- end grid row -->







  <div class="grid-row">
  <div class="column-two-thirds">

  <a id="aspiring">
  <h2 class="heading-large">Aspiring</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>John Marsh (37)</p>
    <p>Barnet, London</p>
    <p>Estate agent</p>
    <p>Married, no children</p>
    </td>

    <td>
    <p>Previously invested in shares</p>
    <p>Market wasn’t doing much so turned to trading</p>
    <p>Trading for a year</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>IG; CMC; Plus 500</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>Trades indices; shares</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>BBC Business App; Money Week; Reuters; Bloomberg; </td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Make a lot of money quickly</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Charting tools; trust; usability</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>Any win is good; any loss is bad; thinks his winning record shows he’s a good trader</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>Looks at each trade individually rather than as part of a sequence</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>Largely gut instinct following superficial analysis of news and charts</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>Cuts gains and runs losses; more wins than losses; pattern became fixed early</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>Evening and intermittently throughout day</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>Web and smartphone; uses both to place and monitor</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Discusses with friends; goes on trading forums; watches tutorials</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>Search or watchlist &mdash; Chart &mdash; Place Trade &mdash; Monitor</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Image of being a trader</td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/aspiring-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>John is interested in trading as he sees it as a way of making money quickly. He is reasonably knowledgeable but lacks ‘probabilistic thinking’, meaning that he puts too much emphasis on individual trades, leading to cutting gains and running losses.</p>
      
      <p>He has been stuck in this pattern since early on. He has an unrealistically positive view of his ability because he tends to focus on his wins more than his losses, which he often puts down to bad luck.</p>

      <p>Has had a couple of occasions when he feels he has been ripped off by previous broker and moved as a result</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Like all Aspiring traders, John has become stuck in a pattern of trading that causes him to consistently lose money.</p>

      <p>While he only carries out superficial analysis and relies to a large extent on instinct, others in this segment will be more systematic.</p>

      <p>However, like John most of them will lack discipline and so still end up losing money.</p>
      </div>


    </div>
  </div><!-- end grid row -->






  <div class="grid-row">
  <div class="column-two-thirds">

  <a id="diligent-developing">
  <h2 class="heading-large">Diligent (developing)</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>Peter Clarke (62)</p>
    <p>Essex</p>
    <p>retired electrician</p>
    <p>married, children, grandchildren </p>
    </td>

    <td>
    <p>Wants a quicker return on investment as aging</p>
    <p>Shares &amp; bank low returns</p>
    <p>Trading for six months</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>IG, CMC, City Index, ETX Capital; SpreadEX</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>Trades indices; commodities</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>Bloomberg; BBC; Digital Look; Telegraph</td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Better return than investment; possibly looking to do full time</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Spreads; allowing small stakes per point; charting tools</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>Seeks to find an edge through analysis; not interested in ‘punting’; accepts will have losing trades; disciplined</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>Experimenting with different systems/analyses; reviewing performance</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>Mostly chart-based analysis</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>Changing significantly from week to week; gradually improving</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>8.00 -9.30 am and 3.00 – 4.00 pm (times of greatest volatility)</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>Desktop application for placing; phone for monitoring and occasionally closing</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Online tutorials; learn by doing; investment experience
</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>Watchlist &mdash;  Chart &mdash; Place Trade &mdash; Monitor</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Enjoys the analysis and the challenge of learning </td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/diligent1-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>Peter has recently retired. He enjoys trading and is keen to learn, experimenting until he finds a winning analysis system. He is very chart focussed but also consumes financial media.</p>

      <p>While he learns he is putting on small stakes. He is trading at highly volatile times of day which is risky for a beginner, but gives learning opportunities.</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Peter mostly trades off charts which is common within this segment. However, there are also Diligent traders who will be more news focussed.</p>

      <p>A key characteristic of a developing Diligent trader is that they will try different strategies and approaches, learning and refining them.</p>
      </div>


    </div>
  </div><!-- end grid row -->







  <div class="grid-row">
  <div class="column-two-thirds">

  <a id="diligent-established">
  <h2 class="heading-large">Diligent (established)</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>Rodney Slade (51)</p>
    <p>Norbiton, London</p>
    <p>Doctor</p>
    <p>Married, 2 children</p>
    </td>

    <td>
    <p>Invested in stock market</p>
    <p>Modest returns, wants more</p>
    <p>Sees trading as an option</p>
    <p>Has been trading 4 years</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>IG, CMC, City Index</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>Trades forex pairs and various indices (UK, USA, Germany)</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>Bloomberg; BBC; Sky News; FT</td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Better return on savings than bank or investments</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Spreads; customer service; trustworthiness; charting tools; news</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>Rational; understands that trading takes a lot of time and effort to get right</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>Highly disciplined; working on optimizing system/plan</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>Chart-based analytics; also sensitive to news</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>More losses outweighed by bigger wins; improved over time</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>7-8pm in the evening for placing; monitor during day</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>DWeb for placing trades; phone for monitoring</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Lot of investing experience; no trading experience; self-educating online</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>Watchlist &mdash;  Chart &mdash; Place Trade &mdash; Monitor</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Enjoys studying trading and making further marginal gains</td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/diligent2-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>Rodney works full time and has a busy family life. He manages to find an hour per evening for trading.</p>

      <p>He is trading outside UK and Europe market hours, so focusses on live trading forex pairs and places conditional buy/sell orders on indices which are executed the next day provided the criteria are met.</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Established Diligent traders have found a way of trading that works for them. Others in this segment may have very different systems to Rodney.</p>

      <p>However, like Rodney, they will stick to them in a disciplined manner and learn from their mistakes.</p>
      </div>


    </div>
  </div><!-- end grid row -->





  <div class="grid-row">
  <div class="column-two-thirds">

  <a id="expert">
  <h2 class="heading-large">Expert</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>Paul Jackson (67)</p>
    <p>Epsom, Surrey</p>
    <p>Retired stock broker</p>
    <p>Married, 3 adult children</p>
    </td>

    <td>
    <p>Traded professionally</p>
    <p>Retired 10 years ago</p>
    <p>Trades for himself since then</p>
    <p>Makes significant income</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>IG, CMC, City Index</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>FTSE index</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>Bloomberg; Reuters; Financial Times</td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Earn a living from trading</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Spreads; execution speed</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>The key to success is discipline and risk management</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>Very disciplined at managing risk; if hypothesis wrong gets out right away; if right sees it through</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>Uses news to find opportunities; charts to decide when to open/close; occasionally relies on instinct</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>Wins over half his trades; runs gains, cuts losses; established pattern</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>Throughout the day</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>Desktop application for placing trade; smartphone sometimes for monitoring; third-party charting software and news feed</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Vast professional knowledge and experience</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>Place Trade &mdash; Monitor</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Freedom of being own boss</td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/expert-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>Paul has vast experience and knowledge of trading. He treats his trading like a profession and is extremely disciplined about when and how he trades.</p>

      <p>Has established a system based on a single index and has gained an implicit knowledge of its behaviour patterns enabling him to use instinct effectively from time to time.</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Different Experts have different strategies and trade different products. Although Paul only trades the FTSE index, others may trade a wide range of products and use different analysis techniques to him.</p>
      <p>His discipline and risk management is something common across the segment.</p>
      </div>


    </div>
  </div><!-- end grid row -->




  <div class="grid-row">
  <div class="column-two-thirds">

  <a id="investor">
  <h2 class="heading-large">Investor</h2></a>


  <table class="personatable">
  <thead>
  <th>About</th><th>History</th>
  </thead>

  <tbody>
    <td>
    <p>Cynthia Cooper (33)</p>
    <p>Brentwood, Essex</p>
    <p>HR Specialist</p>
    <p>Married, one child, pregnant</p>
    </td>

    <td>
    <p>Has investment in FTSE tracker</p>
    <p>Sees trading as opportunity for better return</p>
    <p>Sees trading as risky &amp; difficult</p>
    </td>
  </tbody></table>



  <table id="researchtable" style="margin: 1em 0;">
    <thead style="vertical-align: bottom">
      <th style="width: 33%">Needs cluster</th>
      <th>Explanation</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Consideration set</td><td>eToro; Plus 500; Finspreads</td>
      </tr><tr>
      <td style="font-weight:600">Context</td><td>Exploring: considering social trading or trading indices or forex herself</td>
      </tr><tr>
      <td style="font-weight:600">Influencers</td><td>BBC; Business Week; This is Money; Guardian</td>
      </tr><tr>
      <td style="font-weight:600">Goals</td><td>Extra income; better return than bank or stock market</td>
      </tr><tr>
      <td style="font-weight:600">Purchase criteria</td><td>Ease of use; customer service; ease of opening; news feed</td>
      </tr><tr>
      <td style="font-weight:600">Beliefs/Values</td><td>Trading is very hard and time consuming; wary of doing it</td>
      </tr><tr>
      <td style="font-weight:600">Trading habits</td><td>None yet; considering different approaches</td>
      </tr><tr>
      <td style="font-weight:600">Basis of decision</td><td>Either by following others or learning how to do it herself</td>
      </tr><tr>
      <td style="font-weight:600">Performance</td><td>None yet</td>
      </tr><tr>
      <td style="font-weight:600">Trading times</td><td>Would be able to give it a lot of time to start with; much less when back at work</td>
      </tr><tr>
      <td style="font-weight:600">Platforms</td><td>Thinking of starting on web or desktop app</td>
      </tr><tr>
      <td style="font-weight:600">Subject knowledge</td><td>Some investing experience; little trading knowledge; keen to learn</td>
      </tr><tr>
      <td style="font-weight:600">Path through</td><td>None yet</td>
      </tr><tr>
      <td style="font-weight:600">Secondary benefits</td><td>Interesting thing to learn while on maternity leave</td>
      </tr>
    </tbody></table>


    </div><!-- end two-thirds -->

    <div class="column-third">
      <img src="/public/images/investor-headshot.jpg" width="300px" style="margin-top:1.2em">


      <div class="personabox" style="background-color:#d6f895">
      <p>Cynthia is disappointed at the rate of return that she has been getting on her savings and investments. She is looking at options for getting a better return, one of which is trading.</p>

      <p>She is under no illusion about how difficult and time consuming it is making her cautious about getting involved. Nevertheless she is open to exploring it further.</p>
      </div>

      <div class="personabox" style="background-color:#acdafe">
      <p>Like many investors who don’t trade Cynthia is wary of the difficulties associated with it and the time required to do it well.</p>

      <p>She is more cautious and rational and unlike some other investors, indifferent to the excitement and image that go with trading.</p>

      <p>A very small percentage of retail traders are women. She may access different media channels and respond to different messages to her male counterparts in this segment.</p>
      </div>


    </div>
  </div><!-- end grid row -->


  <a id="autotrade-personas">
  <h2 class="heading-large" >Automated trading personas</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">To adjust these personas for automated trading use the table below 
</h3>


  <table id="researchtable" style="margin-bottom: 1em">
    <thead style="vertical-align: bottom">
      <th>Persona</th>
      <th>Segment</th>
      <th>Signals</th>
      <th>Habits</th>
      <th>Basis of decision</th>
      <th>Notes</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="font-weight:600">Jack Robins </td><td>Hopeful</td><td>Social; EA</td><td>Picks signal and applies</td><td>Leaderboards; promised returns</td><td>Hopefuls are likely to be tempted by the ‘get rich quick’ claims associated with particular signals. Will select traders and signals from leaderboards without understanding how they work</td>
      </tr>
      <tr>
      <td style="font-weight:600">John Marsh</td><td>Aspiring</td><td>EA; algorithm; social</td><td>Some back-testing of signals where possible</td><td>Leaderboards; back-testing results</td><td>May do rudimentary back- testing without understanding the conditions under which a signal succeeds or fails</td>
      </tr>
      <tr>
      <td style="font-weight:600">Peter Clarke</td><td>Diligent (developing)</td><td>EA; algorithm; social</td><td>Through investigation of signal’s characteristics; forward and back-testing in different markets and market conditions</td><td>Matching signal to markets</td><td>Understands that leaderboards favour high-risk signals. Risk profiles signals and valuates their effectiveness under different circumstances</td>
      </tr>
      <tr>
      <td style="font-weight:600">Rodney Slade</td><td>Diligent (established)</td><td>EA; algorithm; social</td><td>Through investigation of signal’s characteristics; forward and back-testing in different markets and market conditions</td><td>Matching signal to markets; selecting a signal that matches financial goals and psychological profile</td><td>As well as understanding the risk profiles and of signals he has gained experience of what he can and can’t handle psychologically, for example in terms of win/lose ratio, volatility and downdraws</td>
      </tr>
      <tr>
      <td style="font-weight:600">Paul Jackson</td><td>Expert</td><td>EA; algorithm; social</td><td>May create his own EAs or algorithms</td><td>Codifying his expertise and experience to create signals that give an edge in the market</td><td>He may write his own algorithms or create signals based on indicators. Being a social trading guru may interest him as a source of additional income</td>
      </tr>
      <tr>
      <td style="font-weight:600">Cynthia Cooper</td><td>Investor</td><td>Considers social; EAs</td><td>Will research the potential of EAs and social trading; may regard algorithms as too complex for now</td><td>Searching for a signal that will enable her to trade in a low risk, low effort way</td><td>Automated trading may be a good option for her if it enables her to make a good return without having to spend too much time trading</td>
      </tr>

     

    </tbody></table>



</main>

{{/content}}

{{/layout}}
