{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Primary research</h1>

  <p style="font-weight:600;font-size:0.85em;margin-bottom:2em">Author: <a href="http://www.patrickwjordan.com">Patrick Jordan</a> for Gain Capital, May 2016</p>




	<a id="data">
	<h2 class="heading-large">Trading data analysis </h2></a>

	<p>Of the ‘survivors’ only a small proportion are profitable in the long-run. Nevertheless, as a group they perform far better than a hypothetical non-improving beginner 
	</p>

<div class="grid-row">
  <div class="column-half">


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th>Quarters</th>
      <th>Survivor P+L</th>
      <th>Non-improving<br>beginner P+L</th>
      <th>Success ratio</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
      <td style="background-color:#eee">1%</td><td>24.2%</td><td>24.2</td><td>1.0</td>
      </tr><tr>
      <td style="background-color:#eee">2%</td><td>17.5%</td><td>5.7</td><td>3.1</td>
      </tr><tr>
      <td style="background-color:#eee">4%</td><td>20.1%</td><td>4.6</td><td>4.4</td>
      </tr><tr>
      <td style="background-color:#eee">8%</td><td>14.5%</td><td>3.4</td><td>4.3</td>
      </tr><tr>
      <td style="background-color:#eee">12%</td><td>13.2%</td><td>1.70</td><td>7.8</td>
      </tr><tr>
      <td style="background-color:#eee">16%</td><td>16.8%</td><td>0.83</td><td>11.7</td>
      </tr><tr>
      <td style="background-color:#eee">20%</td><td>12.3%</td><td>0.42</td><td>29.3</td>
      </tr><tr>
      <td style="background-color:#eee">24%</td><td>13.3%</td><td>0.21</td><td>63.3</td>
      </tr><tr>
      <td style="background-color:#eee">28%</td><td>11.0%</td><td>0.11</td><td>100.0</td>
      </tr><tr>
      <td style="background-color:#eee">32%</td><td>18.8%</td><td>0.056</td><td>335.7</td>
      </tr><tr>
      <td style="background-color:#eee">36%</td><td>15.7%</td><td>0.029</td><td>541.4</td>
      </tr><tr>
      <td style="background-color:#eee">40%</td><td>19.9%</td><td>0.015</td><td>1326.7</td>
      </tr><tr>
      <td style="background-color:#eee">48%</td><td>14.8%</td><td>0.0055</td><td>2690.9</td>
      </tr>
    </tbody></table>

    <p style="font-size:0.8em">The table shows the percentage of our users that are profitable after a particular cumulative trading lifetime. At first glance it looks as if the new traders are more successful, but this is simply because they haven’t had as much time as the others to lose money.</p>

    <p style="font-size:0.8em">24.2% of those who were in their first quarter of trading were profitable in that quarter. Without improvement we would expect only 4.6% of them to be profitable after a year.</p>

    <p style="font-size:0.8em">The survivors outperform this notional group of non-improvers by a ratio of more than two and a half thousand after 12 years.</p>

    </div>
    <div class="column-half">

    <img src="/public/images/tradingdata-graph-survivors.png" width="450px" style="margin-top:3em">

    </div>
</div>






<div class="grid-row">
 <div class="column-third">



 <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th width="33%">Period</th>
      <th>Profit over<br> $10K/y</th>
      <th>Loss over <br> -$10K/y</th>
    </thead>

    <tbody style="vertical-align: top;">
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">0-3 mo</td><td style="font-size:0.8em;padding:0.33em">2.7</td><td style="font-size:0.8em;padding:0.2em">12.0</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">3-6 mo</td><td style="font-size:0.8em;padding:0.33em">2.6</td><td style="font-size:0.8em;padding:0.33em">12.7</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">6-12 mo</td><td style="font-size:0.8em;padding:0.33em">2.5</td><td style="font-size:0.8em;padding:0.33em">13.3</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">1-2 year</td><td style="font-size:0.8em;padding:0.33em 0">2.0</td><td style="font-size:0.8em;padding:0.33em 0">15.2</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">2-3 year</td><td style="font-size:0.8em;padding:0.33em 0">1.2</td><td style="font-size:0.8em;padding:0.33em 0">11.0</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">3-4 year</td><td style="font-size:0.8em;padding:0.33em 0">1.6</td><td style="font-size:0.8em;padding:0.33em 0">9.7</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">4-5 year</td><td style="font-size:0.8em;padding:0.33em 0">1.1</td><td style="font-size:0.8em;padding:0.33em 0">12.1</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">5-6 year</td><td style="font-size:0.8em;padding:0.33em 0">1.2</td><td style="font-size:0.8em;padding:0.33em 0">14.0</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">6-7 year</td><td style="font-size:0.8em;padding:0.33em 0">1.2</td><td style="font-size:0.8em;padding:0.33em 0">12.8</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">7-8 year</td><td style="font-size:0.8em;padding:0.33em 0">2.5</td><td style="font-size:0.8em;padding:0.33em 0">18.0</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">8-9 year</td><td style="font-size:0.8em;padding:0.33em 0">1.9</td><td style="font-size:0.8em;padding:0.33em 0">16.8</td>
    </tr>
    <tr style="background-color:#eee;border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">9-10 year</td><td style="font-size:0.8em;padding:0.33em 0">3.1</td><td style="font-size:0.8em;padding:0.33em 0">12.3</td>
    </tr>
    <tr style="border-bottom:none;">
    <td style="font-size:0.8em;padding:0.33em 0">10-12 year</td><td style="font-size:0.8em;padding:0.33em 0">3.14</td><td style="font-size:0.8em;padding:0.33em 0">16.6</td>
    </tr>
  </tbody></table>


  </div>
   <div class="column-two-thirds">

    <img src="/public/images/tradingdata-profitloss.png" width="560" style="margin:2em 0">

  </div>
  </div>


   

<a id="conclusions">
  <h2 class="heading-large">Conclusions</h2></a>

  <h3 class="heading-medium" style="max-width: 780px">How does what we have learned help us built better products?
</h3>





  <table id="researchtable" style="margin-bottom: 2em;max-width: 880px">
    <thead style="vertical-align: bottom">
      <th style="width: 50%">Summary of key takeaways</th>
      <th>Implications</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p><strong>Make money</strong> - The primary goal of all users is to make money</p>
        <p><strong>Users fail</strong> - Vast majority fail to achieve this goal</p>
        <p><strong>Industry problem</strong> - The industry has not made a serious attempt to address this: it is accepted that most clients lose money (previously the industry benefitted from this)</p>
        </td>
        <td>
        <p>Creating a UX that genuinely improved users chances of success would greatly improve user satisfaction and be a huge differentiator in the market.</p>
        </td>
      </tr>

      <tr>
        <td>
        <p><strong>Failures known</strong> - They are the result of particular attitudes, behaviours and emotions</p>

        </td>

        <td>
        <p>If we can help users avoid self-sabotaging attitudes, behaviours and emotions we would expect that their trading performance will improve.</p>
        </td>
      </tr>

      <tr>
        <td>
        <p><strong>Success predictable</strong> - The extent to which users have trading knowledge and adopt good trading behaviours (avoid self-sabotaging behaviours and adopt good trading habits) is the primary predictor of their medium and long-term trading success</p>

        <p><strong>UX satisfaction</strong> - For this reason it is also the primary predictor of their quality of user experience</p>

        <p><strong>Improve behaviours</strong> - To enable us to improve the quality of experience we need to know what users’ trading knowledge and behaviours are now and create user experiences that help to improve them</p>
        </td>
        <td>
        <p>The most important things to understand are the trading behaviours and knowledge the extent to which they are committed to improve. Different UX propositions can be built around this.</p>
        </td>
      </tr>

      </tbody></table>




    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway" style="background-color:green">

      Key Takeaway

      </td>
      <td class="tookaway">
      <p>Users want to make money but using trading platforms they mostly fail.</p>
      <p>The reasons why they fail are well known.</p>
      <p>Addressing will not only create industry differentiator in a largely commoditized market but meet and core and continuing unmet need amongst users.</p>

    </td></tr></table>




</main>

{{/content}}

{{/layout}}
