{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge">Self-sabotaging attitudes and<br>behaviours of online traders</h1>



	<blockquote class="researchquote" style="width: 600px">For nearly all traders the main aim is to make money. However, very few do.<br>
	<span style="font-weight:500;font-size:0.85em;margin-top:0.5em;display: inline-block;line-height: 1.5">To improve the user experience it is important to help them trade more effectively. To do this we need to understand the kinds of mistakes people make when trading and to help people overcome them.</span></blockquote>


<div class="grid-row">
  <div class="column-two-thirds">


<h2 class="heading-large">1. Introduction</h2>
<p>This study looked at opinion pieces by 10 leading experts in online trading. Some of the experts were organisations and others individuals (see Appendix 1). All 10 opinion pieces were about why people underperform when trading. A content analysis of each study was carried out and the findings were cross-referenced and collated.</p>


<p>Overall 54 separate self-sabotaging trader behaviours were identified, some of which were identified by multiple experts (see Appendix 2). Because some of these were similar they were clustered together, leaving a total of 35. These have been organized under 10 themes.</p>




<h2 class="heading-large">2. Self-sabotaging trading behaviours and attitudes</h2>


<h3 class="heading-medium">2.1 Not having an adequate trading plan</h3>

<p>This error can take a number of forms. Probably the most common is not having any trading plan at all. Other variants include having trading plans that are far too ambitious for new traders such as trading against trends.</p>

<p>Another mistake that some new traders make is to trade over time spans that are so short that they can’t tell the difference between trends and noise.</p>

<p>Blind mechanical following of a signal or algorithm without having a proper understanding of how and when it works also falls into this category.</p>

<ul class="inline-bullet">
	<li>Not having a trading plan</li>

	<li>Having a trading plan that is too difficult</li>

	<li>Having a mechanical trading plan</li>

	<li>Trading noise</li>
</ul>

<h3 class="heading-medium">2.2 Not sticking to a trading plan</h3>

<p>This occurs when, although it is clear that the premise on which a trade was made was incorrect, the person persists in holding their position for one reason or another. Often this is because their ‘gut’ tells them they are right even though their plan says otherwise. It can also be because although their original plan hasn’t worked they ‘see’ another opportunity and decide to take that instead. It can also happen when things are going well and people get greedy and hang on instead of selling where they originally intended to.</p>

<ul class="inline-bullet">
	<li>Not accepting a loss</li>

	<li>'Gut’ takes over</li>

	<li>Spot an opportunity ‘on the fly’</li>

	<li>Getting greedy</li>
</ul>


<h3 class="heading-medium">2.3 Following the crowd</h3>

<p>This involves buying or selling stocks because lot of other people have or because an ‘expert’ has hinted that it is a good idea. The result is that the novice trader tends to get into the position too late by which time the value of the position has gone and may start to reverse to their cost. As well as the losses a long-term issue is that people don’t learn as they rely on following others.</p>

<ul class="inline-bullet">
	<li>Seeing a trend develop and jumping on thoughtlessly</li>

	<li>Following the advice of an ‘expert’ without being able to evaluate it</li>
</ul>

<h3 class="heading-medium">2.4 Running losses and cutting profits</h3>

<p>Especially where stops are not used there is a tendency for people to let their losses run. This is often due to one form or the other of psychological pressure. People are loss averse, meaning that losing a particular sum of money creates more pain than the pleasure created by gaining the equivalent amount. Because of this people are tempted to hold onto losing positions in the hope that they will turn, often resulting in bigger losses in the end and in the meantime tying up capital that they could be using for other trades. Not wanting to be wrong is another reason for stubbornly holding a position hoping it will turn.</p>

<p>Another common behaviour that contributes to running losses is averaging. This is when a person keeps buying or selling more of what they have from a losing position in the hope that the size of the reversal needed will be smaller for them to gain back their losses. More often than not this makes things worse.</p>

<p>Cutting profits is often motivated by people thinking that they should quit while they are ahead even though holding longer may well have brought more gains.</p>

<ul class="inline-bullet">
	<li>Holding losing positions in the hope that they turn</li>

	<li>Not wanting to admit that were wrong</li>

	<li>Quitting too soon while ahead</li>

	<li>Averaging losses</li>
</ul>


<h3 class="heading-medium">2.5 Not using stops losses and limit orders adequately</h3>

<p>In many cases people don’t set stops at all exposing them to large potential losses. In others they set the stops inappropriately, either exposing them to more loss than they need to or being so close to the start point that they get stopped out purely due to noise. The stops should be set on a logical basis according to the person’s trading plan. In other words as soon as it is apparent that the logic behind the position is flawed it should be stopped out and losses minimized.</p>

<p>A similar principle applies to limit orders. Without these there is a danger that people will let greed get the better of them and fail to take profits only to see them evaporate. Stop losses and limit orders should be set at levels that give appropriate reward to risk ratios.</p>

<ul class="inline-bullet">
	<li>No stops and limits set</li>

	<li>Stops or limits set too low or high</li>

	<li>Stop set to close, gets triggered by noise</li>

	<li>Stops and limits set in a way that gives a poor reward to risk ratio</li>
</ul>



<h3 class="heading-medium">2.6 Poor money management</h3>

<p>This problem can manifest itself in a number of ways. One is simply people failing to adequately fund their accounts. It is highly likely that people are going to have some setbacks during their early trading days and they will not be able to learn and progress without adequate funds to survive these.</p>

<p>Another common mistake is risking too higher proportion of an account on a particular trade. Ideally this should only be 1% to 2% of an account’s balance but many inexperienced traders risk many multiples of this. Often the reason that they do is because of using too high a leverage.</p>

<p>Overtrading is another money management problem. This means that even though each open position may have fairly limited exposure, the user may have so many open positions that the total exposure becomes highly risky.</p>

<ul class="inline-bullet">
	<li>Accounts not properly funded</li>

	<li>Too much risked on a particular trade</li>

	<li>Too many open positions</li>
</ul>



<h3 class="heading-medium">2.7 Failure to learn</h3>

<p>This is a common problem that, again, can have a number of causes. One is that people do not reflect on why a particular trade was successful or unsuccessful and about what that might mean for their plan. Others may not take responsibility for their losses and simply put them down to bad luck or may even believe that their broker is conspiring against them.</p>

<p>Another reason that people fail to learn is that they undertake too wide a range of trading activities, for example trading too wide a range of asset classes in too wide a range of markets. This makes it difficult to gain competence or expertise in any particular area.</p>

<ul class="inline-bullet">
	<li>Not reviewing and analysing trades</li>

	<li>Not taking responsibility for losses</li>

	<li>Not being focused enough in terms of markets and asset classes</li>
</ul>



<h3 class="heading-medium">2.8 Trading in the wrong frame of mind</h3>

<p>This can happen when traders let the emotion of a particular set of circumstances get to them. It is important that people treat each trade as separate event and make each on its own merits and according to a plan. However, there is a danger that if someone has had two or three losing trades in a row they may trade impetuously in a desperate attempt to win back some of their losses.</p>

<p>Equally, it is often the case that after a big winning trade people may be tempted to risk more on subsequent trades because they become overconfident and gung ho.</p>

<ul class="inline-bullet">
	<li>Become desperate to get money back after losing trades</li>

	<li>Become gung ho after winning trades</li>
</ul>



<h3 class="heading-medium">2.9 Lack of preparation</h3>

<p>This can happen on a macro level where people don’t go though any education or training before they start trading, or a micro level where they don’t research the trades that they make. As a result they may lack even a rudimentary knowledge of trading or of the fundamentals of a particular trade that they are getting involved with.</p>

<p>For many who have a knowledge of investment but haven’t traded before not knowing how to short may be a problem.</p>

<ul class="inline-bullet">
	<li>No trading training or education</li>

	<li>No research about individual trades</li>

	<li>Not knowing how to short (only going low)</li>
</ul>



<h3 class="heading-medium">2.10 General psychological indiscipline</h3>

<p>Many people do not approach trading with the right frame of mind. For example, they may not take it seriously enough, treating it as a hobby when it is better thought of as a business venture. People often have expectations that are too high too soon, perhaps seeing trading as a quick and easy way of making money rather than as something complicated that needs to be mastered.</p>

<p>Time management is also an essential part of being an effective trader, making sure that there is sufficient time for trading, learning and research.</p>

<p>The most effective traders tend to be emotionally detached from the outcomes of each trade. It is when emotions run high that people move away from their plans and make irrational decisions that will usually be detrimental. Emotions can also lead to indecisiveness and procrastination meaning that opportunities pass by.</p>

<ul class="inline-bullet">
	<li>Underestimating difficulty of trading</li>

	<li>Treating it as a hobby</li>

	<li>Overly high expectations</li>

	<li>Poor time management</li>

	<li>Lack of emotional control</li>

	<li>Procrastination</li>
</ul>









<h2 class="heading-large">3. Summary</h2>

<p>If we can help users overcome these 35 self-sabotaging attitudes and behaviours their trading success is likely to improve.</p>

<table id="researchtable">
<thead>
  <th>Issue</th>

  <th>Effect</th>

</thead>
<tbody>
<tr>
<td style="font-weight: 600;vertical-align: top">
Not having an adequate trading plan
</td>
<td>
<p>Not having a trading plan</p>

<p>Having a trading plan that is too difficult</p>

<p>Having a ‘mechanical’ trading plan</p>

<p>Trading ‘noise’</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Not sticking to a trading plan
</td>
<td>
<p>Not accepting a loss</p>

<p>‘Gut’ takes over</p>

<p>Spot an opportunity ‘on the fly’</p>

<p>Getting greedy</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Following the crowd
</td>
<td>
<p>Seeing a trend develop and jumping on thoughtlessly</p>

<p>Following the advice of an ‘expert’ without being able to evaluate it</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Running losses and cutting profits
</td>
<td>
<p>Holding losing positions in the hope that they turn</p>

<p>Not wanting to admit that were wrong</p>

<p>Quitting too soon while ahead</p>

<p>Averaging losses</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Not using stops losses and limit orders adequately
</td>
<td>
<p>No stops and limits set</p>

<p>Stops or limits set too low or high</p>

<p>Stop set to close, gets triggered by noise</p>

<p>Stops and limits set in a way that gives a poor reward to risk ratio</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Money management
</td><td>
<p>Accounts not properly funded</p>

<p>Too much risked on a particular trade</p>

<p>Too many open positions</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Failure to learn
</td>
<td>
<p>Not reviewing and analysing trades</p>

<p>Not taking responsibility for losses</p>

<p>Not being focused enough in terms of markets and asset classes</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Trading in the wrong frame of mind
</td>
<td>
<p>Become desperate to get money back after losing trades</p>

<p>Become gung ho after winning trades</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
Lack of preparation
</td>
<td>
<p>No trading training or education</p>

<p>No research about individual trades</p>

<p>Not knowing how to short (only going low)</p>
</td>
</tr>
<tr>
<td style="font-weight: 600;vertical-align: top">
General psychological discipline
</td>
<td>
<p>Underestimating difficulty of trading</p>

<p>Treating it as a hobby</p>

<p>Overly high expectations</p>

<p>Poor time management</p>

<p>Lack of emotional control</p>

<p>Procrastination</p>
</td>
</tr>
</tbody></table>






<h2 class="heading-large">4. References</h2>


<p><a href="http://traderkingdom.com/trading-futures-education-topics/trading-futures-basics/3798-common-mistakes-traders-make-and-how-to-avoid-them">Alexander, T., 2015. Common Mistakes Traders Make and how to Avoid them</a>, Trader Kingdom</p>


<p><a href="http://thepatternsite.com/3TradingMistakes.html">Bulkowski, T., 2016. Bulkowski’s Three Trading Mistakes</a>, thepatternsite.com</p>


<p><a href="http://www.ebay.com/gds/11-Common-Mistakes-of-a-Trader-AND-How-to-Avoid-Them-/10000000136820967/g.html">Daytrader.com, 2011. 11 Common Mistakes of a Trader and How to Avoid them</a>, EBay</p>


<p><a href="https://www.investorsunderground.com/top&#8211;7-mistakes-new-traders-make/">InvestorsLive, 2015. The Top 7 Mistakes New Traders Make</a>, Investors Underground</p>


<p><a href="http://www.streetdirectory.com/travel_guide/36885/investment/10_common_mistakes_in_trading.html">Lee, J., 2016. 10 Common Mistakes in Trading</a>, Street Directory</p>


<p><a href="http://www.cnbc.com/2015/07/17/six-classic-mistakes-young-traders-make-commentary.html">Malhorta, R., 2015. Six Classic Mistakes Young Traders Make</a>, CNBC Wall Street</p>


<p><a href="http://www.tradingacademy.com/resources/financial-education-center/beginners-mistakes.aspx">Online Trading Academy, 2016. Beginners’ Mistakes</a>, Online Trading Academy Training</p>


<p><a href="http://www.investopedia.com/articles/active-trading/013015/worst-mistakes-beginner-traders-make.asp">Picardo, E., 2015. The Worst Mistake Beginner Traders Make</a>, Investopedia</p>


<p><a href="http://www.pricecharts.com/topten.htm">Pricecharts.com, Top Ten Trading Mistakes and How to Avoid them</a>, Piecharts blog</p>


<p><a href="http://michaelsincere.com/10-common-trading-errors/">Sincere, M., 2016. 10 Common Trading Errors</a>, Michael Sincere Blog.</p>


<p><a href="http://www.futuresmag.com/2010/12/31/top&#8211;10-trading-mistakes">Wyckoff, J., 2011. Top Ten Trading Mistakes, Futures Magazine</a>, Jan. 2011</p>



<!-- I have hidden this appendix as it replicates the content of the other table, 
with only a little additional information. It would be better to apply that to one table, with a switch
to show or hide the reference score number 

<p>Appendix: Full list of self-sabotaging trading practices mentioned by authors</p>

<p>Where more than one author mentioned a particular issue the number mentioning it is given in brackets.</p>

<ul class="inline-bullet">
	<li><span>Not having an adequate trading plan</span>(10 items)</li>
	<li><span>Failure to have a trading plan (5)</li>
	<li><span>Expecting to find a magic formula</li>
	<li><span>Too short time frames</li>
	<li><span>Trading in markets where there are no current opportunities</li>
	<li><span>Trading against the trend</li>
	<li><span>Not getting bigger picture (market perspective)</li>
	<li><span>Blindly following mechanical systems</li>
	<li><span>Not calculating a stock’s risk</li>
	<li><span>Lacking proper tools</li>
	<li><span>Not sticking to a trading plan</li>
	<li><span>(5 items)</p>

<p>Not sticking to a trading plan (2)</p>

<p>Being greedy</p>

<p>Changing plan mid trade</p>

<p>Reversing position</p>

<p>Ignoring sell signal (at loss or profit)</p>

<p>Following the crowd</p>

<p>(4 items)</p>

<p>Following the crowd (3)</p>

<p>Improper timing</p>

<p>Following and not learning</p>

<p>Listening to ‘gurus’ (who often have agendas)</p>

<p>Running losses and cutting profits</p>

<p>(5 items)</p>

<p>Letting losses run (5)</p>

<p>Averaging a loss (3)</p>

<p>Taking small profits (2)</p>

<p>Overstaying position</p>

<p>Wanting to be right</p>

<p>Not using stops losses and limit orders adequately</p>

<p>(2 items)</p>

<p>Failure to use protective stops (5)</p>

<p>Placing stops improperly</p>

<p>Money management</p>

<p>(7 items)</p>

<p>Too many open positions (3)</p>

<p>Inadequate assets (2)</p>

<p>Staking too much per trade (2)</p>

<p>Lack of money management</p>

<p>Inappropriate risk/reward ratios</p>

<p>Failure to remove profits from account</p>

<p>Excessive leverage</p>

<p>Failure to learn</p>

<p>(5 items)</p>

<p>Lack of specialization (4)</p>

<p>Failure to accept complete responsibility</p>

<p>Lack of record keeping</p>

<p>Not learning from mistakes</p>

<p>Not analysing self or trades</p>

<p>Trading in the wrong frame of mind</p>

<p>(5 items)</p>

<p>Vengeance trading</p>

<p>Increasing exposure after success</p>

<p>Trade when distracted</p>

<p>Overconfidence or hubris</p>

<p>Losing your cool</p>

<p>Don’t step back after losing run</p>

<p>Lack of preparation</p>

<p>(3 items)</p>

<p>Lack of preparation (e.g. tutorials) (3)</p>

<p>Lack of homework about asset (2)</p>

<p>Not learning how to short</p>

<p>General psychological discipline</p>

<p>(8 items)</p>

<p>Expectations too high too soon (2)</p>

<p>Lack of patience and discipline (2)</p>

<p>Treating trading as a hobby</p>

<p>Being too emotional about money</p>

<p>Procrastinating</p>

<p>Poor time management</p>

<p>Anticipating profits (spend in their mind)</p>

<p>Think that they know it all</p>

<p>(Total: 54 items)</p>
-->








  </div>
</div>


</main>

{{/content}}

{{/layout}}
