{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Primary research</h1>

  <p style="font-weight:600;font-size:0.85em;margin-bottom:2em">Author: <a href="http://www.patrickwjordan.com">Patrick Jordan</a> for Gain Capital, May 2016</p>



<div class="grid-row">
  <div class="column-two-thirds">

	<a id="methodology">
	<h2 class="heading-large">Internal interviews: key insights </h2></a>

	<h3 class="heading-medium">We captured the undocumented knowledge about our clients that we have in Gain 
	</h3>

	
	<p><strong>What attracts people to online trading</strong>
	<ul class="inline" style="margin-bottom:2em">
		<li>Making money is overwhelmingly the main reason people are attracted to trading</li>
		<li>Hope for bigger and quicker returns that investing</li>
		<li>Freedom, challenge, excitement and image are emotional benefits for many</li>
		<li>Often events and circumstances attract people to trading (e.g. VW Scandal, possibility of Brexit)</li>
		<li>Trading volume correlates with market volatility</li>
		<li>For many the decision to trade is on impulse</li>
		<li>Low rate of conversion from demo to live trading</li>
	</ul></p>

<p><strong>Common characteristics of online traders</strong>
<ul class="inline" style="margin-bottom:2em">
  <li>Overwhelmingly male</li>
  <li>Comfortable with risk </li>
</ul></p>

<p><strong>Differences between groups of traders</strong>
<ul class="inline" style="margin-bottom:2em">
  <li>Traders differ with respect to: experience, competence, attitude to risk, fundamental v. technical, financial resources</li>
  <li>Many young men see it as a chance to make easy money and get rich quick (‘Wolf of Wall Street’ Attitude)</li>
  <li>Older people tend to be more systematic and cautious</li>
  <li>Younger people usually more tech savvy</li>
  <li>Women more risk adverse than men</li>
  <li>Difference between those who know about trading and those just taking a punt</li>
  <li>Two kinds of novices: those who are new to online trading and those who are new to trading as a whole</li>
  <li>Some do training before trading some don’t</li>
</ul></p>

<p><strong>Factors that have biggest influence on how happy/unhappy people are when trading</strong>
<ul class="inline" style="margin-bottom:2em">
  <li>Whether they are making a profit is by far the biggest issue</li>
  <li>Platform usability</li>
  <li>Platform stability and reliability</li>
  <li>Quality of tools provided (e.g. charts, new)</li>
  <li>Quality of client services</li>
</ul></p>

<p><strong>Why people lose money</strong>
<ul class="inline" style="margin-bottom:2em">
  <li>Don’t understand risk management</li>
  <li>Get the direction right but run wrong</li>
  <li>Lack strategy and try and pick top and bottom of the market</li>
  <li>Rush to get going without education first</li>
  <li>Think it will be easy money</li>
</ul></p>

<p><strong>Biggest opportunities</strong>
<ul class="inline" style="margin-bottom:2em">
  <li>Attracting Millennials</li>
  <li>Switchers are high value because they trade regularly and need less help</li>
  <li>Mobile is the fastest growing area</li>
  <li>Social trading</li>
  <li>Help clients trade more successfully</li>
</ul></p>


<ul>
	<li><strong>Interviewees</strong></li>
	<li>Nicholas Scott</li>
	<li>Emma Shen</li>
	<li>Jonathon Shen</li>
	<li>Skyler Tang</li>
	<li>Daniel Sleeman</li>
	<li>Sixto Alonso</li>
	<li>Craig King</li>
	<li>Shane Braustein</li>
	<li>Ben Flint</li>
	<li>Iain Fry</li>
	<li>Richard Gloess</li>
	<li>Jack Gorgon</li>
	<li>Hiroaki Umezawa</li>
	<li>Nanako Fukada</li>
	<li>Takayoshi Takano</li>
	<li>Ainsley Kuppler</li>
	<li>Benjamin Leith</li>
	<li>Luke Miller</li>
	<li>Warren Ruhoman</li>
	<li>Dina Grochowski</li>
	<li>Steve Kerrick</li>
	<li>Allison Cashmore</li>
	<li>Wes Newman</li>
	<li>Ian O’Sullivan</li>
	<li>Lex Webster</li>
	<li>Ken Odeluga</li>
	<li>Fawad Razaqzada</li>
	<li>Vikki Pead</li>
	<li>Daniel Gladding</li>
	<li>Lisa Fox</li>
	<li>Chung Lee</li>
	<li>Khalid Flynn</li>
	<li>Thien Ohan</li>
	<li>Daniel Frostick</li>
</ul>



    <table>
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
        
        <ul class="inline">
          <li>The desire to make money is something that all traders have in common</li>
          <li>Many come to trading due to high-profile events or market volatility</li>
          <li>Traders are overwhelmingly male</li>
          <li>They range in attitude from those who want to get rich quick to those who are making a serious commitment to learning trading</li>
          <li>Whether they are making money is by far the biggest determinant of how positive a user’s experience is, but the vast majority don’t</li>
          <li>Lack of strategy, discipline and risk management are the most common reasons for this</li>
          <li>Attracting new users and attracting switchers are both big opportunities</li>
        </ul>
        </p>
      </td>

    </tr>
    </table>


<a id="ethnography">
  <h2 class="heading-large">Ethnography: City Index tutorials (James Chen)</h2></a>

  <h3 class="heading-medium" style="max-width: 650px">We took some tutorials with James Chen to understand the basics of trading</h3>


  </div>
</div>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width: 42%">Tutorial</th>
      <th>Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Introduction to Trading the Financial Markets</p>
        </td>
        <td>
        <p>Even a mediocre trader can make money if they manage risk properly</p>
        <p>Trend, pullback, breakout (TPB) is a good system for new traders</p>
        <p>“If your rational for a trade proves wrong, get out”</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Getting Started with Trading: Platforms and Tools</p>
        </td>
        <td>
        <p>Understand how to set stop losses and profit limits</p>
        <p>Understand different order types: market, entry, OCO</p>
        <p>Understand support and resistance lines</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Technical and Fundamental Analysis Overview</p>
        </td>
        <td>
        <p>Fundamentals: what you have to know is different for different markets</p>
        <p>Technical analysis: can be applied across markets</p>
        <p>Learn to use tools such as moving averages and oscillators</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Basic Trading Tools and Techniques</p>
        </td>
        <td>
        <p>It is very difficult to trade news: most lose</p>
        <p>Profits should be a multiple of risk</p>
        <p>It is important to have a proper system for entering trades</p>
        </td>
      </tr>
     

    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Even a basic trading strategy can be profitable as long as it is applied diligently</p>

      <p>Managing risk and sticking to a system is essential</p>

      <p>It is important to grasp the use of tools such as stop losses, profit limits and simple technical analysis tools</p>

    </td></tr></table>






  <a id="ethnography">
    <h2 class="heading-large">User observation, interviews, trading analysis</h2></a>

    <h3 class="heading-medium" style="max-width: 650px">We spoke to some of our clients, watched them trading and looked at their records</h3>


    </div>
  </div>


  <table id="researchtable" style="margin-bottom: 1em;max-width: 780px">
    <thead style="vertical-align: bottom">
      <th style="width:16%">User</th>
      <th style="width:28%">Observations</th>
      <th style="width:28%">Trading pattern</th>
      <th style="width:28%">Insights</th>
    </thead>

    <tbody style="vertical-align: top">
      <tr>
        <td>
        <p>Ben B (UK)</p>
        </td>

        <td>
        <p>Developed habits through trials and error</p>
        <p>Uses charts analysis with various indicators</p>
        <p>Trades a variety of projects</p>
        </td>

        <td>
        <p>Overall loss on his first 200 trades but an overall profit on the 300 since then</p>
        <p>Lots of small losses and occasional big wins</p>
        </td>

        <td>
        <p>Has learned from early mistakes</p>
        <p>Very disciplined about cutting losses, running profits</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Julian M (UK)</p>
        </td>

        <td>
        <p>Only uses phone to trade</p>
        <p>Not much analysis</p>
        <p>Uses stops and limits</p>
        </td>

        <td>
        <p>1st 250 trades many losses and occasional wins: overall modest profit</p>
        <p>300 since: 50% win rate overall big losses</p>
        </td>

        <td>
        <p>Started in a disciplined way and was profitable despite low win/loss ratio</p>
        <p>Lost discipline when started trading bigger amounts, running big losses</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Kiril K. (UK)</p>
        </td>

        <td>
        <p>Trades multiple instruments</p>
        <p>Tends to stick to markets he knows rather than trying new things</p>
        <p>Holds positions from 1-3 days</p>
        </td>

        <td>
        <p>Losses over first150 trades</p>
        <p>Profitable over next 100</p>
        <p>Catastrophic run of 4 large losses wiped out gains</p>
        <p>Now gains again</p>
        </td>

        <td>
        <p>Learned from early mistakes</p>
        <p>Started to be disciplined but seemed to lose it temporarily leading to one big loss which caused a downward spiral of 3 more</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Bruce T (Hong Kong)</p>
        </td>

        <td>
        <p>Does some analysis from charts</p>
        <p>Doesn’t trust analysts views</p>
        <p>Has technical issues with the platform sometimes</p>
        </td>

        <td>
        <p>Has placed over 350 trades</p>
        <p>Very poor ratio of winning trades</p>
        <p>Running losses</p>
        <p>No improvement</p>
        <p>Lost over £ 3000</p>
        </td>

        <td>
        <p>Has shown no sign of any improvement over the course of his trading</p>
        <p>Appears to be repeating the same mistakes continually</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Peter R (UK)</p>
        </td>

        <td>
        <p>Lost a lot of money in the 1987 crash</p>
        <p>Feels has the wrong psychology for trading (emotional and stubborn)</p>
        </td>

        <td>
        <p>Has been analyzing algorithms</p>
        <p>Selected one and is using</p>
        <p>Few trades so far but profitable</p>
        </td>

        <td>
        <p>Seems very self aware</p>
        <p>Is using the algorithm as feels that it will take the psychology out of trading which he sees as his weak point</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Frank R (UK)</p>
        </td>

        <td>
        <p>Thought he knew it all at the start</p>
        <p>Lost a lot of money</p>
        <p>Returned and learned properly</p>
        <p>Now consistent modest profit</p>
        <p>Only trades in morning when fresh</p>
        </td>

        <td>
        <p>Big early losses</p>
        <p>Now pattern of consistent gains over series of trades</p>
        </td>

        <td>
        <p>Early mistakes provided a wake up call</p>
        <p>Motivated to succeed so studied properly</p>
        <p>Has changed his attitude and realises how hard trading is and that discipline required</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Kyle O (UK)</p>
        </td>

        <td>
        <p>Does a lot of news analysis</p>
        <p>Trades cautiously using stops and limits</p>
        <p>Had traded with IG but felt he was betting against them so couldn’t win</p>
        </td>

        <td>
        <p>1st 250 trades many losses and occasional wins: overall modest profit</p>
        <p>300 since: 50% win rate overall big losses</p>
        </td>

        <td>
        <p>Started in a disciplined way and was profitable despite low win/loss ratio</p>
        <p>Lost discipline when started trading bigger amounts, running big losses</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Francesco R. (UK)</p>
        </td>

        <td>
        <p>HNW client who has been traded for 2 months</p>
        <p>Lost $ 150,000 in that time</p>
        <p>Occasionally looks at charts but no analysis</p>
        </td>

        <td>
        <p>Tends to have lot of small wins followed by much larger losses</p>
        <p>Has traded 500 times in his first two months</p>
        </td>

        <td>
        <p>Is essentially punting</p>
        <p>Doesn’t understand the basics of trading</p>
        <p>Overleveraged leaving himself with £ 100K exposure, panicked and closed all trades</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Abdul S. (UK)</p>
        </td>

        <td>
        <p>Trades indices at £5 per point</p>
        <p>Mainly uses web</p>
        <p>Invested but sees trading as totally different game</p>
        <p>Started trading as perceived few investment opportunities in market</p>
        </td>

        <td>
        <p>Stake size is small compared to his account</p>
        <p>Has become profitable over 5 month period (PnL +$1320)</p>
        </td>

        <td>
        <p>Understands the risk of trading</p>
        <p>Manages risk and emotions through small stake size</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Jonathan A (UK)</p>
        </td>

        <td>
        <p>Trades in the evening</p>
        <p>Puts orders on the Dow at 9pm after it closes</p>
        <p>Aiming to leverage up in the long term</p>
        </td>

        <td>
        <p>Has done around 250 trades over 1.5 years</p>
        <p>Increasing stakes and slight improvement in performance</p>
        <p>Still negative PnL</p>
        </td>

        <td>
        <p>No sign of significant improvement or a particularly systematic approach</p>
        <p>Has ran losses and cuts profits from the start and still does</p>
        </td>

      </tr>

      <tr>
        <td>
        <p>Erik L (Sweden)</p>
        </td>

        <td>
        <p>Trades currency pairs for three hours each evening</p>
        <p>Experiments with different strategies and evaluates</p>
        </td>

        <td>
        <p>Early losses have now been replaced by consistent gains</p>
        <p>Broken even after six months</p>
        </td>

        <td>
        <p>Has taken a through and ‘scientific’ approach</p>
        <p>Learned by ‘thoughtful trial and error’</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Idris O (UK)</p>
        </td>

        <td>
        <p>Former professional trader</p>
        <p>Now trades for self</p>
        <p>Chart based</p>
        <p>Tries to be disciplined but sometimes emotionally difficult</p>
        </td>

        <td>
        <p>Generally successful and disciplined</p>
        <p>Occasional ‘gung-ho’ trade if gets over excited</p>
        </td>

        <td>
        <p>Although can get emotional he is aware of this and take it into account when setting up trades</p>
        <p>Has stops and limits in place</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Alan S (UK)</p>
        </td>

        <td>
        <p>Likes to stake small amounts (e.g. 50p/point)</p>
        <p>Trades indices and individual shares</p>
        <p>Trades about three times per day</p>
        <p>Sometimes in and out quickly, sometimes holds over night</p>
        <p>Tries different approaches and indicators to see what works best</p>
        </td>

        <td>
        <p>Has a pattern of lots of small losses followed by the occasional large win</p>
        <p>However also has he occasional large loss so has an overall loss (-£500 in 12 months)</p>
        </td>

        <td>
        <p>He seems to be experimenting in order to find a successful approach but hasn’t managed to achieve this yet</p>
        <p>Not clear whether his experimenting is helping him learn or whether he is simply jumping from one thing to another</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Robert C. (UK)</p>
        </td>

        <td>
        <p>Has been interested in trading for a long time</p>
        <p>Did a lot of training</p>
        <p>Looking for a winning system</p>
        <p>Doesn’t have much time to trade</p>
        <p>Uses Twitter for getting tips</p>
        </td>

        <td>
        <p>Has been trading for 7 years</p>
        <p>Lost -$16K</p>
        </td>

        <td>
        <p>Has been looking for a winning strategy</p>
        <p>Not found one</p>
        <p>Difficult to fit trading around his work</p>
        <p>Not been able to give it sufficient time to make progress</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Mark T. (UK)</p>
        </td>

        <td>
        <p>Was originally interested in binary options</p>
        <p>Got into share trading as a result</p>
        <p>Trades lots of different products and markets</p>
        <p>Chart based using over 100 indicators</p>
        <p>Working on building his own system</p>
        </td>

        <td>
        <p>Has now been trading for over six months</p>
        <p>Different timescales of trades (scalping vs. longer)</p>
        <p>Not yet profitable</p>
        </td>

        <td>
        <p>Gave up job to trade full time</p>
        <p>Living with his parents although in early 50s</p>
        <p>Trying to learn</p>
        <p>Maybe going too broad to start with, narrower focus might be better</p>
        </td>
      </tr>


      <tr>
        <td>
        <p>Jamal I (UK)</p>
        </td>

        <td>
        <p>Comfortable with risk</p>
        <p>Mainly uses gut instinct</p>
        <p>Likes excitement</p>
        <p>Doesn’t understand pounds/point</p>
        <p>Not clear about how to place stops and limits</p>
        </td>

        <td>
        <p>Trading for 2.5 years</p>
        <p>Lost $865</p>
        <p>Started with shares and commodities, then switched to forex</p>
        <p>Trades intermittently for a couple of hours in the morning or evening</p>
        </td>

        <td>
        <p>Despite trading for 2.5 years has not grasped even the basics of trading</p>
        <p>Claims that he doesn’t mind if he wins or loses as it is interesting anyway</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Daniel C (UK)</p>
        </td>

        <td>
        <p>Trades indices and individual shares</p>
        <p>Has bet and played poker online</p>
        <p>Trades in first 15 minutes of various markets opening</p>
        <p>Believes that providers often ‘rip-off’ their clients: says had ‘phantom spike’ and got stopped out when trading with IG (which is why he left them)</p>
        </td>

        <td>
        <p>Has lost $505 over 6 months</p>
        <p>Tends to put small stake sizes and takes profits after 3 or 4 point moves</p>
        <p>Tried different systems which he says are ‘each successful for a short while’</p>
        <p>Emotions depend on the size of the win or loss</p>
        </td>

        <td>
        <p>Although he may appear to be experimenting with systems he is doing little analysis</p>
        <p>In effect he is ‘punting’ a lot of the time</p>
        <p>Tends to put his losses down to bad luck and his wins to trading skill</p>
        </td>

      </tr>
      <tr>
        <td>
        <p>Ben A (UK)</p>
        </td>

        <td>
        <p>Started with IG</p>
        <p>Felt that got ripped off got stopped out during a spike that he says did not appear on the FTSE itself</p>
        <p>Works full time, trades in the evenings</p>
        </td>

        <td>
        <p>Only just started with CI so little data</p>
        <p>Hasn’t traded much recently because can’t set indicators</p>
        </td>

        <td>
        <p>Says that’ any profit is a good profit’ which suggests that he is cutting his gains</p>
        <p>Gets quite emotional while trading: loves winning and hates losing</p>
        </td>
      </tr>
      <tr>
        <td>
        <p>Stephen M. (UK)</p>
        </td>

        <td>
        <p>Carpenter by trade</p>
        <p>Very interested in maths</p>
        <p>Uses mathematical analysis</p>
        <p>Trades indices</p>
        <p>Fairly calm</p>
        </td>

        <td>
        <p>Just started trading</p>
        <p>$75 profit in 2 months</p>
        <p>Trades from 8-9.30 &amp; 3-4pm</p>
        <p>&pound; 1/point</p>
        <p>Approx 15 trades/day</p>
        <p>Loses more than wins but runs gains and cuts losses</p>
        </td>

        <td>
        <p>Understands the need to gain an edge and feels that mathematical analysis is the only way</p>
        <p>Disciplined</p>
        <p>Doesn’t get emotional</p>
        <p>“If trade isn’t going to work get out and try another one”</p>
        </td>
      </tr>




      <tr>
        <td>
        <p>Tarun P. (UK)</p>
        </td>

        <td>
        <p>Wife had some spare money and they decided to trade in the hope of getting a better return than in banks</p>
        <p>Buys options and holds until they expire</p>
        </td>

        <td>
        <p>Has made few trades</p>
        <p>Profit of $2.8K in 5 months</p>
        </td>

        <td>
        <p>Trades a narrow product set</p>
        <p>Relies on news largely</p>
        <p>Realistic expectations</p>
        </td>
      </tr>

      <tr>
        <td>
        <p>Matthew L. (UK)</p>
        </td>

        <td>
        <p>Developed a system using 12 month charts</p>
        <p>Based on the idea that a share, index or currency has a floor</p>
        <p>Trades from 7-8 am; 2:08- 2:30; 3:30; 4:30 and 5:30 as these as “fastest growing peaks of the day”</p>
        <p>Self-taught; aims to become full-time trader</p>
        </td>

        <td>
        <p>Has never had crystallised a losing trade</p>
        <p>Has sufficient funds to avoid margin calls so far</p>
        <p>Likely to be a ‘time bomb’</p>
        </td>

        <td>
        <p>This is a highly risky strategy which is likely to end in a big crash eventually</p>
        <p>Mirrors the kinds of strategy that are sometimes seen on social trading leaderboards</p>
        </td>
      </tr>

      <tr>
        <td>
        <p>Martin P. (UK)</p>
        </td>

        <td>
        <p>Became interested in trading after 2008: was curious how it happened</p>
        <p>Retired: prefers to trade for first 2-3 hours of the morning</p>
        <p>Learning to code script and produce own signals from charts</p>
        </td>

        <td>
        <p>Trades up to 25p per point at the moment</p>
        <p>Not going to do more until after 200 trades</p>
        </td>

        <td>
        <p>Tends to be cautious perhaps, maybe to the point of impeding his progress as he is not doing enough trades to learn</p>
        </td>
      </tr>
     


    </tbody></table>


    <table style="max-width:830px;margin-bottom:3em">
    <tr>
      <td class="takeaway">

      Takeaways

      </td>
      <td class="tookaway">
      <p>Some traders make the same mistakes over and over again without improving</p>

      <p>Others refine their systems and learn from their mistakes</p>

      <p>Losing control of emotions can be catastrophic even for the best of traders</p>

    </td></tr></table>




</main>

{{/content}}

{{/layout}}
