<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responsive grid demo</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/gridstack.css"/>
    <link rel="stylesheet" href="/public/stylesheets/gridstack-extra.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="/public/javascripts/gridstack.js"></script>


  <title>Demo &raquo; Resize &raquo; gridster.js</title>
  <!--<link rel="stylesheet" type="text/css" href="/public/stylesheets/jquery.gridster.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/griddemo.css">-->
  <link href="/public/stylesheets/application3.css" media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://basehold.it/30">

</head>

<body>

<div class="grid-stack">
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="10" data-gs-height="1"
        data-gs-no-resize="yes" data-gs-no-move="yes" data-gs-locked="yes">
            <div class="grid-stack-item-content">

            <div style="background-color: yellow; width:100%;padding:1em 10em 1em 1em;border-bottom:black solid 4em">
            <strong>Platform Name + Brand</strong>
            </div>

            </div>
    </div>
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="2"
        data-gs-width="2" data-gs-height="4">
            <div class="grid-stack-item-content">

            <header class="component-label">
              <span style="font-size:1.25em;color:#888">&#10996;</span> Market search
            </header>

              <ol class="info-list">

              <li>
              <a href="#" style="text-decoration: none;">&lt; Popular</a></li>

              <li>
              Popular spreads <span class="market-arrow"><a href="#">&gt;</a></span></li>

              <li>
              Popular Australia <span class="market-arrow"><a href="#">&gt;</a></span></li>

              <li>
              Popular UK <span class="market-arrow"><a href="#">&gt;</a></span></li>

              <li>
              Popular German <span class="market-arrow"><a href="#">&gt;</a></span></li>

              <li>
              Popular IFX Equities <span class="market-arrow"><a href="#">&gt;</a></span></li>

              <li>
              Popular MT4 <span class="market-arrow"><a href="#">&gt;</a></span></li>

              </ol>

            </div>
    </div>
    <div class="grid-stack-item"
        data-gs-x="2" data-gs-y="2"
        data-gs-width="5" data-gs-height="4">
            <div class="grid-stack-item-content">

            <header class="component-label">
              <span style="font-size:1.25em;color:#888">&#10996;</span> Open positions
              <span class="heatmap-box-menu" id="heatmap-1-menu">
              <a href="#menu" style="text-decoration: none;color:#0066cc">
              &#9776;
              <span style="display:none">Menu</span>
              </a></span>
            
            </header>

            <div class="stock-table">
            <table style="width:100%">
            <thead>
            <tr>
              <th>Market</th>
              <th>P &amp; L<span style="display:none">Unrealised</span></th>
              <th>Open</th>
              <th>Buy/Sell</th>
              <th>Quantity</th>
              <th>Current</th>
            </tr>
            </thead>

            <tbody>
            <tr class="toprow">
              <td class="stock-name">Wall Street CFD</td>
              <td class="stock-spread">4.0</td>
              <td class="stock-sell">16190.8</td>
              <td class="stock-buy">16194.8</td>
              <td class="stock-change">5</td>
              <td class="stock-current">16194.8</td>
            </tr>

            <tr>
              <td class="stock-name">UK100 CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">5831.3</td>
              <td class="stock-buy">5832.3</td>
              <td class="stock-change">100</td>
              <td class="stock-current">5832.3</td>
            </tr>

            <tr>
              <td class="stock-name">Germany 30 CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">9231.5</td>
              <td class="stock-buy">9232.5</td>
              <td class="stock-change">5</td>
              <td class="stock-current">9232.5</td>
            </tr>

            <tr>
              <td class="stock-name">Gold (per 0.1) CFD</td>
              <td class="stock-spread">0.4</td>
              <td class="stock-sell">1209.4</td>
              <td class="stock-buy">1209.8</td>
              <td class="stock-change">10</td>
              <td class="stock-current">1209.8</td>
            </tr>

            <tr>
              <td class="stock-name">EUR/USD (per 0.0001) CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">1.11891</td>
              <td class="stock-buy">1.11901</td>
              <td class="stock-change">2</td>
              <td class="stock-current">1.11901</td>
            </tr>

            <tr>
              <td class="stock-name">GBP/USD (per 0.0001) CFD</td>
              <td class="stock-spread">1.5</td>
              <td class="stock-sell">1.44692</td>
              <td class="stock-buy">1.44707</td>
              <td class="stock-change">2</td>
              <td class="stock-current">1.44707</td>
            </tr>
            </tbody>

            </table>
          </div>
        </div>
    </div>
    <div class="grid-stack-item"
        data-gs-x="0" data-gs-y="6"
        data-gs-width="2" data-gs-height="4">
            <div class="grid-stack-item-content">

            <div class="news">

              <header class="component-label">
                <span style="font-size:1.25em;color:#888">&#10996;</span> News headlines
              </header>

              <ol class="news-list">

                <li style="border-top:none;margin-top:13px"><span class="news-timecode">14:33</span>
                US Stocks Snapshot - Wall St opens little changed as oil edges up</li>

                <li><span class="news-timecode">14:30</span>
                Swiss Basilea says profits still 2-3 years away</li>

                <li><span class="news-timecode">14:30</span>
                UPDATE 1 - Standard &amp; Poor&apos;s affirms BHP Billiton&apos;s credit rating</li>

                <li><span class="news-timecode">14:30</span>
                Ex-divs to take 13.2 points off FTSE 100 on Mar.3</li>

                <li><span class="news-timecode">14:28</span>
                UK&apos;s Avonmouth LNG storage site to stop operations on April 30</li>

                <li><span class="news-timecode">14:23</span>
                UPDATE 2 - Kenya&apos;s inflation falls, may pave way for easing of rates</li>

                <li><span class="news-timecode">14:23</span>
                UPDATE 1 - Russia to cut high-grade diesel exports from Primorsk in March - traders</li>

                <li><span class="news-timecode">14:23</span>
                Belgian Q4 GDP confirmed at 0.3 pct qtr/qtr</li>

                <li><span class="news-timecode">14:23</span>
                Japan sells negative yield 10-year bonds</li>

                <li><span class="news-timecode">14:23</span>
                IEX changes proposal in exchange bid</li>

              </ol>
            </div>
          </div>
    </div>



    <div class="grid-stack-item"
        data-gs-x="2" data-gs-y="6"
        data-gs-width="3" data-gs-height="6">
      <div class="grid-stack-item-content">

        <div class="news" >

          <header class="component-label">
            <span style="font-size:1.25em;color:#888">&#10996;</span> News story
          </header>

          <h1 class="news-headline" style="margin:18px 0 -1px 0">London Stock Exchange rally helps European shares hit 1-month high
          </h1>

          <h3 class="news-dateline">Markets | Tue Mar 1, 2016 3:30am EST<br>
          Related: <a href="#">STOCKS</a>, <a href="#">EUROPEAN MARKETS</a>, <a href="#">MARKETS</a>, <a href="#">FINANCIALS</a></h3>

          <p>European shares extended the previous session's gains to set a one-month high on Tuesday, with London Stock Exchange leading the market higher after Intercontinental Exchange confirmed a possible counter bid for LSE.</p>

          <p>Some investors also expected that downbeat data showing activity in China's manufacturing sector shrank more sharply than expected in February would prompt the authorities to announce further stimulus measures.</p>

          <p>Shares in London Stock Exchange Group surged 7.5 percent, leading the pan-European <a href="#">FTSEurofirst 300 index</a>, which rose 0.3 percent to its highest level in nearly one month after gaining 0.7 percent in the previous session.</p>

          <p>However, Barclays fell 7.3 percent after the bank reported a 2 percent fall in full-year adjusted pre-tax profit and unveiled plans to simplify its UK and international operations. (Reporting by Atul Prakash; Editing by Sudip Kar-Gupta)</p>
        </div>
      </div>
    </div>



    <div class="grid-stack-item"
        data-gs-x="7" data-gs-y="2"
        data-gs-width="5" data-gs-height="5">
        <div class="grid-stack-item-content">

          <div class="stock-table" style="">

            <header class="component-label">
              <span style="font-size:1.25em;color:#888">&#10996;</span> Watch lists &gt; Popular markets


              <span class="heatmap-box-menu" id="heatmap-1-menu">
              <a href="#menu" style="text-decoration: none;color:#0066cc">
              &#9776;
              <span style="display:none">Menu</span>
              </a></span>
            
            </header>

            <table style="width:100%">
            <thead>
            <tr>
              <th>Market</th>
              <th>Spread</th>
              <th>Sell</th>
              <th>Buy</th>
              <th>Change</th>
            </tr>
            </thead>

            <tbody>
            <tr class="toprow">
              <td class="stock-name">Wall Street CFD</td>
              <td class="stock-spread">4.0</td>
              <td class="stock-sell">16190.8</td>
              <td class="stock-buy">16194.8</td>
              <td class="stock-change">224.8</td>
            </tr>

            <tr>
              <td class="stock-name">UK100 CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">5831.3</td>
              <td class="stock-buy">5832.3</td>
              <td class="stock-change">102.5</td>
            </tr>

            <tr>
              <td class="stock-name">Germany 30 CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">9231.5</td>
              <td class="stock-buy">9232.5</td>
              <td class="stock-change">243.7</td>
            </tr>

            <tr>
              <td class="stock-name">Gold (per 0.1) CFD</td>
              <td class="stock-spread">0.4</td>
              <td class="stock-sell">1209.4</td>
              <td class="stock-buy">1209.8</td>
              <td class="stock-change">-28.8</td>
            </tr>

            <tr>
              <td class="stock-name">EUR/USD (per 0.0001) CFD</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">1.11891</td>
              <td class="stock-buy">1.11901</td>
              <td class="stock-change">-0.00470</td>
            </tr>

            <tr>
              <td class="stock-name">GBP/USD (per 0.0001) CFD</td>
              <td class="stock-spread">1.5</td>
              <td class="stock-sell">1.44692</td>
              <td class="stock-buy">1.44707</td>
              <td class="stock-change">-0.00280</td>
            </tr>

            <tr>
              <td class="stock-name">Japan 225 CFD</td>
              <td class="stock-spread">10</td>
              <td class="stock-sell">15894</td>
              <td class="stock-buy">15904</td>
              <td class="stock-change">40</td>
            </tr>

            <tr>
              <td class="stock-name">UK 100 DFT</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">5831.3</td>
              <td class="stock-buy">5832.3</td>
              <td class="stock-change">102.5</td>
            </tr>

            <tr>
              <td class="stock-name">Wall Street DFT</td>
              <td class="stock-spread">4.0</td>
              <td class="stock-sell">16190.8</td>
              <td class="stock-buy">16194.8</td>
              <td class="stock-change">224.8</td>
            </tr>

            <tr>
              <td class="stock-name">Germany 30 DFT</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">9231.5</td>
              <td class="stock-buy">9232.5</td>
              <td class="stock-change">243.7</td>
            </tr>

            <tr>
              <td class="stock-name">EUR/USD DFT</td>
              <td class="stock-spread">1.0</td>
              <td class="stock-sell">1.11891</td>
              <td class="stock-buy">1.11901</td>
              <td class="stock-change">-0.00470</td>
            </tr>

            <tr>
              <td class="stock-name">GBP/USD DFT</td>
              <td class="stock-spread">1.5</td>
              <td class="stock-sell">1.44692</td>
              <td class="stock-buy">1.44707</td>
              <td class="stock-change">-0.00280</td>
            </tr>

            <tr>
              <td class="stock-name">Japan 225 DFT</td>
              <td class="stock-spread">10</td>
              <td class="stock-sell">15894</td>
              <td class="stock-buy">15904</td>
              <td class="stock-change">40</td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>






    <div class="grid-stack-item"
      data-gs-x="7" data-gs-y="10"
      data-gs-width="3" data-gs-height="2">
      <div class="grid-stack-item-content">

        <header class="component-label">
          <span style="font-size:1.25em;color:#888">&#10996;</span> Chart: USD/EUR
        </header>

        <div>
        <iframe src="test-chart1" width="100%" height="100%" style="border:none;"></iframe>
        </div>

        </div>
      </div>
    </div>





<!-- <div id="bottom-bar">

  <table width="100%">
    <thead>
      <th>Available</th>
      <th>Total allocated</th>
      <th>Unrealised P &amp; L</th>
      <th>Equity</th>
    </thead>

    <tbody>
      <td>$99,693.23</td>
      <td>$1000.22</td>
      <td>$123.76</td>
      <td>$100,817.21</td>
    </tbody>
  </table>

</div> -->







    <script type="text/javascript">
    $(function () {
        var options = {
            cellHeight: 80,
            verticalMargin: 10,
            draggable: {handle: 'header', scroll: true, appendTo: 'body'},
        };
        $('.grid-stack').gridstack(options);
    });
    </script>

</body>
</html>

