{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">
<div class="grid-row">
  <div class="column-half">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Sprint Zero</h1>

  <p>Noodling on background, planning, thinking and details before a full team is available to begin. Sketches etc - nothing is real.</p>

  <a id="dealticket">
  <h2 class="heading-large" >Common smaller screen sizes = 1024 + 1336</h2></a>

  <p style="max-width:620px">These widths are the most common, 1336 the singel most common screen resolution for our users. How do we fit a consistent left hand column on these screens while maximising space for content/charts/news?</p>

  <p style="max-width:620px">Also this iteration uses a white background for the main content area, and a light tint for the list column, to ease reading and layout separation.</p>

    
  <p>Full size platform page, with details of positions, orders not expanded</p>

  <a href="/public/images/product-page-maxi-0.png"><img src="/public/images/product-page-maxi-0.png" style="width:960px"></a>


  <p>Full size platform page, detail view of positions, orders expanded</p>

  <a href="/public/images/product-page-maxi.png"><img src="/public/images/product-page-maxi.png" style="width:960px"></a>

  <p>Full size platform page, list column minimised</p>


  <a href="/public/images/product-page-mini.png"><img src="/public/images/product-page-mini.png" style="width:960px"></a>




  </div>




  




  </div></div>

  


</main>

{{/content}}

{{/layout}}
