{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">
<div class="grid-row">
  <div class="column-half">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Sprint Zero</h1>

  <p>Noodling on background, planning, thinking and details before a full team is available to begin. Sketches etc - nothing is real.</p>

  <a id="dealticket">
  <h2 class="heading-large" >Deal ticket</h2></a>

  <p style="max-width:620px">Where do they come from... why like this? Why red/blue for sell buy?</p>

  </div></div>

  <div>
    <a href="/public/images/oldcards.jpg"><img src="/public/images/oldcards.jpg" width="290px" style="float:left;"></a>
  
    <a href="/public/images/singlecard.jpg"><img src="/public/images/singlecard.jpg" width="250px" style="float:left;"></a>

    <a href="/public/images/vogel.jpg"><img src="/public/images/vogel.jpg" width="400px" style="float:left;"></a>
  </div>

  <br clear="all">

  <p style="font-size:0.8em">(click for larger images)</p>


  <a href="/public/images/ticket-details-sellbuy.png"><img src="/public/images/ticket-details-sellbuy.png" width="980px"></a>
  <br clear="all">


  <p>Ticket in news, on twitter, etc - possible with a browser plugin</p>

  <a href="/public/images/twitter-trader.png"><img src="/public/images/twitter-trader.png" width="300px" style="float:left;"></a>

  <br clear="all">

  <a href="/public/images/news-trader.png"><img src="/public/images/news-trader.png" width="300px" style="float:left;"></a>

  <a href="/public/images/news-trader-2.png"><img src="/public/images/news-trader-2.png" width="300px" style="float:left;"></a>

  <br clear="all">


  <p style="font-size:0.8em">(click for larger images)</p>


    


</main>

{{/content}}

{{/layout}}
