{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">
<div class="grid-row">
  <div class="column-half">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Sprint Zero</h1>

  <p>Noodling on background, planning, thinking and details before a full team is available to begin. Sketches etc - nothing is real.</p>

  <a id="dealticket">
  <h2 class="heading-large" >Search = browse + find</h2></a>

  <p style="max-width:620px">Finding a market to trade in is a core feature for alpha. We are enhancing the search field to cater to two user needs:</p>

  
  <p><strong>FINDING</strong> User is looking for a specific market to research and trade in, we should get them there as fast as possible</p>

  <p><strong>BROWSING</strong> User does not really have something in mind as they activate the search field, will begin thinking as they begin typing </p>

  <div style="width:960px">
  <p style="color:grey">Click images for larger size</p>

  <p>Top of the platform, open positions on left and search field available in the header</p>

  <a href="/public/images/find-search-field-0.png"><img src="/public/images/find-search-field-0.png" style="width:960px"></a>


  <p>Field has begun to be entered, popover appears.</p>

  <p>Approx 5 predictive search results are provided below the input. Note fast select with number.</p>

  <p>The other panels are top level content to events, markets, news.</p>

  <a href="/public/images/find-search-field-1.png"><img src="/public/images/find-search-field-1.png" style="width:960px"></a>

  <p>User has narrowed down predicitve search results either by removing alternatives or selecting one.</p>

  <p>Other panels update to provide contextual content related to the selected search result.</p>

  <p>From here you can trade directly on the sell/but button pair, or open news or open a full sized chart.</p>


  <a href="/public/images/find-search-field-2.png"><img src="/public/images/find-search-field-2.png" style="width:960px"></a>

  <p>Mostly, we'd expect users to open a ticket, or a chart or a news story from here. On a click of a the actual search result, ie. user clicks on <a href="#">Name of Market CFD</a> we show a new market info panel, and if screen space is available, a chart.</p>

  <a href="/public/images/market-info-all-closed.png"><img src="/public/images/market-info-all-closed.png" style="width:320px"></a>

  <a href="/public/images/market-info-all-open.png"><img src="/public/images/market-info-all-open.png" style="width:320px"></a>

  <h3 class="heading-medium">Expanding market info into product pages</h3>

  <p>As an endpoint for a search, it might be useful to expand this simple market info into a full product page... complete with news, earnings and a big chart ... also, being of the web it's now bookmarkable in some form, and probably sharable too.</p>

  <a href="/public/images/product-page-1.png"><img src="/public/images/product-page-1.png" style="width:640px"></a>

  <a href="/public/images/product-page-2.png"><img src="/public/images/product-page-2.png" style="width:640px"></a>



  <h3 class="heading-medium">And this search popovers on a mobile?</h3>

  <p>Fold up the panels into a long column like these:</p>

  <a href="/public/images/phone-search-1.png"><img src="/public/images/phone-search-1.png" style="width:320px"></a>

  <a href="/public/images/phone-search-2.png"><img src="/public/images/phone-search-2.png" style="width:320px"></a>

  </div>




  




  </div></div>

  


</main>

{{/content}}

{{/layout}}
