{{<layout}}

{{$pageTitle}}
  GAIN CAPITAL Design Kit
{{/pageTitle}}


{{$content}}
<script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

<script type="text/javascript" src="/public/javascripts/application.js"></script>

<script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

<script type="text/javascript" src="/public/javascripts/common.js"></script>


<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>


<body>
<main id="content" role="main">
<div class="grid-row">
  <div class="column-half">

  <h1 class="heading-xlarge" style="margin-bottom:0.3em">Sprint Zero</h1>

  <p>Noodling on background, planning, thinking and details before a full team is available to begin. Sketches etc - nothing is real.</p>

  <a id="dealticket">
  <h2 class="heading-large" >Variations on ticket</h2></a>

  <p style="max-width:620px">These are proposed tickets for submitting to user research with existing platfrom users of varying experience</p>

  <p>Regular with dividers between sections</p>
  <img src="/public/images/ticket-variants-1.png">



  <br>
  <p>Using risk/margin amount as main selector</p>
  <img src="/public/images/ticket-variants-2.png">

  <br>
  <p>Added a value of trade box, possibly as a secondary selector</p>
  <img src="/public/images/ticket-variants-3.png">

  <br>
  <p>Trade on chart ticket - quantity as risk/margin amount, stop/limit on chart using sliders</p>
  <img src="/public/images/ticket-variants-4.png">

  <br>
  <p>Risk slider, showing comitted margin as well as the desired risk/margin for this new trade. Also, separate step for the stop/limit orders</p>
  <img src="/public/images/ticket-variants-5.png">


  <br>
  <p>This ticket has a slider for the quantity/amount which is also the trade direction</p>

  <video controls="controls" width="520" height="580" name="Video Name" src="/public/images/margin-ticket-slider.mov"></video>




  </div></div>

  


</main>

{{/content}}

{{/layout}}
