{{<layout}}


{{$head}}

    <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/application.js"></script>

    <script type="text/javascript" src="/public/javascripts/selection-buttons.js"></script>

    <script type="text/javascript" src="/public/javascripts/common.js"></script>


{{/head}}



{{$content}}



<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />



<!--<link rel="stylesheet" href="http://basehold.it/30">-->

<main id="content" role="main" class="trader">
  <h1 class="heading-large">Trading platform prototype</h1>

  <h2 class="heading-small">Deal ticket / Stops</h2>


  


<section >
  <div class="deal-ticket" style="width:40%;display: block">

  <form action="deal-receipt" method="get" class="form" id="deal-ticket-form" autocomplete="off">

  <h3 class="heading-medium" style="margin-top: 0.2em">Wall Street CFD</h3>

  <ul class="ticket-type">
    <li class="ticket-type-active">Trade</li>
    <li><a href="order">Order</a></li>
    <li><a href="alert">Alert</a></li>
    <li><a href="info">Info</a></li>
    <li><a href="chart">Chart</a></li>
    <li><a href="close" style="text-decoration: none;padding:0em 0.45em 0.1em 0.45em;border:blue 1px solid">X</a></li>
  </ul>


  <div class="deal-stop-block" id="">

  <label class="form-label" for="deal-price">
  Price</label>

  <input type="tel" size="9" name="deal-price" value="16,791.1" id="deal-price" class="form-control input-large" maxlength="9" style="width:5em;border:none;padding-left: 0" readonly>
  

  <label class="form-label" for="deal-stop" style="padding-top:1em">
  Stop loss at</label>

  <input type="tel" size="9" name="deal-stop" value="15,111.9" id="deal-stop" class="form-control input-large" maxlength="9" style="width:5em;padding:0.43em 0.33em;text-align:right">

  <!-- change quantity units -->

  <div id="stop-unit-picker" style="float:right">
    <label for="radio-inline-1" class="block-label" style="float:right;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-1" type="radio"  name="stop-unit" value="gbp" style="display:none;">
    GBP
    </label>

    <label for="radio-inline-2" class="block-label" style="margin-right:5px;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-2" type="radio"  name="stop-unit" value="pip" checked="checked" style="display:none;">
    Pips
    </label>
  </div>

  <br clear="all">
  <p>Default: -10% = <span style="color:red;">&pound;1,679.1 loss</span></p>
 


  </div><!-- end deal-stop-block -->







  <div class="deal-limit-block" id="">

  <label class="form-label" for="deal-limit" style="padding-top:1em">Limit order at</label>

  <input type="tel" size="9" name="deal-limit" value="20,149.2" id="deal-limit" class="form-control input-large" maxlength="9" style="width:5em;padding:0.43em 0.33em;text-align:right">

  <!-- change quantity units -->

  <div id="limit-unit-picker" style="float:right">
    <label for="radio-inline-3" class="block-label" style="float:right;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-3" type="radio"  name="limit-unit" value="gbp" style="display:none;">
    GBP
    </label>

    <label for="radio-inline-4" class="block-label" style="margin-right:5px;padding-left:1.5em;margin-top:0">
    <input id="radio-inline-4" type="radio"  name="limit-unit" value="pip" checked="checked" style="display:none;">
    Pips
    </label>
  </div>

  <br clear="all">
  <p>Default: +20% = <span style="color:blue;">&pound;3,358.2 profit</span></p>

  </div><!-- end deal-limit-block -->


<!-- Primary button, secondary links -->
  <div class="form-group" style="padding-top:0;margin-bottom: 0">
    
    <input type="submit" class="button" value="Confirm orders" style="padding:1em 1.2em">
    
  </div>
  

  

<br clear="all">

  



  <!-- - - - user links to limit no needed here - -
  <p><a href="addstops">Add a stop or limit...</a></p>

  <p><a href="hedge">Hedge trade...</a></p> -->



  </form>

	</div>


<br clear="all">
</section>


</main>










{{/content}}

{{/layout}}

