{{<layout}}

{{$pageTitle}}
  Sway News
{{/pageTitle}}


{{$content}}
  <link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,600' rel='stylesheet' type='text/css'>


  <main id="swaynewsbody">

<div id="content" style="font-family: 'Roboto', Arial, sans-serif;">
  


<div class="grid-row">
  <div class="column-two-thirds">

  <h1 class="logo">
    <img src="/public/images/swaynews-logo.png" alt="Sway News" class="swaynews-logo" >
    <span class="visually-hidden"> Sway News</span>
  </h1>

  <h2 id="tagline" class="heading-large">Making your vote count! </h2>


  <!--<h3 class="subhead">What is it?</h3>-->

  <p class="bigger">We give you the best objective news, policy and opinion so you can understand who you really want to vote for on election day. </p>


  <button>Sign up as a beta tester</button>



  <h3 class="heading-medium">The Sway Platform</h3>

  <p>Sway objectively brings together news, policy and opinion from every side of the argument, so voters can quickly understand the key issues shaping the campaign trail. </p>

  <p>We follow national and local elections, grabbing news, opinion and policy from left to right of the political spectrum.</p>

  <p>Our readers get exposed to a broad, balanced view of content allowing them to make an informed decision about who to vote for.</p>





  <h3 class="heading-medium">Why Sway?</h3>

  <p>Through our research we've found out that 35% of the population are more likely to vote after using Sway and discovered that 20% of users would reconsider who to vote for. </p>

  <p>That means this really works. The more people who use our service, the more people will vote and know what they're voting for!</p>

  

  <h3 class="heading-medium">Features</h3>

  <p>At the heart of the service are three core features that help you navigate the campaign trail:</p>

  <p><strong>1. Non-Partisan Coverage of the Campaign Trail</strong>
  <br>
  We objectively bring together news and opinion from left and right so you can cut through the spin and propaganda, getting to the heart of the debate. </p>

  <p><strong>2. A Comparison of Policies not Personalities</strong>
  <br>
  We simplify each party's manifesto breaking it down into individual policies that you can compare against one another. </p>

  <p><strong>3. A System that Matches your Point of View with Political Candidates</strong>
  <br>
  At the end of each piece of news, policy or opinion you leave a score that determines how much you disagree or agree with what you have read.</p>

  <p>Using an objective data modelling system we build a profile that outlines where you sit on the political spectrum determining which candidates are most aligned to your views.</p>

  <p>As the campaign develops you can see how your opinion evolves and changes.</p>

  <p><strong>With Sway your Vote will no longer go to waste!</strong> </p>



  <h3 class="heading-medium">About us</h3>

  <p>We believe that democracy can only truly thrive if the electorate is given the opportunity to read a balanced and informed spread of opinion, argument, and fact. </p>

  <p>With the rise of fake news, populism in the press and the effect of social media to limit our exposure to new ideas this has never been under greater threat. </p>

  <p>This is impacting the electorate directly with a large proportion of people feeling disillusioned or just totally unsure who to vote for.</p>

  <p>We created Sway so the electorate can cut through the spin and propaganda becoming better-informed voters. </p>

  <p><strong>Because a better informed electorate will ultimately make better decisions.</strong></p>



  <h3 class="heading-medium">Sign up for early access</h3>

  <p>We're still getting set up. If you'd like to be one of our founding members please leave your details below and we'll be in touch shortly.</p>


  <form action="contact" method="get" id="form1">


  <input type="hidden" name="nextlink" value="democratising">


  <fieldset>
    <label class="form-label" for='name'> Name:</label>

    <input class="form-control" name='name' type='text' value=''  id='name'autocomplete="off" size="20">
    
    <label class="form-label" for='email'> Email:</label>

    <input class="form-control" name='email' type='text' value='' id='email'>

    <label class="form-label" for='postcode'> Postcode:</label>

    <input class="form-control" name='postcode' type='text' value='' id='postcode' size="10">

    <label class="form-label" for='age'> Age:</label>

    <input class="form-control" name="age" type="text" value="" id="age" size="3">

    <br>

    <button name='submit' form="form1" type='submit' id='submit'>Sign up as a beta tester</button>

  </fieldset>

  </form>



  <p style="font-size: 0.9em;width: 80%;margin-top:0.88em">We hate spam as much as you do, we won't use your details for anything other than letting you know about Sway News</p>

  </div>
</div>







</main>



{{/content}}

{{/layout}}

            
