{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if IE]>
<script type="text/javascript" src="/public/javascripts/PIE.js"></script>
<![endif]-->

<link rel="stylesheet" href="http://basehold.it/30">

<main id="content" role="main" class="trader">
  <h1 class="heading-large">Trading platform prototype</h1>

  <h2 class="heading-small">Watch lists</h2>


  


<section class="stock-table">
  <div class="container">


<table>
<thead>
<tr>
	<th>Market</th>
	<th>Spread</th>
	<th>Sell</th>
	<th>Buy</th>
	<th>Change</th>
</tr>
</thead>

<tbody>
<tr>
	<td class="stock-name">Wall Street CFD</td>
	<td class="stock-spread">4.0</td>
	<td class="stock-sell">16190.8</td>
	<td class="stock-buy">16194.8</td>
	<td class="stock-change">224.8</td>
</tr>

<tr>
	<td class="stock-name">UK100 CFD</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">5831.3</td>
	<td class="stock-buy">5832.3</td>
	<td class="stock-change">102.5</td>
</tr>

<tr>
	<td class="stock-name">Germany 30 CFD</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">9231.5</td>
	<td class="stock-buy">9232.5</td>
	<td class="stock-change">243.7</td>
</tr>

<tr>
	<td class="stock-name">Gold (per 0.1) CFD</td>
	<td class="stock-spread">0.4</td>
	<td class="stock-sell">1209.4</td>
	<td class="stock-buy">1209.8</td>
	<td class="stock-change">-28.8</td>
</tr>

<tr>
	<td class="stock-name">EUR/USD (per 0.0001) CFD</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">1.11891</td>
	<td class="stock-buy">1.11901</td>
	<td class="stock-change">-0.00470</td>
</tr>

<tr>
	<td class="stock-name">GBP/USD (per 0.0001) CFD</td>
	<td class="stock-spread">1.5</td>
	<td class="stock-sell">1.44692</td>
	<td class="stock-buy">1.44707</td>
	<td class="stock-change">-0.00280</td>
</tr>

<tr>
	<td class="stock-name">Japan 225 CFD</td>
	<td class="stock-spread">10</td>
	<td class="stock-sell">15894</td>
	<td class="stock-buy">15904</td>
	<td class="stock-change">40</td>
</tr>

<tr>
	<td class="stock-name">UK 100 DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">5831.3</td>
	<td class="stock-buy">5832.3</td>
	<td class="stock-change">102.5</td>
</tr>

<tr>
	<td class="stock-name">Wall Street DFT</td>
	<td class="stock-spread">4.0</td>
	<td class="stock-sell">16190.8</td>
	<td class="stock-buy">16194.8</td>
	<td class="stock-change">224.8</td>
</tr>

<tr>
	<td class="stock-name">Germany 30 DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">9231.5</td>
	<td class="stock-buy">9232.5</td>
	<td class="stock-change">243.7</td>
</tr>

<tr>
	<td class="stock-name">EUR/USD DFT</td>
	<td class="stock-spread">1.0</td>
	<td class="stock-sell">1.11891</td>
	<td class="stock-buy">1.11901</td>
	<td class="stock-change">-0.00470</td>
</tr>

<tr>
	<td class="stock-name">GBP/USD DFT</td>
	<td class="stock-spread">1.5</td>
	<td class="stock-sell">1.44692</td>
	<td class="stock-buy">1.44707</td>
	<td class="stock-change">-0.00280</td>
</tr>

<tr>
	<td class="stock-name">Japan 225 DFT</td>
	<td class="stock-spread">10</td>
	<td class="stock-sell">15894</td>
	<td class="stock-buy">15904</td>
	<td class="stock-change">40</td>
</tr>
</tbody>

</table>
</div>
</section>


</main>




{{/content}}

{{/layout}}

